﻿@import url(comm.css);
@import url(/e/css/focus.css);
@import url(/e/css/iconfont/iconfont.css);

/*网站基础样式*/
html{-webkit-text-size-adjust:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,th,td,p,blockquote,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0px;padding:0px;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
body{font:14px/1.8 "Segoe UI",Tahoma,Arial,\5b8b\4f53;background-color:#9FCCDF;padding-top:43px;color:#333}

input,select,textarea,button{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
img{border:0px;}
img,embed{max-width:100%;height:auto;}
li{list-style:none;*margin-left:-1px}
.left{float:left}
.right{float:right}
.clear{display:block;clear:both;font-size:0px;height:0px;line-height:0px;width:0px;margin:0px;padding:0px;overflow:hidden}
a{color:#333;text-decoration:none}
.page_style{margin:0px auto;width:100%;margin:0px auto;background-color:#EBEBEB;text-align:center;}


/*顶部及主菜单样式*/
.top_box{position:fixed;z-index:2;top:0px;left:0px;clear:both;width:100%;padding:0px}
.top_box  .logo{position:absolute;text-align:left;z-index:3;line-height:0px;left:5px;top:10px;}
.top_box  .logo img{max-width:130px;height:auto;}
.top_box .topcontent{text-align:left;padding:0px;display:none}

.top_box .header_bar{clear:both;position:relative;width:100%;z-index:3;height:42px;background-color:#196EBB;border-bottom:1px solid #11497B;background:-webkit-gradient(linear,0 0,0 100%,from(#196EBB),to(#196EBB));}
.top_box .header_bar a{position:absolute;width:40px;height:40px;top:1px;display:block;text-align:center;}
.top_box .header_bar .iconfont{font-size:1.6em;color:#efefef;line-height:40px}
.top_box .header_bar .mobile_home_icon{left:20px;display:none}
.top_box .header_bar .mobile_search_icon{right:50px;display:none}
.top_box .header_bar .mobile_menu_icon{right:5px;}
.top_box .header_bar .mobile_menu_icon i.close{display:none}
.top_box .header_bar .mobile_menu_icon_hover{}
.top_box .header_bar .mobile_menu_icon_hover i.close{display:inline}
.top_box .header_bar .mobile_menu_icon_hover i.open{display:none}

.menu_box{position:fixed;width:100%;height:100%;top:0px;opacity:1;overflow:scroll;z-index:2;display:none}
.menu_box ul{padding-top:42px}
.menu_box .mobile_arrow{position:relative;height:9px;display:none}
.menu_box .mobile_arrow .arrow{display:block;position:absolute;z-index:2;right:2px;width:0px;height:0px;border-left:8px solid transparent;border-right:8px solid transparent;border-bottom:10px solid #2F2F2F;}

.menu_box ul{clear:both;width:100%;background-color:#196EBB;border-radius:2px;box-shadow:0px 1px 1px #666;overflow:hidden;}
.menu_style_homepage{float:left;width:100%;text-align:left;padding:0px;border-top:1px solid #11497B;border-bottom:1px solid #11497B;}
.menu_style{float:left;width:100%;text-align:left;padding:0px;border-top:1px solid #1E80D9;border-bottom:1px solid #11497B;}

a.menu{display:block;color:#ececec;line-height:45px;font-size:1.2em;padding-left:20px;}

/*banner样式*/
.banner{clear:both;padding:0px;margin:0px;overflow:hidden;background:#fff}
.smallbanner{clear:both;padding:0px;margin:0px;text-align:left}

/*网站主体框架样式*/

.main_box_style{clear:both;margin:0px;overflow:hidden;}

.main_box_style1{clear:both;height:100%;overflow:hidden;}
.main_box_style1 .main_box_inner{margin:0px;}
.main_box_style1 .main_box_inner_left{position:fixed;z-index:3;left:0px;top:0px;padding-right:1px;background:url(images/leftmenu_bg.png) repeat;height:100%;width:80%;margin-left:-80%;overflow:scroll;text-align:left;}
.main_box_style1 .main_box_inner_right{width:100%;overflow:hidden;text-align:left;}

.main_box_style2{clear:both;margin:0px 0 0 0;overflow:hidden;height:100%;overflow:hidden;}
.main_box_style2 .main_box_inner_left{float:left;width:680px;margin:0 10px 0 0;overflow:hidden;text-align:left;}
.main_box_style2 .main_box_inner_right{float:right;width:210px;margin:0 0 0 0;padding:0 0 0 0;overflow:hidden;text-align:left;}


.main_box_style3{clear:both;margin:0px 0 0 0;height:100%;overflow:hidden;}
.main_box_style3 .main_box_inner_left{float:left;width:210px;margin:0 10px 0 0;overflow:hidden;text-align:left;}
.main_box_style3 .main_box_inner_middle{float:left;width:460px;margin:0 0 0 0;overflow:hidden;text-align:left;}
.main_box_style3 .main_box_inner_right{float:right;width:210px;margin:0 0 0 10px;overflow:hidden;text-align:left;}


/*导航样式*/

.nav_box{clear:both;width:100%;margin:0 0 10px 0;overflow:hidden;}
.nav_title{height:45px;text-align:left;background-color:#242424;overflow:hidden;cursor:pointer;border-bottom:1px solid #000;}
.nav_sign{float:left;text-align:left;padding:0px 20px 0 15px;line-height:45px;font-size:1.2em;color:#777777;text-shadow:#333 1px 1px 1px;background:url(images/submenu_icon.png) no-repeat right 20px}
.nav_more{float:right;font-weight:normal;padding:8px 10px 0 10px;margin:0 0 0 0;}
.nav_more a{font-size:10px;line-height:15px}

.nav_content{margin:0px;padding:5px 5px 5px 10px;border:0px solid #cccccc;text-align:left;}

.nav_menu{width:100%;overflow:hidden;text-align:left;}
.nav_menu ul{clear:both;overflow:hidden}
.nav_menu ul li{text-align:left;padding:0px 10px 0px 15px;overflow:hidden}
.nav_menu ul li a{display:block;line-height:45px;height:45px;color:#999;font-size:1.2em;background:url(images/submenu_icon.png) no-repeat right -70px}
.nav_menu ul li a.current{color:#fff}

.nav_menu ul li ul li{text-align:left;}
.nav_menu ul li ul li a{}
.nav_menu ul li ul li a.current{color:#fff}

.nav_menu ul li ul li ul{padding:0 0 0 15px;}
.nav_menu ul li ul li span.node{float:left;height:20px;width:15px;cursor:pointer;background:url(images/node_open.gif) no-repeat 0 center;}
.nav_menu ul li ul li span.node_close{float:left;height:20px;width:15px;cursor:pointer;background:url(images/node_close.gif) no-repeat 0 center;}
.nav_menu ul li ul li span{float:left;height:20px;width:15px;background:url(images/subnav.gif) no-repeat 0 center;display:none}

/*模块样式*/
.module_box{clear:both;margin:0 0 5px 0;border:0 solid #cccccc;overflow:hidden;}                 /*模块整行布局样式*/
.module_box_layout_left{float:left;margin:0 0 5px 0;border:0 solid #cccccc;overflow:hidden;}  /*模块左布局样式*/
.module_box_layout_right{float:right;margin:0 0 5px 0;border:0 solid #cccccc;overflow:hidden;}   /*模块右布局样式*/

.module_box_inner{clear:both;text-align:center;padding:5px 0 5px 0;border:0px solid #cccccc;overflow:hidden;height:100%;}/*模块内层容器样式*/
.module_box_layout_left .module_box_inner{clear:both;text-align:center;margin:0 10px 0 0;padding:5px 0 5px 0;} /*模块居左时重写内层样式*/

.module_title{height:40px;text-align:left;background-color:#196EBB;background:-webkit-gradient(linear,0 0,0 100%,from(#196EBB),to(#0669C4));}

.module_sign{float:left;text-align:left;font-size:1.2em;font-weight:bold;padding-left:10px;color:#fff;line-height:40px}
.module_more{float:right;font-weight:normal;width:30%;}
.module_more a{display:block;font-size:1.1em;line-height:40px;padding-right:12px;color:#fff;text-align:right}
.module_more a .iconfont{font-size:1.2em;color:#efefef;line-height:40px}

.module_content{text-align:left;}
.module_content_introduct{padding:10px;line-height:1.3;font-size:1.1em;}
.module_content_introduct p{margin-bottom:10px;text-indent:2em;}

.module_footer{clear:both;height:1px;overflow:hidden;background-color:#cccccc;display:none}
.module_footer .l{float:left;}
.module_footer .r{float:right}

/*子栏目样式*/
.lanmupage .current_location{display:none}
.current_location{clear:both;position:relative;text-align:left;height:40px;background-color:#333;padding-left:5px;font-size:16px;color:#efefef;}
.current_location a{color:#efefef;}
.current_location_1{float:left;line-height:40px;color:#eee;}
.current_location_2{float:left;line-height:40px;display:none}
.current_location .mobile_sublanmu_icon{position:absolute;line-height:40px;display:block;right:5px;top:0px;width:40px;height:40px;text-align:center;}
.current_location .mobile_sublanmu_icon .iconfont{font-size:1.8em;line-height:40px}

.sublanmu_box{text-align:left;padding-bottom:10px;}
.sublanmu_content{text-align:left;padding:10px 0 0 0;}

.sublanmu_content_introduct{line-height:2;padding:5px 10px;font-size:1.2em}
.sublanmu_content_introduct p{margin-bottom:10px;}

.sublanmu_page{clear:both;position:relative;text-align:center;padding:10px;font-size:14px;overflow:hidden}
.sublanmu_page a{vertical-align:middle;zoom:1;height:15px;line-height:15px;padding:2px 10px 2px 10px;border:1px solid #cccccc;display:none}
.sublanmu_page a.prevpage{float:left;display:block}
.sublanmu_page a.nextpage{float:right;display:block}

.sublanmu_page span{display:none}
.sublanmu_page span.pageinfo{position:absolute;top:10px;left:50%;display:block;margin-left:-50px;color:#666}
.sublanmu_page span.c{border:0px solid #cccccc;border-color:#999999;font-weight:bold;padding:0 2px 0 2px;}

.sublanmu_pn{margin:15px 0 5px 0}
.sublanmu_pn li{color:#D33506}

/*评论*/
.comments_box{text-align:left;border:1px solid #cccccc;margin:10px 5px 10px 10px;}
.comments_box .title{padding:2px 0 0 10px;height:20px;font-weight:bold;background-color:#ececec}
.comments_box ul li{padding:5px 0 5px 25px;}
.comments_box .textarea{width:520px;height:100px;border:1px solid #cccccc;border-color:#000000 #cccccc #cccccc #000000;}

.comments_list{padding:5px 5px 0 10px;border:0px solid #cccccc;overflow:hidden}
.comments_list .title{display:block;padding:2px 0 3px 5px;height:18px;width:100%;font-weight:bold;}
.comments_list .item{clear:both;margin:0 0 10px 0;overflow:hidden}
.comments_list .header{padding:3px 0 0 10px;height:22px;background-color:#eeeeee}
.comments_list .header .floornum{font-size:12px;font-style:Italic;font-weight:bold}
.comments_list .header .left{float:left}
.comments_list .header .right{float:right;padding-right:10px}
.comments_list .quote{display:block;color:#999999;padding:5px 5px 5px 10px;border:1px solid #ececec}
.comments_list .content{padding:5px 5px 5px 15px}
.comments_list .reply{background:url(public/reply.gif) no-repeat 5px 5px;border:1px dashed #cccccc;padding:2px 5px 2px 25px;margin:2px 0 5px 0;color:#D33506}


/*bottom样式*/
.bottom_box{clear:both;padding:15px 10px;text-align:cetenr;line-height:30px;background-color:#9FCCDF;color:#333;font-size:13px;overflow:hidden}
.bottom_box a{color:#333;}

.bottom_box a.sj_pc{line-height:20px;color:#0066CC;font-size:14px}


/*登陆界面*/
.loginbox_item{height:20px;padding:0 0 0 0;padding:0 5px 5px 0;text-align:left;font-size:9pt;}
.loginbox_textbox{width:100px;height:15px;border:0 solid #CCCCCC;border-width:1px 1px 1px 1px}
.loginbox_textbox_yzm{width:40px;height:15px;border:0 solid #CCCCCC;border-width:1px 1px 1px 1px}
.loginbox_submit{width:60px;height:20px;border:0 solid #333333;border-width:0 1px 1px 0;background-color:#dddddd;cursor:pointer;}
a.logined_href:link{font-size:9pt;color:#FF0000;text-decoration:underline}
a.logined_href:visited{font-size:9pt;color:#FF0000;;text-decoration:underline}
a.logined_href:hover{font-size:9pt;color:#FF0000;text-decoration:underline}
