{template 'web/_header'}
{template 'web/finance/tabs'}
 
<div class="panel panel-info">
    <div class="panel-heading">筛选</div>
    <div class="panel-body">
        <form action="./index.php" method="get" class="form-horizontal" role="form" id="form1">
            <input type="hidden" name="c" value="site" />
            <input type="hidden" name="a" value="entry" />
            <input type="hidden" name="m" value="ewei_shop" />
            <input type="hidden" name="do" value="finance" />
            <input type="hidden" name="p" value="moneyflow" />           
             <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">订单编号</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" class="form-control"  name="ordersn" value="{$_GPC['ordersn']}" placeholder='可搜索订单编号'/> 
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">其他公众号</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                       <select name='puniacid' class='form-control'>
                         <option value='' {if $_GPC['puniacid']==''}selected{/if}>全部</option> 
                         {loop $pname $row $r}
                         <option value={$row} {if $_GPC['puniacid']==$row}selected{/if}>{$r}</option> 
                         {/loop}                    
                    </select>
                </div>
               </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">
                      时间</label>
                      <div class="col-sm-2">
                            <label class='radio-inline'>
                                <input type='radio' value='0' name='searchtime' {if $_GPC['searchtime']=='0'}checked{/if}>不搜索
                            </label>
                             <label class='radio-inline'>
                                <input type='radio' value='1' name='searchtime' {if $_GPC['searchtime']=='1'}checked{/if}>搜索
                            </label>
                     </div>
                    <div class="col-sm-7 col-lg-9 col-xs-12">
                        {php echo tpl_form_field_daterange('time', array('starttime'=>date('Y-m-d H:i', $starttime),'endtime'=>date('Y-m-d  H:i', $endtime)),true);}
                    </div>
                         
                </div>
              <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label"></label>
                    <div class="col-sm-7 col-lg-9 col-xs-12">
                       <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>                      
                    </div>
                </div>
            <div class="form-group">
            </div>
        </form>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading"><label style="color:red">余额：{$money}</label></div>
    <div class="panel-body ">
        <table class="table table-hover">
            <thead class="navbar-inner">
                <tr>
                    <th style='width:220px;'>订单编号</th>
                    <th style='width:150px;'>公众号</th>
                    <th style='width:100px;'>金额</th>
					<th style='width:100px;'>余额</th>
                    <th style='width:130px;'>时间</th>
                    <th >具体内容</th>
                </tr>
            </thead>
            <tbody>
              	{loop $list $row}
              	<tr>
              	<td>{$row['ordersn']}</td>
              	<td>{$row['name']}</td>
              	<td>{$row['price']}</td>
				<td style="color:red">{$row['remain']}</td>
              	<td>{php echo date('Y-m-d H:i',$row['addtime'])}</td>
              	<td>{$row['remark']}</td>
              	</tr>
                {/loop}
            </tbody>
        </table>
           {$pager}
    </div>
</div>
 
{template 'web/_footer'}