#tag-bx-var>#start {
    display: block
}

#tag-bx-var>#end {
    display: block
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display: block
}

audio,canvas,progress,video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}[hidden],template {
     display: none
 }

a {
    background: transparent
}

a:active,a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,kbd,pre,samp {
    font-family: monospace,monospace;
    font-size: 1em
}

button,input,optgroup,select,textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,select {
    text-transform: none
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="checkbox"],input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,th {
    padding: 0
}

#tag-helper-shortcut>#start {
    display: block
}

#tag-helper-shortcut>#end {
    display: block
}

#tag-helper-var>#start {
    display: block
}

#tag-helper-var>#end {
    display: block
}

html,body,h1,h2,h3,h4,h5,h6,p,blockquote,pre,address,dl,dt,dd,ol,ul,li,hr,form,fieldset,legend,label,input,button,textarea,select,optgroup,option,table,caption,tfoot,thead,tbody,tr,th,td,article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary,menu {
    margin: 0;
    padding: 0
}

menu {
    display: block
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%
}

ul,ol,menu {
    list-style: none outside
}

caption,th,td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}

label[for] {
    cursor: pointer
}

blockquote,q,address,abbr,dfn,cite {
    font-style: inherit;
    font-weight: inherit
}

hr {
    display: block;
    border: 0 none;
    border-top: 1px solid;
    background-color: transparent
}

html {
    height: 100%;
    overflow-y: scroll;
    background-color: #bdbdc2
}

body {
    min-height: 100%;
    font: 15px/1.5 Helvetica,Arial,sans-serif;
    color: #444;
    background-color: #fff
}

.cmX20 {
    width: 20px;
    height: 20px
}

.cmX30 {
    width: 30px;
    height: 30px
}

.cmX40 {
    width: 40px;
    height: 40px
}

.cmX50 {
    width: 50px;
    height: 50px
}

html,body,a.off {
    -webkit-tap-highlight-color: transparent
}

input,textarea,select,label[for],a {
    -webkit-tap-highlight-color: rgba(0,0,0,0.3)
}

a {
    color: #0059b2
}

html:not(.phone) a[href^="tel:"] {
    color: inherit;
    text-decoration: inherit
}

html.desktop a[href^="tel:"] {
    pointer-events: none
}

a[data-action] {
    -webkit-touch-callout: none
}

label>input[type='radio']:first-child,label>input[type='checkbox']:first-child {
    margin-right: .5em
}

.cmIcon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    pointer-events: none
}

a.cmIcon {
    pointer-events: auto
}

.cmIcon.cmX50.loading-black-bg {
}

#tag-core-text>#start {
    display: block
}

.cmText {
    text-align: justify;
    text-justify: distribute;
    font-size: 15px;
    line-height: 1.6
}

.cmText hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #ddd
}

.cmText h1 {
    font-size: 150%;
    margin-top: 20px;
    margin-bottom: 10px
}

.cmText h2 {
    font-size: 125%;
    margin-top: 15px;
    margin-bottom: 5px
}

.cmText h1+h2 {
    margin-top: 10px
}

.cmText h3 {
    margin-top: 10px;
    margin-bottom: 5px
}

.cmText p,.cmText h4,.cmText ul,.cmText ol {
    margin-top: 5px;
    margin-bottom: 5px
}

.cmText ul+ul,.cmText ol+ul,.cmText ol+ol,.cmText ul+ol {
    margin-top: 10px
}

.cmText h1:first-child,.cmText h2:first-child,.cmText h3:first-child,.cmText h4:first-child,.cmText p:first-child,.cmText ul:first-child,.cmText ol:first-child {
    margin-top: 0
}

.cmText p:last-child,.cmText ul:last-child,.cmText ol:last-child {
    margin-bottom: 0
}

ul.cmText,ol.cmText,.cmText ul,.cmText ol {
    padding-left: 2em;
    list-style-type: disc
}

ol.cmText,.cmText ol {
    list-style-type: decimal
}

ul.cmText ul,.cmText ul ul {
    list-style-type: square
}

ul.cmText ul ul,.cmText ul ul ul {
    list-style-type: circle
}

#tag-core-text>#end {
    display: block
}

.cmBtn,.cmBtnWrapper {
    display: block;
    -webkit-tap-highlight-color: transparent
}

html.cmui .cmBtnWrapper {
    cursor: pointer
}

.cmBtn {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.disabled .cmBtn,.disabled .cmBtnWrapper,.cmBtn.disabled,.cmBtnWrapper.disabled {
    cursor: default;
    pointer-events: none
}

input.cmBtn,button.cmBtn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-style: none;
    cursor: pointer
}

.cmBtnLine,.cmBtnGroup {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex
}

.cmBtnLine>.cmBtn,.cmBtnLine>.cmBtnSuite,.cmBtnLine>.cmBtnWrapper,.cmBtnGroup>.cmBtn,.cmBtnGroup>.cmBtnWrapper {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1
}

.cmBtnLine>.cmBtn,.cmBtnLine>.cmBtnWrapper {
    margin-left: 5px;
    margin-right: 5px
}

.cmBtnLine>.cmBtn:first-child,.cmBtnLine>.cmBtnWrapper:first-child {
    margin-left: 0
}

.cmBtnLine>.cmBtn:last-child,.cmBtnLine>.cmBtnWrapper:last-child {
    margin-right: 0
}

.cmTipBox,.cmLoading,.cmMask {
    pointer-events: auto;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}

.cmTipBox.hidden,.cmTipBox.fade-out,.cmLoading.hidden,.cmLoading.fade-out,.cmMask.hidden,.cmMask.fade-out {
    opacity: 0;
    pointer-events: none
}

.cmTipBox.fade-in,.cmLoading.fade-in,.cmMask.fade-in {
    -webkit-transition: opacity .15s linear;
    -moz-transition: opacity .15s linear;
    transition: opacity .15s linear
}

.cmTipBox.fade-out,.cmLoading.fade-out,.cmMask.fade-out {
    -webkit-transition: opacity .2s linear;
    -moz-transition: opacity .2s linear;
    transition: opacity .2s linear
}

.cmMask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    -webkit-tap-highlight-color: transparent
}

.cmLoading {
    position: fixed;
    left: -210px;
    top: 0;
    z-index: 200;
    min-width: 100px;
    max-width: 200px;
    min-height: 100px;
    overflow: hidden;
    background: #000;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    opacity: .75
}

.cmLoading .cmX50 {
    margin-top: 25px
}

.cmLoading.cmText .cmX50 {
    margin-top: 18px
}

.cmLoading p {
    display: none
}

.cmLoading.cmText p {
    display: block;
    margin: 5px 20px 10px;
    color: #fff;
    font-weight: 700;
    text-align: center
}

.cmDialog {
    display: none
}

.cmDialogReady {
    display: block;
    position: absolute;
    left: -999px;
    top: -999px;
    z-index: 110
}

.cmIcon.cmX20.my-post,.cmIcon.cmX20.fav-post,.cmIcon.cmX20.my-resume,.cmIcon.cmX20.sent-resume,.cmIcon.cmX20.comment,.cmIcon.cmX20.account,.cmIcon.cmX20.weishop,.cmIcon.cmX20.msg-info,.cmIcon.cmX20.msg-success,.cmIcon.cmX20.msg-forbidden,.cmIcon.cmX20.msg-error,.cmIcon.cmX20.msg-warning {
    -webkit-background-size: 20px auto;
    -moz-background-size: 20px auto;
    background-size: 20px auto
}

.cmIcon.cmX20.my-post {
    background-position: 0 0
}

.cmIcon.cmX20.fav-post {
    background-position: 0 -20px
}

.cmIcon.cmX20.my-resume {
    background-position: 0 -40px
}

.cmIcon.cmX20.sent-resume {
    background-position: 0 -60px
}

.cmIcon.cmX20.comment {
    background-position: 0 -80px
}

.cmIcon.cmX20.account {
    background-position: 0 -100px
}

.cmIcon.cmX20.weishop {
    background-position: 0 -120px
}

.cmIcon.cmX20.msg-info {
    background-position: 0 -240px
}

.cmIcon.cmX20.msg-success {
    background-position: 0 -180px
}

.cmIcon.cmX20.msg-error {
    background-position: 0 -200px
}

.cmIcon.cmX20.msg-forbidden {
    background-position: 0 -260px
}

.cmIcon.cmX20.msg-warning {
    background-position: 0 -220px
}

#tag-bx-text>#start {
    display: block
}

.cmMsgBox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px 5px 30px;
    font-size: 15px;
    line-height: 1.6;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.cmMsgBox::before {
    content: '';
    position: absolute;
    left: 7px;
    top: 6px
}

.cmMsgBox {
    color: #31708f;
    background-color: #d9edf7
}

.cmMsgBox::before {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    pointer-events: none;
    width: 20px;
    height: 20px;
    -webkit-background-size: 20px auto;
    -moz-background-size: 20px auto;
    background-size: 20px auto;
    background-position: 0 -240px
}

.cmMsgBox.cmMsgBoxWarning {
    color: #ba9552;
    background-color: #fff7db
}

.cmMsgBox.cmMsgBoxWarning::before {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    pointer-events: none;
    width: 20px;
    height: 20px;
    background: url("../images/bx-icon-x20-20141114.png") no-repeat;
    -webkit-background-size: 20px auto;
    -moz-background-size: 20px auto;
    background-size: 20px auto;
    background-position: 0 -220px
}

.cmMsgBox.cmMsgBoxSuccess {
    color: #448245;
    background-color: #e2f1cf
}

.cmMsgBox.cmMsgBoxSuccess::before {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    pointer-events: none;
    width: 20px;
    height: 20px;
    -webkit-background-size: 20px auto;
    -moz-background-size: 20px auto;
    background-size: 20px auto;
    background-position: 0 -180px
}

.cmMsgBox.cmMsgBoxError {
    color: #c77270;
    background-color: #fff2f2
}

.cmMsgBox.cmMsgBoxError::before {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    pointer-events: none;
    width: 20px;
    height: 20px;
    -webkit-background-size: 20px auto;
    -moz-background-size: 20px auto;
    background-size: 20px auto;
    background-position: 0 -200px
}

.cmMsgBox.cmMsgBoxForbidden {
    color: #c77270;
    background-color: #fff2f2
}

.cmMsgBox.cmMsgBoxForbidden::before {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    pointer-events: none;
    width: 20px;
    height: 20px;
    -webkit-background-size: 20px auto;
    -moz-background-size: 20px auto;
    background-size: 20px auto;
    background-position: 0 -260px
}

.cmMsgBox>.cmIcon:first-child {
    display: none
}

.cmMsgBox.cmText h1,.cmMsgBox.cmText h2,.cmMsgBox.cmText h3,.cmMsgBox.cmText h4,.cmMsgBox.cmText h5,.cmMsgBox.cmText h6,.cmMsgBox.cmText p,.cmMsgBox.cmText ul,.cmMsgBox.cmText ol {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0
}

.cmMsgBox.cmText p,.cmMsgBox.cmText ul,.cmMsgBox.cmText ol {
    padding-top: 3px;
    padding-bottom: 3px;
    line-height: 1.2
}

.cmLabel {
    padding: .2em .25em;
    font-weight: inherit;
    white-space: nowrap;
    color: #fff;
    background-color: #ffb380;
    -webkit-border-radius: .25em;
    border-radius: .25em
}

.cmLabel.cmLabelSuccess {
    background-color: #98d374
}

.cmInfoBox {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px;
    background-color: #f6f6f6;
    border: 1px solid #eee;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

#tag-bx-text>#end {
    display: block
}

.cmBtn {
    padding-left: 5px;
    padding-right: 5px;
    height: 40px;
    line-height: 40px;
    font-size: 16px
}

.cmBtn.cmBtnXLarge {
    padding-left: 7px;
    padding-right: 7px;
    height: 48px;
    line-height: 48px;
    font-size: 20px
}

.cmBtn.cmBtnLarge {
    padding-left: 7px;
    padding-right: 7px;
    height: 44px;
    line-height: 44px;
    font-size: 18px
}

.cmBtn.cmBtnSmall {
    padding-left: 3px;
    padding-right: 3px;
    height: 36px;
    line-height: 36px;
    font-size: 15px
}

.cmBtn.cmBtnXSmall {
    padding-left: 3px;
    padding-right: 3px;
    height: 32px;
    line-height: 32px;
    font-size: 14px
}

.cmBtn {
    color: #444;
    background-color: #ededed;
    background-image: -webkit-linear-gradient(top,#f2f2f2,#c9c9c9);
    background-image: -moz-linear-gradient(top,#f2f2f2,#c9c9c9);
    background-image: linear-gradient(to bottom,#f2f2f2,#c9c9c9)
}

.cmBtn.cmBtnInfo {
    color: #fff;
    background-color: #b0bcc4;
    background-image: -webkit-linear-gradient(top,#c4cdd3,#90a1ac);
    background-image: -moz-linear-gradient(top,#c4cdd3,#90a1ac);
    background-image: linear-gradient(to bottom,#c4cdd3,#90a1ac)
}

.cmBtn.cmBtnSuccess {
    color: #fff;
    background-color: #80d032;
    background-image: -webkit-linear-gradient(top,#a0dc65,#6db229);
    background-image: -moz-linear-gradient(top,#a0dc65,#6db229);
    background-image: linear-gradient(to bottom,#a0dc65,#6db229)
}

.cmBtn.cmBtnDanger {
    color: #fff;
    background-color: #cb2616;
    background-image: -webkit-linear-gradient(top,#ea4d3e,#ad2013);
    background-image: -moz-linear-gradient(top,#ea4d3e,#ad2013);
    background-image: linear-gradient(to bottom,#ea4d3e,#ad2013)
}

.cmBtn.cmBtnWarning {
    color: #fff;
    background-color: #ffa64d;
    background-image: -webkit-linear-gradient(top,#ffbc79,#ff8d1b);
    background-image: -moz-linear-gradient(top,#ffbc79,#ff8d1b);
    background-image: linear-gradient(to bottom,#ffbc79,#ff8d1b)
}

.disabled .cmBtn,.cmBtn.disabled {
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    background-image: none!important;
    opacity: .4
}

.cmBtn.hover,html.mouse .cmBtnWrapper:hover .cmBtn:not(.disabled),html.mouse .cmBtn:hover {
    background-color: #e1e1e1;
    background-image: -webkit-linear-gradient(top,#f0f0f0,#b2b2b2);
    background-image: -moz-linear-gradient(top,#f0f0f0,#b2b2b2);
    background-image: linear-gradient(to bottom,#f0f0f0,#b2b2b2)
}

.cmBtn.cmBtnSuccess.hover,html.mouse .cmBtnWrapper:hover .cmBtn.cmBtnSuccess:not(.disabled),html.mouse .cmBtn.cmBtnSuccess:hover {
    background-color: #7ac72e;
    background-image: -webkit-linear-gradient(top,#93d751,#609d24);
    background-image: -moz-linear-gradient(top,#93d751,#609d24);
    background-image: linear-gradient(to bottom,#93d751,#609d24)
}

.cmBtn.cmBtnInfo.hover,html.mouse .cmBtnWrapper:hover .cmBtn.cmBtnInfo:not(.disabled),html.mouse .cmBtn.cmBtnInfo:hover {
    background-color: #a5b3bc;
    background-image: -webkit-linear-gradient(top,#bcc6cd,#7b8f9c);
    background-image: -moz-linear-gradient(top,#bcc6cd,#7b8f9c);
    background-image: linear-gradient(to bottom,#bcc6cd,#7b8f9c)
}

.cmBtn.cmBtnDanger.hover,html.mouse .cmBtnWrapper:hover .cmBtn.cmBtnDanger:not(.disabled),html.mouse .cmBtn.cmBtnDanger:hover {
    background-color: #c12415;
    background-image: -webkit-linear-gradient(top,#e73624,#981d10);
    background-image: -moz-linear-gradient(top,#e73624,#981d10);
    background-image: linear-gradient(to bottom,#e73624,#981d10)
}

.cmBtn.cmBtnWarning.hover,html.mouse .cmBtnWrapper:hover .cmBtn.cmBtnWarning:not(.disabled),html.mouse .cmBtn.cmBtnWarning:hover {
    background-color: #ff9e3c;
    background-image: -webkit-linear-gradient(top,#ffb368,#f97d00);
    background-image: -moz-linear-gradient(top,#ffb368,#f97d00);
    background-image: linear-gradient(to bottom,#ffb368,#f97d00)
}

html.cmui .cmBtnWrapper:active .cmBtn:not(.disabled),.cmBtn.active,.cmBtn:active {
    -webkit-box-shadow: inset 0 2px 5px #767676;
    box-shadow: inset 0 2px 5px #767676;
    background-color: #b2b2b2;
    background-image: -webkit-linear-gradient(top,#9a9a9a,#c9c9c9);
    background-image: -moz-linear-gradient(top,#9a9a9a,#c9c9c9);
    background-image: linear-gradient(to bottom,#9a9a9a,#c9c9c9)
}

html.cmui .cmBtnWrapper:active .cmBtn.cmBtnInfo:not(.disabled),.cmBtn.cmBtnInfo.active,.cmBtn.cmBtnInfo:active {
    -webkit-box-shadow: inset 0 2px 5px #50606a;
    box-shadow: inset 0 2px 5px #50606a;
    background-color: #7b8f9c;
    background-image: -webkit-linear-gradient(top,#677c8a,#90a1ac);
    background-image: -moz-linear-gradient(top,#677c8a,#90a1ac);
    background-image: linear-gradient(to bottom,#677c8a,#90a1ac)
}

html.cmui .cmBtnWrapper:active .cmBtn.cmBtnSuccess:not(.disabled),.cmBtn.cmBtnSuccess.active,.cmBtn.cmBtnSuccess:active {
    -webkit-box-shadow: inset 0 2px 5px #406918;
    box-shadow: inset 0 2px 5px #406918;
    background-color: #609d24;
    background-image: -webkit-linear-gradient(top,#53881f,#6db229);
    background-image: -moz-linear-gradient(top,#53881f,#6db229);
    background-image: linear-gradient(to bottom,#53881f,#6db229)
}

html.cmui .cmBtnWrapper:active .cmBtn.cmBtnDanger:not(.disabled),.cmBtn.cmBtnDanger.active,.cmBtn.cmBtnDanger:active {
    -webkit-box-shadow: inset 0 2px 5px #66130b;
    box-shadow: inset 0 2px 5px #66130b;
    background-color: #981d10;
    background-image: -webkit-linear-gradient(top,#84190e,#ad2013);
    background-image: -moz-linear-gradient(top,#84190e,#ad2013);
    background-image: linear-gradient(to bottom,#84190e,#ad2013)
}

html.cmui .cmBtnWrapper:active .cmBtn.cmBtnWarning:not(.disabled),.cmBtn.cmBtnWarning.active,.cmBtn.cmBtnWarning:active {
    -webkit-box-shadow: inset 0 2px 5px #a65300;
    box-shadow: inset 0 2px 5px #a65300;
    background-color: #f97d00;
    background-image: -webkit-linear-gradient(top,#d86c00,#ff8d1b);
    background-image: -moz-linear-gradient(top,#d86c00,#ff8d1b);
    background-image: linear-gradient(to bottom,#d86c00,#ff8d1b)
}

.cmBtnWrapper.current .cmBtn,.cmBtn.current {
    -webkit-box-shadow: inset 0 2px 5px #8e8e8e!important;
    box-shadow: inset 0 2px 5px #8e8e8e!important;
    background-color: #e1e1e1!important;
    background-image: -webkit-linear-gradient(top,#b2b2b2,#f0f0f0)!important;
    background-image: -moz-linear-gradient(top,#b2b2b2,#f0f0f0)!important;
    background-image: linear-gradient(to bottom,#b2b2b2,#f0f0f0)!important
}

.cmBtnWrapper.current .cmBtn.cmBtnSuccess,.cmBtn.cmBtnSuccess.current {
    -webkit-box-shadow: inset 0 2px 5px #4d7e1d!important;
    box-shadow: inset 0 2px 5px #4d7e1d!important;
    background-color: #7ac72e!important;
    background-image: -webkit-linear-gradient(top,#609d24,#93d751)!important;
    background-image: -moz-linear-gradient(top,#609d24,#93d751)!important;
    background-image: linear-gradient(to bottom,#609d24,#93d751)!important
}

.cmBtnWrapper.current .cmBtn.cmBtnInfo,.cmBtn.cmBtnInfo.current {
    -webkit-box-shadow: inset 0 2px 5px #5f7380!important;
    box-shadow: inset 0 2px 5px #5f7380!important;
    background-color: #a5b3bc!important;
    background-image: -webkit-linear-gradient(top,#7b8f9c,#bcc6cd)!important;
    background-image: -moz-linear-gradient(top,#7b8f9c,#bcc6cd)!important;
    background-image: linear-gradient(to bottom,#7b8f9c,#bcc6cd)!important
}

.cmBtnWrapper.current .cmBtn.cmBtnDanger,.cmBtn.cmBtnDanger.current {
    -webkit-box-shadow: inset 0 2px 5px #7a170d!important;
    box-shadow: inset 0 2px 5px #7a170d!important;
    background-color: #c12415!important;
    background-image: -webkit-linear-gradient(top,#981d10,#e73624)!important;
    background-image: -moz-linear-gradient(top,#981d10,#e73624)!important;
    background-image: linear-gradient(to bottom,#981d10,#e73624)!important
}

.cmBtnWrapper.current .cmBtn.cmBtnWarning,.cmBtn.cmBtnWarning.current {
    -webkit-box-shadow: inset 0 2px 5px #c76400!important;
    box-shadow: inset 0 2px 5px #c76400!important;
    background-color: #ff9e3c!important;
    background-image: -webkit-linear-gradient(top,#f97d00,#ffb368)!important;
    background-image: -moz-linear-gradient(top,#f97d00,#ffb368)!important;
    background-image: linear-gradient(to bottom,#f97d00,#ffb368)!important
}

.cmBtnGroup>.cmBtn:not(:first-child),.cmBtnGroup>.cmBtnWrapper:not(:first-child) .cmBtn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 1px
}

.cmBtnGroup>.cmBtn:not(:last-child),.cmBtnGroup>.cmBtnWrapper:not(:last-child) .cmBtn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.cmSubview {
    display: block
}

.cmSubview>header {
    position: relative;
    z-index: 10;
    background-color: #efeeeb;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2)
}

.cmSubview>header>nav {
    border-bottom: 1px solid #aaa
}

.cmNavBar {
    position: relative;
    height: 44px;
    line-height: 44px
}

.cmNavBar>h1 {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.cmNavBar>div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 25%
}

.cmNavBar>.cmNavBarLeft {
    left: 0
}

.cmNavBar>.cmNavBarRight {
    right: 0
}

.cmNavBar .cmBtnWrapper {
    padding-top: 8px;
    padding-bottom: 18px
}

.cmNavBar>.cmNavBarLeft .cmBtnWrapper,.cmNavBar>.cmNavBarLeft.cmBtnWrapper {
    padding-left: 7px
}

.cmNavBar>.cmNavBarLeft .cmBtnWrapper .cmBtn,.cmNavBar>.cmNavBarLeft.cmBtnWrapper .cmBtn {
    float: left
}

.cmNavBar>.cmNavBarRight .cmBtnWrapper,.cmNavBar>.cmNavBarRight.cmBtnWrapper {
    padding-right: 7px
}

.cmNavBar>.cmNavBarRight .cmBtnWrapper .cmBtn,.cmNavBar>.cmNavBarRight.cmBtnWrapper .cmBtn {
    float: right
}

.cmNavBar .cmBtn {
    height: 28px;
    line-height: 28px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 13px;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.cmNavBar .cmBtn.cmBtnBack {
    margin-left: 5px;
    position: relative;
    padding-left: 4px;
    overflow: visible;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-image: none!important
}

.cmNavBar .cmBtn.cmBtnBack::before,.cmNavBar .cmBtn.cmBtnBack::after {
    content: '';
    position: absolute;
    left: -9px;
    border-style: solid;
    border-color: transparent;
    border-width: 11px 11px 11px 0;
    height: 2px
}

.cmNavBar .cmBtn.cmBtnBack::before {
    top: 3px
}

.cmNavBar .cmBtn.cmBtnBack::after {
    top: 2px
}

.cmNavBar .cmBtn {
    color: #3d3d3d;
    background-color: #d5d5d5;
    background-image: -webkit-linear-gradient(top,#dbdbdb,#b5b5b5);
    background-image: -moz-linear-gradient(top,#dbdbdb,#b5b5b5);
    background-image: linear-gradient(to bottom,#dbdbdb,#b5b5b5);
    -webkit-box-shadow: 0 1px 0 0 #a0a0a0;
    box-shadow: 0 1px 0 0 #a0a0a0
}

html.android.legacy .cmNavBar .cmBtn {
    -webkit-box-shadow: 0 1px 1px 0 #a0a0a0
}

.cmNavBar .cmBtn.cmBtnBack::before {
    border-right-color: #a0a0a0
}

.cmNavBar .cmBtn.cmBtnBack::after {
    border-right-color: #d5d5d5
}

html.mouse .cmNavBar .cmBtnWrapper:hover .cmBtn:not(.disabled),html.mouse .cmNavBar .cmBtn:hover {
    background-color: #cacaca;
    background-image: -webkit-linear-gradient(top,#d7d7d7,#a0a0a0);
    background-image: -moz-linear-gradient(top,#d7d7d7,#a0a0a0);
    background-image: linear-gradient(to bottom,#d7d7d7,#a0a0a0);
    -webkit-box-shadow: 0 1px 0 0 #808080;
    box-shadow: 0 1px 0 0 #808080
}

html.mouse .cmNavBar .cmBtnWrapper:hover .cmBtn.cmBtnBack:not(.disabled)::before,html.mouse .cmNavBar .cmBtn.cmBtnBack:hover::before {
    border-right-color: #808080
}

html.mouse .cmNavBar .cmBtnWrapper:hover .cmBtn.cmBtnBack:not(.disabled)::after,html.mouse .cmNavBar .cmBtn.cmBtnBack:hover::after {
    border-right-color: #cacaca
}

html.cmui .cmNavBar .cmBtnWrapper:active .cmBtn:not(.disabled),.cmNavBar .cmBtn:active {
    background-color: #959595;
    background-image: -webkit-linear-gradient(top,#757575,#b5b5b5);
    background-image: -moz-linear-gradient(top,#757575,#b5b5b5);
    background-image: linear-gradient(to bottom,#757575,#b5b5b5);
    -webkit-box-shadow: 0 1px 0 0 #6b6b6b;
    box-shadow: 0 1px 0 0 #6b6b6b
}

html.cmui .cmNavBar .cmBtnWrapper:active .cmBtn.cmBtnBack:not(.disabled)::before,.cmNavBar .cmBtn.cmBtnBack:active::before {
    border-right-color: #6b6b6b
}

html.cmui .cmNavBar .cmBtnWrapper:active .cmBtn.cmBtnBack:not(.disabled)::after,.cmNavBar .cmBtn.cmBtnBack:active::after {
    border-right-color: #959595
}

.cmNavBar .cmBtn.cmBtnSuccess {
    color: #fff;
    background-color: #66a826;
    background-image: -webkit-linear-gradient(top,#7dcd2e,#578f20);
    background-image: -moz-linear-gradient(top,#7dcd2e,#578f20);
    background-image: linear-gradient(to bottom,#7dcd2e,#578f20);
    -webkit-box-shadow: 0 1px 0 0 #4d7e1c;
    box-shadow: 0 1px 0 0 #4d7e1c
}

html.android.legacy .cmNavBar .cmBtn.cmBtnSuccess {
    -webkit-box-shadow: 0 1px 1px 0 #4d7e1c
}

.cmNavBar .cmBtn.cmBtnSuccess.cmBtnBack::before {
    border-right-color: #4d7e1c
}

.cmNavBar .cmBtn.cmBtnSuccess.cmBtnBack::after {
    border-right-color: #66a826
}

html.mouse .cmNavBar .cmBtnWrapper:hover .cmBtn.cmBtnSuccess:not(.disabled),html.mouse .cmNavBar .cmBtn.cmBtnSuccess:hover {
    background-color: #61a024;
    background-image: -webkit-linear-gradient(top,#6eb429,#4d7e1c);
    background-image: -moz-linear-gradient(top,#6eb429,#4d7e1c);
    background-image: linear-gradient(to bottom,#6eb429,#4d7e1c);
    -webkit-box-shadow: 0 1px 0 0 #3d6517;
    box-shadow: 0 1px 0 0 #3d6517
}

html.mouse .cmNavBar .cmBtnWrapper:hover .cmBtn.cmBtnSuccess.cmBtnBack:not(.disabled)::before,html.mouse .cmNavBar .cmBtn.cmBtnSuccess.cmBtnBack:hover::before {
    border-right-color: #3d6517
}

html.mouse .cmNavBar .cmBtnWrapper:hover .cmBtn.cmBtnSuccess.cmBtnBack:not(.disabled)::after,html.mouse .cmNavBar .cmBtn.cmBtnSuccess.cmBtnBack:hover::after {
    border-right-color: #61a024
}

html.cmui .cmNavBar .cmBtnWrapper:active .cmBtn.cmBtnSuccess:not(.disabled),.cmNavBar .cmBtn.cmBtnSuccess:active {
    background-color: #47761b;
    background-image: -webkit-linear-gradient(top,#385c15,#578f20);
    background-image: -moz-linear-gradient(top,#385c15,#578f20);
    background-image: linear-gradient(to bottom,#385c15,#578f20);
    -webkit-box-shadow: 0 1px 0 0 #335413;
    box-shadow: 0 1px 0 0 #335413
}

html.cmui .cmNavBar .cmBtnWrapper:active .cmBtn.cmBtnSuccess.cmBtnBack:not(.disabled)::before,.cmNavBar .cmBtn.cmBtnSuccess.cmBtnBack:active::before {
    border-right-color: #335413
}

html.cmui .cmNavBar .cmBtnWrapper:active .cmBtn.cmBtnSuccess.cmBtnBack:not(.disabled)::after,.cmNavBar .cmBtn.cmBtnSuccess.cmBtnBack:active::after {
    border-right-color: #47761b
}

.cmNavBar .cmBtn.cmBtnDanger {
    color: #fff;
    background-color: #ff7166;
    background-image: -webkit-linear-gradient(top,#ff867d,#ff3f30);
    background-image: -moz-linear-gradient(top,#ff867d,#ff3f30);
    background-image: linear-gradient(to bottom,#ff867d,#ff3f30);
    -webkit-box-shadow: 0 1px 0 0 #ff1e0d;
    box-shadow: 0 1px 0 0 #ff1e0d
}

html.android.legacy .cmNavBar .cmBtn.cmBtnDanger {
    -webkit-box-shadow: 0 1px 1px 0 #ff1e0d
}

.cmNavBar .cmBtn.cmBtnDanger.cmBtnBack::before {
    border-right-color: #ff1e0d
}

.cmNavBar .cmBtn.cmBtnDanger.cmBtnBack::after {
    border-right-color: #ff7166
}

html.mouse .cmNavBar .cmBtnWrapper:hover .cmBtn.cmBtnDanger:not(.disabled),html.mouse .cmNavBar .cmBtn.cmBtnDanger:hover {
    background-color: #ff6054;
    background-image: -webkit-linear-gradient(top,#ff786e,#ff1e0d);
    background-image: -moz-linear-gradient(top,#ff786e,#ff1e0d);
    background-image: linear-gradient(to bottom,#ff786e,#ff1e0d);
    -webkit-box-shadow: 0 1px 0 0 #d60f00;
    box-shadow: 0 1px 0 0 #d60f00
}

html.mouse .cmNavBar .cmBtnWrapper:hover .cmBtn.cmBtnDanger.cmBtnBack:not(.disabled)::before,html.mouse .cmNavBar .cmBtn.cmBtnDanger.cmBtnBack:hover::before {
    border-right-color: #d60f00
}

html.mouse .cmNavBar .cmBtnWrapper:hover .cmBtn.cmBtnDanger.cmBtnBack:not(.disabled)::after,html.mouse .cmNavBar .cmBtn.cmBtnDanger.cmBtnBack:hover::after {
    border-right-color: #ff6054
}

html.cmui .cmNavBar .cmBtnWrapper:active .cmBtn.cmBtnDanger:not(.disabled),.cmNavBar .cmBtn.cmBtnDanger:active {
    background-color: #fa1200;
    background-image: -webkit-linear-gradient(top,#c40e00,#ff3f30);
    background-image: -moz-linear-gradient(top,#c40e00,#ff3f30);
    background-image: linear-gradient(to bottom,#c40e00,#ff3f30);
    -webkit-box-shadow: 0 1px 0 0 #b20d00;
    box-shadow: 0 1px 0 0 #b20d00
}

html.cmui .cmNavBar .cmBtnWrapper:active .cmBtn.cmBtnDanger.cmBtnBack:not(.disabled)::before,.cmNavBar .cmBtn.cmBtnDanger.cmBtnBack:active::before {
    border-right-color: #b20d00
}

html.cmui .cmNavBar .cmBtnWrapper:active .cmBtn.cmBtnDanger.cmBtnBack:not(.disabled)::after,.cmNavBar .cmBtn.cmBtnDanger.cmBtnBack:active::after {
    border-right-color: #fa1200
}

.cmNavBar .cmBtn.cmBtnInfo {
    color: #fff;
    background-color: #b0bcc4;
    background-image: -webkit-linear-gradient(top,#bcc6cd,#90a1ac);
    background-image: -moz-linear-gradient(top,#bcc6cd,#90a1ac);
    background-image: linear-gradient(to bottom,#bcc6cd,#90a1ac);
    -webkit-box-shadow: 0 1px 0 0 #7b8f9c;
    box-shadow: 0 1px 0 0 #7b8f9c
}

html.android.legacy .cmNavBar .cmBtn.cmBtnInfo {
    -webkit-box-shadow: 0 1px 1px 0 #7b8f9c
}

.cmNavBar .cmBtn.cmBtnInfo.cmBtnBack::before {
    border-right-color: #7b8f9c
}

.cmNavBar .cmBtn.cmBtnInfo.cmBtnBack::after {
    border-right-color: #b0bcc4
}

html.mouse .cmNavBar .cmBtnWrapper:hover .cmBtn.cmBtnInfo:not(.disabled),html.mouse .cmNavBar .cmBtn.cmBtnInfo:hover {
    background-color: #a5b3bc;
    background-image: -webkit-linear-gradient(top,#b4bfc7,#7b8f9c);
    background-image: -moz-linear-gradient(top,#b4bfc7,#7b8f9c);
    background-image: linear-gradient(to bottom,#b4bfc7,#7b8f9c);
    -webkit-box-shadow: 0 1px 0 0 #5f7380;
    box-shadow: 0 1px 0 0 #5f7380
}

html.mouse .cmNavBar .cmBtnWrapper:hover .cmBtn.cmBtnInfo.cmBtnBack:not(.disabled)::before,html.mouse .cmNavBar .cmBtn.cmBtnInfo.cmBtnBack:hover::before {
    border-right-color: #5f7380
}

html.mouse .cmNavBar .cmBtnWrapper:hover .cmBtn.cmBtnInfo.cmBtnBack:not(.disabled)::after,html.mouse .cmNavBar .cmBtn.cmBtnInfo.cmBtnBack:hover::after {
    border-right-color: #a5b3bc
}

html.cmui .cmNavBar .cmBtnWrapper:active .cmBtn.cmBtnInfo:not(.disabled),.cmNavBar .cmBtn.cmBtnInfo:active {
    background-color: #708694;
    background-image: -webkit-linear-gradient(top,#576975,#90a1ac);
    background-image: -moz-linear-gradient(top,#576975,#90a1ac);
    background-image: linear-gradient(to bottom,#576975,#90a1ac);
    -webkit-box-shadow: 0 1px 0 0 #50606a;
    box-shadow: 0 1px 0 0 #50606a
}

html.cmui .cmNavBar .cmBtnWrapper:active .cmBtn.cmBtnInfo.cmBtnBack:not(.disabled)::before,.cmNavBar .cmBtn.cmBtnInfo.cmBtnBack:active::before {
    border-right-color: #50606a
}

html.cmui .cmNavBar .cmBtnWrapper:active .cmBtn.cmBtnInfo.cmBtnBack:not(.disabled)::after,.cmNavBar .cmBtn.cmBtnInfo.cmBtnBack:active::after {
    border-right-color: #708694
}

.cmSubview>main {
    padding-left: 10px;
    padding-right: 10px;
    min-height: 200px
}

.cmSubview>main:before,.cmSubview>main:after {
    content: "";
    display: table
}

.cmSubview>main:after {
    clear: both
}

.cmList>li[data-badge],.cmList>li[data-value] {
    position: relative
}

.cmList>li>a:first-child,.cmList>li>p:first-child,.cmList>li>div:first-child,.cmList>li>label:first-child {
    padding: 10px 15px
}

.cmList {
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.cmList+.cmList {
    margin-top: 12px
}

.cmList>li:first-child>a:first-child,.cmList>li:first-child>p:first-child,.cmList>li:first-child>div:first-child,.cmList>li:first-child>label:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}

.cmList>li:last-child>a:first-child,.cmList>li:last-child>p:first-child,.cmList>li:last-child>div:first-child,.cmList>li:last-child>label:first-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px
}

.cmList>li {
    min-height: 50px;
    font-size: 16px
}

.cmList>li+li {
    margin-top: 1px
}

.cmList>li>a:first-child,.cmList>li>p:first-child,.cmList>li>div:first-child,.cmList>li>label:first-child {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 50px;
    height: 100%;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #f9f9f9
}

.cmList>li>a:first-child,.cmList>li>label:first-child {
    display: block;
    position: relative;
    z-index: 10;
    color: inherit;
    text-decoration: none;
    background-color: #eee
}

html.mouse .cmList>li>a:first-child:hover,html.mouse .cmList>li>label:first-child:hover {
    background-color: #e2e2e2
}

html.mouse .cmList>li>a:first-child:active,html.mouse .cmList>li>label:first-child:active {
    background-color: #d6d6d6
}

.cmList>li.cmRightArrow>a:first-child::before,.cmList.cmRightArrow>li>a:first-child::before,.cmList>li.cmRightArrow>a:first-child::after,.cmList.cmRightArrow>li>a:first-child::after {
    position: absolute;
    top: 50%;
    width: 0;
    height: 8px;
    right: 15px;
    pointer-events: none
}

html.cmui .cmList>li.cmRightArrow>a:first-child::before,html.cmui .cmList.cmRightArrow>li>a:first-child::before,html.cmui .cmList>li.cmRightArrow>a:first-child::after,html.cmui .cmList.cmRightArrow>li>a:first-child::after {
    content: '';
    border-right: 1px solid
}

.cmList>li.cmRightArrow>a:first-child::before,.cmList.cmRightArrow>li>a:first-child::before {
    margin-top: -8px;
    -webkit-transform: skewX(40deg);
    -moz-transform: skewX(40deg);
    transform: skewX(40deg)
}

.cmList>li.cmRightArrow>a:first-child::after,.cmList.cmRightArrow>li>a:first-child::after {
    -webkit-transform: skewX(-40deg);
    -moz-transform: skewX(-40deg);
    transform: skewX(-40deg)
}

.cmList>li[data-badge]::after {
    content: attr(data-badge);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    right: 15px;
    z-index: 20;
    margin-top: -11px;
    padding: 0 5px;
    min-width: 30px;
    max-width: 45px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 22px;
    line-height: 22px;
    font-size: 15px;
    text-align: center;
    color: #fff;
    background-color: #a3a4a4;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    pointer-events: none
}

.cmList.cmRightArrow>li[data-badge]::after,.cmList>li[data-badge].cmRightArrow::after {
    right: 30px
}

.cmList>li[data-value]::after {
    content: attr(data-value);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 20;
    margin-top: -12px;
    padding-right: 15px;
    height: 24px;
    line-height: 24px;
    max-width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    color: #a3a4a4;
    pointer-events: none
}

.cmList.cmRightArrow>li[data-value]::after,.cmList>li[data-value].cmRightArrow::after {
    padding-right: 30px
}

.cmList>li.cmRightArrow>a:first-child,.cmList.cmRightArrow>li>a:first-child {
    padding-right: 30px
}

.cmList>li[data-badge]>a:first-child,.cmList>li[data-badge]>p:first-child,.cmList>li[data-badge]>div:first-child,.cmList>li[data-badge]>label:first-child {
    padding-right: 65px
}

.cmList>li[data-badge].cmRightArrow>a:first-child,.cmList.cmRightArrow>li[data-badge]>a:first-child {
    padding-right: 80px
}

.cmList>li[data-value]>a:first-child,.cmList>li[data-value]>p:first-child,.cmList>li[data-value]>div:first-child,.cmList>li[data-value]>label:first-child {
    padding-right: 62%
}

.cmList>li>a:first-child>.cmIcon,.cmList>li>p:first-child>.cmIcon,.cmList>li>div:first-child>.cmIcon,.cmList>li>label:first-child>.cmIcon {
    float: left;
    margin-right: 10px
}

.cmList>li>a:first-child>.cmIcon.cmX20,.cmList>li>p:first-child>.cmIcon.cmX20,.cmList>li>div:first-child>.cmIcon.cmX20,.cmList>li>label:first-child>.cmIcon.cmX20 {
    margin-top: 5px;
    margin-bottom: 5px
}

.cmList>li>a:first-child>.cmIcon.cmX30,.cmList>li>p:first-child>.cmIcon.cmX30,.cmList>li>div:first-child>.cmIcon.cmX30,.cmList>li>label:first-child>.cmIcon.cmX30 {
    margin-top: 0;
    margin-bottom: 0
}

.cmList>li>a:first-child>.cmIcon.cmX40,.cmList>li>p:first-child>.cmIcon.cmX40,.cmList>li>div:first-child>.cmIcon.cmX40,.cmList>li>label:first-child>.cmIcon.cmX40 {
    margin-top: -5px;
    margin-bottom: -5px
}

.cmList>li>a:first-child>.cmIcon.cmX50,.cmList>li>p:first-child>.cmIcon.cmX50,.cmList>li>div:first-child>.cmIcon.cmX50,.cmList>li>label:first-child>.cmIcon.cmX50 {
    margin-top: -10px;
    margin-bottom: -10px
}

.cmList>li>label:first-child {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    cursor: pointer
}

html.touch .cmList>li>label:first-child:active {
    background-color: #d6d6d6
}

.cmList>li>label:first-child>span:first-child {
    min-width: 4em;
    padding-right: 1em
}

.cmList>li>label:first-child>span:first-child em {
    margin-left: .25em;
    margin-right: -0.75em;
    width: .5em;
    font-style: inherit;
    color: #a52a2a
}

.cmList>li>label:first-child>input[type=search],.cmList>li>label:first-child>input[type=email],.cmList>li>label:first-child>input[type=number],.cmList>li>label:first-child>input[type=tel],.cmList>li>label:first-child>input[type=text],.cmList>li>label:first-child>input[type=password] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    padding: 3px 10px;
    margin: -3px -8px -3px 0;
    border: 0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #f6f6f6;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}

.cmList>li>label:first-child>input[type=search]:focus,.cmList>li>label:first-child>input[type=email]:focus,.cmList>li>label:first-child>input[type=number]:focus,.cmList>li>label:first-child>input[type=tel]:focus,.cmList>li>label:first-child>input[type=text]:focus,.cmList>li>label:first-child>input[type=password]:focus {
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 1px #ddd;
    box-shadow: 0 0 0 1px #ddd
}

a.standalone {
    color: #007fff
}

.cmSubview>footer {
    min-height: 40px;
    text-align: center;
    color: #7f8487;
    font-size: 13px;
    line-height: 1.6
}

.cmSubview>footer:not(:empty) {
    background-color: #f6f6f6;
    border-top: 1px solid #eee
}

.cmSubview>footer ul {
    padding: 10px 0 12px
}

.cmSubview>footer li {
    display: inline-block;
    vertical-align: top
}

.cmSubview>footer li:not(:last-child) {
    border-right: 1px solid #ddd
}

.cmSubview>footer li a,.cmSubview>footer li span {
    display: inline-block;
    vertical-align: top;
    padding: 0 8px;
    line-height: 20px;
    color: inherit;
    text-decoration: none
}

.cmNavBar.global-header h1.cmNavBarLeft {
    margin: 0;
    text-align: left;
    font-size: 15px
}

.cmNavBar.global-header h1.cmNavBarLeft a {
    color: inherit;
    text-decoration: none
}

.cmNavBar.global-header h1.cmNavBarLeft .logo {
    float: left;
    padding-top: 8px;
    padding-left: 7px;
    padding-right: 5px;
    padding-bottom: 12px
}

.cmNavBar.global-header h1.cmNavBarLeft .city {
    position: relative;
    float: left;
    margin-top: 5px;
    padding: 2px 22px 0 0;
    line-height: 32px;
    font-weight: 400
}

.cmNavBar.global-header h1.cmNavBarLeft .city::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 15px;
    border-style: solid;
    border-width: 5px 5px 0;
    border-color: transparent;
    border-top-color: #7f8487
}

.cmNavBar.global-header h1.cmNavBarLeft .site {
    float: left;
    margin-top: 13px;
    padding: 0 3px;
    max-width: 7.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    border-left: 2px solid #ff8000
}

.cmNavBar.global-header .cmNavBarRight {
    width: auto
}

.cmNavBar.global-header .cmNavBarRight .cmBtnWrapper:first-child {
    margin: 0;
    padding-right: 0
}

.cmNavBar.global-header .cmNavBarRight .cmBtn {
    float: none;
    padding-left: 5px;
    padding-right: 5px
}

.cmBreadcrumb {
    line-height: 36px;
    font-size: 14px;
    background-color: #f6f6f6;
    border-bottom: 1px solid #ddd
}

.cmBreadcrumb:before,.cmBreadcrumb:after {
    content: "";
    display: table
}

.cmBreadcrumb:after {
    clear: both
}

.cmBreadcrumb li {
    position: relative;
    z-index: 0;
    float: left
}

.cmBreadcrumb li:nth-child(1) {
    z-index: 9
}

.cmBreadcrumb li:nth-child(2) {
    z-index: 8
}

.cmBreadcrumb li:nth-child(3) {
    z-index: 7
}

.cmBreadcrumb li:nth-child(4) {
    z-index: 6
}

.cmBreadcrumb li:nth-child(5) {
    z-index: 5
}

.cmBreadcrumb li:nth-child(6) {
    z-index: 4
}

.cmBreadcrumb li:first-child a {
    padding-left: 15px
}

.cmBreadcrumb li span,.cmBreadcrumb li a {
    display: block;
    text-decoration: none;
    padding-left: 21px;
    padding-right: 10px;
    background-color: #f6f6f6
}

.cmBreadcrumb li span {
    color: #a3a4a4
}

.cmBreadcrumb li a {
    position: relative;
    color: #444;
    border-right: 1px solid #ddd;
    -webkit-tap-highlight-color: transparent
}

.cmBreadcrumb li a::before,.cmBreadcrumb li a::after {
    content: '';
    position: absolute;
    top: 0;
    right: -9px;
    border-style: solid;
    border-width: 18px 0 18px 9px;
    border-color: transparent;
    border-left-color: #f6f6f6
}

.cmBreadcrumb li a::before {
    right: -10px;
    border-left-color: #ddd
}

html.mouse .cmBreadcrumb li a:hover {
    background-color: #eee
}

html.mouse .cmBreadcrumb li a:hover::after {
    border-left-color: #eee
}

html.cmui .cmBreadcrumb li a:active {
    color: #444;
    background-color: #bcbcbc
}

html.cmui .cmBreadcrumb li a:active::after {
    border-left-color: #bcbcbc
}

ul.cmGridList {
    border-left: 1px solid #eee
}

ul.cmGridList:before,ul.cmGridList:after {
    content: "";
    display: table
}

ul.cmGridList:after {
    clear: both
}

ul.cmGridList>li {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #eee;
    border-left: none
}

ul.cmGridList>li {
    margin-bottom: -1px
}

ul.cmGridList>li:last-child {
    margin-bottom: 0
}

ul.cmGridList>li>a,ul.cmGridList>li>label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

html.mouse ul.cmGridList>li>a:hover,html.mouse ul.cmGridList>li>label:hover {
    background-color: #f6f6f6;
    background-image: -webkit-linear-gradient(top,#fff,#f6f6f6);
    background-image: -moz-linear-gradient(top,#fff,#f6f6f6);
    background-image: linear-gradient(to bottom,#fff,#f6f6f6)
}

html.mouse ul.cmGridList>li>a:active,html.mouse ul.cmGridList>li>label:active {
    background-color: #f6f6f6;
    background-image: -webkit-linear-gradient(top,#f6f6f6,#fff);
    background-image: -moz-linear-gradient(top,#f6f6f6,#fff);
    background-image: linear-gradient(to bottom,#f6f6f6,#fff)
}

ul.cmGridList>li>label {
    padding: 13.75px 10px 13.75px 32.5px;
    cursor: pointer
}

html.touch ul.cmGridList>li>label:active {
    background-color: #ddd
}

ul.cmGridList>li>label>input[type='radio']:first-child,ul.cmGridList>li>label>input[type='checkbox']:first-child {
    float: left;
    margin-left: -22.5px;
    margin-top: 3.75px
}

ul.cmGridList>li>a {
    padding: 13.75px 5px;
    text-align: center;
    text-decoration: none;
    color: inherit
}

ul.cmGridList>li.selected {
    position: relative
}

ul.cmGridList>li.selected::before {
    position: absolute;
    top: 2px;
    left: 2px;
    border: 0 solid #80d032;
    border-width: 13px 13px 0 0;
    border-right-color: transparent;
    pointer-events: none
}

ul.cmGridList>li.selected>a,ul.cmGridList>li.selected>label {
    background: #f6f6f6!important
}

ul.cmGridList.cmGridListNoBorder {
    border: 0
}

ul.cmGridList.cmGridListNoBorder>li {
    margin-top: 0;
    border: 0
}

ul.cmGridList>li {
    min-width: 4em;
    width: 50%
}

.cmLabel+.cmLabel {
    margin-left: 3px
}

.cmLabel.solved {
    background-color: #98d374
}

.cmLabel.ace {
    background-color: #f50
}

.cmLabel.top {
    background-color: #f50
}

.cmLabel.pinned {
    background-color: #f1c40d
}

.cmLabel.urgent {
    background-color: #f8200f
}

.cmLabel.new {
    background-color: #00aae4
}

.cmLabel.benefit {
    background-color: #9e4eb3
}

.cmLabel.app-expert {
    background-color: #00aae4
}

ul.list {
    display: block;
    width: auto!important;
    margin-left: -10px;
    margin-right: -10px
}

ul.list:not(:empty) {
    border-top: 1px solid #ddd
}

ul.list li.item {
    line-height: 1.2;
    border-bottom: 1px solid #ddd
}

ul.list li.item>a:first-child {
    display: block;
    padding: 8px 10px 12px;
    text-decoration: none;
    color: inherit;
    background-color: #fff
}

ul.list li.item>a:first-child header {
    margin-bottom: 3px
}

ul.list li.item>a:first-child header span.status time,ul.list li.item>a:first-child header span.status small.ppc,ul.list li.item>a:first-child header span.status small.cpm {
    display: block;
    margin-top: 3px
}

ul.list li.item>a:first-child h3 {
    display: inline;
    font-weight: inherit;
    line-height: 1.3;
    color: #111
}

ul.list li.item>a:first-child h3 small.has-images {
    color: #98d374
}

ul.list li.item>a:first-child p.addr,ul.list li.item>a:first-child span.status,ul.list li.item>a:first-child span.price,ul.list li.item>a:first-child small {
    font-size: 12px
}

ul.list li.item>a:first-child p.attr {
    color: #7f8487
}

ul.list li.item>a:first-child p.attr:before,ul.list li.item>a:first-child p.attr:after {
    content: "";
    display: table
}

ul.list li.item>a:first-child p.attr:after {
    clear: both
}

ul.list li.item>a:first-child span.price {
    float: left;
    color: #ff8000
}

ul.list li.item>a:first-child span.status {
    float: right;
    margin-left: 1em;
    white-space: nowrap;
    color: #7f8487
}

ul.list li.item>a:first-child p.addr {
    clear: both;
    margin-top: 5px;
    color: #7f8487
}

ul.list li.item>div.show-window {
    padding: 5px 10px 12px;
    font-size: 13px
}

ul.list li.item>div.show-window>a {
    position: relative;
    display: block;
    margin: 0;
    padding: 6px 10px 8px 20px;
    color: inherit;
    text-decoration: none
}

ul.list li.item>div.show-window>a::before,ul.list li.item>div.show-window>a::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 10px;
    width: 0;
    height: 8px;
    color: inherit;
    border-right: 1px solid;
    pointer-events: none
}

ul.list li.item>div.show-window>a::before {
    margin-top: -8px;
    -webkit-transform: skewX(40deg);
    -moz-transform: skewX(40deg);
    transform: skewX(40deg)
}

ul.list li.item>div.show-window>a::after {
    -webkit-transform: skewX(-40deg);
    -moz-transform: skewX(-40deg);
    transform: skewX(-40deg)
}

ul.list li.item>div.show-window h4 {
    font-weight: inherit;
    color: #7f8487
}

ul.list li.item>div.show-window ul {
    margin-top: 3px
}

ul.list li.item>div.show-window li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

ul.list.show-image li.item>a:first-child {
    position: relative;
    padding-left: 78px!important;
    min-height: 58px
}

ul.list.show-image li.item>a:first-child img.image {
    position: absolute;
    left: 10px;
    width: 58px;
    height: 58px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

ul.list.action li.item {
    position: relative
}

ul.list.action li.item p.addr {
    margin-right: 4em
}

ul.list.action li.item div.act {
    position: absolute;
    bottom: 0;
    right: 0
}

ul.list.action li.item div.act a {
    display: block;
    padding: 8px 10px
}

ul.list li.item.deleted,ul.list.deleted li.item {
    text-decoration: line-through
}

ul.list li.item.deleted>a:first-child,ul.list.deleted li.item>a:first-child {
    background-color: #f6f6f6
}

ul.list li.item.deleted>a:first-child span.price,ul.list.deleted li.item>a:first-child span.price {
    color: inherit
}

ul.list li.item.deleted>a:first-child span.status,ul.list.deleted li.item>a:first-child span.status,ul.list li.item.deleted>a:first-child span.price,ul.list.deleted li.item>a:first-child span.price {
    text-decoration: line-through
}

ul.list li.item>a:first-child p.status {
    margin-top: 5px;
    font-size: 12px;
    color: #7f8487
}

.user-block {
    display: block;
    width: auto!important;
    margin-left: -10px;
    margin-right: -10px
}

.user-block .block {
    display: block;
    position: relative;
    height: 50px;
    padding: 10px;
    padding-left: 70px;
    background: #eee
}

.user-block img {
    position: absolute;
    left: 10px;
    display: block;
    height: 50px;
    width: 50px
}

.user-block strong,.user-block span {
    display: block;
    line-height: 1.8em
}

.user-block strong {
    color: #333
}

.user-block span {
    font-size: .95em;
    color: #999
}

.user-block a.block {
    text-decoration: none;
    background-color: #fff
}

.user-block a.block::before,.user-block a.block::after {
    position: absolute;
    top: 50%;
    width: 0;
    height: 8px;
    right: 13px;
    pointer-events: none;
    color: #000
}

html.cmui .user-block a.block::before,html.cmui .user-block a.block::after {
    content: '';
    border-right: 1px solid
}

.user-block a.block::before {
    margin-top: -8px;
    -webkit-transform: skewX(40deg);
    -moz-transform: skewX(40deg);
    transform: skewX(40deg)
}

.user-block a.block::after {
    -webkit-transform: skewX(-40deg);
    -moz-transform: skewX(-40deg);
    transform: skewX(-40deg)
}

.user-block.new-user-block {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee
}

.user-block.new-user-block a.block::before,.user-block.new-user-block a.block::after {
    height: 12px;
    color: #999;
    right: 22px
}

.user-block.new-user-block a.block::before {
    margin-top: -12px;
    -webkit-transform: skewX(37deg);
    -moz-transform: skewX(37deg);
    transform: skewX(37deg)
}

.user-block.new-user-block a.block::after {
    -webkit-transform: skewX(-37deg);
    -moz-transform: skewX(-37deg);
    transform: skewX(-37deg)
}

.user-block.new-user-block img {
    -webkit-border-radius: 50px;
    border-radius: 50px
}

.user-block.new-user-block strong {
    font-size: 14px;
    font-weight: normal
}

.footer-links {
    display: block;
    width: auto!important;
    margin-left: -10px;
    margin-right: -10px
}

.footer-links .tab .tab-menu {
    width: 100%;
    height: auto;
    line-height: 36px;
    display: -webkit-box;
    margin-bottom: 10px
}

.footer-links .tab .tab-menu li {
    color: #929292;
    padding: 2px;
    text-align: center;
    -webkit-box-flex: 1
}

.footer-links .tab  {
    border-top: 1px solid #ddd;
                                   border-bottom: 1px solid #ddd
                               }

.footer-links .tab .tab-on {
    color: #555;
    border-bottom: 2px solid #555;
    font-weight: 600
}

.footer-links .tab .tab-box {
    padding: 5px
}

.footer-links .tab .tab-box ul {
    display: none
}

.footer-links .tab .tab-box ul.tab-on {
    display: block
}

.footer-links .tab .tab-box ul li {
    padding-left: 5px;
    display: inline-block;
    width: 150px
}

.footer-links .tab .tab-box a {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none
}

.footer-links .tab .tab-box a:before {
    display: inline-block;
    content: '';
    background-color: #0059b2;
    width: 2px;
    height: 2px;
    vertical-align: middle;
    margin-right: 7px
}

.image-slide-slide {
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    transition-property: opacity;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    display: block;
    visibility: visible;
    opacity: 1
}

.image-slide-slide[hidden] {
    visibility: hidden;
    opacity: 0
}

.image-slide-slide h1,.image-slide-slide nav {
    position: absolute;
    z-index: 10;
    color: #fff;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0)
}

.image-slide-slide h1 {
    left: 0;
    top: 0;
    right: 0;
    margin: 0;
    text-align: center;
    font-size: 1.2em;
    padding: .25em
}

.image-slide-slide nav {
    right: 0;
    top: 0
}

.image-slide-slide nav a {
    display: inline-block;
    min-width: 4em;
    min-height: 2em;
    color: #fff;
    border: 1px solid #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px
}

.image-slide-slide figure {
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    -webkit-tap-highlight-color: transparent;
    -webkit-focus-ring-color: transparent
}

.image-slide-slide figure img {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border: 0
}

.image-slide-slide figure.loading {
    background: no-repeat center 66% url("../images/2013092520074dfb.gif")
}

.image-slide-slide figure.loading img {
    top: 33%;
    -webkit-transform: translate(-50%,-33%);
    -moz-transform: translate(-50%,-33%);
    transform: translate(-50%,-33%)
}

.image-slide-slide figure {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform
}

.image-slide-slide figure.transform {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    transition-duration: 0s
}

.image-slide-slide figure.current {
    z-index: 3
}

.image-slide-slide figure.prev {
    -webkit-transform: translateZ(0) translateX(-100%);
    -moz-transform: translateZ(0) translateX(-100%);
    transform: translateZ(0) translateX(-100%)
}

.image-slide-slide figure.next {
    -webkit-transform: translateZ(0) translateX(100%);
    -moz-transform: translateZ(0) translateX(100%);
    transform: translateZ(0) translateX(100%)
}

#post .owner-toolbar:empty {
    display: none
}

#post .owner-toolbar {
    display: block;
    width: auto!important;
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px 10px;
    background: #f6f6f6;
    border: 0
}

#post .owner-toolbar .link {
    padding-left: 8px
}

#post .owner-toolbar .more-products {
    display: none
}

#post .owner-toolbar a,#post .owner-toolbar span {
    padding: 0
}

#post .title {
    padding: 8px 0
}

#post .title h1 {
    display: inline;
    margin: 0;
    font-size: 18px
}

#post .title .cmLabel {
    font-size: 13px;
    line-height: 1.6;
    margin-left: 3px;
    vertical-align: 2px
}

#post .title p {
    font-size: 13px;
    line-height: 1.6;
    position: relative;
    border-top: 1px solid #eee;
    padding-top: 10px;
    margin: 5px 0;
    color: #808080
}

#post .title p .fav {
    position: absolute;
    right: 0;
    top: 5px;
    height: 30px;
    line-height: 30px;
    padding: 0 5px
}

#post .images2 {
    min-height: 140px;
    padding: 0 5px 0;
    background: #f0f0f0;
    position: relative
}

#post .images2 .image-slide-gallery {
    padding: 10px;
    overflow: scroll;
    white-space: nowrap;
    height: 141px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    -webkit-focus-ring-color: transparent
}

#post .images2 .image-slide-gallery a {
    margin-left: 10px;
    display: inline-block
}

#post .images2 .image-slide-gallery a:first-child {
    margin-left: 0
}

#post .images2 .image-slide-gallery img {
    vertical-align: bottom;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    height: 140px;
    width: 140px
}

#post .images2 .image-slide-indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-background-size: 100% 6px;
    -moz-background-size: 100% 6px;
    background-size: 100% 6px;
    background-position: 0 10px;
    background-repeat: no-repeat;
    background-image: -webkit-linear-gradient(top,#fff,#ddd);
    background-image: -moz-linear-gradient(top,#fff,#ddd);
    background-image: linear-gradient(to bottom,#fff,#ddd)
}

#post .images2 .image-slide-indicator div {
    background: #111;
    opacity: .75;
    width: 34px;
    height: 13px;
    line-height: 13px;
    padding: 2px 0 1px 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    font-size: 10px;
    color: #fff;
    text-align: center;
    margin: auto;
    vertical-align: top
}

#post .images2 .image-slide-indicator div label {
    display: inline-block;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
    margin-left: 1px
}

#post .images2 {
    display: block;
    width: auto!important;
    margin-left: -10px;
    margin-right: -10px;
    background: #f6f6f6;
    border: 0
}

#post .meta {
    display: block;
    width: auto!important;
    margin-left: -10px;
    margin-right: -10px;
    border-top: 1px solid #eee
}

#post .meta dl {
    color: #7f8487
}

#post .meta dt {
    float: left;
    padding: 5px 10px 0
}

#post .meta dd {
    padding: 5px 10px 0;
    min-height: 1em;
    border-bottom: 1px solid #eee
}

#post .contact-bar {
    position: fixed;
    z-index: 2;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #000;
    background: rgba(0,0,0,0.7)
}

#post .contact-bar .resume-action {
    position: relative;
    padding-left: 50px;
    padding-right: 10px;
    height: 34px;
    line-height: 34px;
    margin-left: 10px;
    margin-top: 8px;
    text-align: left;
    display: inline-block
}

#post .contact-bar .resume-action::before {
    content: ' ';
    position: absolute;
    top: 50%;
    margin-top: -11px;
    left: 15px;
    height: 25px;
    width: 30px;
    background-image: url("../images/icon_call.png");
    background-repeat: no-repeat;
    -webkit-background-size: 50px auto;
    -moz-background-size: 50px auto;
    background-size: 50px auto;
    background-position: 0 -50px
}

#post .contact-bar .user {
    padding: 0 10px
}

#post .contact-bar .user-name {
    display: block;
    font-weight: normal;
    height: 28px;
    line-height: 34px;
    width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #a2a2a2
}

#post .contact-bar .user-contact {
    display: block;
    font-size: 13px;
    line-height: 1.6;
    color: #e4e4e4;
    padding-left: 14px;
    background-image: url("../images/icon_call.png");
    background-repeat: no-repeat;
    -webkit-background-size: 50px auto;
    -moz-background-size: 50px auto;
    background-size: 50px auto;
    background-position: 0 -71px
}

#post .contact-bar .btns {
    position: absolute;
    top: -12px;
    right: 20px
}

#post .contact-bar .btn-phone {
    float: left;
    width: 4em;
    height: 100%;
    padding: 0;
    color: #e4e4e4;
    font-size: 13px
}

#post .contact-bar .btn-phone .icon {
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 40px;
    background: #33c800;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background-image: url("../images/icon_phone.png");
    -webkit-background-size: 22px auto;
    -moz-background-size: 22px auto;
    background-size: 22px auto;
    background-position: center center;
    background-repeat: no-repeat
}

#post .contact-new:empty {
    display: none
}

#post .contact-new {
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid #eee
}

#post .contact-new:before,#post .contact-new:after {
    content: "";
    display: table
}

#post .contact-new:after {
    clear: both
}

#post .contact-new .contact-chat {
    width: 60px
}

#post .contact-new .contact-btn {
    position: absolute;
    left: 70px;
    top: 10px;
    right: 0
}

#post .contact-new .contact-chat-tip {
    text-align: center;
    border: 1px dashed #7f8487;
    color: #7f8487;
    height: 38px;
    line-height: 38px;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

#post .contact-new .phone-number,#post .contact-new .phone-number-400 {
    font-size: 18px;
    font-weight: bold;
    color: #fff
}

#post .contact-new .phone-number img,#post .contact-new .phone-number-400 img {
    width: 10px;
    height: 14px;
    display: inline-block;
    vertical-align: middle
}

#post .contact-new .phone-number::before,#post .contact-new .phone-number-400::before {
    content: 'ç‚¹å‡»æ‹¨æ‰“';
    margin-right: 5px;
    font-size: 12px;
    vertical-align: 1px
}

#post .contact-new .phone-number-400 {
    font-size: 15px
}

#post .contact-new .other-number {
    font-size: 18px;
    font-weight: bold
}

#post .contact-new .other-number::before {
    content: 'è”ç³»æ–¹å¼';
    margin-right: 5px;
    font-size: 12px;
    vertical-align: 1px
}

#post .contact-new .resume-action {
    margin-top: 10px
}

#post .content {
    font-size: 15px;
    line-height: 1.6;
    padding: 10px 0;
    white-space: pre-wrap
}

#post .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 140px;
    display: -webkit-box;
    padding-bottom: 3px;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical
}

#post a#more-content {
    margin-top: 5px;
    margin-bottom: 10px
}

#post .a_d_s {
    display: block;
    width: auto!important;
    margin-left: -10px;
    margin-right: -10px
}

#post section.next-item {
    padding: 10px 0
}

body {
    width: 100%;
    overflow-x: hidden
}

.ui-subview {
    display: none;
    width: 100%;
    overflow-x: hidden
}

.ui-subview:only-of-type,.ui-subview.ui-subview-root,.ui-subview.ui-subview-in {
    display: block
}

.ui-subview.ui-subview-ready,.ui-subview.ui-subview-out {
    display: none
}

#browser-favorite-tip {
    position: fixed;
    z-index: 10;
    left: -9999px;
    width: 260px;
    color: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #000;
    background: rgba(0,0,0,0.8)
}

#browser-favorite-tip .main {
    padding: 15px;
    min-height: 50px;
    background: url("../images/icon_bx_app_1308.png") no-repeat 15px 15px;
    -webkit-background-size: 57px 57px;
    -moz-background-size: 57px 57px;
    background-size: 57px 57px;
    padding-left: 82px
}

#browser-favorite-tip .main .title {
    padding: 0;
    margin: 0;
    font-size: .8em
}

#browser-favorite-tip .main .content {
    padding: 0;
    margin: 5px 0 0;
    font-size: .6em
}

#browser-favorite-tip .arrow {
    display: inline-block;
    position: absolute;
    border: 10px solid transparent
}

#browser-favorite-tip .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: .8em;
    height: .8em;
    color: #fff!important
}

#browser-favorite-tip .icon {
    display: inline-block;
    vertical-align: -4px;
    margin-left: 3px;
    height: 14px;
    width: 14px;
    -webkit-background-size: 40px;
    -moz-background-size: 40px;
    background-size: 40px
}

.ios-6-safari,.ios-7-safari,.qq-browser {
    bottom: 10px;
    left: 50%;
    margin-left: -130px
}

.ios-6-safari .arrow,.ios-7-safari .arrow,.qq-browser .arrow {
    border-top: 10px solid rgba(0,0,0,0.8)!important;
    bottom: -20px;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    transform: translate(-50%,0)
}

.ios-7-safari .icon {
    background-position: 0 -20px!important
}

.qq-browser .icon {
    background-position: 0 -58px!important
}

.ios-uc-9,.android-uc-9,.miui-default,.android-baidu {
    top: 10px;
    left: 3px
}

.ios-uc-9 .arrow,.android-uc-9 .arrow,.miui-default .arrow,.android-baidu .arrow {
    border-bottom: 10px solid rgba(0,0,0,0.8)!important;
    top: -20px;
    left: 12px
}

.ios-uc-9 .icon,.android-uc-9 .icon,.miui-default .icon,.android-baidu .icon {
    background-position: 0 -40px!important
}

.android-default {
    top: 10px;
    right: 3px
}

.android-default .arrow {
    border-bottom: 10px solid rgba(0,0,0,0.8)!important;
    top: -20px;
    right: 12px
}

.android-default .icon {
    background-position: 0 -58px!important
}

.ios7-safari-ipad {
    top: 10px;
    left: 10px
}

.ios7-safari-ipad .arrow {
    border-bottom: 10px solid rgba(0,0,0,0.8)!important;
    top: -20px;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    transform: translate(-50%,0)
}

.ios7-safari-ipad .icon {
    background-position: 0 -20px!important
}

.ios6-safari-ipad {
    top: 10px;
    left: 20px
}

.ios6-safari-ipad .arrow {
    border-bottom: 10px solid rgba(0,0,0,0.8)!important;
    top: -20px;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    transform: translate(-50%,0)
}

#alert-view {
    position: fixed;
    top: 45%;
    left: 50%;
    background: rgba(0,0,0,0.6);
    color: #fff;
    padding: 30px 15px;
    min-width: 60px;
    max-width: 100px;
    text-align: center;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    z-index: 1000;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

.link-classic {
    color: #03c;
    text-decoration: underline
}

.dialog {
    width: 260px;
    min-height: 2em;
    position: fixed;
    top: 30%;
    left: 50%;
    margin-left: -143px;
    padding: 13px;
    -webkit-border-radius: .3em;
    border-radius: .3em;
    background: #fff;
    z-index: 101;
    line-height: 1.5;
    font-size: 15px
}

.dialog.hide {
    display: none
}

.dialog .dialog-close {
    position: absolute;
    top: 0;
    right: 0;
    height: 44px;
    width: 44px;
    text-align: center;
    font-size: 22px;
    line-height: 44px;
    color: #afafaf;
    text-decoration: none
}

.dialog .dialog-title {
    height: 32px;
    margin-bottom: 15px;
    border-bottom: 1px solid #dbdbdb;
    text-align: center;
    font-size: 16px;
    font-weight: bold
}

.dialog .dialog-content {
    min-height: 50px
}

.dialog .actions {
    margin-top: 15px
}

.dialog .actions>* {
    min-width: 60px
}

.dialog .actions :last-child {
    margin-left: 11px;
    width: 125px
}

.dialog .positive {
    display: inline-block;
    margin: 0;
    padding: 0 1em;
    height: 3em;
    line-height: 3em;
    font-size: 1em;
    color: #fff;
    text-align: center;
    border: 1px solid #666;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 3px #fff;
    box-shadow: inset 0 0 3px #fff;
    background: #568901;
    background: -webkit-linear-gradient(270deg,#89da01,#568901);
    background: -moz-linear-gradient(270deg,#89da01,#568901);
    background: linear-gradient(180deg,#89da01,#568901);
    text-decoration: none
}

.dialog .neutral {
    display: inline-block;
    margin: 0;
    padding: 0 1em;
    height: 3em;
    line-height: 3em;
    font-size: 1em;
    color: #fff;
    text-align: center;
    border: 1px solid #666;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 3px #fff;
    box-shadow: inset 0 0 3px #fff;
    background: #888;
    background: -webkit-linear-gradient(270deg,#bcbcbc,#888);
    background: -moz-linear-gradient(270deg,#bcbcbc,#888);
    background: linear-gradient(180deg,#bcbcbc,#888);
    text-decoration: none
}

.dialog .pay {
    display: inline-block;
    margin: 0;
    padding: 0 1em;
    height: 3em;
    line-height: 3em;
    font-size: 1em;
    color: #fff;
    text-align: center;
    border: 1px solid #666;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 3px #fff;
    box-shadow: inset 0 0 3px #fff;
    background: #e77901;
    background: -webkit-linear-gradient(270deg,#feb34b,#e77901);
    background: -moz-linear-gradient(270deg,#feb34b,#e77901);
    background: linear-gradient(180deg,#feb34b,#e77901);
    text-decoration: none
}

.dialog-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    background: rgba(0,0,0,0.7);
    z-index: 100
}

.dialog-backdrop.hide {
    display: none
}

.footer-links {
    display: block;
    width: auto!important;
    margin-left: -10px;
    margin-right: -10px
}

.footer-links .tab .tab-menu {
    width: 100%;
    height: auto;
    line-height: 36px;
    display: -webkit-box;
    margin-bottom: 10px
}

.footer-links .tab .tab-menu li {
    color: #929292;
    padding: 2px;
    text-align: center;
    -webkit-box-flex: 1
}

.footer-links .tab border-top 1px solid #ddd {
                                   border-bottom: 1px solid #ddd
                               }

.footer-links .tab .tab-on {
    color: #555;
    border-bottom: 2px solid #555;
    font-weight: 600
}

.footer-links .tab .tab-box {
    padding: 5px
}

.footer-links .tab .tab-box ul {
    display: none
}

.footer-links .tab .tab-box ul.tab-on {
    display: block
}

.footer-links .tab .tab-box ul li {
    padding-left: 5px;
    display: inline-block;
    width: 150px
}

.footer-links .tab .tab-box a {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none
}

.footer-links .tab .tab-box a:before {
    display: inline-block;
    content: '';
    background-color: #0059b2;
    width: 2px;
    height: 2px;
    vertical-align: middle;
    margin-right: 7px
}

body>header {
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: -1px
}

body>footer {
    padding: 0;
    margin: 0
}

.hide {
    display: none!important
}

.hot {
    color: #08BC05
}

.top-promote {
    display: block;
    width: auto!important;
    margin-left: -10px;
    margin-right: -10px;
    border-top: 1px solid #bcbcbc;
    padding: 10px 14px
}

.geo {
    display: block;
    width: auto!important;
    margin-left: -10px;
    margin-right: -10px
}

.geo .geo-box {
    min-height: 51px
}

.geo .geo-box .hidden {
    display: none
}

.geo .geo-box .check-content,.geo .geo-box .checking-content,.geo .geo-box .agree-content,.geo .geo-box .error-content {
    position: relative;
    width: 100%;
    line-height: 28px;
    text-align: center;
    padding: 9px 0 7px 0;
    color: #666
}

.geo .geo-box i {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    background: url("../img/wap/icon_location_gray.png") no-repeat;
    -webkit-background-size: auto 20px;
    -moz-background-size: auto 20px;
    background-size: auto 20px;
    margin-top: 5px
}

.geo .geo-box .check-content {
    color: #6b0
}

.geo .geo-box .check-content span i {
    -webkit-background-size: auto 20px;
    -moz-background-size: auto 20px;
    background-size: auto 20px
}

.geo .geo-box .loc-refresh {
    -webkit-background-size: auto 20px;
    -moz-background-size: auto 20px;
    background-size: auto 20px;
    margin-top: -2px;
    left: auto;
    top: 0;
    right: 0
}

.geo .geo-box span {
    margin: 5px;
    padding-left: 20px;
    line-height: 35px;
    text-align: center;
    position: relative
}

.geo .geo-box .agree-content span {
    padding-right: 25px
}

.geo .geo-box .agree-content span b {
    font-weight: normal;
    color: #000
}

.geo .geo-box .error-content p {
    margin-top: -9px;
    margin-bottom: 0
}

.geo .geo-box .error-content p span {
    position: relative;
    padding-left: 0;
    padding-right: 30px;
    color: #000
}

.geo .geo-box .error-content span {
    padding-right: 0
}

.geo .distance-filter {
    display: table;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    border-top: 1px solid #bcbcbc;
    border-bottom: 1px solid #6fb301
}

.geo .distance-filter li {
    display: table-cell
}

.geo .distance-filter li a {
    color: #666;
    display: block;
    height: 40px;
    line-height: 40px;
    position: relative;
    text-decoration: none
}

.geo .distance-filter li a.current::before {
    position: absolute;
    width: 0;
    height: 0;
    content: '';
    bottom: 0;
    left: 50%;
    margin-left: -9px;
    color: #6fb301;
    border-top: 8px solid transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #6fb301
}

.geo .distance-filter li a.current::after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    bottom: -1px;
    left: 50%;
    margin-left: -8px;
    color: #fff;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid transparent;
    border-bottom: 7px solid #fff
}

.geo .location-info {
    color: #6fb301;
    font-size: 12px;
    margin-top: 10px;
    padding-left: .5em;
    padding-bottom: 10px
}

.suggest-nearby-ads {
    -webkit-box-shadow: 0 1px 1px #ededed;
    box-shadow: 0 1px 1px #ededed;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 0 0 10px;
    padding: 1em;
    line-height: 1.5em;
    border: 1px solid #ffe296;
    background: #fff8e8;
    color: #000;
    margin: 5px
}

.suggest-nearby-ads p {
    margin: 0
}

.cmSubviewRoot .cmBreadcrumb {
    border-bottom: 0
}

.cmSubviewRoot>main {
    padding: 0 10px
}

.cmSubviewRoot>main .filter-block {
    display: block;
    width: auto!important;
    margin-left: -10px;
    margin-right: -10px;
    background: #f0f0f0;
    border-bottom: 1px solid #b2b2b2;
    -webkit-box-shadow: 0 3px 5px #ccc;
    box-shadow: 0 3px 5px #ccc
}

.cmSubviewRoot>main .filter-block .filter {
    width: 100%;
    text-align: center;
    list-style: none;
    margin: 0;
    display: table;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc
}

.cmSubviewRoot>main .filter-block .filter li {
    display: table-cell;
    padding: 4px 0
}

.cmSubviewRoot>main .filter-block .filter li a.more {
    display: inline-block;
    position: relative;
    padding-right: 12px;
    line-height: 32px;
    text-decoration: none;
    color: inherit
}

.cmSubviewRoot>main .filter-block .filter li a.more::after {
    content: '';
    position: absolute;
    right: 0;
    top: 13px;
    border-style: solid;
    border-width: 5px 5px 0;
    border-color: transparent;
    border-top-color: #7f8487
}

.cmSubviewRoot>main .filter-block .search-bar {
    background-color: #f6f6f6;
    overflow: hidden;
    padding-right: 80px
}

.cmSubviewRoot>main .filter-block .search {
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: .5em 52px .5em 10px!important;
    display: inline-block;
    text-align: center;
    overflow: hidden
}

.cmSubviewRoot>main .filter-block .search input {
    vertical-align: top;
    height: 28px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.cmSubviewRoot>main .filter-block .search input[type='search'] {
    float: left;
    width: 100%;
    padding-left: 5px;
    border: 1px solid #ddd;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0
}

.cmSubviewRoot>main .filter-block .search .submit-cover {
    float: left;
    margin-left: -45px;
    position: relative;
    right: -45px;
    display: inline-block;
    vertical-align: top;
    height: 28px;
    width: 34px;
    border: 1px solid #ddd;
    background-color: #fff;
    background-image: url("../images/search.png");
    background-position: 8px 5px;
    background-repeat: no-repeat;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    background-size: 16px 16px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px
}

.cmSubviewRoot>main .filter-block .search input[type='submit'] {
    width: 34px;
    background: transparent;
    border: 0
}

.cmSubviewRoot>main .filter-block .pic {
    float: left;
    height: 45px;
    width: 80px;
    margin-left: -81px;
    position: relative;
    right: -81px;
    vertical-align: top;
    text-align: center;
    border-left: 1px solid #ddd;
    display: inline-block
}

.cmSubviewRoot>main .suggest-more-ads {
    -webkit-box-shadow: 0 1px 1px #ededed;
    box-shadow: 0 1px 1px #ededed;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 0 0 10px;
    padding: 1em;
    line-height: 1.5em;
    border: 1px solid #ffe296;
    background: #fff8e8;
    color: #000;
    margin: 5px
}

.cmSubviewRoot>main .suggest-more-ads p {
    margin: 0
}

.cmSubviewRoot>main .suggest-more-ads p.nearby-city-list a {
    margin-right: 10px
}

.cmSubviewRoot>main .page {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex
}

.cmSubviewRoot>main .page a,.cmSubviewRoot>main .page span {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: block;
    border: 1px solid #ddd;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 5px 5px;
    text-align: center;
    color: #7f8487;
    text-decoration: none;
    line-height: 40px
}

.cmSubviewRoot>main .page .select-change-container {
    position: relative
}

.cmSubviewRoot>main .page .select-change-container select {
    position: absolute;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 45px
}

.cmSubviewRoot>main .page .select-change-container .select-page-num {
    display: block;
    height: 30px;
    line-height: 30px
}

.cmSubviewRoot>main .page .select-change-container .select-page-num::after {
    content: '';
    display: block;
    border-top: 5px solid #ddd;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 10px
}

.cmSubviewRoot>main .page .prev-page {
    margin-left: 0
}

.cmSubviewRoot>main .page .next-page {
    margin-right: 0;
    color: #fd9b2a
}

.cmSubviewRoot>main .page .disabled {
    color: #ddd!important
}

.cmSubviewRoot>main .page span {
    background: #fff;
    border: 0
}

.cmSubviewRoot>main .page .next {
    display: block;
    text-align: center
}

.cmSubviewRoot>main .page .loading {
    display: block;
    text-align: center;
    background: 0;
    border: 0
}

.cmSubviewRoot>main .page .loading-icon {
    position: relative;
    top: 2px;
    right: 5px;
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 16px;
    height: 16px;
    background: url("../images/loading.gif") center center no-repeat;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    background-size: 16px 16px
}

.cmSubviewRoot>main .page .alert-warning {
    -webkit-box-shadow: 0 1px 1px #ededed;
    box-shadow: 0 1px 1px #ededed;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 0 0 10px;
    padding: 1em;
    line-height: 1.5em;
    border: 1px solid #ffe296;
    background: #fff8e8;
    color: #000
}

.cmSubviewRoot>main .listing-a_d_s {
    display: block;
    width: auto!important;
    margin-left: -10px;
    margin-right: -10px
}

.browser-app-tip {
    top: 40%;
    left: 50%;
    margin-left: -130px
}

.browser-app-tip .main {
    padding-top: 19px!important;
    padding-bottom: 19px!important
}

.browser-app-tip .main .content {
    text-align: right;
    font-size: .8em!important
}

.browser-app-tip .main a {
    color: #ccc;
    text-decoration: underline!important
}

.l2v-feedback,.survey {
    padding: 10px 0 5px;
    text-align: center
}

.l2v-feedback .msg-feedback,.survey .msg-feedback {
    padding: 5px;
    border: 1px solid #ddd;
    background: #eee
}

.l2v-feedback .msg-feedback a,.survey .msg-feedback a {
    text-decoration: none;
    color: #666
}

.listing-a_d_s .a_d_s {
    margin: 5px
}

#bla-subscription-tip {
    position: fixed;
    bottom: 10px;
    left: 50%;
    font-size: 14px;
    line-height: 1.2;
    z-index: 10;
    color: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #000;
    background: rgba(0,0,0,0.8);
    width: 260px;
    margin-left: -130px
}

#bla-subscription-tip .main {
    padding: 15px;
    padding-right: 90px;
    min-height: 50px
}

#bla-subscription-tip .success {
    padding: 10px;
    text-align: center
}

#bla-subscription-tip .button {
    display: inline-block;
    margin: 0;
    padding: 0 1em;
    height: 3em;
    line-height: 3em;
    font-size: 1em;
    color: #fff;
    text-align: center;
    border: 1px solid #666;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 3px #fff;
    box-shadow: inset 0 0 3px #fff;
    background: #568901;
    background: -webkit-linear-gradient(270deg,#89da01,#568901);
    background: -moz-linear-gradient(270deg,#89da01,#568901);
    background: linear-gradient(180deg,#89da01,#568901);
    text-decoration: none;
    position: absolute;
    right: 15px;
    top: 35px;
    height: 2em;
    line-height: 2em
}

#bla-subscription-tip .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: .8em;
    height: .8em;
    color: #fff!important
}

#filter-subview>header#l2v-header,#filter-area-subview>header#l2v-header {
    height: 46px;
    line-height: 46px;
    background: #e8e8e8
}

#filter-subview>header#l2v-header h1,#filter-area-subview>header#l2v-header h1 {
    margin: 0 80px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #666
}

#filter-subview>header#l2v-header a.back,#filter-area-subview>header#l2v-header a.back {
    position: absolute;
    left: 0;
    top: 0;
    height: 60px;
    width: 25%;
    text-indent: 25px;
    background: url("http://file.baixing.net/201403/72d5c0666a9d1a7eadb7df06454f1b46.png") no-repeat 8px 8px;
    -webkit-background-size: 57px 30px;
    -moz-background-size: 57px 30px;
    background-size: 57px 30px;
    -webkit-tap-highlight-color: transparent
}

#filter-subview>header#l2v-header a.next,#filter-area-subview>header#l2v-header a.next {
    position: absolute;
    right: 0;
    top: 0;
    height: 60px;
    width: 25%;
    text-indent: 25px;
    -webkit-background-size: 57px 30px;
    -moz-background-size: 57px 30px;
    background-size: 57px 30px;
    -webkit-tap-highlight-color: transparent
}

#filter-subview>header#l2v-header a.next span,#filter-area-subview>header#l2v-header a.next span {
    margin-left: -22px;
    white-space: nowrap;
    color: #fff;
    background: #6b0;
    background: -webkit-linear-gradient(top,#77da00,#559c00);
    background: -moz-linear-gradient(top,#77da00,#559c00);
    background: linear-gradient(to bottom,#77da00,#559c00);
    padding: .25em .333em;
    -webkit-border-radius: .25em;
    border-radius: .25em;
    border: 1px outset #6b0
}

#filter-subview .grid3,#filter-area-subview .grid3 {
    margin-top: 1px
}

#filter-subview .grid3 a,#filter-area-subview .grid3 a {
    width: 106px;
    display: inline-block;
    line-height: 3em;
    border: 1px solid #ededed;
    border-left: none;
    margin-right: -1px;
    margin-top: -1px;
    text-align: center;
    font-size: 15px
}

.sub-item {
    background: #fafafa;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #ddd;
    white-space: nowrap
}

.sub-item .sub-btn {
    display: block;
    padding: 10px;
    color: #111;
    text-decoration: none
}

.sub-item .sub-btn span {
    display: inline-block;
    color: #ff8000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 180px;
    vertical-align: bottom
}

#subscribe-tip {
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size: 14px;
    line-height: 1.2;
    z-index: 2;
    color: #fff;
    background: #000;
    background: rgba(0,0,0,0.8)
}

#subscribe-tip .main {
    padding: 15px 62px 15px 39px;
    min-height: 50px
}

#subscribe-tip .success {
    padding: 10px;
    text-align: center
}

#subscribe-tip .button {
    display: inline-block;
    margin: 0;
    padding: 0 1em;
    height: 3em;
    line-height: 3em;
    font-size: 1em;
    color: #fff;
    text-align: center;
    border: 1px solid #666;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 3px #fff;
    box-shadow: inset 0 0 3px #fff;
    background: #568901;
    background: -webkit-linear-gradient(270deg,#89da01,#568901);
    background: -moz-linear-gradient(270deg,#89da01,#568901);
    background: linear-gradient(180deg,#89da01,#568901);
    text-decoration: none;
    position: absolute;
    right: 8px;
    top: 26px;
    height: 2em;
    line-height: 2em
}

#subscribe-tip .close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    width: .8em;
    height: .8em;
    color: #fff!important;
    text-decoration: none
}

.dialog-content input {
    width: 98%;
    height: 30px;
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 10px
}

.dialog-content span {
    color: #ff8000
}

#sub-alert {
    -webkit-box-shadow: 0 1px 1px #ededed;
    box-shadow: 0 1px 1px #ededed;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 0 0 10px;
    padding: 1em;
    line-height: 1.5em;
    border: 1px solid #f88;
    background: #ffe1e1;
    color: #c00;
    width: 260px;
    position: fixed;
    top: 0;
    height: 18px;
    left: 50%;
    margin-left: -144px;
    text-align: center
}

.post-a_d_s {
    display: block;
    width: auto!important;
    margin-left: -10px;
    margin-right: -10px
}

.post-footer {
    margin-top: -5px;
    margin-bottom: 10px
}

.vad-feedback {
    font-size: 13px;
    line-height: 19px;
    padding: 10px 0;
    text-align: center;
    color: #888
}

.vad-feedback a {
    text-decoration: none;
    color: #888;
    padding: 0 10px;
    display: inline-block
}

.vad-feedback :first-child {
    border-right: 1px solid #ddd
}

.switch-image-btn {
    color: #444;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -11px;
    margin-left: -24px;
    padding-left: 18px
}

.switch-image-btn::before {
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    display: block;
    width: 12px;
    height: 12px;
    border: 1px solid #c5c5c5;
    background: #fff
}

.checked.switch-image-btn::after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 4px;
    width: 10px;
    height: 4px;
    border-bottom: 2px solid #6b0;
    border-left: 2px solid #6b0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.show-image .has-images {
    display: none
}