.link-classic {
	color: #03c;
	text-decoration: underline
}

article#image-viewer h1,article#image-viewer nav {
	position: absolute;
	z-index: 10;
	color: #fff;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-o-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0)
}

article#image-viewer h1 {
	left: 0;
	top: 0;
	right: 0;
	margin: 0;
	text-align: center;
	font-size: 1.2em;
	padding: .25em
}

article#image-viewer nav {
	right: 0;
	top: 0
}

article#image-viewer nav a {
	display: inline-block;
	min-width: 4em;
	min-height: 2em;
	color: #fff;
	border: 1px solid #fff;
	-webkit-border-radius: 4px;
	border-radius: 4px
}

article#image-viewer figure {
	margin: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	-webkit-tap-highlight-color: transparent;
	-webkit-focus-ring-color: transparent
}

article#image-viewer figure img {
	max-width: 100%;
	max-height: 100%;
	position: relative;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	border: 0
}

article#image-viewer figure.loading {
	background: no-repeat center 66% url("../images/2013092520074dfb.gif")
}

article#image-viewer figure.loading img {
	top: 33%;
	-webkit-transform: translate(-50%,-33%);
	-moz-transform: translate(-50%,-33%);
	-o-transform: translate(-50%,-33%);
	-ms-transform: translate(-50%,-33%);
	transform: translate(-50%,-33%)
}

article#image-viewer figure {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-o-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition-duration: .3s;
	-moz-transition-duration: .3s;
	-o-transition-duration: .3s;
	-ms-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform
}

article#image-viewer figure.transform {
	-webkit-transition-duration: 0;
	-moz-transition-duration: 0;
	-o-transition-duration: 0;
	-ms-transition-duration: 0;
	transition-duration: 0
}

article#image-viewer figure.current {
	z-index: 3
}

article#image-viewer figure.prev {
	-webkit-transform: translateZ(0) translateX(-100%);
	-moz-transform: translateZ(0) translateX(-100%);
	-o-transform: translateZ(0) translateX(-100%);
	-ms-transform: translateZ(0) translateX(-100%);
	transform: translateZ(0) translateX(-100%)
}

article#image-viewer figure.next {
	-webkit-transform: translateZ(0) translateX(100%);
	-moz-transform: translateZ(0) translateX(100%);
	-o-transform: translateZ(0) translateX(100%);
	-ms-transform: translateZ(0) translateX(100%);
	transform: translateZ(0) translateX(100%)
}

article#image-viewer {
	-webkit-transition-duration: .3s;
	-moz-transition-duration: .3s;
	-o-transition-duration: .3s;
	-ms-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	-ms-transition-property: opacity;
	transition-property: opacity;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	display: block;
	visibility: visible;
	opacity: 1;
	-ms-filter: none;
	filter: none
}

article#image-viewer[hidden] {
	visibility: hidden;
	opacity: 0;
	-ms-filter: "alpha(opacity=0)";
	filter: alpha(opacity=0)
}

article.post {
	background: #fafafa;
	font-size: .95em
}

article.post header {
	padding: .2em .333em
}

article.post ul.actions li {
	display: block
}

article.post ul.actions li a {
	color: #00f;
	text-decoration: underline
}

article.post p {
	margin: .25em 0
}

article.post h1 {
	margin: .2em 0;
	font-size: 1.25em;
	line-height: 1.5
}

article.post h1 small {
	font-weight: normal;
	font-size: .667em;
	color: #808080
}

article.post .byline {
	color: #808080;
	font-size: smaller
}

article.post .cpa {
	background: #fef6d5;
	line-height: 1.5;
	padding: .5em .25em;
	font-size: smaller
}

article.post .cpa .amount {
	color: #e80000
}

article.post .cpa .cpa-count {
	color: #666;
	font-size: .8em
}

article.post .cpa a.zhuhe {
	padding: 5px
}

article.post .cpa-apply {
	border: 1px solid #e80000
}

article.post header,article.post footer,article.post section {
	background: bx-bg1;
	border-bottom: 1px solid #e3e3e3
}

article.post .data,article.post .contact,article.post .description {
	padding: 10px
}

article.post section.images {
	position: relative;
	background: #f0f0f0
}

article.post section.images div.adjusting {
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-o-transition-duration: .5s;
	-ms-transition-duration: .5s;
	transition-duration: .5s
}

article.post section.images div.gallery {
	padding: 10px;
	
	white-space: nowrap;
	height: 160px;
	text-align: center;
	-webkit-tap-highlight-color: transparent;
	-webkit-focus-ring-color: transparent
}

article.post section.images div.gallery a {
	display: inline-block;
	padding: 0;
	margin-left: 10px
}

article.post section.images div.gallery a:first-child {
	margin-left: 0
}

article.post section.images div.gallery img {
	vertical-align: bottom;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	height: 140px;
	width: 140px
}

article.post section.images div.indicator {
	position: absolute;
	bottom: 6px;
	left: 0;
	right: 0;
	text-align: center
}

article.post section.images div.indicator span {
	display: inline-block;
	width: 8px;
	height: 8px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin-left: 8px;
	background: #000;
	overflow: hidden;
	color: transparent
}

article.post section.images div.indicator span:first-child {
	margin-left: 0
}

article.post section.images div.indicator span.current {
	background: #ffa500
}

article.post section.data {
	line-height: 2
}

article.post section.data dl {
	margin: 0;
	padding: 0
}

article.post section.data dt {
	float: left
}

article.post section.data dd {
	margin: 0;
	border-top: 1px dashed #ccc
}

article.post section.data dd:first-of-type {
	border-top: 0
}

article.post section.contact a#contact-number {
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	color: #fff;
	background: #ffa51f;
	padding: .5em .8em;
	-webkit-border-radius: .25em;
	border-radius: .25em;
	background: -webkit-linear-gradient(top,#ffa51f,#e08700);
	background: -moz-linear-gradient(top,#ffa51f,#e08700);
	background: -o-linear-gradient(top,#ffa51f,#e08700);
	background: -ms-linear-gradient(top,#ffa51f,#e08700);
	background: linear-gradient(to bottom,#ffa51f,#e08700);
	border: 1px solid #ff9c08;
	border-bottom: 1px solid #bd6e00;
	display: inline-block;
	position: -webkit-sticky;
	position: sticky;
	top: 10px;
	font-weight: bolder;
	min-width: 150px
}

article.post section.contact a#contact-number img {
	width: 8px;
	height: 14px
}

article.post section.contact a#contact-virtual {
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	color: #fff;
	background: #ffa51f;
	padding: .5em .8em;
	-webkit-border-radius: .25em;
	border-radius: .25em;
	background: -webkit-linear-gradient(top,#ffa51f,#e08700);
	background: -moz-linear-gradient(top,#ffa51f,#e08700);
	background: -o-linear-gradient(top,#ffa51f,#e08700);
	background: -ms-linear-gradient(top,#ffa51f,#e08700);
	background: linear-gradient(to bottom,#ffa51f,#e08700);
	border: 1px solid #ff9c08;
	border-bottom: 1px solid #bd6e00;
	display: inline-block;
	position: -webkit-sticky;
	position: sticky;
	top: 10px;
	font-weight: bolder;
	min-width: 150px
}

article.post section.contact .btn-contact-action {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	padding: 0 5px;
	line-height: 24px;
	font-size: 12px;
	text-align: center;
	white-space: nowrap;
	color: #333;
	background-color: #ddd;
	border: 1px solid;
	border-color: #fff #999 #999 #fff
}

article.post section.contact .btn-contact-action.active {
	font-size: 12px;
	color: #fff;
	background-color: #f90
}

article.post section.contact .btn-contact-action.loading {
	font-size: 12px;
	color: #999;
	background-color: #eee;
	border-color: transparent;
	pointer-events: none
}

article.post section.contact .btn-contact-action.comment {
	padding: 0 5px
}

article.post section.contact .alert {
	color: #df8500;
	border: 1px solid #ffe296;
	background: #fff8e8;
	padding: 0 5px;
	font-size: .8em;
	line-height: 2
}

article.post section.contact .alert a {
	color: #00f
}

article.post section.description {
	line-height: 1.75;
	white-space: pre-wrap
}

article.post section.contact,article.post section.description,article.post section.data {
	padding: .333em .5em
}

article.post nav a.next {
	display: block;
	text-align: center;
	background: #f0f0f0;
	margin: .5em;
	padding: 1em;
	border: 1px outset #fff
}

#resume-form {
	background: #fff;
	padding: 10px
}

#resume-form .alert {
	-webkit-box-shadow: 0 1px 1px #ededed;
	box-shadow: 0 1px 1px #ededed;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 0 0 10px;
	padding: 1em;
	line-height: 1.5em;
	border: 1px solid #ffe296;
	background: #fff8e8;
	color: #000
}

#resume-form .alert a {
	color: #03c;
	text-decoration: underline
}

.resume-dialog.show-tip .tip {
	display: inline-block
}

.resume-dialog .actions {
	margin-top: 15px
}

.resume-dialog .positive {
	display: inline-block;
	margin: 0;
	padding: 0 1em;
	height: 3em;
	line-height: 3em;
	font-size: 1em;
	color: #fff;
	text-align: center;
	border: 1px solid #666;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 3px #fff;
	box-shadow: inset 0 0 3px #fff;
	background: #568901;
	background: -webkit-linear-gradient(270deg,#89da01,#568901);
	background: -moz-linear-gradient(270deg,#89da01,#568901);
	background: -o-linear-gradient(270deg,#89da01,#568901);
	background: -ms-linear-gradient(270deg,#89da01,#568901);
	background: linear-gradient(180deg,#89da01,#568901);
	text-decoration: none;
	height: 2.4em;
	line-height: 2.4em;
	margin-right: 10px
}

.resume-dialog .neutral {
	display: inline-block;
	margin: 0;
	padding: 0 1em;
	height: 3em;
	line-height: 3em;
	font-size: 1em;
	color: #fff;
	text-align: center;
	border: 1px solid #666;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 3px #fff;
	box-shadow: inset 0 0 3px #fff;
	background: #888;
	background: -webkit-linear-gradient(270deg,#bcbcbc,#888);
	background: -moz-linear-gradient(270deg,#bcbcbc,#888);
	background: -o-linear-gradient(270deg,#bcbcbc,#888);
	background: -ms-linear-gradient(270deg,#bcbcbc,#888);
	background: linear-gradient(180deg,#bcbcbc,#888);
	text-decoration: none;
	height: 2.4em;
	line-height: 2.4em
}

.resume-dialog .tip {
	display: none
}

.resume-dialog .hongbao {
	background: url("../images/hongbao.png") no-repeat 0 1px;
	padding-left: 20px;
	color: #08BC05
}

.resume-action {
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	color: #fff;
	background: #f3f3f3;
	padding: .5em .8em;
	-webkit-border-radius: .25em;
	border-radius: .25em;
	background: -webkit-linear-gradient(top,#f3f3f3,#c6c6c6);
	background: -moz-linear-gradient(top,#f3f3f3,#c6c6c6);
	background: -o-linear-gradient(top,#f3f3f3,#c6c6c6);
	background: -ms-linear-gradient(top,#f3f3f3,#c6c6c6);
	background: linear-gradient(to bottom,#f3f3f3,#c6c6c6);
	color: #333;
	border: 1px solid #ccc;
	border-bottom: 1px solid #888;
	margin-left: 5px
}

body.simple-vad>header,body.simple-vad>footer {
	display: none!important
}

body.simple-vad article.post .btn-contact-action,body.simple-vad article.post .user-block,body.simple-vad article.post .adsense-block,body.simple-vad article.post nav .next {
	display: none!important
}