.link-classic {
	color: #03c;
	text-decoration: underline
}

main,article {
	display: block
}

html {
	font-family: 'XinGothic','Hiragino Sans GB','WenQuanYi Micro Hei','Hei SC','Microsoft Yahei',sans-serif;
	line-height: 1.2;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%
}

body {
	margin: 0
}

a {
	color: #1a1a1a;
	text-decoration: none
}

a.link {
	color: #03c;
	text-decoration: underline
}

body>header,.ui-subview>header {
	line-height: 2;
	font-size: .95em;
	background: #e8e8e8;
	background: #f0f0f0;
	-webkit-box-shadow: 0 5px 6px #ededed;
	box-shadow: 0 5px 6px #ededed;
	border-bottom: 1px solid #b2b2b2;
	margin-bottom: 1px;
	position: relative;
	z-index: 1
}

body>header aside,.ui-subview>header aside {
	padding: .333em
}

body>header #post,.ui-subview>header #post {
	float: right
}

body>header #new,.ui-subview>header #new {
	white-space: nowrap;
	color: #fff;
	background: #6b0;
	background: -webkit-linear-gradient(top,#77da00,#559c00);
	background: -moz-linear-gradient(top,#77da00,#559c00);
	background: -o-linear-gradient(top,#77da00,#559c00);
	background: -ms-linear-gradient(top,#77da00,#559c00);
	background: linear-gradient(to bottom,#77da00,#559c00);
	padding: .25em .333em;
	-webkit-border-radius: .25em;
	border-radius: .25em;
	border: 1px outset #6b0
}

body>footer {
	background: #e8e8e8;
	padding: .333em;
	text-align: center
}

main {
	position: relative;
	overflow: hidden
}

img.tracker {
	display: none
}

img[lazyload] {
	background: no-repeat center url("../images/201309250c5cde4f.gif") #fff
}

.msg-ok {
	-webkit-box-shadow: 0 1px 1px #ededed;
	box-shadow: 0 1px 1px #ededed;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 0 0 10px;
	padding: 1em;
	line-height: 1.5em;
	border: 1px solid #d9eba0;
	background: #fbffed;
	color: #000
}

.msg-warning {
	-webkit-box-shadow: 0 1px 1px #ededed;
	box-shadow: 0 1px 1px #ededed;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 0 0 10px;
	padding: 1em;
	line-height: 1.5em;
	border: 1px solid #ffe296;
	background: #fff8e8;
	color: #000
}

.msg-error {
	-webkit-box-shadow: 0 1px 1px #ededed;
	box-shadow: 0 1px 1px #ededed;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 0 0 10px;
	padding: 1em;
	line-height: 1.5em;
	border: 1px solid #f88;
	background: #ffe1e1;
	color: #c00
}

.msg-feedback {
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px;
	font-size: 14px;
	line-height: 1.5em;
	text-align: center;
	border: 1px solid #ddd;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	color: #666;
	background: #eee
}

.msg-feedback a {
	color: inherit
}

.highlight {
	color: #08BC05
}

.hide {
	display: none
}

b.tag span.value {
	display: inline-block!important;
	-webkit-border-radius: .382em!important;
	border-radius: .382em!important;
	padding: .118em .309em .118em!important;
	font-weight: normal!important;
	font-style: normal!important;
	line-height: 1.382!important;
	background: #ffb380!important;
	color: #fff!important
}

small b.tag span.value {
	vertical-align: .118em
}

b.tag span.par {
	display: none
}

b.tag::before,b.tag::after {
	content: ' ';
	font-size: .75em
}

b.tag.solved span.value {
	display: inline-block!important;
	-webkit-border-radius: .382em!important;
	border-radius: .382em!important;
	padding: .118em .309em .118em!important;
	font-weight: normal!important;
	font-style: normal!important;
	line-height: 1.382!important;
	background: #98d374!important;
	color: #fff!important
}

small b.tag.solved span.value {
	vertical-align: .118em
}

b.tag.solved span.par {
	display: none
}

b.tag.solved::before,b.tag.solved::after {
	content: ' ';
	font-size: .75em
}

span.cpa-icon {
	display: inline-block;
	background: no-repeat top;
	width: 20px;
	height: 24px;
	vertical-align: middle
}

span.cpa-icon.gold {
	background-image: url("../images/03ef7060e8b551e9d855e5b91aea7bbe.png");
	-webkit-background-size: 15px 20px;
	-moz-background-size: 15px 20px;
	background-size: 15px 20px
}

span.cpa-icon.silver {
	background-image: url("../images/269a9d04fb54bdfdbd118cf949ed7bfc.png");
	-webkit-background-size: 15px 20px;
	-moz-background-size: 15px 20px;
	background-size: 15px 20px
}

.survey a {
	display: block;
	padding: 10px 0;
	text-align: center
}

.user-block .block {
	display: block;
	position: relative;
	height: 50px;
	padding: 10px;
	padding-left: 70px;
	background: #eee
}

.user-block a.block {
	background: url("../images/2013082165f8c37f.png") no-repeat right center #eee;
	-webkit-background-size: 21px 14px;
	-moz-background-size: 21px 14px;
	background-size: 21px 14px
}

.user-block img {
	position: absolute;
	left: 10px;
	display: block;
	height: 50px;
	width: 50px
}

.user-block strong,.user-block span {
	display: block;
	line-height: 1.8em
}

.user-block strong {
	color: #333
}

.user-block span {
	font-size: .95em;
	color: #999
}