{template 'common/header'}
<style>
	.panel{clear: both;margin-bottom: 20px; position: relative;}
	.panel .btn-group{width:100%}
	.panel .btn-group .btn{width:33.3334%}
	.panel .no{position: absolute; background: #3071a9;width:85px; color:#fff; text-align:center; border-radius:3px; height:25px; line-height:25px; top:-15px; left:-25px}
	.panel .info{position: absolute; background: #fb6a59;width:70px; color:#fff; text-align:center; border-radius:100%; height:70px; line-height:70px; top:20%; left:40%}
	.panel .success{position: absolute; background: #449d44;width:70px; color:#fff; text-align:center; border-radius:100%; height:70px; line-height:70px; top:20%; left:40%}
	.panel .type{position: absolute; background: #CCC;width:40px; color:#fff; text-align:center; border-radius:3px; height:25px; line-height:25px; top:-15px; left:65px}
	.panel .type.image{background: #449d44;}
	.panel .type.news{background: #fb6a59;}
	.panel .type.voice{background: #46b8da;}
	.panel .type.video{background: #eea236;}


	.reply .panel-group .panel:last-child{margin-bottom: 0;}

	.panel-group img{position:absolute; left:0; top:0; display:inline-block; width:100%; height:100%;}
	.panel-group{position:relative; cursor:pointer;}
	.panel-group .mask{position:absolute; width:100%; height:100%; left:0; top:0; z-index:10; background-color:rgba(0,0,0,0.6 ) !important; text-align:center; display:none; border-radius:4px;}
	.panel-group:hover .mask,.panel-group.selected .mask{display:block;}
	.panel-group>i{display:none; width:46px; height:46px; color:#fff; text-align:center; line-height:46px; z-index:20; position:absolute; top:50%; left:50%; margin-top:-23px; margin-left:-23px; font-size:46px; font-weight:200;}
	.panel-group.selected>i{display:inline-block}

	.panel .panel-body .audio-msg{position:relative; padding-left:65px; height:70px;}
	.panel .panel-body .audio-msg .icon span{position:absolute; left:0; top:0; background:#ccc; width:60px; height:60px; line-height:60px; vertical-align:middle; display:inline-block; cursor:pointer; font-size: 25px; text-align: center;}
	.panel .panel-body .audio-msg .audio-content .audio-title{ width:100%; margin-bottom:10px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}

	.panel .panel-body .video-content{margin-bottom:10px;}
	.panel .panel-body .video-content .title,.panel .panel-body .video-content .abstract{word-break:break-all; overflow:hidden; text-overflow:ellipsis;}
	.panel .panel-body .video-content img{max-width:100%; height:140px;}
	.panel .panel-body .video-content .video{position:relative; margin:10px 0;}
	.panel .panel-body .video-content .video .video-length{display:block; width:100%; padding-right:10px; position:absolute; bottom:0; left:0; line-height:25px; background:rgba(0,0,0,0.5); color:#fff; text-align:right;}

	.loading{text-align:center;width:100%; height:150px;}
	.loading i{display: block; margin-bottom:20px}
	.loading span{font-size:18px;}

	.init-hide{display: none}
</style>
<ul class="nav nav-tabs">
	<li {if $_GPC['a'] == 'mass'  && $do == 'list'}class="active"{/if}><a href="{php echo url('material/mass/')}">定时群发</a></li>
	<li {if $_GPC['a'] == 'mass' && $do == 'send'}class="active"{/if}><a href="{php echo url('material/mass/send')}">发送记录</a></li>
	<li {if $type == 'image'}class="active"{/if}><a href="{php echo url('material/display/list', array('type' => 'image'));}">图片</a></li>
	<li {if $type == 'voice'}class="active"{/if}><a href="{php echo url('material/display/list', array('type' => 'voice'));}">语音</a></li>
	<li {if $type == 'video'}class="active"{/if}><a href="{php echo url('material/display/list', array('type' => 'video'));}">视频</a></li>
	<li {if $type == 'news'}class="active"{/if}><a href="{php echo url('material/display/list', array('type' => 'news'));}">图文</a></li>
</ul>
<div class="alert alert-info">
	<strong class="text-danger"><i class="fa fa-info-circle"></i> 该功能是定时群发,如果你需要立即群发,请在素材列表里找到对用的素材直接群发</strong><br>
	<i class="fa fa-info-circle"></i> 使用定时群发功能可设置未来7天的群发,使用该功能前请先确保您的云服务可用<br>
	<i class="fa fa-info-circle"></i> <strong>如果在提交定时群发提示:某天的群发同步到云服务失败,请手动同步到云服务</strong><br>
	<i class="fa fa-info-circle"></i> <strong>使用该功能前,请将微信公众平台的素材同步到本系统</strong><br>
</div>
{if $cloud_error == 1}
<div class="alert alert-danger">
	<h4><i class="fa fa-info-circle"></i> {$cloud['message']}</h4>
</div>
{/if}
<form action="" class="form form-horizontal" ng-controller="mass">
	<div class="panel panel-default">
		<div class="panel-heading">设置未来7天的群发</div>
		<div class="panel-body">
			<div class="row clearfix reply">
				<div class="col-xs-6 col-sm-3 col-md-3">
					<div ng-repeat="item in mass.groups">
						<!-- 图文 -->
						<div class="panel-group init-hide" ng-if="item.msgtype == 'news'" id="group-{{ $index }}">
							<div class="panel panel-default" ng-repeat="media in item.media.items">
								<div class="panel-body" ng-if="$index == 0">
									<div class="img">
										<i class="default">封面图片</i>
										<a ng-href="{{media.url}}" target="_blank"><img src="" ng-src="{{media.thumb}}"></a>
										<span class="text-left" ng-bind="media.title"></span>
									</div>
								</div>
								<div class="panel-body" ng-if="$index != 0">
									<a ng-href="{{media.url}}" target="_blank">
										<div class="text">
											<h4 ng-bind="media.title"></h4>
										</div>
										<div class="img">
											<img src="" ng-src="{{media.thumb}}">
											<i class="default">缩略图</i>
										</div>
									</a>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-body" style="height:20px; padding-bottom:40px; padding-top:7px; padding-right:15px;">
									<div class="btn-group">
										<a href="javascript:;" ng-click="mass.purview(item)" class="btn btn-default btn-sm">预览</a>
										<a href="javascript:;" ng-click="mass.emptyGroup(item)" class="btn btn-default btn-sm">清空</a>
										<a href="javascript:;" ng-click="mass.editGroup(item)" class="btn btn-default btn-sm">编辑</a>
									</div>
								</div>
							</div>
							<div class="no" ng-bind="item.time"></div>
							<div class="type news">图文</div>
							<div class="info init_hide" ng-show="!item.media_id">未设置</div>
							<div class="success init_hide" ng-show="item.status == 0">已发送</div>
						</div>

						<!-- 图片 -->
						<div class="panel-group init-hide" ng-if="item.msgtype == 'image'" id="group-{{ $index }}">
							<div class="panel panel-default">
								<div class="panel-body">
									<div class="img">
										<i class="default">封面图片</i>
										<img src="" ng-src="{{item.media.attach}}">
									</div>
								</div>
								<div class="no" ng-bind="item.time"></div>
								<div class="type image">图片</div>
								<div class="info init_hide" ng-show="!item.media_id">未设置</div>
								<div class="success init_hide" ng-show="item.status == 0">已发送</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-body" style="height:20px; padding-bottom:40px; padding-top:7px">
									<div class="btn-group">
										<a href="javascript:;" ng-click="mass.purview(item)" class="btn btn-default btn-sm">预览</a>
										<a href="javascript:;" ng-click="mass.emptyGroup(item)" class="btn btn-default btn-sm">清空</a>
										<a href="javascript:;" ng-click="mass.editGroup(item)" class="btn btn-default btn-sm">编辑</a>
									</div>
								</div>
							</div>
						</div>

						<!-- 语音 -->
						<div class="init-hide" ng-if="item.msgtype == 'voice'" id="group-{{ $index }}">
							<div class="panel panel-default panel-voice">
								<div class="panel-body">
									<div class="audio-msg">
										<div class="icon audio-player-play" data-attach="{{item.media.attach}}"><span><i class="fa fa-play"></i></span></div>
										<div class="audio-content">
											<div class="audio-title" ng-bind="item.media.filename"></div>
											<div class="audio-date text-muted" ng-bind="'创建于：' + item.media.createtime_cn"></div>
										</div>
									</div>
									<div class="btn-group">
										<a href="javascript:;" ng-click="mass.purview(item)" class="btn btn-default btn-sm">预览</a>
										<a href="javascript:;" ng-click="mass.emptyGroup(item)" class="btn btn-default btn-sm">清空</a>
										<a href="javascript:;" ng-click="mass.editGroup(item)" class="btn btn-default btn-sm">编辑</a>
									</div>
								</div>
								<div class="no" ng-bind="item.time"></div>
								<div class="type voice">语音</div>
								<div class="info init_hide" ng-show="!item.media_id">未设置</div>
								<div class="success init_hide" ng-show="item.status == 0">已发送</div>
							</div>
						</div>

						<!-- 视频 -->
						<div class="init-hide" ng-if="item.msgtype == 'video'" id="group-{{ $index }}">
							<div class="panel panel-default panel-video">
								<div class="panel-body">
									<div class="video-content">
										<h4 class="title text-muted" ng-bind="item.media.tag.title">{{}}</h4>
										<div class="date text-muted" ng-bind="'创建于:' + item.media.createtime_cn"></div>
										<div class="video">
											<img src="../web/resource/images/banner-bg.png" alt="" />
										</div>
										<div class="abstract text-muted" ng-bind="item.media.tag.description"></div>
									</div>
									<div class="btn-group">
										<a href="javascript:;" ng-click="mass.purview(item)" class="btn btn-default btn-sm">预览</a>
										<a href="javascript:;" ng-click="mass.emptyGroup(item)" class="btn btn-default btn-sm">清空</a>
										<a href="javascript:;" ng-click="mass.editGroup(item)" class="btn btn-default btn-sm">编辑</a>
									</div>
								</div>
								<div class="no" ng-bind="item.time"></div>
								<div class="type video">视频</div>
								<div class="info init_hide" ng-show="!item.media_id">未设置</div>
								<div class="success init_hide" ng-show="item.status == 0">已发送</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xs-6 col-sm-9 col-md-9 aside" id="edit-container">
					<div style="margin-bottom: 20px"></div>
					<div class="card">
						<div class="arrow-left"></div>
						<div class="inner">
							<div class="panel panel-default">
								<div class="panel-body">
									<div class="form-group">
										<label class="col-xs-12 col-sm-3 col-md-2 control-label">接收粉丝</label>
										<div class="col-sm-9 col-xs-12">
											<label class="radio-inline"><input type="radio" name="group" value="-1" ng-model="mass.activeGroup.group"/> 全部粉丝</label>
											{loop $groups $group}
											<label class="radio-inline"><input type="radio" name="group" value="{$group['id']}" ng-model="mass.activeGroup.group"/> {$group['name']}【{$group['count']}】</label>
											{/loop}
										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-12 col-sm-3 col-md-2 control-label">消息内容</label>
										<div class="col-sm-9 col-xs-12">
											<div class="col-xs-3 img init-hide" ng-if="!mass.activeGroup.media_id">
												<span ng-click="mass.changeMedia()"><i class="fa fa-plus-circle green"></i>&nbsp;选择素材</span>
											</div>
											<div class="col-xs-3 img init-hide" ng-if="mass.activeGroup.media_id">
												<div class="init-hide" ng-if="mass.activeGroup.msgtype == 'image'">
													<h3 ng-click="mass.changeMedia()">重新选择</h3>
													<span><i class="fa fa-image-o"></i>图片素材</span>
												</div>
												<div class="init-hide" ng-if="mass.activeGroup.msgtype == 'voice'">
													<h3 ng-click="mass.changeMedia()">重新选择</h3>
													<span><i class="fa file-audio-o"></i>语音素材</span>
												</div>
												<div class="init-hide" ng-if="mass.activeGroup.msgtype == 'video'">
													<h3 ng-click="mass.changeMedia()">重新选择</h3>
													<span><i class="fa fa-movie-o"></i>视频素材</span>
												</div>
												<div class="init-hide" ng-if="mass.activeGroup.msgtype == 'news'">
													<h3 ng-click="mass.changeMedia()">重新选择</h3>
													<span><i class="fa fa-word-o"></i>图文素材</span>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-12 col-sm-3 col-md-2 control-label">发送时间</label>
										<div class="col-sm-3">
											<div class="input-group clockpicker">
												<span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
												<input type="text" readonly name="clock" ng-model="mass.activeGroup.clock" class="form-control">
											</div>
											<span class="help-block text-danger">特别注意:发送时间不能小于当前时间.不要超过晚上11点</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{if !$cloud_error}
		<div class="btn btn-primary" ng-click="mass.submit()" id="submit">提交</div>
	{else}
		<div class="btn btn-danger" disabled>云服务错误</div>
	{/if}
	<div class="modal fade" id="media-select" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content modal-lg">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3>
						<ul role="tablist" class="nav nav-pills" style="font-size:14px; margin-top:-20px;">
							<li role="presentation" ng-class="{'active': mass.activeType == 'news'}">
								<a data-toggle="tab" role="tab" aria-controls="news" href="#news" ng-click="mass.changeMedia('news')">图文</a>
							</li>
							<li role="presentation" ng-class="{'active': mass.activeType == 'image'}">
								<a data-toggle="tab" role="tab" aria-controls="image" href="#image" ng-click="mass.changeMedia('image')">图片</a>
							</li>
							<li role="presentation" ng-class="{'active': mass.activeType == 'voice'}">
								<a data-toggle="tab" role="tab" aria-controls="voice" href="#voice" ng-click="mass.changeMedia('voice')">语音</a>
							</li>
							<li role="presentation" ng-class="{'active': mass.activeType == 'video'}">
								<a data-toggle="tab" role="tab" aria-controls="video" href="#video" ng-click="mass.changeMedia('video')">视频</a>
							</li>
						</ul>
					</h3>
				</div>
				<div class="modal-body">
					<div class="tab-content">
						<div id="news" class="tab-pane" ng-class="{'active': mass.activeType == 'news'}" role="tabpanel">
							<div class="loading" ng-show="mass.show == 0">
								<i class="fa fa-spinner fa-pulse fa-5x"></i>
								<span>努力加载中</span>
							</div>
							<div class="loading" ng-show="mass.show == 2">
								<i class="fa fa-info-circle"></i>
								<span>暂无数据</span>
							</div>
							<div class="reply clearfix" style="position:relative">
								<div class="col-md-5 col-md-5 col-md-5 water" style="display:none" ng-repeat="news in mass.news" ng-show="mass.show == 1">
									<div class="panel-group checkMedia" data-media="{{news.media_id}}"  data-type="news" data-attach="{{news}}">
										<div class="panel panel-default" ng-repeat="item in news.items">
											<div class="panel-body" ng-if="$index == 0">
												<div class="clearfix">
													<h4>{{news.name}}<span class="date pull-right"></span></h4>
												</div>
												<div class="img">
													<i class="default">封面图片</i>
													<img src="" ng-src="{{item.thumb}}">
													<span class="text-left">{{item.title}}</span>
												</div>
											</div>
											<div class="panel-body" ng-if="$index != 0">
												<div class="text">
													<h4>{{item.title}}</h4>
												</div>
												<div class="img">
													<img src="" ng-src="{{item.thumb}}">
													<i class="default">缩略图</i>
												</div>
											</div>
										</div>
										<div class="mask"></div>
										<i class="fa fa-check"></i>
									</div>
								</div>
							</div>
						</div>
						<div id="image" class="tab-pane"  ng-class="{'active': mass.activeType == 'image'}" role="tabpanel">
							<div class="loading" ng-show="mass.show == 0">
								<i class="fa fa-spinner fa-pulse fa-5x"></i>
								<span>努力加载中</span>
							</div>
							<div class="loading" ng-show="mass.show == 2">
								<i class="fa fa-info-circle"></i>
								<span>暂无数据</span>
							</div>
							<div class="history">
								<ul class="img-list clearfix" ng-show="mass.show == 1">
									<div  ng-repeat="image in mass.image" class="checkMedia" data-media="{{image.media_id}}"  data-type="image" data-attach="{{image}}">
										<li class="img-item" style="padding:5px">
											<div class="img-container" ng-style="{'background-image': image.url}">
												<div class="select-status"><span></span></div>
											</div>
										</li>
									</div>
								</ul>
							</div>
						</div>
						<div id="voice" class="tab-pane"  ng-class="{'active': mass.activeType == 'voice'}" role="tabpanel">
							<div class="loading" ng-show="mass.show == 0">
								<i class="fa fa-spinner fa-pulse fa-5x"></i>
								<span>努力加载中</span>
							</div>
							<div class="loading" ng-show="mass.show == 2">
								<i class="fa fa-info-circle"></i>
								<span>暂无数据</span>
							</div>
							<table class="table table-hover table-bordered" ng-show="mass.show == 1">
								<thead class="navbar-inner">
								<tr>
									<th>标题</th>
									<th style="width:20%;text-align:right">创建时间</th>
									<th style="width:20%;text-align:right"></th>
								</tr>
								</thead>
								<tbody class="history-content">
								<tr ng-repeat="voice in mass.voice">
									<td>{{voice.filename}}</td>
									<td align="right">{{voice.createtime_cn}}</td>
									<td align="right">
										<div class="btn-group">
											<a href="javascript:;" class="btn btn-default btn-sm audio-player-play audio-msg" data-attach="{{voice.attach}}"><i class="fa fa-play"></i></a>
											<a href="javascript:;" class="btn btn-default btn-sm checkMedia" data-media="{{voice.media_id}}" data-type="voice" data-attach="{{voice}}" data-url="{{voice.attach}}">选取</a>
										</div>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
						<div id="video" class="tab-pane"  ng-class="{'active': mass.activeType == 'video'}" role="tabpanel">
							<div class="loading" ng-show="mass.show == 0">
								<i class="fa fa-spinner fa-pulse fa-5x"></i>
								<span>努力加载中</span>
							</div>
							<div class="loading" ng-show="mass.show == 2">
								<i class="fa fa-info-circle"></i>
								<span>暂无数据</span>
							</div>
							<table class="table table-hover table-bordered" ng-show="mass.show == 1">
								<thead class="navbar-inner">
								<tr>
									<th>标题</th>
									<th style="width:20%;text-align:right">创建时间</th>
									<th style="width:20%;text-align:right"></th>
								</tr>
								</thead>
								<tbody class="history-content">
								<tr ng-repeat="video in mass.video">
									<td>{{video.tag.title ? video.tag.title : video.filename}}</td>
									<td align="right">{{video.createtime_cn}}</td>
									<td align="right">
										<div class="btn-group">
											<a ng-href="{{video.tag.down_url}}" target="_blank" class="btn btn-default btn-sm">下载</a>
											<a href="javascript:;" class="btn btn-default btn-sm checkMedia" data-media="{{video.media_id}}" data-type="video" data-attach="{{video}}">选取</a>
										</div>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="pull-left" id="pager"></div>
					<div class="pull-right">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<span class="btn btn-primary btn-confirm" data-dismiss="modal">确定</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
<!-- 群发预览 -->
<div class="modal fade" id="modal-view" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<form action="">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">请输入接受人的微信号</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="wxname">微信号</label>
						<input type="text" class="form-control" id="wxname" name="wxname">
						<span class="help-block">微信号不能为空</span>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary btn-view">发送</button>
				</div>
			</div>
		</div>
	</form>
</div>

<script>
	require(['angular.sanitize', 'bootstrap', 'underscore', 'jquery.wookmark', 'jquery.jplayer', 'clockpicker'], function(angular, $, _){
		$('.init-hide').show();
		$('.clockpicker').clockpicker({autoclose: true});

		angular.module('app', ['ngSanitize']).controller('mass', function($scope, $http){
			$scope.mass = {};
			$scope.mass.groups = {php echo json_encode($mass);};
			$scope.mass.activeType = 'news';
			$scope.mass.activeIndex = 0;
			$scope.mass.activeGroup = $scope.mass.groups[$scope.mass.activeIndex];

			$scope.mass.submit = function(){
				var error = {errno: 1, message: ''};
				angular.forEach($scope.mass.groups, function(v, k){
					if(!v.media_id) {
						this.message += v.time + '" 没有设置群发<br>';
					} else {
						this.errno = 0;
						if($.trim(v.clock) == '') {
							this.message += v.time + '" 的群发没有设置发送时间<br>';
						}
					}
				}, error);

				if(error.errno) {
					util.message('没有设置群发', '', 'error');
					return false;
				}

				$('#submit').addClass('disabled');
				$http.post("{php echo url('material/mass/post');}", {data: $scope.mass.groups}).success(function(dat, status){
					if(!dat.message.errno) {
						util.message('设置群发成功', "{php echo url('material/mass/send');}", 'success');
					} else if(dat.message.errno == -1000) {
						util.message('存在没有同步到云服务的群发,现在跳转到手动同步页面:<br>' + dat.message.message, "{php echo url('material/mass/send');}", 'error');
					} else {
						$('#submit').removeClass('disabled');
						util.message('设置群发失败:<br>' + dat.message.message, "", 'error');
					}
					return false;
				});
			};

			$scope.mass.emptyGroup = function(item){
				$scope.mass.editGroup(item);
				$scope.mass.activeGroup.msgtype = 'news';
				$scope.mass.activeGroup.group = '-1';
				$scope.mass.activeGroup.media_id = '';
				$scope.mass.activeGroup.media.items = [{title: '请选择素材'}];
				return false;
			}

			$scope.mass.purview = function(item){
				$scope.mass.editGroup(item);
				if(!$scope.mass.activeGroup.media_id) {
					util.message('请先设置素材', '', 'error');
					return false;
				}

				var id = $scope.mass.activeGroup.attach_id;
				var type = $scope.mass.activeGroup.msgtype;
				$('#modal-view').modal('show');

				$('#modal-view .btn-view').unbind().click(function(){
					var wxname = $.trim($('#modal-view #wxname').val());
					if(!wxname) {
						util.message('微信号不能为空', '', 'error');
						return false;
					}
					$('#modal-view').modal('hide');
					$.post("{php echo url('material/display/purview/');}", {id:id, wxname:wxname, type:type}, function(data){
						if(data != 'success') {
							util.message(data, '', 'error');
						} else {
							util.message('发送成功', '', 'success');
						}
					});
					return false;
				});
			}

			$scope.mass.editGroup = function(item){
				var index = $.inArray(item, $scope.mass.groups);
				if(index == -1) return false;
				var top = $('#group-' + index).offset().top;
				$('#edit-container').css('marginTop', top - 220);
				$("html,body").animate({scrollTop: top-80}, 500);
				$scope.mass.activeIndex = index;
				$scope.mass.activeGroup = $scope.mass.groups[$scope.mass.activeIndex];
			}

			$scope.mass.changeMedia = function(type, page){
				var page = page || 1;
				if(!type) {
					var type = $scope.mass.activeGroup.msgtype;
				}
				$scope.mass.activeType = type

				$scope.mass.show = 0;
				$http.get('./index.php?c=material&a=mass&do=modal' + '&type=' + type + '&page=' + page).success(function(result, status){
					if(result.message.list) {
						$scope.mass.show = 1;
						if(type == 'news') {
							$scope.mass.news = result.message.list;
							setTimeout(function(){
								$('.water').wookmark({
									align: 'center',
									autoResize: false,
									container: $('#news .reply'),
									autoResize :true
								});
							}, 100);
						} else {
							$scope.mass[type] = result.message.list;
							$scope.mass.playaudio();
						}
						$scope.mass.checkMedia();

						$('#media-select #pager').html(result.message.pager);
						$('#media-select #pager .pagination li[class!=\'active\'] a').click(function(){
							$scope.mass.changeMedia(type, $(this).attr('page'));
							return false;
						});
					} else {
						$scope.mass.show = 2;
					}
					return true;
				});

				$('#media-select .btn-confirm').unbind().click(function(){
					var checkedObj = $('#media-select .checkedMedia');
					if(checkedObj.length > 1 || !checkedObj.length) {
						alert('请选择素材');
						return false;
					}
					$scope.mass.activeGroup.msgtype = checkedObj.data('type');
					$scope.mass.activeGroup.media_id = checkedObj.data('media');
					$scope.mass.activeGroup.media = checkedObj.data('attach');
					$scope.mass.activeGroup.attach_id = checkedObj.data('attach').id;
					$scope.$apply();
					$('#media-select').modal('hide');
				});
				$('#media-select').modal('show');
			}

			$scope.mass.checkMedia = function(){
				$('#media-select').on('click', '.checkMedia', function(){
					$('.checkMedia').removeClass('checkedMedia');
					$(this).addClass('checkedMedia');
					var type = $(this).data('type');
					if(type == 'news') {
						$('#news .panel-group').removeClass('selected');
						$(this).addClass('selected');
					} else if(type == 'image') {
						$('#image div').removeClass('img-item-selected');
						$(this).addClass('img-item-selected');
					} else {
						$('.checkMedia').removeClass('btn-primary');
						$(this).addClass('btn-primary');
					}
				});
			}

			$scope.mass.playaudio = function(){
				$("#voice, .panel").on('click', '.audio-player-play', function(){
					var src = $(this).data("attach");
					if(!src) {
						return;
					}
					if ($("#player")[0]) {
						var player = $("#player");
					} else {
						var player = $('<div id="player"></div>');
						$(document.body).append(player);
					}
					player.data('control', $(this));
					player.jPlayer({
						playing: function() {
							$(this).data('control').find("i").removeClass("fa-play").addClass("fa-stop");
						},
						pause: function (event) {
							$(this).data('control').find("i").removeClass("fa-stop").addClass("fa-play");
						},
						swfPath: "resource/components/jplayer",
						supplied: "mp3,wma,wav,amr",
						solution: "html, flash"
					});
					player.jPlayer("setMedia", {mp3: $(this).data("attach")}).jPlayer("play");
					if($(this).find("i").hasClass("fa-stop")) {
						player.jPlayer("stop");
					} else {
						$('.audio-msg').find('.fa-stop').removeClass("fa-stop").addClass("fa-play");
						player.jPlayer("setMedia", {mp3: $(this).data("attach")}).jPlayer("play");
					}
				});
			}

			$scope.mass.playaudio();
		});
		angular.bootstrap(document, ['app']);
	});
</script>
{template 'common/footer'}
