{template 'common/header'}
<title>会员资料</title>
<style type="text/css">


.favorite_no {height:40px;  padding-top:100px; margin:50px 0px;}
.favorite_top {height:44px; background:#f8f8f8; padding:0px 3%; border-bottom:1px solid #e3e3e3;}
.favorite_top .title {height:44px; width:auto; float:left; font-size:16px; line-height:44px; color:#666;}
.favorite_top .nav {height:30px; width:auto; background:#fff; padding:0px 10px; border:1px solid #e3e3e3; border-radius:5px; float:right; line-height:30px; margin:6px 0px 0px 16px; color:#666; font-size:14px;}
.favorite_main {height:auto; width:100%;background:#fff; border-bottom:1px solid #e3e3e3;}
.favorite_good {height:80px; width:100%; padding:10px 0px; border-bottom:1px solid #e3e3e3;}
.favorite_good .ico {margin-left:3px;height:20px; width:3px;  float:left ; font-size:24px;margin-top:25px;color:#666;z-index:2;position: relative;}
.favorite_good .img {height:80px; width:80px; background:#f99; float:left;z-index:2;position: relative;}
.favorite_good .img img {height:100%; width:100%}
.favorite_good .info {height:80px; width:100%; float:left;margin-left:-120px;margin-right:-30px;position: relative;}
.favorite_good .info .inner {margin-left:130px;margin-right:30px;}
.favorite_good .info .inner .name {height:35px; width:100%; line-height:20px; color:#666; overflow:hidden; font-size:14px;white-space: nowrap;text-overflow:ellipsis;}
.favorite_good .info .inner .other {height:30px; width:100%; margin-top:10px;}
.favorite_good .info .inner .other .price {height:30px; width:auto; float:left; line-height:30px; font-size:14px; color:#666; overflow:hidden; color:red;}
.favorite_good .info .inner .other .price span {color:#666;font-size:12px;text-decoration: line-through}
.favorite_good .right { float:right;width:90px;height:20px;margin-left:-90px; font-size:14px;margin-top:40px;text-align:center;z-index:2;position: relative;}
.favorite_no {height:100px; width:100%; margin:50px 0px 60px; color:#ccc; font-size:12px; text-align:center;}
.favorite_no_menu {height:40px; width:100%;}
.favorite_no_nav {height:38px; width:43%; background:#eee;  border:1px solid #d4d4d4; border-radius:5px; text-align:center; line-height:38px; color:#666;}

    body {margin:0px; background:#efefef; font-family:'微软雅黑'; -moz-appearance:none;}
    .info_main {height:auto;  background:#fff; margin-top:14px; border-bottom:1px solid #e8e8e8; border-top:1px solid #e8e8e8;}
    .info_main .line {margin:0 10px; height:40px; border-bottom:1px solid #e8e8e8; line-height:40px; color:#999;}
    .info_main .line .title {height:40px; width:80px; line-height:40px; color:#444; float:left; font-size:16px;}
    .info_main .line .info { width:100%;float:right;margin-left:-80px; }
    .info_main .line .inner { margin-left:80px; }
    .info_main .line .inner input {height:40px; width:100%;display:block; padding:0px; margin:0px; border:0px; float:left; font-size:16px;}
    .info_main .line .inner .user_sex {line-height:40px;}
    .info_sub {height:44px; margin:14px 5px; background:#31cd00; border-radius:4px; text-align:center; font-size:16px; line-height:44px; color:#fff;}
	
	.info_title {height:44px; margin:14px 5px;  border-radius:4px; text-align:center; font-size:16px; line-height:44px; color:#fff;}
    .select { border:1px solid #ccc;height:25px;}
</style>
<script src="../addons/ewei_shop/static/js/dist/mobiscroll/mobiscroll.core-2.5.2.js" type="text/javascript"></script>
<script src="../addons/ewei_shop/static/js/dist/mobiscroll/mobiscroll.core-2.5.2-zh.js" type="text/javascript"></script>
<link href="../addons/ewei_shop/static/js/dist/mobiscroll/mobiscroll.core-2.5.2.css" rel="stylesheet" type="text/css" />
<link href="../addons/ewei_shop/static/js/dist/mobiscroll/mobiscroll.animation-2.5.2.css" rel="stylesheet" type="text/css" />
<script src="../addons/ewei_shop/static/js/dist/mobiscroll/mobiscroll.datetime-2.5.1.js" type="text/javascript"></script>
<script src="../addons/ewei_shop/static/js/dist/mobiscroll/mobiscroll.datetime-2.5.1-zh.js" type="text/javascript"></script>
<script src="../addons/ewei_shop/static/js/dist/mobiscroll/mobiscroll.android-ics-2.5.2.js" type="text/javascript"></script>
<link href="../addons/ewei_shop/static/js/dist/mobiscroll/mobiscroll.android-ics-2.5.2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../addons/ewei_shop/static/js/dist/area/cascade.js"></script>
<div id="container"></div>
<script id='favorite_empty' type='text/html'>
     <div class="favorite_no"><i class="fa fa-favorite" style="font-size:100px;"></i><br><span style="line-height:18px; font-size:16px;">你已获得该产品的授权或正在申请</span><br>无需再申请</div>
<div class="favorite_no_menu">
 <div class="favorite_no_nav" onclick="location.href='{php echo $this->createMobileUrl('member')}'">个人中心</div>
 </div>
</script>
<script id="member_info" type="text/html">
    <div class="page_topbar">
    <a href="javascript:;" class="back" onclick="history.back()"><i class="fa fa-angle-left"></i></a>
    <div class="title">我的资料</div>
</div>
	{if $pmember}
	<div style="text-align:center; line-height:20px; ">
	<label style="float:left;font-size:14px;margin-left:10px">上级代理人:{php echo empty($pmember['realname'])?$pmember['nickname']:$pmember['realname']}</label>
	<label style="float:right;font-size:14px;margin-right:10px">上级授权号:{$authorid}</label>
	<label style="display:none" id="oppid">{$oppid}</label>
	</div>
	{/if}
	<div style="clear:both"></div>
    <div class="info_main">
        <div class="line"><div class="title">姓名</div><div class='info'><div class='inner'><input type="text" id='realname' placeholder="请输入您的姓名"  value="<%realname%>" /></div></div></div>
        <div class="line"><div class="title">手机号码</div><div class='info'><div class='inner'><input type="text" id='mobile' placeholder="请输入您的手机号码"  value="<%mobile%>" /></div></div></div>
        <div class="line"><div class="title">微信号</div><div class='info'><div class='inner'><input type="text" id='weixin' placeholder="请输入微信号" value="<%weixin%>"/></div></div></div>
       {if false} <div class="line"><div class="title">身份证号</div><div class='info'><div class='inner'><input type="text" id='idcard' placeholder="请输入身份证号" value="<%idcard%>"/></div></div></div>{/if}
		<div class="line">
            <div class="title">性别</div><div class='info'><div class='inner'>
            <span class="gender" data-val="1"><i class="fa <%if gender=='1'%>fa-check-circle-o<%else%>fa-circle-o<%/if%>" <%if gender=='1'%>style="color:#0C9;"<%/if%>></i> 男</span>&nbsp;&nbsp;
            <span class="gender" data-val="2"><i class="fa <%if gender=='2'%>fa-check-circle-o<%else%>fa-circle-o<%/if%>" <%if gender=='2'%>style="color:#0C9;"<%/if%>></i> 女
                <input type="hidden" id="gender" value="<%sex%>" />
                </div></div>
        </div>
        <div class="line">
            <div class="title">所在城市</div><div class='info'><div class='inner'>
            <select id="sel-provance" onChange="selectCity();" class="select">
                <option value="" selected="true">省/直辖市</option>
            </select>
            <select id="sel-city" onChange="selectcounty()" class="select">
                <option value="" selected="true">请选择</option>
            </select>
            <select id="sel-area" class="select" style="display:none">
                <option value="" selected="true">请选择</option>
            </select></div></div>
        </div>
       {if false} <div class="line"  style="border:0px;"><div class="title">生日</div><div class='info'><div class='inner'><input type="text" id="birthday" placeholder="点击选择日期" readonly value='<%birthday%>'/></div></div></div>
        {/if}
    </div>
    <div class="info_sub">{if $pmember}确认提交{else}确认修改{/if}</div>

</script>
<script language="javascript">
    require(['tpl', 'core'], function(tpl, core) {
	    has={php echo empty($has)?0:$has;};
        core.json('member/info',{},function(json){
			if(has>0){
              $('#container').html(  tpl('favorite_empty') );
               return;
                     }	
            if (json.result.member) {
 
                var data = json.result.member;
 
                $('#container').html(tpl('member_info', data));

                var currYear = (new Date()).getFullYear();
                var opt = {};
                opt.date = {preset: 'date'};
                opt.datetime = {preset: 'datetime'};
                opt.time = {preset: 'time'};
                opt.default = {
                    theme: 'android-ics light', 
                    display: 'modal',
                    mode: 'scroller',
                    lang: 'zh',
                    startYear: currYear - 100,
                    endYear: currYear 
                };

                $("#birthday").scroller('destroy').scroller($.extend(opt['date'], opt['default']));
                cascdeInit(data.province,data.city,data.dist);
                $('.gender').click(function() {
                    var $this = $(this);
                    var val = $this.data('val');
                    $('.gender').find('i').css('color', '#999').removeClass('fa-check-circle-o').addClass('fa-circle-o');
                    $(this).find('i').removeClass('fa-circle-o').addClass('fa-check-circle-o').css('color', '#0c9');
                    $('#gender').val(val);
                })
                $('.info_sub').click(function() {
					oppid=$("#oppid").text();
					ggid={php echo empty($ggid)?0:$ggid};
					level={php echo empty($level)?0:$level};
                    if($(this).attr('saving')=='1')
                    {
                        return;
                    }
                   
                       if( $('#realname').isEmpty()){
                           core.tip.show('请输入姓名!');
                           return;
                       }
                       if(!$('#mobile').isMobile()){
                           core.tip.show('请输入正确手机号码!');
                           return;
                       }
                      if( $('#weixin').isEmpty()){
                           core.tip.show('请输入微信号!');
                           return;
                       }
                     /* idcard=$('#idcard').val();
                      if( $('#idcard').isEmpty()){
                          core.tip.show('请输入身份证号!');
                          return;
                      }
                      if(idcard.length!=18)
                      {
                    	  core.tip.show('请输入正确的身份证号!');
                          return;
                      }*/
                  
                   $(this).html('正在处理...').attr('saving',1);
                 //  var birthday = $('#birthday').val().split('-');
                    core.json('member/info', {
                       'memberdata':{
                            'realname': $('#realname').val(),
                            'mobile': $('#mobile').val(),
                            'weixin': $('#weixin').val(),
				
                            'gender': $('#sex').val(),
                       
                            'province': $('#sel-provance').val(),
                            'city': $('#sel-city').val()
                       }, 'mcdata':{
                            'realname': $('#realname').val(),
                            'mobile': $('#mobile').val(),
                            'gender': $('#sex').val(),
                       
                            'resideprovince': $('#sel-provance').val(),
                            'residecity': $('#sel-city').val()
                       },'daili':{php echo empty($pmember)?0:1;},oppid:oppid,ggid:ggid,level:level
                    }, function(json) {
                       
                        if(json.status==1){
                             core.tip.show('保存成功');
                             {if !empty($_GPC['returnurl'])}
                                 location.href="{php echo urldecode($_GPC['returnurl'])}";
                             {else}
                                 location.href="{php echo $this->createMobileUrl('member')}";
                             {/if}
                        }
						else if(json.status==2)
						{	
							location.href="{php echo $this->createPluginMobileUrl('commission/register')}";
						}
                        else{
                           $('.info_sub').html('确认修改').removeAttr('saving');
                           core.tip.show('保存失败!');
						
                        }

                    },true,true);
                })
            }
        });

    })
</script>

{template 'common/footer'}