{template 'common/header'}
<title>代理查询</title>
<style type="text/css">
body {margin:0px; background:#f8f8f8; -moz-appearance:none;}
.favorite_no {height:40px;  padding-top:100px; margin:50px 0px;}

.favorite_top {height:44px; background:#f8f8f8; padding:0px 3%; border-bottom:1px solid #e3e3e3;}
.favorite_top .title {height:44px; width:auto; float:left; font-size:16px; line-height:44px; color:#666;}
.favorite_top .nav {height:30px; width:auto; background:#fff; padding:0px 10px; border:1px solid #e3e3e3; border-radius:5px; float:right; line-height:30px; margin:6px 0px 0px 16px; color:#666; font-size:14px;}
.favorite_main {height:auto; width:100%;background:#fff; border-bottom:1px solid #e3e3e3;}
.favorite_good {height:100%; width:100%; padding:10px 0px; border-bottom:1px solid #e3e3e3;}
.favorite_good .ico {margin-left:10px;height:20px; width:3px;  float:left ; font-size:24px;margin-top:25px;color:#666;z-index:2;position: relative;}
.favorite_good .img {height:80px; width:80px; background:#f99; float:left;z-index:2;position: relative;}
.favorite_good .img img {height:100%; width:100%}
.favorite_good .info {height:80px; width:100%; float:left;margin-left:-120px;margin-right:-30px;position: relative;}
.favorite_good .info .inner {margin-left:130px;margin-right:30px;}
.favorite_good .info .inner .name {height:30px; width:100%; line-height:20px; color:#666; overflow:hidden; font-size:14px;font-size:14px;white-space: nowrap;text-overflow:ellipsis;}
.favorite_good .info .inner .other {height:25px; width:100%; }
.favorite_good .info .inner .other .price {height:25px; width:auto;  line-height:30px; font-size:14px; color:#666; overflow:hidden; color:red;}
.favorite_good .info .inner .other .price span {color:#666;font-size:12px;}
.favorite_good .right { float:right;width:30px;height:20px;margin-left:-30px; color:#666;font-size:18px;margin-top:25px;text-align:center;z-index:2;position: relative;}
.favorite_no {height:100px; width:100%; margin:50px 0px 60px; color:#ccc; font-size:12px; text-align:center;}
.favorite_no_menu {height:40px; width:100%;}
.favorite_no_nav {height:38px; width:43%; background:#eee;  border:1px solid #d4d4d4; border-radius:5px; text-align:center; line-height:38px; color:#666;}
#favorite_loading { padding:10px;color:#666;text-align: center;}
.favorite_good .info .inner .other .stock {height:25px; width:auto; float:left; line-height:30px; font-size:14px; color:#000; overflow:hidden; }
.favorite_top .tname{height:44px; width:100%;text-align:center;font-size:16px; line-height:44px; color:#666;}
.form-control {
	float:left;
    display: block;
	margin:5px 5px;
    width: 200px;
	max-width: 60%;
    height: 25px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.btn {
	float:left;
	margin:7px 5px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 5px;
	max-width: 30%;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.newtop{background-color:#53ff53}
.ctitle{font-size:16px;color:#000;float:left}
a:hover{color:red;}
</style>
<div id='container'></div>

<script id="favorite_main" type="text/html">
     <div class="favorite_top newtop" >
	  <div class="title" onclick='history.back()'> <i class='fa fa-chevron-left'></i></div>
        <div class="tname" > 
			代理商
		</div>		
    </div>
	<div style="width:100%">	  
      <input type="text" id='keywords' class="form-control" placeholder="搜索: 代理商微信号或手机号" value="{$_GPC['keywords']}"/>
	  <button class="btn btn-default" id="search"><i class="fa fa-search"></i> 搜索</button>
    </div>
	<div style="clear:both"></div>
    <div class="favorite_main">
	<div class="favorite_good"  sel='0'>
	</div>
</script>
<script id='favorite_list' type='text/html'>
   
        <div class="favorite_good"  sel='0'>
		  <div style="height:20px;margin-left:10px">
          <div class="ctitle">用户名:<%if member.realname%><%member.realname%><%else%><%member.nickname%><%/if%></div>
		  <div class="ctitle" style="margin-left:10px">手机号:<%member.mobile%></div>
		  </div>
		  <div style="clear:both"></div>
		  <div style="margin-left:10px;font-size:16px;color:#000;margin-top:5px">已获授权:</div>
		  <div style="margin-bottom:5px">
		 <%each list as value%>
		  <a style="color:#000;margin-top:5px;" href="{php echo $this->createPluginMobileUrl('poster/build')}&openid=<%member.openid%>&gid=<%value.goodsid%>">
		  <ul style="margin-left:20px;margin-top:5px;font-size:14px">
		  <li><span>品牌名称:<%value.title%></span> <span style="margin-left:10px">截止日期:<%value.endtime%></span></li>	
		  </ul>
		  </a>
		  <%/each%>
		  </div>
        </div>
 
</script>
<script language='javascript'>

    require(['tpl', 'core'], function(tpl, core) {
		
        core.json('member/msearch',{},function(json){ 
					
                    $('#container').html(  tpl('favorite_main',json.result) );
					$("#search").click(function(){
						keyw=$("#keywords").val();
						if(keyw=='')
						{
							alert("请填入代理商微信号或手机号");
							return false;
						}
						$('.favorite_main').html('');
						core.json('member/msearch', {keyword:keyw}, function(kjson) {
								if(kjson.result.total==0){
									$('.favorite_main').html( '' ); 
									return;
								}  
								$('.favorite_main').html(  tpl('favorite_list',kjson.result) );									   
                                 },true);
					});
					if(json.result.total==0){
                        $('.favorite_main').html( '' ); 
                         return;
                    }                       
                    $('.favorite_main').html(  tpl('favorite_list',json.result) );               
         },true);
   });
</script>
{php $show_footer = true}
{template 'common/footer'}
