
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-appreciate:before { content: "\e644"; }

.icon-check:before { content: "\e645"; }

.icon-close:before { content: "\e646"; }

.icon-edit:before { content: "\e649"; }

.icon-emoji:before { content: "\e64a"; }

.icon-favorfill:before { content: "\e64b"; }

.icon-favor:before { content: "\e64c"; }

.icon-loading:before { content: "\e64f"; }

.icon-locationfill:before { content: "\e650"; }

.icon-search:before { content: "\e65c"; }

.icon-roundright:before { content: "\e65b"; }

.icon-roundrightfill:before { content: "\e65a"; }

.icon-roundclose:before { content: "\e659"; }

.icon-roundclosefill:before { content: "\e658"; }

.icon-roundcheck:before { content: "\e657"; }

.icon-roundcheckfill:before { content: "\e656"; }

.icon-phone:before { content: "\e652"; }

.icon-location:before { content: "\e651"; }

.icon-taxi:before { content: "\e65d"; }

.icon-timefill:before { content: "\e65e"; }

.icon-time:before { content: "\e65f"; }

.icon-unfold:before { content: "\e661"; }

.icon-warnfill:before { content: "\e662"; }

.icon-warn:before { content: "\e663"; }

.icon-camerafill:before { content: "\e664"; }

.icon-camera:before { content: "\e665"; }

.icon-commentfill:before { content: "\e666"; }

.icon-tagfill:before { content: "\e66f"; }

.icon-same:before { content: "\e66e"; }

.icon-samefill:before { content: "\e66d"; }

.icon-order:before { content: "\e66c"; }

.icon-notification:before { content: "\e66b"; }

.icon-notificationfill:before { content: "\e66a"; }

.icon-like:before { content: "\e669"; }

.icon-likefill:before { content: "\e668"; }

.icon-comment:before { content: "\e667"; }

.icon-tag:before { content: "\e670"; }

.icon-deliver:before { content: "\e671"; }

.icon-evaluate:before { content: "\e672"; }

.icon-pay:before { content: "\e673"; }

.icon-send:before { content: "\e675"; }

.icon-shop:before { content: "\e676"; }

.icon-ticket:before { content: "\e677"; }

.icon-wang:before { content: "\e678"; }

.icon-back:before { content: "\e679"; }

.icon-share:before { content: "\e68b"; }

.icon-settings:before { content: "\e68a"; }

.icon-scan:before { content: "\e689"; }

.icon-my:before { content: "\e686"; }

.icon-myfill:before { content: "\e685"; }

.icon-more:before { content: "\e684"; }

.icon-list:before { content: "\e682"; }

.icon-discover:before { content: "\e67e"; }

.icon-cascades:before { content: "\e67c"; }

.icon-sort:before { content: "\e68c"; }

.icon-wefill:before { content: "\e68d"; }

.icon-we:before { content: "\e68e"; }

.icon-questionfill:before { content: "\e690"; }

.icon-question:before { content: "\e691"; }

.icon-shopfill:before { content: "\e697"; }

.icon-form:before { content: "\e699"; }

.icon-wangfill:before { content: "\e69a"; }

.icon-pic:before { content: "\e69b"; }

.icon-deletefill:before { content: "\e6a6"; }

.icon-moreandroid:before { content: "\e6a5"; }

.icon-refresh:before { content: "\e6a4"; }

.icon-right:before { content: "\e6a3"; }

.icon-pullup:before { content: "\e6a0"; }

.icon-pulldown:before { content: "\e69f"; }

.icon-top:before { content: "\e69e"; }

.icon-footprint:before { content: "\e69d"; }

.icon-filter:before { content: "\e69c"; }

.icon-refund:before { content: "\e6ac"; }

.icon-cart:before { content: "\e6af"; }

.icon-qrcode:before { content: "\e6b0"; }

.icon-remind:before { content: "\e6b2"; }

.icon-delete:before { content: "\e6b4"; }

.icon-profile:before { content: "\e6b7"; }

.icon-home:before { content: "\e6b8"; }

.icon-cartfill:before { content: "\e6b9"; }

.icon-discoverfill:before { content: "\e6ba"; }

.icon-homefill:before { content: "\e6bb"; }

.icon-message:before { content: "\e6bc"; }

.icon-addressbook:before { content: "\e6bd"; }

.icon-link:before { content: "\e6bf"; }

.icon-lock:before { content: "\e6c0"; }

.icon-unlock:before { content: "\e6c2"; }

.icon-vip:before { content: "\e6c3"; }

.icon-weibo:before { content: "\e6c4"; }

.icon-activity:before { content: "\e6c5"; }

.icon-attention:before { content: "\e6d0"; }

.icon-selection:before { content: "\e6ce"; }

.icon-goods:before { content: "\e6cd"; }

.icon-friend:before { content: "\e6cc"; }

.icon-friendfamous:before { content: "\e6cb"; }

.icon-friendadd:before { content: "\e6ca"; }

.icon-friendaddfill:before { content: "\e6c9"; }

.icon-big:before { content: "\e6c7"; }

.icon-explore:before { content: "\e6d2"; }

.icon-present:before { content: "\e6d3"; }

.icon-squarecheckfill:before { content: "\e6d4"; }

.icon-square:before { content: "\e6d5"; }

.icon-squarecheck:before { content: "\e6d6"; }

.icon-round:before { content: "\e6d7"; }

.icon-roundaddfill:before { content: "\e6d8"; }

.icon-roundadd:before { content: "\e6d9"; }

.icon-add:before { content: "\e6da"; }

.icon-notificationforbidfill:before { content: "\e6db"; }

.icon-attentionfill:before { content: "\e6dc"; }

.icon-explorefill:before { content: "\e6dd"; }

.icon-fold:before { content: "\e6de"; }

.icon-game:before { content: "\e6df"; }

.icon-redpacket:before { content: "\e6e0"; }

.icon-selectionfill:before { content: "\e6e1"; }

.icon-similar:before { content: "\e6e2"; }

.icon-appreciatefill:before { content: "\e6e3"; }

.icon-infofill:before { content: "\e6e4"; }

.icon-info:before { content: "\e6e5"; }

.icon-barcode:before { content: "\e6e6"; }

.icon-forwardfill:before { content: "\e6ea"; }

.icon-forward:before { content: "\e6eb"; }

.icon-rechargefill:before { content: "\e6ec"; }

.icon-recharge:before { content: "\e6ed"; }

.icon-voicefill:before { content: "\e6f0"; }

.icon-voice:before { content: "\e6ef"; }

.icon-vipcard:before { content: "\e6ee"; }

