@charset "utf-8";
/*!
* Date:2014-07-07
* Author:Easydo
* ------------------------------
* Email:985091688@qq.com
* ------------------------------
* Operation record at the bottom
*/
/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}.clear {font-size:0; line-height:0; height:0; clear:both; overflow:hidden;}.clearfix:after {clear: both;content: ".";display: block; height: 0;visibility: hidden;} * html .clearfix { zoom: 1; } /* IE6 */ *:first-child+html .clearfix { zoom: 1; } /* IE7 */img { display:block;}
/*Basic Swiper Styles*/
html {
  height: 100%;
}
body {
  background-color: #f2f2f2;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  position: relative;
  width: 100%;
  height: 100%;
}
.swiper-container {
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  backface-visibility: hidden;
  overflow: hidden;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #222;
  margin-right: 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}
.swiper-visible-switch {
  background: #aaa;
}
.swiper-active-switch {
  background: #fff;
}

#mas{position: absolute; left:0; top:0; bottom:0; right:0; overflow: hidden; z-index:999;}
#cas{width: 100%;height: 100%; opacity: 1;}
.noop{opacity: 0 !important;}

/*loading效果*/
#load-layer {position: absolute; top:0; left:0; bottom:0; right:0; background-color: #ffffff; z-index: 999}
#loading {width:60px;height:60px;background-color:#67CF22;position:absolute;top:50%;left:50%;margin:-30px 0 0 -30px;-webkit-animation:loading 1.2s infinite ease-in-out;}
@-webkit-keyframes loading {
0% { -webkit-transform: perspective(120px) }
50% { -webkit-transform: perspective(120px) rotateY(180deg) }
100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

/*音乐控制按钮*/
.audio-controls { cursor: pointer; width: 44px; height: 44px; position: absolute; top: 3%; right: 3%; background: url("../img/icons.png") no-repeat scroll 0 0; z-index:99;}
.on { 
-webkit-backface-visibility:visible;
-webkit-transform-origin:center center;
-webkit-animation:audio 2s 0s infinite linear normal none ;}
@-webkit-keyframes audio{
0%{
-webkit-transform:rotate(0deg);
} 100%{
-webkit-transform:rotate(360deg);
} 
}
/*滑动操作指示*/
.start {height: 80px; left: 50%; margin-left: -40px; margin-top: -40px;position: absolute;bottom: 1%; width: 80px; z-index:99; overflow: hidden;}
.start strong {display: block; width:50px; height: 28px; position: absolute; top: 50%; left: 50%; margin: -14px 0 0 -25px; background: url('../img/icons.png') no-repeat 0 -82px; animation: start 1.5s ease-in-out 0s infinite normal; -webkit-animation: start 1.5s ease-in-out 0s infinite normal;}
@keyframes start {
0%, 30% {opacity: 0;transform: translate3d(0, 15px, 0);
}
60% {pacity: 1;transform: translate3d(0, 5px, 0);
}
100% {opacity: 0;transform: translate3d(0, 0, 0);
}
}
@-webkit-keyframes start {
0%, 30% {opacity: 0;
 -webkit-transform: translate3d(0, 15px, 0);
}
60% {opacity: 1;-webkit-transform: translate3d(0, 5px, 0);
}
100% {opacity: 0;-webkit-transform: translate3d(0, 0, 0);
}
}
/**/
.swiper-slide {position: relative;}
.swiper-slide div{position: absolute;}
.swiper-slide div p {transition:all 2s ease-in-out 0s; -webkit-transition:all 2s ease-in-out 0s; opacity:0; }
.swiper-slide-active div p:nth-child(1) {transition:all 1.2s ease-in-out .1s; -webkit-transition:all 1.2s ease-in-out .1s;}
.swiper-slide-active div p:nth-child(2) {transition:all 1.2s ease-in-out .6s; -webkit-transition:all 1.2s ease-in-out .6s;}
.swiper-slide-active div p:nth-child(3) {transition:all 1.2s ease-in-out 1.1s; -webkit-transition:all 1.2s ease-in-out 1.1s;}
.swiper-slide-active div p:nth-child(4) {transition:all 1.2s ease-in-out 1.6s; -webkit-transition:all 1.2s ease-in-out 1.6s;}
.swiper-slide-active div p {opacity:1}