﻿@import url(/e/css/comm.css);
@import url(/e/css/focus.css);

/*网站基础样式*/
body,div,ul,li,dl,dd,table,p,h1,form,legend,fieldset,input button,select,textarea,button{margin:0px;padding:0px;font-family:inherit;font-size:inherit;}
ul,li{list-style:none;}
a{color:#333333;text-decoration:none;}
a:hover{color:#D98200;text-decoration:underline;}

body{word-wrap:break-word;text-align:center;font:12px/1.6em Verdana,Helvetica,Arial,sans-serif;color:#333333;}
.page_style{width:900px;margin:0px auto 0px auto;text-align:center;background-color:#ffffff;overflow:hidden;}
.left{float:left}
.right{float:right}
.clear{display:block;clear:both;font-size:0px;height:0px;line-height:0px;width:0px;margin:0px;padding:0px;overflow:hidden}

/*顶部及主菜单样式*/

.top_box{clear:both;width:100%;}
.top_box .logo{float:left;text-align:left;padding:5px 0 5px 0}
.top_box .topcontent{float:right;text-align:right;padding:5px 0 5px 0}
.menu_box{height:30px;text-align:left;background:url(images/menu_bg.gif) repeat-x 0 0;}

.menu_style_homepage{float:left;text-align:center;width:100px;}
.menu_style{float:left;text-align:center;width:100px;}

a.menu{display:block;width:100px;height:25px;color:#ffffff;font-size:12px;padding-top:5px;}
a.menu:hover{color:#ffffff;text-decoration:none;background:url(images/menu_style_over.gif) no-repeat 0 0;}

.menu_current a.menu{font-weight:bold;background:url(images/menu_style_over.gif) no-repeat 0 0;}

/*banner样式*/

.banner{clear:both;padding:0 0 0 0;padding:2px 0 5px 0;text-align:left;}
.smallbanner{clear:both;padding:0 0 0 0;padding:0 0 5px 0;text-align:left;}

/*网站主体框架样式*/

.main_box_style{clear:both;margin:3px 0 10px 0;height:100%;}

.main_box_style1{clear:both;margin:3px 0 0 0;height:100%;background:url(images/lanmu_style1_bg.jpg) repeat-y left top;overflow:hidden;}
.main_box_style1 .main_box_inner_left{float:left;width:210px;margin:0 10px 0 0;overflow:hidden;text-align:left;}
.main_box_style1 .main_box_inner_right{float:right;width:680px;margin:0 0 0 0;overflow:hidden;text-align:left;}

.main_box_style2{clear:both;margin:3px 0 0 0;overflow:hidden;height:100%;overflow:hidden;}
.main_box_style2 .main_box_inner_left{float:left;width:680px;margin:0 10px 0 0;overflow:hidden;text-align:left;}
.main_box_style2 .main_box_inner_right{float:right;width:210px;margin:0 0 0 0;padding:0 0 0 0;overflow:hidden;text-align:left;}

.main_box_style3{clear:both;margin:3px 0 10px 0;height:100%;overflow:hidden;}
.main_box_style3 .main_box_inner_left{float:left;width:210px;margin:0 10px 0 0;overflow:hidden;text-align:left;}
.main_box_style3 .main_box_inner_middle{float:left;width:470px;margin:0 0 0 0;overflow:hidden;text-align:left;}
.main_box_style3 .main_box_inner_right{float:right;width:210px;margin:0 0 0 10px;overflow:hidden;text-align:left;}

/*导航样式*/

.nav_box{clear:both;width:100%;margin:0 0 10px 0;overflow:hidden;}
.nav_sign{float:left;text-align:left;border:0 solid #BCD9F5;border-width:0 1px 0 0;width:80px;padding:4px 0 0 20px;color:#003060;font-size:12px;font-weight:bold;background:url(images/sign_bg.gif) repeat-x 0 0;overflow:hidden;}
.nav_more{float:right;padding:8px 10px 0 10px;margin:0 0 0 0;}
.nav_more a{font-size:10px;line-height:15px}
.nav_title{height:25px;text-align:left;background:url(images/title_bg.gif) repeat-x 0 0;border:0 solid #BCD9F5;border-width:1px 1px 0 1px;overflow:hidden;}
.nav_header{text-align:left;padding:0 0 0 0;margin:0 0 0 0}

.nav_content{margin:0 0 0 0;padding:5px 5px 5px 10px;text-align:left;border:1px solid #BCD9F5;}

.nav_menu{margin:0 0 0 0;padding:5px 0px 5px 0;text-align:left;border:1px solid #BCD9F5;}

.nav_menu li{clear:both;text-align:left;background:url(images/nav_menu_bg.gif) no-repeat 0 2px;padding:0 0 0 20px;}
.nav_menu li a{line-height:25px;}
.nav_menu li a.current{color:#D98200}

.nav_menu li ul li{text-align:left;background-image:none;padding:0 0 0 5px;}
.nav_menu li ul li a{display:inline;line-height:20px;}
.nav_menu li ul li a.current{color:#D98200}

.nav_menu ul li ul li ul{padding:0 0 0 15px;}
.nav_menu ul li ul li span.node{float:left;height:22px;width:15px;background:url(images/node_open.gif) no-repeat 0 0;cursor:pointer;}
.nav_menu ul li ul li span.node_close{float:left;height:22px;width:15px;background:url(images/node_close.gif) no-repeat 0 0;cursor:pointer;}
.nav_menu ul li ul li span{float:left;height:22px;width:15px;background:url(images/subnav.gif) no-repeat 0 0;}

/*模块样式*/
.module_box{clear:both;margin:0 0 8px 0;border:0 solid #cccccc;overflow:hidden;}                 /*模块整行布局样式*/
.module_box_layout_left{float:left;margin:0 0 8px 0;border:0 solid #cccccc;overflow:hidden;}  /*模块左布局样式*/
.module_box_layout_right{float:right;margin:0 0 8px 0;border:0 solid #cccccc;overflow:hidden;}   /*模块右布局样式*/

.module_box_inner{clear:both;text-align:center;overflow:hidden;height:100%;}/*整行内层样式*/
.module_box_layout_left .module_box_inner{clear:both;text-align:center;margin:0 10px 0 0;overflow:hidden;height:100%;} /*左内层样式*/

.module_title{clear:both;margin:0 0 0 0;height:25px;text-align:left;background:url(images/title_bg.gif) repeat-x 0 0;border:0 solid #BCD9F5;border-width:1px 1px 0 1px;}
.module_sign{float:left;border:0 solid #BCD9F5;border-width:0 1px 0 0;width:80px;height:21px;padding:4px 0 0 20px;font-weight:bold;background:url(images/sign_bg.gif) repeat-x 0 0;color:#003060;overflow:hidden}
.module_more{float:right;font-weight:normal;height:21px;padding:4px 10px 0 10px;}
.module_more a{font-size:11px;line-height:15px}
.module_header{text-align:left;padding:0 0 0 0;margin:0 0 0 0}

.module_content{margin:0 0 0 0;padding:5px 5px 5px 5px;text-align:left;border:1px solid #BCD9F5;}

.module_footer{clear:both;height:1px;overflow:hidden;background-color:#cccccc;display:none}
.module_footer .l{float:left;}
.module_footer .r{float:right}

/*子栏目样式*/
.lanmupage .current_location{display:none}
.current_location{clear:both;text-align:left;height:25px;border:1px solid #cccccc;border-width:0 0 1px 0}
.current_location_1{float:right;padding:5px 10px 0 0;}
.current_location_2{float:left;padding:5px 0 0 18px;font-weight:bold;background:url(images/site_icon.gif) no-repeat 2px 0px;}

.sublanmu_box{text-align:left;padding-bottom:10px;}
.sublanmu_content{padding:10px 10px 10px 10px;text-align:left;}
.sublanmu_content_introduct{line-height:2.0;font-size:1.1em}
.sublanmu_content_introduct p{margin-bottom:10px;min-height:10px}

.sublanmu_page{clear:both;text-align:center;margin:15px 0 10px 0;font-size:12px;font-family:宋体;}
.sublanmu_page a{vertical-align:middle;zoom:1;height:15px;line-height:15px;padding:2px 8px 3px 8px;border:1px solid #cccccc;}
.sublanmu_page span.c{padding:2px 2px 3px 2px;font-weight:bold;border:0px solid #cccccc;}
.sublanmu_page span{vertical-align:middle;zoom:1;height:15px;line-height:15px;padding:2px 8px 3px 8px;}


.sublanmu_pn{font-size:13px;margin:15px 0 5px 0}
.sublanmu_pn li{color:#D33506}

/*评论*/
.comments_box{text-align:left;border:1px solid #cccccc;margin:10px 0 10px 0;}
.comments_box .title{padding:2px 0 0 10px;height:20px;font-weight:bold;background-color:#ececec}
.comments_box ul li{padding:5px 0 5px 25px;}
.comments_box .textarea{width:520px;height:100px;border:1px solid #cccccc;border-color:#000000 #cccccc #cccccc #000000;}

.comments_list{padding:5px 0 0 0;border:0px solid #cccccc;overflow:hidden}
.comments_list .title{display:block;padding:2px 0 3px 5px;height:18px;width:100%;font-weight:bold;}
.comments_list .item{clear:both;margin:0 0 10px 0;overflow:hidden}
.comments_list .header{padding:3px 0 0 10px;height:22px;background-color:#eeeeee}
.comments_list .header .floornum{font-size:12px;font-style:Italic;font-weight:bold}
.comments_list .header .left{float:left}
.comments_list .header .right{float:right;padding-right:10px}
.comments_list .quote{display:block;color:#999999;padding:5px 5px 5px 10px;border:1px solid #ececec}
.comments_list .content{padding:5px 5px 5px 15px}
.comments_list .reply{background:url(public/reply.gif) no-repeat 5px 5px;border:1px dashed #cccccc;padding:2px 5px 2px 25px;margin:2px 0 5px 0;color:#D33506}

.comments_page{clear:both;vertical-align:middle;text-align:right;background-color:#ffffff;margin:10px 0 10px 0;font-family:宋体;}
.comments_page a{height:15px;line-height:15px;vertical-align:middle;zoom:1;padding:2px 8px 2px 8px;border:1px solid #cccccc;font-size:12px}
.comments_page span{height:15px;line-height:15px;vertical-align:middle;zoom:1;padding:2px 5px 2px 5px;font-size:12px}
.comments_page span.c{vertical-align:middle;padding:2px 3px 2px 3px;font-weight:bold;font-size:12px;}

/*bottom样式*/
.bottom_box{clear:both;padding:0 0 0 0;border:0 solid #666666;margin:0 0 5px 0;text-align:left;background:url(images/bottom_bg.jpg) repeat-x 0 0;width:100%;text-align:center;}
.bottom_box .bar{height:25px;padding:5px 0 0 0;color:#ffffff}
.bottom_box .bar a{color:#ffffff}

/*新版本幻灯片样式已经无效，请手动删除*/
.delete_slide_***box{position:relative;}
.delete_slide_***item{position:absolute;bottom:0px;right:0px;}
.delete_slide_***item li{float:left;width:22px;height:16px;overflow:hidden;background:url(public/f_off.gif) no-repeat;cursor:pointer;color:#fff;text-align:center;font-family:Arial;font-size:11px}
.delete_slide_***item li.current{background-image:url(public/f_on.gif)}
.delete_slide_***image{border:0 solid #cccccc;}
a.delete_slide_***title{font-weight:bold;margin:3px 0 2px 0;}


/*登陆界面*/
.loginbox_item{height:20px;padding:0 0 0 0;padding:0 5px 5px 0;text-align:left;font-size:9pt;}
.loginbox_textbox{width:100px;height:15px;border:1px solid #BCD9F5;}
.loginbox_textbox_yzm{width:40px;height:15px;border:1px solid #BCD9F5;}
.loginbox_submit{width:90px;height:20px;border:0 solid #333333;border-width:0 1px 1px 0;background-color:#dddddd;cursor:pointer;}
a.logined_href:link{font-size:9pt;color:#666666;text-decoration:underline}
a.logined_href:visited{font-size:9pt;color:#666666;text-decoration:underline}
a.logined_href:hover{font-size:9pt;color:#FF0000;text-decoration:underline}

/*问卷调查*/
.vote{width:95%;text-align:center;margin:0px auto 0px auto;}
.votetitle{height:25px;padding:5px 0px 0px 0;font-weight:bold;font-size:14px;border:1px dotted #cccccc;border-width:0 0 1px 0;}
.voteinfo{padding:2px 0 2px 0}
.vote .description{text-align:left;padding:10px 0 10x 0}
.vote .quesion{text-align:left;font-weight:bold;font-size:12px;padding:5px 0 0 0}
.vote .choice{text-align:left;padding:5px 0 0 5px}


/*其他样式*/
.textarea{border:1px solid #cccccc;border-color:#000000 #cccccc #cccccc #000000;}
.button{width:55px;font-size:9pt;height:19px;cursor:pointer;background-image:url(public/button.gif);background-position: center center;border-top: 0px outset #eeeeee;border-right: 0px outset #888888;border-bottom: 0px outset #888888;border-left: 0px outset #eeeeee;padding-top: 2px;background-repeat: repeat-x;}
.tb{border:1px solid #cccccc;border-color:#000000 #cccccc #cccccc #000000;}
.bt{height:22px;width:70px;font-size:9pt;background-image:url(public/bt.gif);padding-top:2px;cursor:pointer;border-width:0px;}
