{template 'common/header'}
{template 'common'}
<ul class="nav nav-tabs">
    <li><a href="{php echo $this->createWebUrl('manage');}">龙舟大赛活动管理</a></li>
    <li><a href="{php echo url('platform/reply/post',array('m'=>'weisrc_dragonboat'));}">添加龙舟大赛规则</a></li>
    <li{if $operation == 'display'} class="active"{/if}><a href="{php echo $this->createWebUrl('fanslist', array('op' => 'display', 'rid' => $rid))}">参与用户管理</a></li>
    <li{if $operation == 'post'} class="active"{/if}><a href="{php echo $this->createWebUrl('fanslist', array('id' => $item['id'], 'op' => 'post', 'rid' => $rid))}">添加用户</a></li>
</ul>
{if $operation == 'display'}
<div class="main">
    <div class="panel panel-default">
        <div class="panel-heading">
            活动概览
        </div>
        <div class="panel-body">
            <div class="alert" style="margin-bottom:0;">
                排名模式：{if $reply['mode'] == 0}单次距离{else}累积距离{/if}　　参与人数：{$total}
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">

            <div class="row-fluid">
                <div class="span8 control-group">
                    <a class="btn btn-default" data-toggle="tooltip" data-placement="top" href="{php echo url('platform/reply/post',array('m'=>'weisrc_dragonboat','rid'=> $rid));}" title="编辑"><i class="fa fa-edit"> 编辑活动</i></a> <a class="btn btn-success" href="{php echo $this->createWebUrl('fanslist', array('rid'=>$rid, 'op' => 'display','out_put' => 'output'))}"><i class="fa fa-file"></i> 导出数据</a>
                </div>
            </div>
        </div>
        <div style="position:relative">
            <div class="panel-body table-responsive">
                <table class="table table-hover" style="position:relative">
                    <thead class="navbar-inner">
                    <tr>
                        <th style="width: 10%;">排名</th>
                        <th style="width: 10%;">昵称</th>
                        <th style="width: 15%;">用户名</th>
                        <th style="width: 15%;">电话</th>
                        <th style="width: 10%;">单次距离</th>
                        <th style="width: 10%;">累计距离</th>
                        <th style="width: 15%;">参与时间</th>
                        <th style="width: 15%;">编辑/删除</th>
                    </tr>
                    </thead>
                    <tbody>
                    {loop $list $key $row}
                    {php $num = ($pindex -1)* $psize + $key + 1;}
                    <tr>
                        <td style="{if $num < 4}color:red{/if}">
                            {php echo $num;}
                        </td>
                        <td style="white-space:normal;">
                            <img src="{php echo tomedia($row['headimgurl']);}" width="50" onerror="this.src='resource/images/noavatar_middle.gif'" style="border-radius: 3px;"/>
                            <br>{$row['nickname']}
                        </td>
                        <td style="white-space:normal;">
                            {if !empty($row['username'])}{$row['username']}{else}未登记{/if}
                        </td>
                        <td>
                            {if !empty($row['tel'])}{$row['tel']}{else}未登记{/if}
                        </td>
                        <td>
                            {$row['credit']}米
                        </td>
                        <td>
                            {$row['totalcredit']}米
                        </td>
                        <td>{php echo date('Y/m/d H:i',$row['dateline']);}</td>
                        <td>
                            <a class="btn btn-default btn-sm" href="{php echo $this->createWebUrl('fanslist', array('id' => $row['id'], 'op' => 'post', 'rid' => $rid))}" title="编辑"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;
                            <a class="btn btn-default btn-sm" href="{php echo $this->createWebUrl('fanslist', array('id' => $row['id'], 'op' => 'delete', 'rid' => $rid))}" onclick="return confirm('此操作不可恢复，确认删除？');return false;" title="删除"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                    {/loop}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {$pager}
</div>
{elseif $operation == 'post'}
<div class="main">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" autocomplete = "off">
        <input type="hidden" name="parentid" value="{$parent['id']}" />
        <div class="panel panel-default">
            <div class="panel-heading">
                {$title}
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">openid</label>
                    <div class="col-sm-9">
                        {$item['from_user']}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">昵称</label>
                    <div class="col-sm-9">
                        <input type="text" id="nickname" name="nickname" class="form-control" value="{$item['nickname']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 头像</label>
                    <div class="col-sm-9 col-xs-12">
                        {php echo tpl_form_field_image('headimgurl',$item['headimgurl']);}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">姓名</label>
                    <div class="col-sm-9">
                        <input type="text" id="username" name="username" class="form-control" value="{$item['username']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">手机</label>
                    <div class="col-sm-9">
                        <input type="text" id="tel" name="tel" class="form-control" value="{$item['tel']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">单次距离</label>
                    <div class="col-sm-9">
                        <input type="text" id="credit" name="credit" class="form-control" value="{$item['credit']}" placeholder="" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">累计距离</label>
                    <div class="col-sm-9">
                        <input type="text" id="totalcredit" name="totalcredit" class="form-control" value="{$item['totalcredit']}" placeholder="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary col-lg-1" name="submit" value="提交">保存设置</button>
                <input type="hidden" name="token" value="{$_W['token']}" />
            </div>
        </div>
    </form>
</div>
{/if}
{template 'common/footer'}