{template 'common/header'}
{template 'common'}
<ul class="nav nav-tabs">
    <li><a href="{php echo $this->createWebUrl('manage');}">红包活动管理</a></li>
    <li><a href="{php echo url('platform/reply/post',array('m'=>'weisrc_dragonboat'));}">添加红包规则</a></li>
    <li><a href="{php echo $this->createWebUrl('fanslist', array('op' => 'display', 'rid' => $rid))}">用户管理</a></li>
    <li{if $operation == 'display'} class="active"{/if}><a href="{php echo $this->createWebUrl('salelog', array('op' => 'display', 'rid' => $rid))}">红包纪录管理</a></li>
    <!--<li{if $operation == 'post'} class="active"{/if}><a href="{php echo $this->createWebUrl('salelog', array('id' => $item['id'], 'op' => 'post', 'rid' => $rid))}">添加消费</a></li>-->
</ul>
{if $operation == 'display'}
<div class="main">
    <div class="panel panel-default">
        <div style="position:relative">
            <div class="panel-body table-responsive">
                <table class="table table-hover" style="position:relative">
                    <thead class="navbar-inner">
                    <tr>
                        <th style="width: 10%;">编号</th>
                        <th style="width: 55%;">纪录</th>
                        <th style="width: 20%;">操作时间</th>
                        <th style="width: 15%;">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {loop $list $row}
                    <tr>
                        <td>{$row['id']}</td>
                        <td style="white-space:normal;">
                            {if $row['logtype']==1}
                            抽中了{$row['total']}元红包
                            {elseif $row['logtype']==2}
                            兑换了{$row['total']}元红包
                            {elseif $row['logtype']==3}
                            {$row['opaccount_name']}送给您了{$row['total']}元红包
                            {elseif $row['logtype']==4}
                            送给{$row['opaccount_name']}{$row['total']}元红包
                            {/if}
                        </td>

                        <td>{php echo date('Y/m/d H:i',$row['dateline']);}</td>
                        <td>
                            <a class="btn btn-default btn-sm" href="{php echo $this->createWebUrl('record', array('id' => $row['id'], 'op' => 'delete', 'rid' => $rid))}" onclick="return confirm('此操作不可恢复，确认删除？');return false;" title="删除"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                    {/loop}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {$pager}
</div>
{/if}
{template 'common/footer'}