{template 'common/header'}
<style type="text/css">  
ul li{  
list-style-type:none; 
margin:0px;   
}
 
</style> 
<div class="modal-backdrop fade in" id="blackgroup" style="z-index:2;display:none;">
</div> 
<div  id="ppr" style="display:none;z-index:10;position:absolute;top:38%;left:25%;padding: 10px; border: 1px solid gray; background: #EAEAEA; width:532px;height:55px">
    <div style="padding: 0; background-color: white; border: 1px solid navy; width: 502px;margin-left:4px">
      <div id="progress" style="padding: 0; background-color: #FFCC66; border: 0; width: 0px; text-align: center; height: 16px">
      </div>
    </div>
    <div id="status" style="text-align: center;">正在生成二维码,请稍后..</div>
    <div id="percent"
      style="position: relative;top:-38px; text-align: center; font-weight: bold; font-size: 8pt">0%</div>
</div> 
<div  id="rar" class="form-control" style="display:none;z-index:10;position:absolute;top:38%;left:25%;padding: 10px; border: 1px solid gray; background: #EAEAEA; width:532px;height:40px">
    
    <div id="status" style="text-align: center;">正在压缩,请稍后..</div>
</div> 
<div class="main">
<ul class="nav nav-tabs">
	<li class="active"><a href="{php echo $this->createWebUrl('list');}">防伪码列表</a></li>
	{if $_W['isfounder']}
	<li><a href="{php echo $this->createWebUrl('create');}">生成防伪码</a></li>
	 <li><a href="{php echo $this->createWebUrl('insert');}">数据导入</a></li>
	{/if}
	<li><a href="{php echo $this->createWebUrl('logs');}">查询记录</a></li>
</ul>
	<div class="panel panel-info">
		<div class="panel-heading">筛选</div>
		<div class="panel-body">
			<form action="" method="post" class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">防伪码</label>
				<div class="col-sm-4">
					<input class="form-control" name="code" id="" type="text" value="{php echo $code;}">
				</div>
			<!--  	<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">防伪码前缀</label>
				<div class="col-sm-4">
					<input class="form-control" name="sStr" id="" type="text" value="{php echo $_GPC['sStr'];}">
				</div>-->
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">组号</label>
				<div class="col-sm-4">
					<input class="form-control" name="gnum" id="" type="text" value="{php echo $_GPC['gnum'];}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-13 col-sm-2 col-md-2 col-lg-1 control-label">产品名称</label>
				<div class="col-sm-4">
					<input class="form-control" name="sName" id="" type="text" value="{php echo $_GPC['sName'];}">
				</div>
				<label class="col-xs-13 col-sm-2 col-md-2 col-lg-1 control-label">产品品牌</label>
				<div class="col-sm-4">
					<input class="form-control" name="sBrand" id="" type="text" value="{php echo $_GPC['sBrand'];}">
				</div>
					
			</div>
            <div class="form-group">
				<label class="col-xs-13 col-sm-2 col-md-2 col-lg-1 control-label">规格参数</label>
				<div class="col-sm-4">
					<input class="form-control" name="sSpec" id="" type="text" value="{php echo $_GPC['sSpec'];}">
				</div>
				<label class="col-xs-13 col-sm-2 col-md-2 col-lg-1 control-label">产品重量</label>
				<div class="col-sm-4">
					<input class="form-control" name="sWeight" id="" type="text" value="{php echo $_GPC['sWeight'];}">
				</div>
					
			</div>  
            <div class="form-group">
				<label class="col-xs-13 col-sm-2 col-md-2 col-lg-1 control-label">生产厂家</label>
				<div class="col-sm-4">
					<input class="form-control" name="sFactory" id="" type="text" value="{php echo $_GPC['sFactory'];}">
				</div>
				<label class="col-xs-13 col-sm-2 col-md-2 col-lg-1 control-label">备注</label>
				<div class="col-sm-4">
					<input class="form-control" name="sRemarks" id="" type="text" value="{php echo $_GPC['sRemarks'];}">
				</div>
			</div>
			<!--  <div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">积分类型</label>
				<div class="col-sm-4">
					<input class="form-control" name="creditname" id="" type="text" value="{php echo $creditname;}">
				</div>
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">积分状态</label>
				<div class="col-sm-4">
					<input name="creditstatus" id="" type="radio" value="0" {if $creditstatus == 0}checked{/if}> 未发放
					<input name="creditstatus" id="" type="radio" value="1" {if $creditstatus == 1}checked{/if}> 已发放
				</div>
			</div>-->
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">生成时间</label>
				<div class="col-sm-4">
					{php echo tpl_form_field_daterange('createtime', array('start'=>date('Y-m-d',$c_s),'end'=>date('Y-m-d',$c_e)), true)}
				</div>
			</div>
			<div class="form_group">
				<input type="submit" class="btn btn-primary" name="submit" value="查询" style="margin-right:17%;float: right;"/>
{if $_W['isfounder']}
                {if false}	<input type="submit" class="btn btn-primary" style="float: right; margin-right: 17%;" name="download" value="下载二维码" />{/if}
				<input type="submit" class="btn btn-primary" style="float: left;margin-left:20px" name="submit2" value="导出excel" />
{/if}
				<input name="token" type="hidden" value="{$_W['token']}" />
			</div>
			</form>
		</div>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading">生成和下载</div>
		<div class="panel-body">
		<div class="form-group" >
				<a class="btn btn-primary" onclick="ctewei(0,{$total})">生成二维码</a><span style="color:red">（生成当前搜索出来的）</span>
				<div class="col-sm-4">
					<input type="text" class="form-control" name="eweiname" id="eweiname" placeholder="请输入生成二维码文件名字" onblur="checkname(this)"/>
				</div>
		    </div> 
		    <div class="form-group" style="margin-top:10px">
				<a class="btn btn-primary" id="ddewei" onclick="erdown();return false;">下载二维码</a>
				<div class="col-sm-4">
					<select class="form-control" name="eweidown" id="eweidown">
					{loop $eweifile $key $edown}
					<option value={$key}>{$edown}</option>
					{/loop}
					
					</select>
				</div>
					
		</div> 
		</div>
	</div>
	<div style="padding:15px;">
		<form action="" method="post">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th style="width:5px;" class="row-first">选择</th>
					<th align="center" style="width:30px;text-align:center;">ID</th>
					<th align="center" style="width:60px;text-align:center;">是否出货</th>
					<th align="center" style="width:150px;text-align:center;">订单编号</th>
                    <th align="center" style="width:110px;text-align:center;">防伪码</th>
                    <th align="center" style="width:20px;text-align:center;">组号</th>
					<th align="center" style="width:80px;text-align:center;">产品名称</th>
					<th align="center" style="width:40px;text-align:center;">产品品牌</th>
				<!--	<th align="center" style="width:40px;text-align:center;">规格参数</th>
					<th align="center" style="width:40px;text-align:center;">产品重量</th>-->
					<th align="center" style="width:70px;text-align:center;">生产厂家</th>
					<th align="center" style="width:60px;text-align:center;">备注</th>
				<!--  	<th align="center" style="width:40px;text-align:center;">积分类型</th>
					<th align="center" style="width:40px;text-align:center;">积分数</th>
					<th align="center" style="width:40px;text-align:center;">积分状态</th>
					<th align="center" style="width:60px;text-align:center;">有效日期</th>-->
					<th align="center" style="width:60px;text-align:center;">生成日期</th>
					<th align="center" style="width:40px;text-align:center;">二维码</th>
					<th align="center" style="width:40px;text-align:center;">查询次数</th>
					<th style="width:100px;text-align:center;">操作</th>
				</tr>
			</thead>
			<tbody>
				{loop $list $row}
					<tr>
						<td class="row-first"><input type="checkbox" name="select[]" value="{$row['id']}" /></td>
						<td align="center" style="text-align:center;">{$row['id']}</td>
						<td align="center" style="text-align:center;">{php echo empty($row['usestatus'])?'未出货':date('Y-m-d', $row['usetime'])}</td>
						<td align="center" style="text-align:center;">{$row['ordersn']}</td>
                        <td align="center" style="text-align:center;">{$row['code']}</td>
                        <td align="center" style="text-align:center;">{$row['gnum']}</td>
						<td align="center" style="font-size:12px; color:#666;text-align:center;">{$row['type']}</td>
						<td align="center" style="font-size:12px; color:#666;text-align:center;">{$row['brand']}</td>
						<!--<td align="center" style="font-size:12px; color:#666;text-align:center;">{$row['spec']}</td>
						<td align="center" style="font-size:12px; color:#666;text-align:center;">{$row['weight']}</td>-->
						<td align="center" style="font-size:12px; color:#666; text-align:center;">{$row['factory']}</td>
						<td align="center" style="font-size:12px; color:#666; text-align:center;">{$row['remarks']}</td>
						<!--  <td align="center" style="font-size:12px; color:#666; text-align:center;">{$row['creditname']}</td>
						<td align="center" style="font-size:12px; color:#666; text-align:center;">{$row['creditnum']}</td>
						<td align="center" style="font-size:12px; color:#666; text-align:center;">{if $row['creditstatus'] == 1}已发放{else}未发放{/if}</td>-->
						<td align="center" style="font-size:12px; color:#666; text-align:center;">{php echo date('Y-m-d', $row['createtime'])}</td>
						<td align="center" style="font-size:12px; color:#666; text-align:center;"><a href="{php echo './index.php?c=platform&a=url2qr&do=qr&url='.  $row['url'];  }" target=_blank><img src="{php echo './index.php?c=platform&a=url2qr&do=qr&url='.  $row['url'] ; }"  width=20 /></td>
						<td align="center" style="font-size:12px; color:#666; text-align:center;">{$row['num']}</td>
						<td style="text-align:center;">
                        	<a href="{php echo $this->createWebUrl('Frozen',array('id'=>$row['id']));}" onclick="return confirm('更改为冻结状态后不可恢复,确定要设为冻结状态?')" >冻结查询</a>|<a href="{php echo $this->createWebUrl('Delete',array('id'=>$row['id']));}" onclick="return confirm('删除记录后不可恢复,确定要删除吗?')" >删除记录</a>
                        </td>
					</tr>
				{/loop}
					<tr>
						<td><input type="checkbox" id="checkall" onclick="var ck = this.checked;$(':checkbox').each(function(){this.checked = ck});"></td>
						<td colspan="10">
							<input name="Deleteall" class="btn btn-primary" value="删除" type="submit"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input name="Frozenall" class="btn btn-primary" value="冻结" type="submit"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</td>
					</tr>
			</tbody>
		</table>
	</form>
		{$pager}
	</div>
</div>
<script>
function erdown(){
	eweidown=$("#eweidown").find("option:selected").text();	
	if(eweidown==undefined){
		alert("请选择一个下载");	
		return false;
	}	
	else
	{	
		hurl="{php echo $this->createWebUrl('erdown');}";
		window.location=hurl+"&eweidown="+eweidown;
	}
}
function checkname(name)
{
	ewei=$(name).val();
	if (ewei.replace(/(^\s*)|(\s*$)/g, "").length ==0)
	{
	    alert('二维码文件名字为空，或都是空格');
	 //   $("#eweiname").focus();
	    return false;
	}
	$.get("{php echo $this->createWebUrl('check');}",{ewei:ewei},function(data){
		if(data==1)
		{
			$(name).val('');
		//	$(name).focus();
			alert('该名字已存在!');
		}
	});
}
function updateProgress(iWidth) 
{ 
 document.getElementById("progress").style.width = iWidth.toFixed(2)*5 + "px"; 
 document.getElementById("percent").innerHTML = iWidth.toFixed(2) + "%"; 
 } 
 function clear(key,val)
 {
	updateProgress(0);
	//$("#blackgroup").css("display","none");
	$("#ppr").css("display","none");
	$("#rar").css("display","block");
	$("#eweidown").append("<option value="+key+">"+val+"</option>");
	$.post("{php echo $this->createWebUrl('edown');}",{eweidown:val},function(ret){	
			if(ret==1)
			{
				alert("压缩完成！");
				$("#blackgroup").css("display","none");
				$("#rar").css("display","none");
			}
			else
			{
				alert(ret);
				$("#blackgroup").css("display","none");
				$("#rar").css("display","none");
			}
		});
	
 }
function ctewei(num,sum)
{ 
	eweiname=$("#eweiname").val();
	if(num==0){
		if (eweiname.replace(/(^\s*)|(\s*$)/g, "").length ==0)
		{
	    	alert('二维码文件名字为空，或都是空格');
	   	// $("#eweiname").focus();
	    	return false;
		}
		$("#blackgroup").css("display","block");
		$("#ppr").css("display","block");
	}
	code    =$("input[name=code]").val();
	gnum    =$("input[name=gnum]").val();
	sName   =$("input[name=sName]").val();
	sBrand  =$("input[name=sBrand]").val();
	sSpec   =$("input[name=sSpec]").val();
	sWeight =$("input[name=sWeight]").val();
	sFactory=$("input[name=sFactory]").val();
	sRemarks=$("input[name=sRemarks]").val();
    timestart=$('input[name="createtime[start]"]').val();
	timeend=$('input[name="createtime[end]"]').val();
	$.post("{php echo $this->createWebUrl('list');}",{eweiname:eweiname,sum:sum,num:num,code:code,gnum:gnum,sName:sName,sBrand:sBrand,sSpec:sSpec,sWeight:sWeight,
		sFactory:sFactory,sRemarks:sRemarks,timestart:timestart,timeend:timeend,create:"ewei"},function(ret){	
			if(ret.data==-1)
			{
				updateProgress(100);
				clear(ret.key,ret.val);
			}
			else{
				percent=(ret.kk*ret.data*100)/sum;
				updateProgress(percent);
				ctewei(ret.data,sum);			
			}
		},"json");
    
	
}
</script>
{template 'common/footer'}