.page.spacing {
  margin: 0 .15rem;
}
.page.button {
  margin-top: .64rem;
}
.weui_cells {
  margin-top: 0;
}
.weui_toast {
  width: 1.8rem;
  min-height: 1.8rem;
  margin-left: -0.9rem;
  font-size: .24rem;
}
.weui_cells .weui_label {
  width: 1.6rem;
}
