		</div>
		<script type="text/javascript">
			require(['bootstrap']);
			{if $_W['uid']}
				function checknotice() {
					$.post("{php echo url('utility/notice')}", {}, function(data){
						var data = $.parseJSON(data);
						$('#notice-container').html(data.notices);
						$('#notice-total').html(data.total);
						if(data.total > 0) {
							$('#notice-total').css('background', '#ff9900');
						} else {
							$('#notice-total').css('background', '');
						}
						setTimeout(checknotice, 60000);
					});
				}
				checknotice();
			{/if}
		</script>
		<div class="container-fluid footer" role="footer">
			<div class="page-header"></div>
			<span class="pull-left">
				<p>{if empty($_W['setting']['copyright']['footerleft'])}Powered by <a href="http://gxxsh.com.cn"><b>学晟惠</b></a> v{IMS_VERSION} &copy; 2014-2015 <a href="http://gxxsh.com.cn">gxxsh.com.cn</a>{else}{$_W['setting']['copyright']['footerleft']}{/if}</p>
			</span>
			<span class="pull-right">
				<p>{if empty($_W['setting']['copyright']['footerright'])}<a href="http://gxxsh.com.cn">关于学晟惠</a>&nbsp;&nbsp;<a href="http://mallgxxsh">学晟惠论坛</a>&nbsp;&nbsp;<a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzgwMDA4MzA3NV8zMDk2MDdfODAwMDgzMDc1XzJf">联系客服</a>{else}{$_W['setting']['copyright']['footerright']}{/if}{if !empty($_W['setting']['copyright']['statcode'])}&nbsp; &nbsp; {$_W['setting']['copyright']['statcode']}{/if}</p>
			</span>
		</div>
	</body>
</html>
