
<div class="box2">
	<ul class="box2_bt">
    	<li style="font-size:24px">Industy&nbsp;Case&nbsp;Series</li>
        <li class="bj">行业案列</li>
    </ul>
   <ul class="btxia">
    	<li id="box1" >
            <a onclick="oiswitch(1)"><img src="images/box2_2_1.png" id="picture"></a>
            <p id="solu">解决方案</p>
        </li>
        <li id="box2" class="bter">
        	<a onclick="oiswitch(2)"><img src="images/box2_2_2.png" id="pictures"></a>
            <p id="solus">行业案列</p>
        </li>
    </ul>
    
    <div class="xt"></div>
    
    <ul class="buttom">
    	</li>
               <li class="current_buttom">
        	<div class="first">
            <a onclick="change(this)" alt=1  id="industrya">分销进销存</a>
            </div>
            <div class="firsts">
            </div>	
        </li>
         <li>      	
        	<div class="first_c first">
            <a onclick="change(this)" alt=2  id="industryb">个体也有大作为</a>
            </div>
            <div class="firsts">
            </div>	
        </li>
        <li>      	
        	<div class="first_c first">
            <a onclick="change(this)" alt=3  id="industryc">零售业的O2O</a>
            </div>
            <div class="firsts">
            </div>	
       	<li>      	
        	<div class="first_c first">
            <a onclick="change(this)" alt=4  id="industryd">线上分销</a>
            </div>
            <div class="firsts">
            </div>	
        </li>
        <li>      	
        	<div class="first_c first">
            <a onclick="change(this)" alt=5  id="industrye">移动官网</a>
            </div>
            <div class="firsts">
            </div>	
        </li>
    </ul>
    
    <div class="line" style="margin-right:-135px;width:1065px">
   <div class="right"  id="industry1" name="rdown">
        <h5>分销进销存</h5>
        <div class="picture">
			<img src="images/images/industry_case_series_a_05.jpg"/>
            <img src="images/images/industry_case_series_a_06.jpg"/>
            <img src="images/images/industry_case_series_a_07.jpg"/>
            <img src="images/images/industry_case_series_a_08.jpg"/>
            <img src="images/images/industry_case_series_a_09.jpg"/>
            <img src="images/images/industry_case_series_a_10.jpg"/>
        </div>
    </div>
    <div class="right"  id="industry2" name="rdown">
        <div class="picture">
        	<img src="images/images/industry_case_series_b_03.jpg"/>
            <img src="images/images/industry_case_series_b_05.jpg"/>
            <img src="images/images/industry_case_series_b_06.jpg"/>
            <img src="images/images/industry_case_series_b_07.jpg"/>
            <img src="images/images/industry_case_series_b_08.jpg"/>
            <img src="images/images/industry_case_series_b_09.jpg"/>
        </div>
    </div>
	<div class="right"  id="industry3" name="rdown">
        <div class="picture">
        	<img src="images/images/industry_case_series_c_03.jpg"/>
            <img src="images/images/industry_case_series_c_05.jpg"/>
            <img src="images/images/industry_case_series_c_06.jpg"/>
            <img src="images/images/industry_case_series_c_07.jpg"/>
            <img src="images/images/industry_case_series_c_08.jpg"/>
            <img src="images/images/industry_case_series_c_09.jpg"/>
            <img src="images/images/industry_case_series_c_10.jpg"/>
        </div>
    </div>	
	<div class="right"  id="industry4" name="rdown">
        <h5>线上分销</h5>
        <div class="picture">
        <img src="images/images/industry_case_series_03.jpg"/>
        <img src="images/images/industry_case_series_05.jpg"/>
		<img src="images/images/industry_case_series_06.jpg"/>
        <img src="images/images/industry_case_series_07.jpg"/>
        <img src="images/images/industry_case_series_08.jpg"/>
        </div>
    </div>
	<div class="right"  id="industry5" name="rdown">
        <div class="picture">
        <img src="images/images/industry_case_series_e_03.jpg"/>
        <img src="images/images/industry_case_series_e_05.jpg"/>
		<img src="images/images/industry_case_series_e_07.jpg"/>
        <img src="images/images/industry_case_series_e_09.jpg"/>
        <img src="images/images/industry_case_series_e_10.jpg"/>
        <img src="images/images/industry_case_series_e_11.jpg"/>
        </div>
    </div>
</div>
<!--板块结束-->
