<div class="b_bottom">
    <ul class="b_nav">
        <li class="left">
            <a href="index.html"><img src="images/bottom-logo.jpg"></a>
            <h6 class="logo_name">广州学晟惠信息科技有限公司</h6>
            <p class="e_name">Guangzhou Hui Sheng Information Technology Co. Ltd.</p>
        </li>
        <li class="central">
            <ul class="b_dh">
                <li class="mo"><a href="about_us.html">关于我们</a></li>
                <li><a href="contact_us.html">联系我们</a></li>
                <li><a href="javascript:">人才招牌</a></li>
                <li><a href="javascript:">付款方式</a></li>
                <li><a href="contact_us.html">网站地图</a></li>
            </ul>
            <div></div>
            <div class="c_central">
            	<img src="images/bottom_03.png"/>
                <img src="images/bottom_04.png" class="fr"/>
            </div>
            <p class="copyright">广州市学晟惠信息科技有限公司Copyright@学晟惠</p>
        </li>
        <li class="right fr">
        	<img src="images/bottom-02.jpg"/>
            <p>微信扫一扫<p><p>50万零售商共同关注</p>
        </li>
	</ul>
</div>
<script type="text/javascript">
function message()
{
	alert("暂无内容,敬请期待!");
}
</script>