<!--头部开始-->
<div class="top">
	<div class="nav">
    	<a href="index.html"><img src="images/logo.jpg" class="fl"/>
        </a>
        <div class="right">
            <div class="login">
                <span class="text"><a href="http://mall.gxxsh.com.cn/web/index.php?c=user&a=login&">后台登录</a></span>
                <span class="text">|</span>
                <span class="text"><a href="http://mall.gxxsh.com.cn/web/index.php?c=user&a=register&">免费使用</a></span>
				<span class="text">|</span>
                <span class="text"><a href="/index.html">返回首页</a></span>
            </div>
            <div id="BOX">
                <ul id="rightBox">
                    <li class="noe">
                        <a href="about_us.html">关于我们</a>
                    </li>
                     <li class="noe">
                        <a onclick="message()">商家入驻</a>
                    </li>
                    <li class="noe">
                        <a href="channel_investment_a.html?ty=chana">渠道招商</a>
					
					<!--	<ul class="hidden">
                             <li onclick="javascript:document.getElementById('cb').click();"><a id='cb' href="channel_investment_a.html?ty=chanb">校园大使</a></li>
                             <li onclick="javascript:document.getElementById('cc').click();"><a id='cc' href="channel_investment_a.html?ty=chanc">驾校代理</a></li>
							 <li onclick="javascript:document.getElementById('cd').click();"><a id='cd' href="channel_investment_a.html?ty=chand">移动流量代理</a></li>
							 <li onclick="javascript:document.getElementById('ce').click();"><a id='ce' href="channel_investment_a.html?ty=chane">产品经理</a></li>
							 <li onclick="javascript:document.getElementById('cf').click();"><a id='cf' href="channel_investment_a.html?ty=chanf">Andriod开发</a></li>
							 <li onclick="javascript:document.getElementById('cg').click();"><a id='cg' href="channel_investment_a.html?ty=chang">web前端开发</a></li>
							 <li onclick="javascript:document.getElementById('ch').click();"><a id='ch' href="channel_investment_a.html?ty=chanh">旅游代理</a></li>
							 <li onclick="javascript:document.getElementById('ci').click();"><a id='ci'href="channel_investment_a.html?ty=chani">IOS开发工程师</a></li>
                        </ul>-->
                    </li>
                    <li class="noe">
                        <a onclick="message()">服务套餐</a>
                    </li>
                    <li class="noe">
                        <a href="olution_column_a.html?ty=olutiona">解决方案</a>
                        <ul class="hidden">
                             <li onclick="javascript:document.getElementById('oa').click();"><a id='oa' href="olution_column_a.html?ty=olutiona">买菜不用钱</a></li>
                             <li onclick="javascript:document.getElementById('ob').click();"><a id='ob' href="olution_column_a.html?ty=olutionb">客户兼导游</a></li>
                             <li onclick="javascript:document.getElementById('oc').click();"><a id='oc' href="olution_column_a.html?ty=olutionc">手机更靠谱</a></li>
                             <li onclick="javascript:document.getElementById('od').click();"><a id='od' href="olution_column_a.html?ty=olutiond">摆脱“绑”购</a></li>
                        </ul>
                    </li>
                    <li class="noe">
                       <a href="product_introduction_a.html?ty=producta">产品介绍</a>
                        <ul class="hidden">
                             <li onclick="javascript:document.getElementById('pa').click();"><a id='pa' href="product_introduction_a.html?ty=producta">三级分销店</a></li>
                             <li onclick="javascript:document.getElementById('pb').click();"><a id='pb' href="product_introduction_a.html?ty=productb">微信团购</a></li>
                             <li onclick="javascript:document.getElementById('pc').click();"><a id='pc' href="product_introduction_a.html?ty=productc">会员系统</a></li>
                             <li onclick="javascript:document.getElementById('pd').click();"><a id='pd' href="product_introduction_a.html?ty=productd">POS收银机</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--头部结束-->

<!--banner开始-->
<div class="banner">
	
</div>
<!--banner结束-->