{template 'common/header'}
<title>卡券兑换</title>
        <div ><img src="../addons/ewei_shop/static/images/head.jpg" alt="线下兑换券" width="100%"></div>
        <div class="exchange" style="margin-top:10px;margin-bottom:25px;" >
            <div style="width:100%; position:relative;"><img src="../addons/ewei_shop/static/images/exchange.jpg" width="100%">
                <div style="position:absolute; top:20%; left:0; width:100%;">
                    <dl>
                        <dt>
                                <input type="text" placeholder="请输入您的券码" name="boline" class="exchange_input_1" id="pwd" >
                                <input type="submit" value="立即领取" class="exchange_input_2" id="tijiao">
                        </dt>
						<dd style="min-height: 200px;">
                            <h2>兑换说明</h2>
                            <div class="txt">活动时间：按卡券背面的有效期使用。</div>
                            <div class="txt" style="padding-top: 9px;">注意：最终解释权由活动举办方所有！</div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
  <script type="text/javascript">
		 require(['tpl', 'core'], function(tpl, core) {
           $("#tijiao").click(function(){
            var boline=$("#pwd").val();
           /*boline   =   boline.replace(/\s+/g,"");
            if(boline.length !== 8){
				core.tip.show('请输入正确的券码');
				return false;
            }*/
			if(boline=='')
			{
				core.tip.show('请输入正确的券码');
				return false;
			}
			else{  
				core.json('shop/exchange',{pwd:boline}, function(create_json) {				
                if (create_json.status == 1) {
                    location.href = "{php echo $this->createMobileUrl('order/confirm')}&id="+create_json.result.goodsid+"&optionid=&total=1&cardid="+create_json.result.id+"cardmoney="+create_json.result.cdmoney;
                }  
                if(create_json.status == 2) {
                    core.tip.show(create_json.result.message);
                }
            }, true, true);
			}
           });
		});
  </script>
{php $show_footer=true;$footer_current ='first'}
{template 'common/footer'}