{template 'common/header'}
<title>经销商订单</title>
<style type="text/css">
body {margin:0px; background:#f8f8f8; -moz-appearance:none;}
.favorite_no {height:40px;  padding-top:100px; margin:50px 0px;}

.favorite_top {height:44px; background:#f8f8f8; padding:0px 3%; border-bottom:1px solid #e3e3e3;}
.favorite_top .title {height:44px; width:auto; float:left; font-size:16px; line-height:44px; color:#666;}
.favorite_top .nav {height:30px; width:auto; background:#fff; padding:0px 10px; border:1px solid #e3e3e3; border-radius:5px; float:right; line-height:30px; margin:6px 0px 0px 16px; color:#666; font-size:14px;}
.favorite_main {height:auto; width:100%;background:#fff; border-bottom:1px solid #e3e3e3;}
.favorite_good {height:80px; width:100%; padding:10px 0px; border-bottom:1px solid #e3e3e3;}
.favorite_good .ico {margin-left:3px;height:20px; width:3px;  float:left ; font-size:24px;margin-top:25px;color:#666;z-index:2;position: relative;}
.favorite_good .img {height:80px; width:80px; background:#f99; float:left;z-index:2;position: relative;}
.favorite_good .img img {height:100%; width:100%}
.favorite_good .info {height:80px; width:100%; float:left;margin-left:-120px;margin-right:-30px;position: relative;}
.favorite_good .info .inner {margin-left:130px;margin-right:30px;}
.favorite_good .info .inner .name {height:30px; width:100%; line-height:20px; color:#666; overflow:hidden; font-size:14px;font-size:14px;white-space: nowrap;text-overflow:ellipsis;}
.favorite_good .info .inner .other {height:25px; width:100%; }
.favorite_good .info .inner .other .price {height:25px; width:auto; float:left; line-height:30px; font-size:14px; color:#666; overflow:hidden; color:red;}
.favorite_good .info .inner .other .price span {color:#666;font-size:12px;}
.favorite_good .right { float:right;width:90px;height:20px;margin-left:-90px; font-size:14px;margin-top:40px;text-align:center;z-index:2;position: relative;}
.favorite_no {height:100px; width:100%; margin:50px 0px 60px; color:#ccc; font-size:12px; text-align:center;}
.favorite_no_menu {height:40px; width:100%;}
.favorite_no_nav {height:38px; width:43%; background:#eee;  border:1px solid #d4d4d4; border-radius:5px; text-align:center; line-height:38px; color:#666;}
#favorite_loading { padding:10px;color:#666;text-align: center;}
.form-control { 
	width:180px;
    height: 28px;
	
    font-size: 12px;
	margin-left:5px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.favorite_top .tname{height:44px; width:100%;text-align:center;font-size:16px; line-height:44px; color:#666;}
.newtop{background-color:#53ff53}
.right a{display:block;width:90px;line-height:28px;background-color:#1E90FF;text-align:center;border-radius:5px}
.downprice{width:100%;text-align:center;font-size:14px;background-color:#eee}
.downwhite{background-color:#fff}
</style>
<div id='container'></div>
<script id='favorite_empty' type='text/html'>
     <div class="favorite_no"><i class="fa fa-favorite" style="font-size:100px;"></i><br><span style="line-height:18px; font-size:16px;">您没有授权代理商品</span><br>快去联系客服获取吧</div>
<div class="favorite_no_menu">
    <div class="favorite_no_nav" onclick="location.href='{php echo $this->createMobileUrl('shop/category')}'">我要订货</div>
     {if false}   <div class="favorite_no_nav"  onclick="location.href='{php echo $this->getUrl()}'">去逛逛</div>{/if}
 </div>
</script>

<script id="favorite_main" type="text/html">
	  <div class="favorite_top newtop" >
	  <div class="title" onclick='history.back()'> <i class='fa fa-chevron-left'></i></div>
        <div class="tname" > 
			我的订货价格
		</div>		
    </div>
      <div class="favorite_top">

        <div class="title" > 品牌分类:
		<select id="pickcate" class="form-control" onchange="pick()">
		<option value=0 {if empty($_GPC['ccate'])}selected{/if}>全部</option>
		 <%each cauth as value%> 
		 <option value=<%value.goodsid%> <%if value.goodsid==ccate%>selected<%/if%> ><%value.title%></option>
		 <%/each%>
		</select>
		</div>
		
    </div>
    <div class="favorite_main"></div>
</script>
<script id='favorite_list' type='text/html'>
   
  
        <%each list as value%> 
        <div class="favorite_good" data-favoriteid="<%value.id%>" sel='0'>
           <div class="ico"></div>
            <div class="img" ><img src="<%value.thumb%>"/></div>
            <div class="info" >
                <div class="inner">
                    <div class="name"><%value.title%></div>
					  <div class="other">					  
                             <div class="price"><span >品牌:<%value.ctitle%></span> </div>
                      </div>
                      <div class="other">					  
                             <div class="price"><span >单价:</span>￥<%value.price%> </div>
                      </div>
                </div>
            </div>
	
{if false}	<div class="right">
				<a href="{php echo $this->createPluginMobileUrl('poster/build')}&openid={$openid}&gid=<%value.goodsid%>">下级代理价</a>
            </div>
        </div>
		<div class="downprice">
			代理价格表
        </div>
        </div>
		<table class="downprice">
		{php $k=2}
		{loop $levels $ls}
		<tr {if $k%2==0}class="downwhite"{/if}>
		<td>{$ls['levelname']}</td>
		<%each disgoods as dsg%> 
		<td>dsg</td>
		<%/each%>
		</tr>
		{php $k++}
		{/loop}
		</table>
{/if}
      <%/each%>
 
</script>
<script language='javascript'>
    var page= 1;
	function pick()
	{
		val=$("#pickcate option:selected").val();
		location.href= "{php echo $this->createMobileUrl('shop/price')}&ccate="+val;
	}
    require(['tpl', 'core'], function(tpl, core) {
		ccate={php echo empty($_GPC['ccate'])?0:$_GPC['ccate']};
		downprice={php echo empty($_GPC['downprice'])?0:$_GPC['downprice']};
        core.json('shop/price',{ccate:ccate,downprice:downprice},function(json){
                              
                    if(json.result.total<=0){
                        $('#container').html(  tpl('favorite_empty') );
                         return;
                     }
                     
                     $('#container').html(  tpl('favorite_main',json.result) );
                 
                     $('#removefavorite').click(function(){
                            var ids = [];
                            $('.favorite_good[sel=1]').each(function(){
                                ids.push($(this).data('favoriteid')) ;
                            });
                            removeFavorite(ids);
                     });
                     
                     
                     $('.favorite_main').html(  tpl('favorite_list',json.result) );
                
              
                    var loaded = false;
                      var stop=true; 
                      $(window).scroll(function(){ 
                          if(loaded){
                              return;
                          }
                            totalheight = parseFloat($(window).height()) + parseFloat($(window).scrollTop()); 
                            if($(document).height() <= totalheight){ 
                                
                                if(stop==true){ 
                                    stop=false; 
                                    $('.favorite_main').append('<div id="favorite_loading"><i class="fa fa-spinner fa-spin"></i> 正在加载...</div>');
                                    page++;
									ccate={php echo empty($_GPC['ccate'])?0:$_GPC['ccate']};
									downprice={php echo empty($_GPC['downprice'])?0:$_GPC['downprice']};
                                    core.json('shop/price', {page:page,ccate:ccate,downprice:downprice}, function(morejson) {  
                                        stop = true;
                                        $('#favorite_loading').remove();
                                        $(".favorite_main").append(tpl('favorite_list', morejson.result));
                                      
                                        if (morejson.result.list.length <morejson.result.pagesize) {
                                          
                                            $('.favorite_main').append('<div id="favorite_loading">已经加载完全部收藏</div>');
                                            loaded = true;
                                            $(window).scroll = null;
                                            return;
                                        }
                                    },true); 
                                } 
                            } 
                        });
            
                  
              
                     
         },true);
   });
</script>
{php $show_footer = true}
{template 'common/footer'}
