<div class="panel panel-default">
	<div class="panel-heading">
		拆红包参数配置
	</div>
	<div class="panel-body">
		<div class="form-group">
			<label class="col-xs-12 col-sm-3 col-md-2 control-label">活动名称</label>
			<div class="col-sm-5 col-md-5 col-xs-12">
				<input type="text" class="form-control" name="title" value="{$item['title']}" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-3 col-md-2 control-label">封面图片</label>
			<div class="col-sm-5 col-md-5 col-xs-12">
				{php echo tpl_form_field_image('picurl',$item['picurl']);}
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-3 col-md-2 control-label">回复内容</label>
			<div class="col-sm-6 col-md-6 col-xs-12">
				<textarea name="description" id="description" class="form-control" rows="2">{$item['description']}</textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-3 col-md-2 control-label">背景音乐</label>
			<div class="col-sm-5 col-md-5 col-xs-12">
				{php echo tpl_form_field_audio('musicurl',$item['musicurl']);}
			</div>
		</div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 活动时间</label>
            <div class="col-sm-6 col-md-6 col-xs-12">
               	{php echo tpl_form_field_daterange('datelimit', array('starttime'=>date('Y-m-d H:i',$item['starttime']),'endtime'=>date('Y-m-d H:i',$item['endtime'])),true)}
            </div>
        </div>
	    <div class="form-group">
	    	<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 活动规则</label>
	        <div class="col-sm-8 col-md-8 col-xs-12">
	        	<textarea id='ruletxt' name="ruletxt" class="form-control" rows="5">{$item['ruletxt']}</textarea>
	        </div>
	    </div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		分享设置
	</div>
	<div class="panel-body">
		<div class="form-group">
			<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享标题</label>
			<div class="col-sm-5 col-md-5 col-xs-12">
				<input type="text" class="form-control" name="share_title" value="{$item['share_title']}" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享摘要</label>
			<div class="col-sm-5 col-md-5 col-xs-12">
	        	<textarea id='ruletext' name="share_desc" class="form-control" rows="2">{$item['share_desc']}</textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享图片</label>
			<div class="col-sm-5 col-md-5 col-xs-12">
				{php echo tpl_form_field_image('share_imgurl',$item['share_imgurl']);}
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享链接</label>
			<div class="col-sm-5 col-md-5 col-xs-12">
				<input type="text" class="form-control" name="share_link" value="{$item['share_link']}" />
			</div>
		</div>
	</div>
</div>

<!-- 此函数为扩展验证表单JS，您有需要验证可以实现此函数提示错误信息，当然也可以不实现。-->
<script type="text/javascript">
<!--
	function validateReplyForm(formobj, jq, underscore, util, $scope, $http) {
		if (!formobj['title'].value) {
			util.message('请输入活动名称');
			return false;
		}
		if (!formobj['picurl'].value) {
			util.message('请上传封面图片');
			return false;
		}
		if (!formobj['description'].value) {
			util.message('请输入回复内容');
			return false;
		}
	}
//-->
</script>