{template 'common/header-gw'}
<ol class="breadcrumb">
	<li><a href="./?refresh"><i class="fa fa-home"></i></a></li>
	<li class="active">系统</li>
</ol>	
<!--内容-->
{if $_W['isfounder']}
	<div class="clearfix" style="margin-bottom:5em;">
		<h5 class="page-header">云服务</h5>
		<div class="clearfix">
			<a href="{url 'cloud/upgrade'}" class="tile img-rounded">
				<i class="fa fa-cloud-download"></i>
				<span>一键更新</span>
			</a>
			<a href="{url 'cloud/profile'}" class="tile img-rounded">
				<i class="fa fa-globe"></i>
				<span>注册站点</span>
			</a>
			<a href="{url 'cloud/diagnose'}" class="tile img-rounded">
				<i class="fa fa-user-md"></i>
				<span>云服务诊断</span>
			</a>
			<a href="{url 'cloud/device'}" class="tile tile-2x img-rounded">
				<i class="fa fa-print"></i>
				<span>学晟惠设备管理</span>
			</a>
			<a href="{url 'cloud/appstore'}" class="tile tile-2x img-rounded" target="_blank">
				<i class="fa fa-print"></i>
				<span>应用商城</span>
			</a>
			<a href="{url 'cloud/addons'}" class="tile tile-2x img-rounded" target="_blank">
				<i class="fa fa-print"></i>
				<span>商城切换</span>
			</a>
		</div>
		<h5 class="page-header">扩展</h5>
		<div class="clearfix">
			<a href="{url 'extension/module'}" class="tile img-rounded">
				<i class="fa fa-cubes"></i>
				<span>模块</span>
			</a>
			<a href="{url 'extension/subscribe/subscribe'}" class="tile img-rounded">
				<i class="fa fa-volume-up"></i>
				<span>订阅管理</span>
			</a>
			<a href="{url 'extension/service/display'}" class="tile img-rounded">
				<i class="fa fa-glass"></i>
				<span>常用服务</span>
			</a>
			<a href="{url 'extension/theme'}" class="tile img-rounded">
				<i class="fa fa-life-bouy"></i>
				<span>微站风格</span>
			</a>
			<a href="{url 'extension/theme/web'}" class="tile img-rounded">
				<i class="fa fa-puzzle-piece"></i>
				<span>后台皮肤</span>
			</a>
			<a href="{url 'extension/menu'}" class="tile img-rounded">
				<i class="fa fa-list"></i>
				<span>系统菜单</span>
			</a>
			<a href="{url 'extension/platform'}" class="tile img-rounded">
				<i class="fa fa fa-cubes"></i>
				<span>微信开放平台</span>
			</a>
		</div>
		<h5 class="page-header">文章/公告</h5>
		<div class="clearfix">
			<a href="{url 'article/news'}" class="tile img-rounded">
				<i class="fa fa-comments"></i>
				<span>文章管理</span>
			</a>
			<a href="{url 'article/notice'}" class="tile tile-2x img-rounded">
				<i class="fa fa-comments-o"></i>
				<span>公告管理</span>
			</a>
		</div>
		<h5 class="page-header">公众号</h5>
		<div class="clearfix">
			<a href="{url 'account/display'}" class="tile img-rounded">
				<i class="fa fa-comments"></i>
				<span>公众号列表</span>
			</a>
			<a href="{url 'account/batch'}" class="tile tile-2x img-rounded">
				<i class="fa fa-comments"></i>
				<span>批量操作公众号</span>
			</a>
			<a href="{url 'account/groups'}" class="tile tile-2x img-rounded">
				<i class="fa fa-comments-o"></i>
				<span>公众号服务套餐</span>
			</a>
		</div>
		<h5 class="page-header">用户管理</h5>
		<div class="clearfix">
			<a href="{url 'user/profile'}" class="tile img-rounded">
				<i class="fa fa-briefcase"></i>
				<span>我的账户</span>
			</a>
			<a href="{url 'user/display'}" class="tile img-rounded">
				<i class="fa fa-user"></i>
				<span>用户管理</span>
			</a>
			<a href="{url 'user/group'}" class="tile img-rounded">
				<i class="fa fa-users"></i>
				<span>用户组管理</span>
			</a>
			<a href="{url 'user/registerset'}" class="tile img-rounded">
				<i class="fa fa-user-md"></i>
				<span>用户设置</span>
			</a>
		</div>
		<h5 class="page-header">系统管理</h5>
		<div class="clearfix">
			<a href="{url 'system/updatecache'}" class="tile img-rounded">
				<i class="fa fa-refresh"></i>
				<span>更新缓存</span>
			</a>
			<a href="{url 'system/site'}" class="tile img-rounded">
				<i class="fa fa-inbox"></i>
				<span>站点设置</span>
			</a>
			<a href="{url 'system/attachment'}" class="tile img-rounded">
				<i class="fa fa-folder-open"></i>
				<span>附件设置</span>
			</a>
			<a href="{url 'system/common'}" class="tile img-rounded">
				<i class="fa fa-gear"></i>
				<span>其他设置</span>
			</a>
			<a href="{url 'system/database'}" class="tile img-rounded">
				<i class="fa fa-database"></i>
				<span>数据库</span>
			</a>
			<a href="{url 'system/tools'}" class="tile img-rounded">
				<i class="fa fa-legal"></i>
				<span>工具</span>
			</a>
			<a href="{url 'system/sysinfo'}" class="tile img-rounded">
				<i class="fa fa-exclamation"></i>
				<span>系统信息</span>
			</a>
			<a href="{url 'system/logs'}" class="tile img-rounded">
				<i class="fa fa-book"></i>
				<span>查看日志</span>
			</a>
			<a href="{url 'system/optimize'}" class="tile img-rounded">
				<i class="fa fa-rocket"></i>
				<span>性能优化</span>
			</a>
		</div>
	</div>
{else}
	<div class="clearfix" style="margin-bottom:5em;">
		<h5 class="page-header">公众号</h5>
		<div class="clearfix">
			<a href="{url 'account/display'}" class="tile img-rounded">
				<i class="fa fa-comments"></i>
				<span>公众号列表</span>
			</a>
		</div>
		<h5 class="page-header">用户管理</h5>
		<div class="clearfix">
			<a href="{url 'user/profile'}" class="tile img-rounded">
				<i class="fa fa-briefcase"></i>
				<span>我的账户</span>
			</a>
		</div>
	</div>
{/if}
{template 'common/footer-gw'}