	{if empty($footer_off)}<div id="footer" style="text-align:center;height:40px;margin-bottom:10px;line-height:20px">&copy;{if empty($_W['account']['name'])}学晟惠团队{else}{$_W['account']['name']}{/if}&nbsp;&nbsp;{$_W['setting']['copyright']['statcode']}</div>{/if}

</body>
</html>
