{template 'header'}

<div class="websiteWrapper landingWrapper"> 
  
  <ul class="mainMenuWrapper">    
      {loop $navs $i $nav}
      <li><a href="{$nav['url']}">
            {if !empty($nav['icon'])}
		<i style="background:url({$_W['attachurl']}{$nav['icon']}) no-repeat;background-size:cover;"></i>
		{else}
		<i class="{$nav['css']['icon']['icon']}" style="{$nav['css']['icon']['style']}"></i>
		{/if}
            {$nav['name']}</a></li>
      {/loop}
  </ul>
  <div class="headerOuterWrapper">
    <div class="headerWrapper"> <a href="" class="mainMenuButton">
    <span>Menu</span></a></div>
  </div>
  <div class="pageWrapper landingPageWrapper"> 
    <span class="landingLogoWrapper"><img src="{if empty($_W['styles']['indexlogo'])}./themes/default/images/ico.png{else}{$_W['styles']['indexlogo']}{/if}" class="landingLogo" /></span> 
  </div>
  <div class="footerWrapper landingFooterWrapper"> 
    <a href=" " class="footerLogo"><img src="{$_W['styles']['indexlogo']}" /></a> 
    <div class="footerSocialIconsWrapper"> 
    	{if empty($footer_off)}<div id="footer">&copy;{if empty($_W['account']['name'])}学晟惠{else}Copyright 2014. {$_W['account']['name']}{/if}</div>{/if}
    </div>
  </div>
</div>
</body>
</html>
