{template 'common/header'}
<div class="main">
    <ul class="nav nav-tabs">
        <li><a href="{php echo $this->createWebUrl('project');}">项目管理</a></li>
        <li class="active"><a href="{php echo 'http://'.$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI'];}">高级设置</a></li>
    </ul>
<div class="clearfix">
    <div class='alert alert-warning' style='font-size:14px'>
        好声音配置说明： <a href='http://mallgxxsh/forum.php?mod=forumdisplay&fid=50' target='_blank'>http://mallgxxsh/forum.php?mod=forumdisplay&fid=50</a>
    </div>
<form class="form-horizontal form" action="" method="post" enctype="multipart/form-data">
    <div class="panel panel-default">
        <div class="panel-heading">高级设置</div>
    <input type="hidden" name="id" value="{$_GPC['id']}">
 <button class="btn" disabled>注：获取openid功能启用必须是认证的服务号。</button>  
  <th></th>  
<div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">高级获取openid</label>
            <div class="col-sm-9 col-xs-12">
              <label class="radio-inline">
          <input type="radio" name="openidpass" value="0"{if $subject['openidpass']==0} checked="checked"{/if} onclick="$('#isSecret').hide();">不启用</label>
         <label class="radio-inline">
         <input type="radio" name="openidpass" value="1"{if $subject['openidpass']==1} checked="checked"{/if} onclick="$('#isSecret').show();">启用</label>
               <div class="help-block">不启用则用户第一次关注需要回复关键词进入活动才能投票，启用后则无需回复关键词可直接点击链接投票。</div>
            </div>
        </div>

            <div id="isSecret" class="{if $subject['openidpass']==0} hide{/if}">
<div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否强制关注</label>
            <div class="col-sm-9 col-xs-12">
              <label class="radio-inline">
         <input type="radio" name="followpass" value="0" {if $subject['followpass'] == 0} checked="checked"{/if}/>必须关注</label>
         <label class="radio-inline">
         <input type="radio" name="followpass" value="1" {if $subject['followpass'] == 1} checked="checked"{/if}/>无需关注</label>
               <div class="help-block">必须关注：关注才能投票、投稿。无需关注：只通过高级接口获取openid来判断用户是否已经投票，关注与否无关。</div>
            </div>
        </div>
            </div>

        <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">微信Appid</label>
                    <div class="col-sm-8 col-xs-12">
                        <input type="text" class="form-control" placeholder="Appid" name="appid" value="{$subject['appid']}">
                         <div class="help-block">必须是认证的微信公众号，请到微信后台获取</div>
                    </div>
         </div>
         <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">微信AppSecret</label>
                    <div class="col-sm-8 col-xs-12">
                        <input type="text" class="form-control" placeholder="Appsecret" name="appsecret" value="{$subject['appsecret']}">
                         <div class="help-block">必须是认证的微信公众号，请到微信后台获取</div>
                    </div>
         </div>
         <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">七牛AccessKey</label>
                    <div class="col-sm-8 col-xs-12">
                        <input type="text" class="form-control" placeholder="Accesskey" name="accesskey" value="{$subject['accesskey']}">
                         <div class="help-block">帐号必须是身份证认证的，请到七牛后台获取。<a href="https://portal.qiniu.com/setting/key" target="_black">点击查看</a></div>
                    </div>
         </div>
         <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">七牛SecretKey</label>
                    <div class="col-sm-8 col-xs-12">
                        <input type="text" class="form-control" placeholder="SecretKey" name="secretkey" value="{$subject['secretkey']}">
                         <div class="help-block">帐号必须是身份证认证的，请到七牛后台获取。<a href="https://portal.qiniu.com/setting/key" target="_black">点击查看</a></div>
                    </div>
         </div>
         <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">七牛空间链接</label>
                    <div class="col-sm-8 col-xs-12">
                        <input type="text" class="form-control" placeholder="请填写你七牛空间的域名链接地址，如：7xibru.com1.z0.glb.clouddn.com" name="link" value="{$subject['link']}">
                         <div class="help-block">请到自己的七牛空间中获取域名链接地址，前后不要有多余的空格。<a href="../addons/xhw_voice/template/mobile/skimages/name.png" target="_black">查看演示</a></div>
                    </div>
         </div>
           <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">七牛空间名称</label>
                    <div class="col-sm-8 col-xs-12">
                        <input type="text" class="form-control" placeholder="在七牛创建的空间名称" name="name" value="{$subject['name']}">
                    </div>
         </div> 

 <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">启用状态</label>
            <div class="col-sm-9 col-xs-12">
              <label class="radio-inline">
           <input type="radio" name="settingpass" value="1" {if $subject['settingpass'] == 1} checked="checked"{/if}/>启用</label>
         <label class="radio-inline">
             <input type="radio" name="settingpass" value="0" {if $subject['settingpass'] == 0} checked="checked"{/if}/>不启用</label>
               <div class="help-block">启用后可在投稿审核页面直接获取语音文件并上传至七牛，无需手动下载</div>
            </div>
        </div>




          </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <input name="submit" type="submit" value="提交" class="btn btn-primary col-lg-1">
            <input type="hidden" name="token" value="{$_W['token']}" />
        </div>
    </div>
</form>
</div>
{template 'common/footer'}