/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// HiDPI Framework CSS Rules Start                                                                    */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2) {
.mainMenuButton {
	background-image: url("../images/common/mainMenuButtonBg-x2.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/common/mainMenuButtonBg-x2.png*/;
	background-size: 120px 79px;
}
.sliderWrapper {
	background-image: url("../images/common/sliderBorderBg-x2.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/common/sliderBorderBg-x2.png*/;
	background-size: 3px 3px;
}
.nivo-directionNav a {
	background-image: url("../images/common/sliderArrowsBg-x2.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/common/sliderArrowsBg-x2.png*/;
	background-size: 96px 48px;
}
.portfolioMenuWrapper li {
	background-image: url("../images/common/portfolioFilterableMenuDecoBg-x2.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/common/portfolioFilterableMenuDecoBg-x2.png*/;
	background-size: 6px 18px;
}
.portfolioOneExpandButton, .portfolioFilterableExpandButton, .singleProjectExpandButton {
	background-image: url("../images/skins/default/portfolioExpandButtonBg-x2.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/skins/default/portfolioExpandButtonBg-x2.png*/;
	background-size: 28px 16px;
}
.portfolioOneDetailsButton, .portfolioFilterableDetailsButton, .singleProjectDetailsButton {
	background-image: url("../images/skins/default/portfolioDetailsButtonBg-x2.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/skins/default/portfolioDetailsButtonBg-x2.png*/;
	background-size: 28px 16px;
}
.smallPostMoreButton {
	background-image: url("../images/skins/default/smallPostReadMoreButtonBg-x2.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/skins/default/smallPostReadMoreButtonBg-x2.png*/;
	background-size: 28px 16px;
}
.smallPostQuote {
	background-image: url("../images/common/quoteBg-x2.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/common/quoteBg-x2.png*/;
	background-size: 16px 16px;
}
.footerDribbbleIcon {
	background-image: url("../images/common/footerDribbbleIconBg-x2.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/common/footerDribbbleIconBg-x2.png*/;
	background-size: 24px 24px;
}
.footerFacebookIcon {
	background-image: url("../images/common/footerFacebookIconBg-x2.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/common/footerFacebookIconBg-x2.png*/;
	background-size: 24px 24px;
}
.footerTwitterIcon {
	background-image: url("../images/common/footerTwitterIconBg-x2.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/common/footerTwitterIconBg-x2.png*/;
	background-size: 24px 24px;
}
.footerFlickrIcon {
	background-image: url("../images/common/footerFlickrIconBg-x2.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/common/footerFlickrIconBg-x2.png*/;
	background-size: 24px 24px;
}
.footerRssIcon {
	background-image: url("../images/common/footerRssIconBg-x2.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/common/footerRssIconBg-x2.png*/;
	background-size: 24px 24px;
}
.footerVimeoIcon {
	background-image: url("../images/common/footerVimeoIconBg-x2.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/common/footerVimeoIconBg-x2.png*/;
	background-size: 24px 24px;
}
#cboxClose, #cboxPrevious, #cboxNext {
	background-image: url("../images/colorbox/controlsBg-x2.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/colorbox/controlsBg-x2.png*/;
	background-size: 98px 130px;
}
.formSuccessMessageWrapper > h4 {
	background-image: url("../images/icons/smallIcons/32/2/iconCheckmarkBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconCheckmarkBg32.png*/;
	background-size: 16px 16px;
}
.quoteWrapper > blockquote {
	background: none;
}
blockquote {
	background: url("../images/common/quoteBg-x2.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/common/quoteBg-x2.png*/ 0 0 no-repeat;
	background-size: 16px 16px;
}
.alertBoxWarning {
	background-image: url("../images/common/alertBoxWarningBg-x2.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/common/alertBoxWarningBg-x2.png*/;
	background-size: 16px 16px;
}
.alertBoxStop {
	background-image: url("../images/common/alertBoxStopBg-x2.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/common/alertBoxStopBg-x2.png*/;
	background-size: 16px 16px;
}
.alertBoxGo {
	background-image: url("../images/common/alertBoxGoBg-x2.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/common/alertBoxGoBg-x2.png*/;
	background-size: 16px 16px;
}
.alertBoxInfo {
	background-image: url("../images/common/alertBoxInfoBg-x2.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/common/alertBoxInfoBg-x2.png*/;
	background-size: 16px 16px;
}
.alertBoxButton {
	background-image: url("../images/common/alertBoxButtonBg-x2.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/common/alertBoxButtonBg-x2.png*/;
	background-size: 16px 16px;
}
.accordionButton .accordionButtonIcon {
	background-image: url("../images/skins/default/accordionButtonBg-x2.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/skins/default/accordionButtonBg-x2.png*/;
	background-size: 32px 32px;
}
.buttonArrowLeft {
	background-image: url("../images/icons/smallIcons/32/2/iconArrowLeftBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconArrowLeftBg32.png*/;
	background-size: 16px 16px;
}
.buttonArrowRight {
	background-image: url("../images/icons/smallIcons/32/2/iconArrowRightBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconArrowRightBg32.png*/;
	background-size: 16px 16px;
}
.buttonBolt {
	background-image: url("../images/icons/smallIcons/32/2/iconBoltBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconBoltBg32.png*/;
	background-size: 16px 16px;
}
.buttonCalendar {
	background-image: url("../images/icons/smallIcons/32/2/iconCalendarBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconCalendarBg32.png*/;
	background-size: 16px 16px;
}
.buttonCamera {
	background-image: url("../images/icons/smallIcons/32/2/iconCameraBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconCameraBg32.png*/;
	background-size: 16px 16px;
}
.buttonCheckmark {
	background-image: url("../images/icons/smallIcons/32/2/iconCheckmarkBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconCheckmarkBg32.png*/;
	background-size: 16px 16px;
}
.buttonComment {
	background-image: url("../images/icons/smallIcons/32/2/iconCommentBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconCommentBg32.png*/;
	background-size: 16px 16px;
}
.buttonDelete {
	background-image: url("../images/icons/smallIcons/32/2/iconDeleteBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconDeleteBg32.png*/;
	background-size: 16px 16px;
}
.buttonEdit {
	background-image: url("../images/icons/smallIcons/32/2/iconEditBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconEditBg32.png*/;
	background-size: 16px 16px;
}
.buttonEmail {
	background-image: url("../images/icons/smallIcons/32/2/iconEmailBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconEmailBg32.png*/;
	background-size: 16px 16px;
}
.buttonExpand {
	background-image: url("../images/icons/smallIcons/32/2/iconExpandBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconExpandBg32.png*/;
	background-size: 16px 16px;
}
.buttonFlag {
	background-image: url("../images/icons/smallIcons/32/2/iconFlagBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconFlagBg32.png*/;
	background-size: 16px 16px;
}
.buttonGear {
	background-image: url("../images/icons/smallIcons/32/2/iconGearBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconGearBg32.png*/;
	background-size: 16px 16px;
}
.buttonGraph {
	background-image: url("../images/icons/smallIcons/32/2/iconGraphBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconGraphBg32.png*/;
	background-size: 16px 16px;
}
.buttonHome {
	background-image: url("../images/icons/smallIcons/32/2/iconHomeBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconHomeBg32.png*/;
	background-size: 16px 16px;
}
.buttonLocation {
	background-image: url("../images/icons/smallIcons/32/2/iconLocationBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconLocationBg32.png*/;
	background-size: 16px 16px;
}
.buttonMinus {
	background-image: url("../images/icons/smallIcons/32/2/iconMinusBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconMinusBg32.png*/;
	background-size: 16px 16px;
}
.buttonMobile {
	background-image: url("../images/icons/smallIcons/32/2/iconMobileBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconMobileBg32.png*/;
	background-size: 16px 16px;
}
.buttonNo {
	background-image: url("../images/icons/smallIcons/32/2/iconNoBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconNoBg32.png*/;
	background-size: 16px 16px;
}
.buttonPlus {
	background-image: url("../images/icons/smallIcons/32/2/iconPlusBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconPlusBg32.png*/;
	background-size: 16px 16px;
}
.buttonRefresh {
	background-image: url("../images/icons/smallIcons/32/2/iconRefreshBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconRefreshBg32.png*/;
	background-size: 16px 16px;
}
.buttonSearch {
	background-image: url("../images/icons/smallIcons/32/2/iconSearchBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconSearchBg32.png*/;
	background-size: 16px 16px;
}
.buttonStar {
	background-image: url("../images/icons/smallIcons/32/2/iconStarBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconStarBg32.png*/;
	background-size: 16px 16px;
}
.buttonTag {
	background-image: url("../images/icons/smallIcons/32/2/iconTagBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconTagBg32.png*/;
	background-size: 16px 16px;
}
.serviceIconArrowDownLight {
	background-image: url("../images/icons/servicesIcons/64/1/iconArrowDownBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/1/iconArrowDownBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconAttachLight {
	background-image: url("../images/icons/servicesIcons/64/1/iconAttachBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/1/iconAttachBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconBoltLight {
	background-image: url("../images/icons/servicesIcons/64/1/iconBoltBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/1/iconBoltBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconCameraLight {
	background-image: url("../images/icons/servicesIcons/64/1/iconCameraBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/1/iconCameraBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconCartLight {
	background-image: url("../images/icons/servicesIcons/64/1/iconCartBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/1/iconCartBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconChartLight {
	background-image: url("../images/icons/servicesIcons/64/1/iconChartBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/1/iconChartBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconCheckmarkLight {
	background-image: url("../images/icons/servicesIcons/64/1/iconCheckmarkBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/1/iconCheckmarkBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconClockLight {
	background-image: url("../images/icons/servicesIcons/64/1/iconClockBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/1/iconClockBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconCommentLight {
	background-image: url("../images/icons/servicesIcons/64/1/iconCommentBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/1/iconCommentBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconDollarLight {
	background-image: url("../images/icons/servicesIcons/64/1/iconDollarBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/1/iconDollarBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconFilesLight {
	background-image: url("../images/icons/servicesIcons/64/1/iconFilesBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/1/iconFilesBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconFlagLight {
	background-image: url("../images/icons/servicesIcons/64/1/iconFlagBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/1/iconFlagBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconGearLight {
	background-image: url("../images/icons/servicesIcons/64/1/iconGearBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/1/iconGearBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconGlobeLight {
	background-image: url("../images/icons/servicesIcons/64/1/iconGlobeBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/1/iconGlobeBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconHeartLight {
	background-image: url("../images/icons/servicesIcons/64/1/iconHeartBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/1/iconHeartBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconInfoLight {
	background-image: url("../images/icons/servicesIcons/64/1/iconInfoBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/1/iconInfoBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconKeyLight {
	background-image: url("../images/icons/servicesIcons/64/1/iconKeyBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/1/iconKeyBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconLinkLight {
	background-image: url("../images/icons/servicesIcons/64/1/iconLinkBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/1/iconLinkBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconNoLight {
	background-image: url("../images/icons/servicesIcons/64/1/iconNoBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/1/iconNoBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconRefreshLight {
	background-image: url("../images/icons/servicesIcons/64/1/iconRefreshBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/1/iconRefreshBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconScreenLight {
	background-image: url("../images/icons/servicesIcons/64/1/iconScreenBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/1/iconScreenBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconSearchLight {
	background-image: url("../images/icons/servicesIcons/64/1/iconSearchBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/1/iconSearchBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconUserLight {
	background-image: url("../images/icons/servicesIcons/64/1/iconUserBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/1/iconUserBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconWarningLight {
	background-image: url("../images/icons/servicesIcons/64/1/iconWarningBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/1/iconWarningBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconArrowDownDark {
	background-image: url("../images/icons/servicesIcons/64/2/iconArrowDownBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/2/iconArrowDownBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconAttachDark {
	background-image: url("../images/icons/servicesIcons/64/2/iconAttachBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/2/iconAttachBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconBoltDark {
	background-image: url("../images/icons/servicesIcons/64/2/iconBoltBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/2/iconBoltBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconCameraDark {
	background-image: url("../images/icons/servicesIcons/64/2/iconCameraBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/2/iconCameraBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconCartDark {
	background-image: url("../images/icons/servicesIcons/64/2/iconCartBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/2/iconCartBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconChartDark {
	background-image: url("../images/icons/servicesIcons/64/2/iconChartBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/2/iconChartBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconCheckmarkDark {
	background-image: url("../images/icons/servicesIcons/64/2/iconCheckmarkBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/2/iconCheckmarkBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconClockDark {
	background-image: url("../images/icons/servicesIcons/64/2/iconClockBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/2/iconClockBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconCommentDark {
	background-image: url("../images/icons/servicesIcons/64/2/iconCommentBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/2/iconCommentBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconDollarDark {
	background-image: url("../images/icons/servicesIcons/64/2/iconDollarBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/2/iconDollarBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconFilesDark {
	background-image: url("../images/icons/servicesIcons/64/2/iconFilesBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/2/iconFilesBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconFlagDark {
	background-image: url("../images/icons/servicesIcons/64/2/iconFlagBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/2/iconFlagBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconGearDark {
	background-image: url("../images/icons/servicesIcons/64/2/iconGearBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/2/iconGearBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconGlobeDark {
	background-image: url("../images/icons/servicesIcons/64/2/iconGlobeBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/2/iconGlobeBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconHeartDark {
	background-image: url("../images/icons/servicesIcons/64/2/iconHeartBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/2/iconHeartBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconInfoDark {
	background-image: url("../images/icons/servicesIcons/64/2/iconInfoBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/2/iconInfoBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconKeyDark {
	background-image: url("../images/icons/servicesIcons/64/2/iconKeyBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/2/iconKeyBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconLinkDark {
	background-image: url("../images/icons/servicesIcons/64/2/iconLinkBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/2/iconLinkBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconNoDark {
	background-image: url("../images/icons/servicesIcons/64/2/iconNoBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/2/iconNoBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconRefreshDark {
	background-image: url("../images/icons/servicesIcons/64/2/iconRefreshBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/2/iconRefreshBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconScreenDark {
	background-image: url("../images/icons/servicesIcons/64/2/iconScreenBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/2/iconScreenBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconSearchDark {
	background-image: url("../images/icons/servicesIcons/64/2/iconSearchBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/2/iconSearchBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconUserDark {
	background-image: url("../images/icons/servicesIcons/64/2/iconUserBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/2/iconUserBg64.png*/;
	background-size: 32px 32px;
}
.serviceIconWarningDark {
	background-image: url("../images/icons/servicesIcons/64/2/iconWarningBg64.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/64/2/iconWarningBg64.png*/;
	background-size: 32px 32px;
}
.iconArrowLeftLight {
	background-image: url("../images/icons/smallIcons/32/1/iconArrowLeftBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/1/iconArrowLeftBg32.png*/;
	background-size: 16px 16px;
}
.iconArrowRightLight {
	background-image: url("../images/icons/smallIcons/32/1/iconArrowRightBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/1/iconArrowRightBg32.png*/;
	background-size: 16px 16px;
}
.iconBoltLight {
	background-image: url("../images/icons/smallIcons/32/1/iconBoltBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/1/iconBoltBg32.png*/;
	background-size: 16px 16px;
}
.iconCalendarLight {
	background-image: url("../images/icons/smallIcons/32/1/iconCalendarBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/1/iconCalendarBg32.png*/;
	background-size: 16px 16px;
}
.iconCameraLight {
	background-image: url("../images/icons/smallIcons/32/1/iconCameraBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/1/iconCameraBg32.png*/;
	background-size: 16px 16px;
}
.iconCheckmarkLight {
	background-image: url("../images/icons/smallIcons/32/1/iconCheckmarkBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/1/iconCheckmarkBg32.png*/;
	background-size: 16px 16px;
}
.iconCommentLight {
	background-image: url("../images/icons/smallIcons/32/1/iconCommentBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/1/iconCommentBg32.png*/;
	background-size: 16px 16px;
}
.iconDeleteLight {
	background-image: url("../images/icons/smallIcons/32/1/iconDeleteBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/1/iconDeleteBg32.png*/;
	background-size: 16px 16px;
}
.iconEditLight {
	background-image: url("../images/icons/smallIcons/32/1/iconEditBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/1/iconEditBg32.png*/;
	background-size: 16px 16px;
}
.iconEmailLight {
	background-image: url("../images/icons/smallIcons/32/1/iconEmailBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/1/iconEmailBg32.png*/;
	background-size: 16px 16px;
}
.iconExpandLight {
	background-image: url("../images/icons/smallIcons/32/1/iconExpandBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/1/iconExpandBg32.png*/;
	background-size: 16px 16px;
}
.iconFlagLight {
	background-image: url("../images/icons/smallIcons/32/1/iconFlagBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/1/iconFlagBg32.png*/;
	background-size: 16px 16px;
}
.iconGearLight {
	background-image: url("../images/icons/smallIcons/32/1/iconGearBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/1/iconGearBg32.png*/;
	background-size: 16px 16px;
}
.iconGraphLight {
	background-image: url("../images/icons/smallIcons/32/1/iconGraphBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/1/iconGraphBg32.png*/;
	background-size: 16px 16px;
}
.iconHomeLight {
	background-image: url("../images/icons/smallIcons/32/1/iconHomeBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/1/iconHomeBg32.png*/;
	background-size: 16px 16px;
}
.iconLocationLight {
	background-image: url("../images/icons/smallIcons/32/1/iconLocationBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/1/iconLocationBg32.png*/;
	background-size: 16px 16px;
}
.iconMinusLight {
	background-image: url("../images/icons/smallIcons/32/1/iconMinusBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/1/iconMinusBg32.png*/;
	background-size: 16px 16px;
}
.iconMobileLight {
	background-image: url("../images/icons/smallIcons/32/1/iconMobileBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/1/iconMobileBg32.png*/;
	background-size: 16px 16px;
}
.iconNoLight {
	background-image: url("../images/icons/smallIcons/32/1/iconNoBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/1/iconNoBg32.png*/;
	background-size: 16px 16px;
}
.iconPlusLight {
	background-image: url("../images/icons/smallIcons/32/1/iconPlusBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/1/iconPlusBg32.png*/;
	background-size: 16px 16px;
}
.iconRefreshLight {
	background-image: url("../images/icons/smallIcons/32/1/iconRefreshBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/1/iconRefreshBg32.png*/;
	background-size: 16px 16px;
}
.iconSearchLight {
	background-image: url("../images/icons/smallIcons/32/1/iconSearchBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/1/iconSearchBg32.png*/;
	background-size: 16px 16px;
}
.iconStarLight {
	background-image: url("../images/icons/smallIcons/32/1/iconStarBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/1/iconStarBg32.png*/;
	background-size: 16px 16px;
}
.iconTagLight {
	background-image: url("../images/icons/smallIcons/32/1/iconTagBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/1/iconTagBg32.png*/;
	background-size: 16px 16px;
}
.iconArrowLeftDark {
	background-image: url("../images/icons/smallIcons/32/2/iconArrowLeftBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconArrowLeftBg32.png*/;
	background-size: 16px 16px;
}
.iconArrowRightDark {
	background-image: url("../images/icons/smallIcons/32/2/iconArrowRightBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconArrowRightBg32.png*/;
	background-size: 16px 16px;
}
.iconBoltDark {
	background-image: url("../images/icons/smallIcons/32/2/iconBoltBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconBoltBg32.png*/;
	background-size: 16px 16px;
}
.iconCalendarDark {
	background-image: url("../images/icons/smallIcons/32/2/iconCalendarBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconCalendarBg32.png*/;
	background-size: 16px 16px;
}
.iconCameraDark {
	background-image: url("../images/icons/smallIcons/32/2/iconCameraBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconCameraBg32.png*/;
	background-size: 16px 16px;
}
.iconCheckmarkDark {
	background-image: url("../images/icons/smallIcons/32/2/iconCheckmarkBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconCheckmarkBg32.png*/;
	background-size: 16px 16px;
}
.iconCommentDark {
	background-image: url("../images/icons/smallIcons/32/2/iconCommentBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconCommentBg32.png*/;
	background-size: 16px 16px;
}
.iconDeleteDark {
	background-image: url("../images/icons/smallIcons/32/2/iconDeleteBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconDeleteBg32.png*/;
	background-size: 16px 16px;
}
.iconEditDark {
	background-image: url("../images/icons/smallIcons/32/2/iconEditBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconEditBg32.png*/;
	background-size: 16px 16px;
}
.iconEmailDark {
	background-image: url("../images/icons/smallIcons/32/2/iconEmailBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconEmailBg32.png*/;
	background-size: 16px 16px;
}
.iconExpandDark {
	background-image: url("../images/icons/smallIcons/32/2/iconExpandBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconExpandBg32.png*/;
	background-size: 16px 16px;
}
.iconFlagDark {
	background-image: url("../images/icons/smallIcons/32/2/iconFlagBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconFlagBg32.png*/;
	background-size: 16px 16px;
}
.iconGearDark {
	background-image: url("../images/icons/smallIcons/32/2/iconGearBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconGearBg32.png*/;
	background-size: 16px 16px;
}
.iconGraphDark {
	background-image: url("../images/icons/smallIcons/32/2/iconGraphBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconGraphBg32.png*/;
	background-size: 16px 16px;
}
.iconHomeDark {
	background-image: url("../images/icons/smallIcons/32/2/iconHomeBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconHomeBg32.png*/;
	background-size: 16px 16px;
}
.iconLocationDark {
	background-image: url("../images/icons/smallIcons/32/2/iconLocationBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconLocationBg32.png*/;
	background-size: 16px 16px;
}
.iconMinusDark {
	background-image: url("../images/icons/smallIcons/32/2/iconMinusBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconMinusBg32.png*/;
	background-size: 16px 16px;
}
.iconMobileDark {
	background-image: url("../images/icons/smallIcons/32/2/iconMobileBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconMobileBg32.png*/;
	background-size: 16px 16px;
}
.iconNoDark {
	background-image: url("../images/icons/smallIcons/32/2/iconNoBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconNoBg32.png*/;
	background-size: 16px 16px;
}
.iconPlusDark {
	background-image: url("../images/icons/smallIcons/32/2/iconPlusBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconPlusBg32.png*/;
	background-size: 16px 16px;
}
.iconRefreshDark {
	background-image: url("../images/icons/smallIcons/32/2/iconRefreshBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconRefreshBg32.png*/;
	background-size: 16px 16px;
}
.iconSearchDark {
	background-image: url("../images/icons/smallIcons/32/2/iconSearchBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconSearchBg32.png*/;
	background-size: 16px 16px;
}
.iconStarDark {
	background-image: url("../images/icons/smallIcons/32/2/iconStarBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconStarBg32.png*/;
	background-size: 16px 16px;
}
.iconTagDark {
	background-image: url("../images/icons/smallIcons/32/2/iconTagBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/32/2/iconTagBg32.png*/;
	background-size: 16px 16px;
}
.socialIconFacebookLight {
	background-image: url("../images/icons/socialIcons/32/1/iconFacebookBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/32/1/iconFacebookBg32.png*/;
	background-size: 16px 16px;
}
.socialIconRssLight {
	background-image: url("../images/icons/socialIcons/32/1/iconRssBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/32/1/iconRssBg32.png*/;
	background-size: 16px 16px;
}
.socialIconDribbbleLight {
	background-image: url("../images/icons/socialIcons/32/1/iconDribbbleBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/32/1/iconDribbbleBg32.png*/;
	background-size: 16px 16px;
}
.socialIconVimeoLight {
	background-image: url("../images/icons/socialIcons/32/1/iconVimeoBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/32/1/iconVimeoBg32.png*/;
	background-size: 16px 16px;
}
.socialIconTwitterLight {
	background-image: url("../images/icons/socialIcons/32/1/iconTwitterBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/32/1/iconTwitterBg32.png*/;
	background-size: 16px 16px;
}
.socialIconDeviantArtLight {
	background-image: url("../images/icons/socialIcons/32/1/iconDeviantArtBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/32/1/iconDeviantArtBg32.png*/;
	background-size: 16px 16px;
}
.socialIconLinkedInLight {
	background-image: url("../images/icons/socialIcons/32/1/iconLinkedInBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/32/1/iconLinkedInBg32.png*/;
	background-size: 16px 16px;
}
.socialIconYouTubeLight {
	background-image: url("../images/icons/socialIcons/32/1/iconYouTubeBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/32/1/iconYouTubeBg32.png*/;
	background-size: 16px 16px;
}
.socialIconPicasaLight {
	background-image: url("../images/icons/socialIcons/32/1/iconPicasaBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/32/1/iconPicasaBg32.png*/;
	background-size: 16px 16px;
}
.socialIconFlickrLight {
	background-image: url("../images/icons/socialIcons/32/1/iconFlickrBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/32/1/iconFlickrBg32.png*/;
	background-size: 16px 16px;
}
.socialIconSkypeLight {
	background-image: url("../images/icons/socialIcons/32/1/iconSkypeBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/32/1/iconSkypeBg32.png*/;
	background-size: 16px 16px;
}
.socialIconWordPressLight {
	background-image: url("../images/icons/socialIcons/32/1/iconWordPressBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/32/1/iconWordPressBg32.png*/;
	background-size: 16px 16px;
}
.socialIconFacebookDark {
	background-image: url("../images/icons/socialIcons/32/2/iconFacebookBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/32/2/iconFacebookBg32.png*/;
	background-size: 16px 16px;
}
.socialIconRssDark {
	background-image: url("../images/icons/socialIcons/32/2/iconRssBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/32/2/iconRssBg32.png*/;
	background-size: 16px 16px;
}
.socialIconDribbbleDark {
	background-image: url("../images/icons/socialIcons/32/2/iconDribbbleBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/32/2/iconDribbbleBg32.png*/;
	background-size: 16px 16px;
}
.socialIconVimeoDark {
	background-image: url("../images/icons/socialIcons/32/2/iconVimeoBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/32/2/iconVimeoBg32.png*/;
	background-size: 16px 16px;
}
.socialIconTwitterDark {
	background-image: url("../images/icons/socialIcons/32/2/iconTwitterBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/32/2/iconTwitterBg32.png*/;
	background-size: 16px 16px;
}
.socialIconDeviantArtDark {
	background-image: url("../images/icons/socialIcons/32/2/iconDeviantArtBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/32/2/iconDeviantArtBg32.png*/;
	background-size: 16px 16px;
}
.socialIconLinkedInDark {
	background-image: url("../images/icons/socialIcons/32/2/iconLinkedInBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/32/2/iconLinkedInBg32.png*/;
	background-size: 16px 16px;
}
.socialIconYouTubeDark {
	background-image: url("../images/icons/socialIcons/32/2/iconYouTubeBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/32/2/iconYouTubeBg32.png*/;
	background-size: 16px 16px;
}
.socialIconPicasaDark {
	background-image: url("../images/icons/socialIcons/32/2/iconPicasaBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/32/2/iconPicasaBg32.png*/;
	background-size: 16px 16px;
}
.socialIconFlickrDark {
	background-image: url("../images/icons/socialIcons/32/2/iconFlickrBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/32/2/iconFlickrBg32.png*/;
	background-size: 16px 16px;
}
.socialIconSkypeDark {
	background-image: url("../images/icons/socialIcons/32/2/iconSkypeBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/32/2/iconSkypeBg32.png*/;
	background-size: 16px 16px;
}
.socialIconWordPressDark {
	background-image: url("../images/icons/socialIcons/32/2/iconWordPressBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/32/2/iconWordPressBg32.png*/;
	background-size: 16px 16px;
}
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// HiDPI Framework CSS Rules End                                                                      */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
