{template 'common/header'}
<ul class="nav nav-tabs">
    <li {if $_GPC['isshow'] == 0} class="active"{/if}><a href="{php echo $this->createWebUrl('manage', array('isshow' => 0))}">待审核</a></li>
    <li {if $_GPC['isshow'] == 1} class="active"{/if}><a href="{php echo $this->createWebUrl('manage', array('isshow' => 1))}">已审核</a></li>
</ul>
	<div class="main">
        <div class="panel panel-default">
            <div class="panel-body table-responsive">
                <form action="" method="post" onsubmit="">
                <table class="table table-hover">
                    <thead class="navbar-inner">
                    <tr>
                        <th style="width:100px;" class="row-first">选择</th>
                        <th style="width:100px;">用户<i></i></th>
                        <th class="row-hover">消息<i></i></th>
                        <th style="width:150px;">时间<i></i></th>
                        <th style="width:110px;"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {loop $list $row}
                    <tr>
                        <td class="row-first"><input type="checkbox" name="select[]" value="{$row['id']}" /></td>
                        <td class="row-hover">
                            <div class="mainContent">
                                <div class="nickname">{$row['nickname']}</div>
                            </div>
                        </td>
                        <td>{$row[info]}</td>
                        <td style="font-size:12px; color:#666;">
                            <div style="margin-bottom:10px;">{php echo date('Y-m-d', $row[create_time]);}</div>
                            <div>{php echo date('h:i:s', $row[create_time]);}</div>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    {/loop}
                    </tbody>

                </table>
                <table class="table table-hover">
                    <tr>
                        <td style="width:40px;" class="row-first"><input type="checkbox" onclick="javascript:selectall();" /></td>
                        <td colspan="4">
                            {if $_GPC['isshow'] == 0} <input type="submit" name="verify" value="审核" class="btn btn-primary" />{/if}
                            <input type="submit" name="delete" value="删除" class="btn btn-primary" />
                            <input type="hidden" name="token" value="{$_W['token']}" />
                        </td>
                    </tr>
                </table>
                </form>
            </div>
        </div>
        </div>
{$pager}

<script>
        function selectall(){
            $('input[name="select[]"]').each(function () {
                if($(this).attr('checked') == 'checked'){
                    $(this).attr("checked", false);
                }else{
                    $(this).attr("checked", true);

                }
            });
        }
</script>
{template 'common/footer'}