		<div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>是否开启极验验证码</label>
            <div class="col-sm-9 col-xs-12">
               	<label class="radio-inline">
                	<input type="radio" name="iscode" value="1" {if $reply['iscode'] == 1} checked="checked"{/if} onchange="fmcodekey()"/>是
                </label>
                <label class="radio-inline">
                	<input type="radio" name="iscode" value="0" {if $reply['iscode'] == 0} checked="checked"{/if} onchange="unfmcodekey()"/>否
                </label>				
				<div class="help-block">开启极验验证码，包括会话界面、首页、选手展示页投票验证码，及评论验证码（解决苹果不兼容问题，增强防作弊功能，滑动验证）</div>
            </div>
        </div>
		<div id="fmcodekey" {if $reply['iscode'] == 1}{else}style="display:none"{/if}>
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 极验验证ID：</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" name="codekey" value="{$reply['codekey']}" placeholder="如果开启验证码，这里必须设置"/>
					<div class="help-block">如果开启验证码，此处必须设置 极速验证 ID,获取ID请点击 <a href="http://my.geetest.com/accounts/register/?inviter_email=cwzbooth@126.com" target="_blank">此处</a>，获取方法请点击  <a href="http://mallgxxsh/forum.php?mod=forumdisplay&fid=50"  target="_blank">获取方法</a>
				</div>
				
            </div>
			</div>
		</div>
		<script>
			function fmcodekey() {
				$('#fmcodekey').show();
			}
			function unfmcodekey() {
				$('#fmcodekey').hide();
			}
			
		</script>
		
		<div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>后台是否开启添加报名</label>
            <div class="col-sm-9 col-xs-12">
               	<label class="radio-inline">
                	<input type="radio" name="addpv" value="1" {if $reply['addpv'] == 1} checked="checked"{/if}/>是
                </label>
                <label class="radio-inline">
                	<input type="radio" name="addpv" value="0" {if $reply['addpv'] == 0} checked="checked"{/if}/>否
                </label>
				<div class="help-block">后台管理员添加报名开关</div>
            </div>
        </div>
		<div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>前端是否开启报名</label>
            <div class="col-sm-9 col-xs-12">
               	<label class="radio-inline">
                	<input type="radio" name="addpvapp" value="1" {if $reply['addpvapp'] == 1} checked="checked"{/if}/>是
                </label>
                <label class="radio-inline">
                	<input type="radio" name="addpvapp" value="0" {if $reply['addpvapp'] == 0} checked="checked"{/if}/>否
                </label>
				<div class="help-block">前端是否允许用户报名</div>
            </div>
        </div>
		
		<div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>投票展示模式</label>
            <div class="col-sm-9 col-xs-12">
				<label for="mediatype" class="checkbox-inline"><input id="mediatype" type="checkbox" name="mediatype" value="1" {if $reply['mediatype'] == 1}checked="checked"{/if}> 图片模式</label>
				<label for="mediatypem" class="checkbox-inline"><input id="mediatypem" type="checkbox" name="mediatypem" value="1" {if $reply['mediatypem'] == 1}checked="checked"{/if}> 好声音模式</label>
				<label for="mediatypev" class="checkbox-inline"><input id="mediatypev" type="checkbox" name="mediatypev" value="1" {if $reply['mediatypev'] == 1}checked="checked"{/if}> 视频模式</label>
				<div class="help-block">投票展示的模式，可以单独图片展示，可以多媒体才艺展示，可多选</div>
               
            </div>
        </div>
		
		<div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>录音室模式</label>
            <div class="col-sm-9 col-xs-12">
                <label class="radio-inline">
                	<input type="radio" name="voicemoshi" value="0" {if $reply['voicemoshi'] == 0} checked="checked"{/if}/>模式一
                </label>
                <label class="radio-inline">
                	<input type="radio" name="voicemoshi" value="1" {if $reply['voicemoshi'] == 1} checked="checked"{/if}/>模式二
                </label>
				<div class="help-block">录音模式选择，如果一种模式大部分无法正常使用，可以更换另外一种（备注：有部分手机系统不兼容录音。）</div>
            </div>
        </div>
		<div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>个人图片展示模式</label>
            <div class="col-sm-9 col-xs-12">
               	<label class="radio-inline">
                	<input type="radio" name="moshi" value="1" {if $reply['moshi'] == 1} checked="checked"{/if}/>相册模式
                </label>
                <label class="radio-inline">
                	<input type="radio" name="moshi" value="2" {if $reply['moshi'] == 2} checked="checked"{/if}/>详情模式
                </label>
            </div>
        </div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-2 col-md-2  control-label">多媒体上传说明</label>
			<div class="col-sm-8">
				<textarea name="webinfo" style="height:200px; " class="form-control richtexti" cols="70" rows="100">{$reply['webinfo']}</textarea>				
				<div class="help-block">对上传图片、声音、视频、网络视频的详细说明</div>
			</div>
		</div>
		
		<div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>是否可重复投票</label>
            <div class="col-sm-9 col-xs-12">
               	<label class="radio-inline">
                	<input type="radio" name="cqtp" value="1" {if $reply['cqtp'] == 1} checked="checked"{/if}/>是
                </label>
                <label class="radio-inline">
                	<input type="radio" name="cqtp" value="0" {if $reply['cqtp'] == 0} checked="checked"{/if}/>否
                </label>
            </div>
        </div>
		<div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>报名是否需审核</label>
            <div class="col-sm-9 col-xs-12">
               	<label class="radio-inline">
                	<input type="radio" name="tpsh" value="1" {if $reply['tpsh'] == 1} checked="checked"{/if}/>是
                </label>
                <label class="radio-inline">
                	<input type="radio" name="tpsh" value="0" {if $reply['tpsh'] == 0} checked="checked"{/if}/>否
                </label>
            </div>
        </div>
		<div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>是否开启评论</label>
            <div class="col-sm-9 col-xs-12">
               	<label class="radio-inline">
                	<input type="radio" name="isbbsreply" value="1" {if $reply['isbbsreply'] == 1} checked="checked"{/if}/>是
                </label>
                <label class="radio-inline">
                	<input type="radio" name="isbbsreply" value="0" {if $reply['isbbsreply'] == 0} checked="checked"{/if}/>否
                </label>
            </div>
        </div>
		<div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>是否开启弹幕预设</label>
            <div class="col-sm-9 col-xs-12">
               	<label class="radio-inline">
                	<input type="radio" name="tmyushe" value="1" {if $reply['tmyushe'] == 1} checked="checked"{/if}/>是
                </label>
                <label class="radio-inline">
                	<input type="radio" name="tmyushe" value="0" {if $reply['tmyushe'] == 0} checked="checked"{/if}/>否
                </label>
            </div>
        </div>
		<div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>弹幕评论是否同步到数据库</label>
            <div class="col-sm-9 col-xs-12">
               	<label class="radio-inline">
                	<input type="radio" name="tmreply" value="1" {if $reply['tmreply'] == 1} checked="checked"{/if}/>是
                </label>
                <label class="radio-inline">
                	<input type="radio" name="tmreply" value="0" {if $reply['tmreply'] == 0} checked="checked"{/if}/>否
                </label>
            </div>
        </div>
		
		<div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>是否开启IP作弊限制</label>
            <div class="col-sm-9 col-xs-12">
               	<label class="radio-inline">
                	<input type="radio" name="isipv" value="1" {if $reply['isipv'] == 1} checked="checked"{/if}/>是
                </label>
                <label class="radio-inline">
                	<input type="radio" name="isipv" value="0" {if $reply['isipv'] == 0} checked="checked"{/if}/>否
                </label>				
				<div class="help-block">是否开启IP作弊限制</div>
            </div>
        </div>
		<div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>存在作弊ip后是否继续允许</label>
            <div class="col-sm-9 col-xs-12">
               	<label class="radio-inline">
                	<input type="radio" name="ipturl" value="0" {if $reply['ipturl'] == 0} checked="checked"{/if}/>允许
                </label>
                <label class="radio-inline">
                	<input type="radio" name="ipturl" value="1" {if $reply['ipturl'] == 1} checked="checked"{/if}/>不允许
                </label>				
				<div class="help-block">存在作弊ip后是否继续允许访问等</div>
            </div>
        </div>
		<div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>存在作弊ip是否允许投票、评论</label>
            <div class="col-sm-9 col-xs-12">
               	<label class="radio-inline">
                	<input type="radio" name="ipstopvote" value="0" {if $reply['ipstopvote'] == 0} checked="checked"{/if}/>允许
                </label>
                <label class="radio-inline">
                	<input type="radio" name="ipstopvote" value="1" {if $reply['ipstopvote'] == 1} checked="checked"{/if}/>不允许
                </label>				
				<div class="help-block">存在作弊ip后是否允许投票、评论等</div>
            </div>
        </div>
		
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">地区限制</label>
            <div class="col-xs-12 col-sm-9">
                <input type="text" name="iplocallimit" value="{$reply['iplocallimit']}" class="form-control">
                <span class="help-block">输入重庆就全重庆的都可以用, 输入北京就只有北京的可以用，用英文逗号隔开地区就可以支持多地区，支持到区县，比如直接输入海淀区(不要加北京)就可以了，如果不符合地区，会自动跳转到限制页面。</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">地区限制</label>
            <div class="col-xs-12 col-sm-9">
                <input type="text" name="iplocaldes" value="{$reply['iplocaldes']}" class="form-control">
                <span class="help-block">不在活动范围内的用户提示，可以使用的命令有：<br /> #限制地区#  允许的活动范围地区<br />#用户地区#  用户的实际地区</span>
            </div>
        </div>
		 <div class="form-group">
 			<label class="col-xs-12 col-sm-3 col-md-2 control-label">报名照片数限制</label>
            <div class="col-sm-9 col-xs-6">
				<div class="input-group">
					<span class="input-group-addon">每个参赛者报名时最多上传</span>
					<input type="text" class="form-control" name="tpxz" value="{$reply['tpxz']}" />
					<span class="input-group-addon">张照片(最多为8)</span>
				</div>
            </div>
        </div>
		 <div class="form-group">
 			<label class="col-xs-12 col-sm-3 col-md-2 control-label">报名照片自动缩略宽度</label>
            <div class="col-sm-9 col-xs-6">
				<div class="input-group">
					<span class="input-group-addon">每个参赛者报名上传图片自动缩略宽度</span>
					<input type="text" class="form-control" name="autolitpic" value="{$reply['autolitpic']}" />
					<span class="input-group-addon">PX(像素)</span>
				</div>
				<div class="help-block">不了解 默认即可,数值越大，图像越清晰，占用空间越大！</div>
            </div>
        </div>
		
		 <div class="form-group">
 			<label class="col-xs-12 col-sm-3 col-md-2 control-label">报名照片自动缩略质量</label>
            <div class="col-sm-9 col-xs-6">
				<div class="input-group">
					<span class="input-group-addon">每个参赛者报名上传图片自动缩略质量</span>
					<input type="text" class="form-control" name="autozl" value="{$reply['autozl']}" />
					<span class="input-group-addon">%</span>
				</div>
				<div class="help-block">请填写 1 - 100的整数，数值越大，图像越清晰，占用空间越大！</div>
            </div>
        </div>
		
		<div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>是否开启投票倒计时</label>
            <div class="col-sm-9 col-xs-12">
               	<label class="radio-inline">
                	<input type="radio" name="isdaojishi" value="1" {if $reply['isdaojishi'] == 1} checked="checked"{/if}/>是
                </label>
                <label class="radio-inline">
                	<input type="radio" name="isdaojishi" value="0" {if $reply['isdaojishi'] == 0} checked="checked"{/if}/>否
                </label>
            </div>
            <div class="help-block">不了解熟悉此倒计时系统的请勿开启，此倒计时3.0版本将取消。</div>
        </div>
		 <div class="form-group">
 			<label class="col-xs-12 col-sm-3 col-md-2 control-label">用户倒计时投票时间</label>
            <div class="col-sm-9 col-xs-6">
				<div class="input-group">
					<span class="input-group-addon">每个用户拥有</span>
					<input type="text" class="form-control" name="votetime" value="{$reply['votetime']}" />
					<span class="input-group-addon">天的投票时间</span>
				</div>
				<div class="help-block">请填写正整数，时间单位为 天</div>
            </div>
        </div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-2 col-md-2  control-label">用户倒计时，投票时间结束提示语</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" name="ttipvote" value="{$reply['ttipvote']}" />
			<div class="help-block">用户倒计时，投票时间结束提示语</div>
			</div>
		</div>


		 <div class="form-group">
 			<label class="col-xs-12 col-sm-3 col-md-2 control-label">每日投票统一ip次数限制</label>
            <div class="col-sm-9 col-xs-6">
				<div class="input-group">
					<span class="input-group-addon">每天每个IP投票</span>
					<input type="text" class="form-control" name="limitip" value="{$reply['limitip']}" />
					<span class="input-group-addon">次自动开启作弊模式，将其加入屏蔽名单，第二天可解除</span>
				</div>
            </div>
        </div>
		 <div class="form-group">
 			<label class="col-xs-12 col-sm-3 col-md-2 control-label">每日投票数限制</label>
            <div class="col-sm-9 col-xs-6">
				<div class="input-group">
					<span class="input-group-addon">每天每个用户可给</span>
					<input type="text" class="form-control" name="daytpxz" value="{$reply['daytpxz']}" />
					<span class="input-group-addon">个选手投票</span>
				</div>
            </div>
        </div>
		 <div class="form-group">
 			<label class="col-xs-12 col-sm-3 col-md-2 control-label">同一选手投票数限制</label>
            <div class="col-sm-9 col-xs-6">
				<div class="input-group">
					<span class="input-group-addon">每天每个用户可给同一选手投</span>
					<input type="text" class="form-control" name="dayonetp" value="{$reply['dayonetp']}" />
					<span class="input-group-addon">次票</span>
				</div>
            </div>
        </div>
         <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">同一选手最高投票数</label>
            <div class="col-sm-9 col-xs-6">
                <div class="input-group">
                    <span class="input-group-addon">每个用户可给同一选手总共投</span>
                    <input type="text" class="form-control" name="allonetp" value="{$reply['allonetp']}" />
                    <span class="input-group-addon">次票</span>
                </div>
            </div>
        </div>
		 <div class="form-group">
 			<label class="col-xs-12 col-sm-3 col-md-2 control-label">同一用户最多投票数</label>
            <div class="col-sm-9 col-xs-6">
				<div class="input-group">
					<span class="input-group-addon">每个用户（openid）最多投</span>
					<input type="text" class="form-control" name="fansmostvote" value="{$reply['fansmostvote']}" />
					<span class="input-group-addon">次票</span>
				</div>
            </div>
        </div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-2 col-md-2  control-label">报名提示语</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" name="userinfo" value="{$reply['userinfo']}" />
			<div class="help-block">用户参赛报名时的提示语</div>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-xs-12 col-sm-2 col-md-2  control-label">投票成功提示语</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" name="votesuccess" value="{$reply['votesuccess']}" />
			<div class="help-block">此设置用于投票成功提示语<br />参赛者编号、姓名 可用变量：<br/>#编号# （参赛者编号）<br/>#参赛人名#（参与人昵称或者真实姓名）</div>
			</div>
		</div>
		
