<div class="control-group js_scene_style js_amap hide">
	<div class="control-group">
		<label class="control-label" for="tel">电话号码</label>
		<div class="controls">
			<input type="text" id="tel" class="input-large" name="amap[tel]" data-rule-phone="true" value="{$data['tel']}"/>
			<span class="maroon">*</span><span class="help-inline">(为空,不显示)</span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="mail">邮件</label>
		<div class="controls">
			<input type="text" id="mail" class="input-large" name="amap[email]" data-rule-email="true" value="{$data['email']}"/>
			<span class="maroon">*</span><span class="help-inline">(为空,不显示)</span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="wxurl">微信链接</label>
		<div class="controls">
			<input type="text" id="wxurl" class="input-xxlarge" name="amap[wxurl]" value="{$data['wxurl']}"/>
			<span class="maroon">*</span><span class="help-inline">(微信链接地址)</span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="weixin">微信</label>
		<div class="controls">
			<input type="text" id="weixin" class="input-large" name="amap[weixin]" value="{$data['weixin']}"/>
			<span class="maroon">*</span><span class="help-inline">(为空,不显示)</span>
		</div>
	</div>
	<div class="control-group">
		<label for="" class="control-label">地图背景：</label>
		<div class="margin-top10 controls">
            <div id="map_image_uploads" style="width:330px;">
                {php echo tpl_form_field_image('amap[mthumb]', $data['mthumb'])}
            </div>
            <div class="help-inline">（建议尺寸:宽560像素,高250像素或等比图片）</div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="sname">名称</label>
		<div class="controls">
			<input type="text" id="sname" class="input-large" name="amap[sname]" value="{$data['sname']}"/>
			<span class="maroon">*</span><span class="help-inline">(导航显示名称)</span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="suggestId">经纬度</label>
		<div class="controls">
			<div class="input-append">
				<input type="text" id="suggestId" class="input-xlarge" name="amap[place]" data-rule-required="true"  value="{$data['place']}"/>
				<button class="btn" type="button" id="positioning">搜索</button>
			</div>

			<span class="maroon">注意：这个只是模糊定位，准确位置请地图上标注!</span>
			<div id="l-map">
				<i class="icon-spinner icon-spin icon-large"></i>地图加载中...
			</div>
			<div id="r-result">
				<input type="hidden" id="lng" name="amap[lng]" value="{$data['lng']}" /><input type="hidden" id="lat" name="amap[lat]" value="{$data['lat']}"  />
			</div>
		</div>
	</div>
</div>