<div class="control-group js_scene_style js_layer34 hide">
	<div class="control-group">
		<label for="" class="control-label">浮层图片：</label>
		<div class="margin-top10 controls">
            <div id="video_image_uploads" style="width:330px;">
                {php echo tpl_form_field_image('layer34[pic1]', $data['pic1']);}
            </div>
            <div class="help-inline">（以顶部对齐,建议尺寸:宽640像素,高1080像素或等比图片，PNG格式,）</div>
		</div>
	</div>
</div>
 