h2, h3 {
	font-family: "Microsoft YaHei",Simhei,Helvetica,Verdana,Arial,Tahoma;
	color: #666;
}
.navbar .navbar-inner {
	padding: 0;
}
.navbar .nav {
	margin: 0;
	display: table;
	width: 100%;
}
.navbar .nav li {
	display: table-cell;
	float: none;
}
.navbar .nav li a {
	font-weight: bold;
	text-align: center;
	border-left: 1px solid rgba(255,255,255,.75);
	border-right: 1px solid rgba(0,0,0,.1);
}
.navbar .nav li:first-child a {
	border-left: 0;
	border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a {
	border-right: 0;
	border-radius: 0 3px 3px 0;
}

*{
    margin:0;
    padding: 0;
}
body {
    background: #ebeff2;
}
/**************排版编辑器**************************************/
/* but */
.btn_editeditor{
    display:inline-block;
    overflow:visible;
    padding:0 22px;
    height:30px;
    line-height:30px;
    *line-height:28px;
    vertical-align:middle;
    text-align:center;
    text-decoration:none;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    font-size:14px;
    border-width:1px;
    border-style:solid;
    cursor:pointer;
    margin-left: 10px;
}
.btn_editeditor:hover{text-decoration:none}
.btn_editeditor.orange{
    background-color:#ff5f3e;
    background-image:-moz-linear-gradient(top,#ff5f3e 0,#ff5f3e 100%);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#ff5f3e),to(#ff5f3e));
    background-image:-webkit-linear-gradient(top,#ff5f3e 0,#ff5f3e 100%);
    background-image:-o-linear-gradient(top,#ff5f3e 0,#ff5f3e 100%);
    background-image:linear-gradient(to bottom,#ff5f3e 0,#ff5f3e 100%);
    border-color:#ff5f3e;
    color:#fff
}
.btn_editeditor.orange:hover{
    background-color:#ce391a;
    background-image:-moz-linear-gradient(top,#ce391a 0,#ce391a 100%);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#ce391a),to(#ce391a));
    background-image:-webkit-linear-gradient(top,#ce391a 0,#ce391a 100%);
    background-image:-o-linear-gradient(top,#ce391a 0,#ce391a 100%);
    background-image:linear-gradient(to bottom,#ce391a 0,#ce391a 100%);
    border-color:#ce391a;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;color:#fff;
}

/* 弹窗 */
@charset "utf-8";
/*
 * artDialog skin
 * https://github.com/aui/artDialog
 * (c) 2009-2013 TangBin, http://www.planeArt.cn
 *
 * This is licensed under the GNU LGPL, version 2.1 or later.
 * For details, see: http://creativecommons.org/licenses/LGPL/2.1/
 */
 
/* common start */
body { _margin:0; _height:100%; }/*IE6 BUG*/ 
.d-outer { text-align:left; outline:none 0;margin:0;padding:0px; background-color:#FFF;}
.d-outer tr{border:0px;background-color:#FFF;}
.d-outer tr:hover{background-color:#FFF;}
.d-border, .d-dialog { border:0 none; margin:0; border-collapse:collapse; width:100%;padding:0px; }
.d-nw, .d-n, .d-ne, .d-w, .d-c, .d-e, .d-sw, .d-s, .d-se, .d-header, .d-main, .d-footer { padding:0;background-color:#FFF; }
.d-footer{border-top:1px solid #E6E6E6;}
.d-header, .d-button { font: 12px/1.11 'Microsoft Yahei', Tahoma, Arial, Helvetica, STHeiti; _font-family:Tahoma,Arial,Helvetica,STHeiti; -o-font-family: Tahoma, Arial; }
.d-header{background-color:#fff;height:30px;}
.d-title { overflow:hidden; text-overflow: ellipsis; cursor:default; }
.d-state-noTitle .d-title { display:none; }
.d-close { display:none !important; position:absolute; text-decoration:none !important; color:#FF9418 !important; outline:none; _cursor:pointer; }
.d-close:hover { text-decoration:none; }
.d-main { text-align:center; vertical-align:middle; min-width:9em; }
.d-content { display:inline-block; display:block\0/*IE8 BUG*/; display:inline-block\9\0; *zoom:1; *display:inline; text-align:left; border:0 none;  }
.d-content.d-state-full { display:block; width:100%; margin:0; padding:0!important; height:100%; }
.d-loading { width:96px; height:32px; text-align:left; text-indent:-999em; overflow:hidden; background:url(file:///C|/Users/Administrator/AppData/Local/Microsoft/Windows/Temporary%20Internet%20Files/Content.IE5/QVG3T9WU/loading.gif) no-repeat center center; }
.d-buttons { padding:8px; text-align:right; white-space:nowrap; }
.d-button { margin-left:15px; padding: 0 12px; cursor: pointer; display: inline-block;  text-align: center;  letter-spacing:2px; font-family: Tahoma, Arial/9!important; width:auto; overflow:visible; *width:1; color: #333; border: 1px solid #E6E6E6; border-radius: 5px; background: #F9F9F9; height:30px;padding: 0 12px;font-size:14px;}
.d-button::-moz-focus-inner, .d-button::-moz-focus-outer { border:0 none; padding:0; margin:0; }
.d-button:focus { outline:none 0;  }
.d-button:hover { color:#000; color:#08BC05 }
.d-button:active { }
.d-button[disabled] { cursor:default; color:#666; background:#DDD; border: 1px solid #999; filter:alpha(opacity=50); opacity:.5; box-shadow:none; }
.d-state-highlight { color: #FFF; border: 1px solid #FF8E0A; background-color:#FF8E0A;}
.d-state-highlight:hover { color:#FFF; border-color:#FFA300;background-color:#FFA300; }
.d-state-highlight:active { border-color:#FF8E0A;  }
.d-mask { background:#000; filter:alpha(opacity=70); opacity:.7; }
/* common end */

.d-inner { background-color:#FFF; }
.d-dialog {  border-radius:3px; }
.d-inner {  /*ie*/}
.d-outer {  background-color:#FFF; }
/*.d-state-lock { box-shadow:0 3px 26px rgba(0, 0, 0, .9); }*/
.d-outer:active { box-shadow:none!important; }
.d-state-drag { box-shadow:none!important; }
.d-border { border-radius:3px; }
.d-nw, .d-ne { width:0px;overflow:hidden;}
.d-sw, .d-se { width:0px; overflow:hidden;}
.d-nw, .d-n, .d-ne, .d-w, .d-e, .d-sw, .d-s, .d-se {background-color: transparent;}
.d-titleBar { width:100%; height:0; position:relative; bottom:33px; _bottom:0; _margin-top:-33px; }
.d-title { height:45px; line-height:45px; padding:0 16px 0 5px; color:#FFF; font-weight:700;background-color:#FF9418;text-align:left;font-size:14px;text-indent:10px}
.d-close { padding:0; top:10px; right:10px; width:21px; height:21px; line-height:21px; font-size:18px; text-align:center; color:#000; font-family: Helvetica, STHeiti; _font-family: Tahoma, '\u9ed1\u4f53', 'Book Antiqua', Palatino; border:1px solid transparent; _border:0 none; background:#FFF; border-radius:15px;  }
.d-close:hover { color:#000 !important ; background:#BCAEA9;  _border:0 none; }
.d-close:active { box-shadow: none; }
.d-state-noTitle { }
.d-content { color:#FFF;font-size:12px; }
.d-state-noTitle .d-nw, .d-state-noTitle .d-ne { height:5px; }
.d-state-noTitle .d-titleBar { bottom:0; _bottom:0; _margin-top:0; }



/****************************************************/
.main-left{

}
.app-lt-nav{
    line-height: 40px;
    list-style: none;
    margin:0px;
    padding-left: 5px;
    border-bottom:1px solid #e7e7eb;
}
.app-lt-nav li{
    display: inline-block;
    width: auto;
    height: 39px;
    line-height: 39px;
    margin-bottom: -1px;
}
.app-lt-nav li:hover{
    border-bottom: 3px solid #a0a3ab;
}
.app-lt-nav li.active{
    background: 0;
    border-bottom: 3px solid #ff5f3e;
}
.app-lt-nav li a{
    display: block;
    text-decoration: none;
    color: #222;
    outline: 0;
    padding: 0 20px;
}
.main-right {
    min-height: 500px;
    background: #ffffff;
    overflow: hidden;
    padding: 20px;
}

/****************************************************/














/*.main-left {*/
    /*float: left;*/
    /*width: 125px;*/
    /*overflow: hidden;*/
/*}*/
/*.main-right {*/
    /*min-height: 500px;*/
    /*margin-left: 125px;*/
    /*background: #ffffff;*/
    /*border-left: 1px #a6a6a6 solid;*/
    /*overflow: hidden;*/
    /*padding: 20px;*/
/*}*/
/*.app-lt-nav {*/
    /*list-style: none;*/
    /*margin: 10px 0;*/
    /*padding-left: 5px;*/
/*}*/
/*.app-lt-nav li {*/
    /*background: url(../home/images/app_lt_nav.png) no-repeat;*/
    /*height: 39px;*/
    /*line-height: 39px;*/
    /*margin-bottom: 4px;*/
/*}*/
/*.app-lt-nav li a {*/
    /*display: inline-block;*/
    /*width: 95px;*/
    /*height: 39px;*/
    /*line-height: 39px;*/
    /*overflow: hidden;*/
    /*padding: 0 10px 0 15px;*/
    /*color: #666666;*/
    /*font-size: 12px;*/
    /*text-decoration: none;*/
/*}*/
/*.app-lt-nav li.active {*/
    /*background: url(../home/images/app_lt_nav_active.png) no-repeat;*/
/*}*/
/*.app-lt-nav li.active a {*/
    /*color: #333333;*/
    /*font-weight: 700;*/
/*}*/

.app-list {
    list-style: none;
    margin: 0;
    padding: 15px;
}
.app-list li {
    position: relative;
    border-bottom: 1px #000000 dotted;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.app-icon {
    float: left;
    margin-right: 10px;
}
.app-icon img {
    width: 64px;
    height: 64px;
}
.app-btn, .app-btn:hover, .app-btn:active {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 10px;
    width: 60px;
    height: 30px;
    padding-left: 32px;
    line-height: 30px;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    background: url(../home/images/add.png) no-repeat;
}
.app-desc {
    padding: 0 110px 0 0;
}
.app-desc h5 {
    color: #666666;
    font-weight: 700;
    margin: 0;
}
.app-desc p {
    color: #999999;
    margin: 0;
    font-size: 12px;
}
.excerpt {
    height: 60px;
    overflow: hidden;
}
.excerpt p img{
    display: none;
}
.app-more {
    padding-right: 115px;
}

.btn-add, .btn-add:hover, .btn-add:active {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 10px;
    width: 60px;
    height: 30px;
    padding-left: 32px;
    line-height: 30px;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    background: url(../home/images/add.png) no-repeat;
}
.btn-hide, .btn-hide:hover, .btn-hide:active {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 10px;
    width: 60px;
    height: 30px;
    padding-left: 32px;
    line-height: 30px;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    background: url(../home/images/hide.png) no-repeat;
}
.btn-uninstall, .btn-uninstall:hover, .btn-uninstall:active {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 10px;
    width: 60px;
    height: 30px;
    padding-left: 32px;
    line-height: 30px;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    background: url(../home/images/uninstall.png) no-repeat;
}

/*直播发布页面*/
.author-list {
    margin-bottom: 20px;
}
.cmt-btn {
    margin-left: 10px;
    color: #0000ff;
}
.cmt-oked {
    color: #999;
}
.tips{color:#999; margin-left:10px;}


/*微商联盟活动*/
.btn.active{
    background:#ccc;
    text-shadow:none
}
