{loop $list $row}
	<div class="fy">
    <a href="{php echo $this->createMobileUrl('activity',array('op' => 'detail','id'=> $item['id']))}" class="sq_box commodity">
        <div class="commodity_img">
            <img src="{if $item['picurl']}{$_W['attachurl']}{$item['picurl']}{else}{MODULE_URL}template/image/Nopictures.jpg{/if}" />

        </div>
        <div class="commodity_content">
            <div class="commodity_content_info">
                <div class="content_info_l">
                    <div class="info_l_x"></div>
                    <div class="info_l_s"><span>{$item['title']}</span>
                    </div>
                    <div class="info_l_x">
                        <input type="hidden" class="recordId" value="378" />
                        <span class="unread">
                            {php echo date('Y-m-d', $item['starttime'])}-{php echo date('Y-m-d', $item['endtime'])}
                        </span>
                    </div>
                </div>
            </div>
            <div class="commodity_address">
                <span class="comm_add">已报名：{$item['resnumber']}</span>
            </div>
        </div>
    </a>
    <div class="commodity_fbxx">
        <div class="commodity_time">


            <font color="blue"></font>{php echo date('Y-m-d H:i:s', $item['createtime'])}


        </div>
    </div>

</div>
{/loop}