{template 'business_header'}

<section id="content">
			<section class="vbox">
				<section class="scrollable" id="pjax-container">
					<header class="header bg-light dker bg-gradient text-llg">
						<p>修改密码</p>
					</header>
					<section class="hbox wrapper">

						<form class="form-horizontal" method="post" action="">
						<input type='hidden' name='id' value='{$member['id']}' />
							<header class="panel-heading font-bold mypanelhead">修改密码</header>
							<div class="panel-body  bg-white">
								<div class="form-group">
									<label class="col-sm-2 control-label">登录帐号</label>
									<div class="col-sm-5">
										<p class="form-control-static">{$member['mobile']}</p>
									</div>
								</div>
								<div class="line line-dashed line-lg pull-in"></div>

								<div class="form-group">
									<label class="col-sm-2 control-label">请输入原密码</label>
									<div class="col-sm-4"> <em class="req">*</em>
										<input type="password" class="form-control" data-rule="原密码:required;password;remote[/index/checkpwd]" name="oldpwd"></div>
								</div>

								<div class="line line-dashed line-lg pull-in"></div>

								<div class="form-group">
									<label class="col-sm-2 control-label">请输入新密码</label>
									<div class="col-sm-4">
										<em class="req">*</em>
										<input type="password" class="form-control" data-rule="密码:required;password;" name="newpwd1"></div>
								</div>
								<div class="line line-dashed line-lg pull-in"></div>

								<div class="form-group">
									<label class="col-sm-2 control-label">确认新密码</label>
									<div class="col-sm-4">
										<em class="req">*</em>
										<input type="password" class="form-control" data-rule="确认密码:required;password;match(newpwd1)" name="newpwd2"></div>
								</div>

								<div class="line line-lg m-t-lg"></div>
								<div class="form-group">
									<div class="col-sm-9 m-b-lg m-t-lg col-sm-offset-2">
										<button type="submit" class="btn btn-primary m-r-lg btn-s-sm">提交</button>
										<a class="btn btn-white btn-s-sm" href="javascript:history.go(-1);">返回</a>

									</div>
								</div>

							</div>

						</form>
					</section>

				</section>
			</section>
</section>
{template 'business_footer'}