{template 'business_header'}
	<section id="content">
		<section class="vbox">
			<section class="scrollable" id="pjax-container">
				<header class="header bg-light dker bg-gradient text-llg">
					<p>管理我的店铺</p>
				</header>
				<section class="hbox wrapper">

					<div class="row no-gutter">
						<div class="mycol">
							<div class="panel vbox">
								<div class="m text-center">
									<a class="myplus animated bounceInDown" href="{php echo $this->createMobileUrl('business',array('uid' => $member['id'],'op' => 'dpadd'))}" data-toggle="tooltip" title="添加新店铺">
										<i class="fa fa-plus"></i>
									</a>
								</div>
							</div>
						</div>

					</div>
				</section>
			</section>
		</section>
	</section>
{template 'business_footer'}
