</section>
<script type="text/javascript" src="{MODULE_URL}template/js/wxqsj.js"></script>
<script type="text/javascript" src="{MODULE_URL}template/js/jquery-ui.js"></script>
<script type="text/javascript" src="{MODULE_URL}template/js/app.v2.js"></script>	

</body>
</html>