{template 'business_header'}
		<section id="content">
			<section class="vbox">
				<section class="scrollable" id="pjax-container">
					<header class="header bg-light dker bg-gradient text-llg">
						<p>编辑个人信息</p>
					</header>
					<section class="hbox wrapper">

						<form class="form-horizontal" method="post" action="">
						<input type='hidden' name='id' value='{$member['id']}' />
							<header class="panel-heading font-bold mypanelhead">编辑个人信息</header>
							<div class="panel-body  bg-white">
								<div class="form-group">
									<label class="col-sm-2 control-label">登录帐号</label>
									<div class="col-sm-5">
										<p class="form-control-static">{$member['mobile']}</p>
									</div>
								</div>
								<div class="line line-dashed line-lg pull-in"></div>

								<div class="form-group">
									<label class="col-sm-2 control-label">姓名</label>
									<div class="col-sm-4"> <em class="req">*</em>
										<input type="text" class="form-control"  data-rule="姓名:required" value="{$member['username']}" name="username"/>
									</div>
								</div>
								<div class="line line-dashed line-lg pull-in"></div>

							<!-- 	<div class="form-group">
									<label class="col-sm-2 control-label">修改头像</label>
									<div class="col-sm-9" style="position:relative;height:220px;">
										<iframe src="/index/head" height="220" width="100%" frameborder="0" scrolling="no"></iframe>
									</div>
								</div> -->
								<div class="line line-dashed line-lg pull-in"></div>

								<div class="form-group">
									<label class="col-sm-2 control-label">联系电话</label>
									<div class="col-sm-4">
										<em class="req">*</em>
										<input type="text" class="form-control" data-rule="电话:required" value="{$member['mobile']}" name="mobile"/>
									</div>
								</div>
								<div class="line line-dashed line-lg pull-in"></div>

								<div class="form-group">
									<label class="col-sm-2 control-label">QQ号</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" value="{$member['qq']}" name="qq"/>
									</div>
								</div>

								<div class="line line-dashed line-lg pull-in"></div>

								<div class="form-group">
									<label class="col-sm-2 control-label">登录密码</label>
									<div class="col-sm-4 m-t-xs">
										<a class="btn btn-info btn-xs" href="{php echo $this->createMobileUrl('business',array('id' => $member['id'],'op' => 'pwd'))}">点击修改密码</a>
									</div>
								</div>

								<div class="line line-lg m-t-lg"></div>
								<div class="form-group">
									<div class="col-sm-9 m-b-lg m-t-lg col-sm-offset-2">
										<!-- <button type="submit" class="btn btn-primary m-r-lg btn-s-sm">提交</button> -->
										 <button type="submit" name="submit" value="yes" class="btn btn-primary m-r-lg btn-s-sm"  >提交</button>
										  <input type="hidden" name="token" value="{$_W['token']}" />
										<a class="btn btn-white btn-s-sm" href="javascript:history.go(-1);">返回</a>

									</div>
								</div>

							</div>

						</form>
					</section>

				</section>
			</section>

			
		</section>
{template 'business_footer'}