{loop $list $item}
<div class="picListWrapperItem" style="border-top-width: 0px;">
	<a href="{php echo $this->createMobileUrl('business',array('id'=>$item['id'],'op'=> 'detail'))}" class="attrLink"></a>
	<a href="{php echo $this->createMobileUrl('sjdetail',array('id'=>$item['id'],'op' => 'detail'))}" class="imgLink">
		<img src="{$_W['attachurl']}{$item['picurl']}" alt=""></a>
	<div class="picListItemAttr">
		<h4 class="picListItemTitle">{$item['sjname']}</h4>
		<p> <b><i class="icon-map-marker"></i></b> 
			<span>{$item['address']}</span>
		</p>
		<p>
			<span class="bigstar35"></span>
			<if></if>
		</p>
		<p>
			<span class="tel">
				<a href="tel:{$item['mobile']}">
					<i class="icon-phone"></i>
					{$item['mobile']}
				</a>
			</span>
		</p>
	</div>
</div>
{/loop}	