{template 'header'}
<link href="{MODULE_URL}template/css/theme2.css" rel="stylesheet" type="text/css" media="all">
<link href="{MODULE_URL}template/css/css.css" rel="stylesheet" />
<link href="{MODULE_URL}template/css/stylesheet.css" rel="stylesheet" />
<div class="top_menu">
    活动详情
</div>
<div class="top_menu_shadow"></div>
<div class="pageContentWrapper">
	<h3 style="float:left;" class="pageTitle">{$item['sjname']}</h3>
	<div class="">
		<a target="_blank" href="">
			<img src="{$_W['attachurl']}{$item['picurl']}" alt="">
		</a>
	</div>
	<!-- table starts -->
	<table class="m-b-md shop-table">
		<tbody>
			<tr>
				<td width="30%"> <b>联系人</b>
				</td>
				<td>
					<span class="text-default">{$item['contactname']}</span>
				</td>
			</tr>
			<tr>
				<td> <b>联系电话</b>
				</td>
				<td>
					<span class="tel">
						<a href="tel:{$item['phone']}">
							<i class="icon-phone"></i>
							{$item['phone']}
						</a>
					</span>

				</td>
			</tr>
			<tr>
				<td>
					<b>手机</b>
				</td>
				<td>
					<span class="tel">
						<a href="tel:{$item['mobile']}">
							<i class="icon-phone"></i>
							{$item['mobile']}
						</a>
					</span>
				</td>

			</tr>
			<tr>
				<td>
					<b>联系QQ</b>
				</td>
				<td>{$item['qq']}</td>
			</tr>
			<tr>
				<td>
					<b>商家地址</b>
				</td>
				<td>
					<span class="text-default">{$item['province']}{$item['city']}{$item['dist']}{$item['address']}</span>
				</td>
			</tr>
		
		</tbody>
	</table>

	

	
	

	<!-- table ends -->

	<div class="hongdong_info" style="margin-bottom:80px;">
		<p class="info_title">
			<b>商家详情：</b>
		</p>
		<div class="info_content" >
			{$item['shopdesc']}
		</div>
	</div>
</div>

{template  'footer'}