{loop $list $item}
<div class="fy">
    <a href="{php echo $this->createMobileUrl('fled',array('op'=> 'detail','id'=> $item['id']))}" class="sq_box commodity">
        <div class="commodity_img">
           <img src="{if $item['img']}{$item['img'][0]['src']}{else}{MODULE_URL}template/image/Nopictures.jpg{/if}" />
        </div>
        <div class="commodity_content">
            <div class="commodity_content_info">
                <div class="content_info_l">
                    <div class="info_l_x"></div>
                    <div class="info_l_s"><span>{$item['title']}</span>
                    </div>
                    <div class="info_l_x">
                        <input type="hidden" class="recordId" value="378" />
                        <span class="unread">
                            {$item['rolex']}
                        </span>
                    </div>
                </div>
                <div class="content_info_r">
                    <span class="price">￥</span><span class="price_num">{$item['zprice']}</span>
                </div>
            </div>
            <div class="commodity_address">
                <span class="comm_add">社区：{$item['regionname']}</span>
            </div>
        </div>
    </a>
    <div class="commodity_fbxx">

    {if $op=='my'}
        <div class="commodity_name">
            <div class="edit_del_btn" onclick="window.location.href='{php echo $this->createMobileUrl(fled,array('op' => 'post','id'=> $item['id']))}'">编辑</div>
            <div class="edit_del_btn" onclick="delsell({$item['id']})">删除</div>
        </div>
    {/if}

        <div class="commodity_time">


            <font color="blue"></font>{php echo date('Y-m-d H:i:s', $item['createtime'])}


        </div>
    </div>

</div>
			{/loop}
