{loop $list $item}
<div class="list img-rounded">
	<div class="hd">
		<span class="title">{if intval($item['status'])==0}<p class="text-danger">未解决</p>{elseif intval($item['status'])==1}<p class="text-success">已解决</p>{else}<p class="text-warning">已撤销</p>{/if}</span>
		<span class="date">{php echo date('Y-m-d H:i:s', $item['createtime']);}</span>
	</div>
	<div class="content">
		<p><span class="label label-info">{$item['servicesmallcategory']}</span></p>
		<p><span class="label alert-info">家政需求:</span>{$item['requirement']}</p>
		<p><span class="label alert-info">备注说明:</span>{$item['remark']}</p>
		{if $item['openid'] == $_W['fans']['from_user']}
			<div class="author">
			{if $item['status'] == '0'}
				<a href="{php echo $this->createMobileUrl('homemaking', array('id'=>$item['id'],'op'=>'post'));}" ><i class="icon-edit"></i> 编辑</a>
				&nbsp;&nbsp; 
				<a href="{php echo $this->createMobileUrl('homemaking', array('id'=>$item['id'],'op'=>'resolve'));}" onclick="return confirm('您的家政服务是否已经完成了，确定完成吗？')"><i class="icon-ok-sign"></i> 完成</a>
				&nbsp;&nbsp; 
				<a href="{php echo $this->createMobileUrl('homemaking', array('id'=>$item['id'],'op'=>'cancel'));}" onclick="return confirm('是否确认取消该条申请？')"><i class="icon-trash"></i> 取消</a>
			{/if}
			</div>
		{/if}
	</div>
</div>
{/loop}