{loop $list $item}
<div class="list img-rounded" {if $item['img']}style="height:250px;"{/if}>
	<div class="hd">
		<span class="title">{if intval($item['status'])==0}<p class="text-danger">未解决</p>{elseif intval($item['status'])==1}<p class="text-success">已解决</p>{else}<p class="text-warning">已取消</p>{/if}</span>
		<span class="date">{php echo date('Y-m-d H:i:s', $item['createtime']);}</span>
	</div>
	<div class="content">
		<p><span class="label label-info">{$categories[$item['servicesmallcategory']]['name']}</span></p>
		<p><span class="label alert-info">说明:</span>{$item['requirement']}</p>
		<p><span class="label alert-info">备注:</span>{$item['remark']}</p>
		<p><span class="label alert-info">联系手机:</span>{$item['mobile']}</p>
		 {if $item['img']}
        <p style='margin-top:5px;'>
            {loop $item['img'] $value}
                <img src="{$value['src']}" style="width: 60px; height: 60px;border:1px solid white;float:left;" />
            {/loop}
        </p>
        {/if}
		<div class="author">
		{if $item['status'] == '0'}
			<a href="{php echo $this->createMobileUrl('houselease', array('id'=>$item['id'],'op'=>'post'));}" ><i class="icon-edit"></i> 编辑</a>
			&nbsp;&nbsp; 
			<a href="{php echo $this->createMobileUrl('houselease', array('id'=>$item['id'],'op'=>'resolve'));}" onclick="return confirm('您的房屋租赁是否已经完成了，确定完成吗？')"><i class="icon-ok-sign"></i> 完成</a>
			&nbsp;&nbsp; 
			<a href="{php echo $this->createMobileUrl('houselease', array('id'=>$item['id'],'op'=>'cancel'));}" onclick="return confirm('是否确认取消该条申请？')"><i class="icon-trash"></i> 取消</a>
		{/if}
		</div>
	</div>
</div>
<div style='clear: both;'></div>
{/loop}