{template 'header'}
<link href="{MODULE_URL}template/css/css.css" rel="stylesheet" />
<link href="{MODULE_URL}template/css/stylesheet.css" rel="stylesheet" />


<div class="user_top" onclick="window.location.href='{php echo $this->createMobileUrl('member',array('op' => 'my'))}'">
    <div class="user_edit"></div>
</div>
<div class="user_info">
    <div class="user_img">
        <img src="{$auth['headimgurl']}" />
    </div>
    <span>{$auth['nickname']}</span>
</div>
<div class="user_min_info">
    <i class="fa fa-building"></i>&nbsp;<span>区域：{$region['title']}</span>
</div>
<div class="user_min_info last_child_margin">
    <i class="glyphicon glyphicon-phone"></i>&nbsp;<span>手机：{$member['mobile']}</span>
</div>
<div class="sq_box">



    <a href="{php echo $this->createMobileUrl('repair', array('op' => 'my'))}" class="user_list_a">
        <div class="user_list_a_img">
            <i class="fa fa-wrench"></i>
        </div>
        <div class="user_list_a_title">
            我的报修信息
        </div>
        <div class="user_list_a_zx">
            <img src="{MODULE_URL}/template/image/zz.png" />
        </div>
    </a>
    <a href="{php echo $this->createMobileUrl('report',array('op' => 'my'))}" class="user_list_a">
        <div class="user_list_a_img">
            <i class="fa fa-legal"></i>
        </div>
        <div class="user_list_a_title">
            我的投诉信息
        </div>
        <div class="user_list_a_zx">
            <img src="{MODULE_URL}/template/image/zz.png" />
        </div>
    </a>
    <a href="{php echo $this->createMobileUrl('fled',array('op' => 'my'))}" class="user_list_a">
        <div class="user_list_a_img">
            <i class="fa fa-exchange"></i>
        </div>
        <div class="user_list_a_title">
            我的跳蚤市场
        </div>
        <div class="user_list_a_zx">
            <img src="{MODULE_URL}/template/image/zz.png" />
        </div>
    </a>


    <a href="{php echo $this->createMobileUrl('houselease',array('op'=> 'my'))}" class="user_list_a">
        <div class="user_list_a_img">
            <i class="fa fa-info"></i>
        </div>
        <div class="user_list_a_title">
            我的租赁信息
        </div>
        <div class="user_list_a_zx">
            <img src="{MODULE_URL}/template/image/zz.png" />
        </div>
    </a>

    <a href="{php echo $this->createMobileUrl('homemaking',array('op'=> 'my'))}" class="user_list_a">
        <div class="user_list_a_img">
            <i class="fa fa-leaf"></i>
        </div>
        <div class="user_list_a_title">
            我的家政信息
        </div>
        <div class="user_list_a_zx">
            <img src="{MODULE_URL}/template/image/zz.png" />
        </div>
    </a>


    <a href="{php echo $this->createMobileUrl('car',array('op'=>'my'))}" class="user_list_a">
        <div class="user_list_a_img">
            <i class="fa fa-truck"></i>
        </div>
        <div class="user_list_a_title">
            我的拼车信息
        </div>
        <div class="user_list_a_zx">
            <img src="{MODULE_URL}/template/image/zz.png" />
        </div>
    </a>
    <a href="{php echo $this->createMobileUrl('shopping',array('op' => 'myorder'))}" class="user_list_a">
        <div class="user_list_a_img">
            <i class="fa fa-list"></i>
        </div>
        <div class="user_list_a_title">
            我的商城订单
        </div>
        <div class="user_list_a_zx">
            <img src="{MODULE_URL}/template/image/zz.png" />
        </div>
    </a>
    
</div>
<br/>
<br/>
<br/> {template 'footer'}
