<div style="width:100%;height:40px;background:#f6b26b">    
    <a href="javascript:history.go(-1)" style="font-size:24px;color:white;display:block;float:left;margin-left:10px;">
        <i class="fa fa-chevron-left" style='line-height:40px;'></i>
    </a>
    <a href="" style="font-size:18px;color:white;display:block;float:left;line-height:40px;margin-left:90px;">
		{$title}
	</a>
    <a href="javascript:history.go(0)" style="font-size:24px;color:white;display:block;float:right;margin-right:10px;">
		<i class="glyphicon glyphicon-refresh" style='line-height:40px;'></i>
	</a>   
</div>
<!-- <link href="{MODULE_URL}template/css/css.css" rel="stylesheet" />
<link href="{MODULE_URL}template/css/stylesheet.css" rel="stylesheet" />
<div class="top_menu">
	        {$title}
</div> -->