<!-- <div class="list-item img-rounded">
	<div>
		<a href="{php echo $this->createMobileUrl('shopping', array('op' => 'detail','id' => $item['id']))}">
			<img src="{php echo tomedia($item['thumb']);}">
		</a>
		<span class="title">
			<a href="{php echo $this->createMobileUrl('shopping', array('op' => 'detail','id' => $item['id']))}">
				{$item['title']}
			</a>
			{if $item['type'] == '2'}(虚拟){/if}
		</span>
	</div>
	<span class="sold">
		<span class="soldnum pull-left">已售{$item['sales']}件</span>
		<span class="price pull-right">{$item['marketprice']}元</span>
	</span>
</div> -->

<div class="col-xs-6 goods_item">
    <div class="border-box">
        <a href="{php echo $this->createMobileUrl('shopping', array('op' => 'detail','id' => $item['id']))}"><img src="{php echo tomedia($item['thumb']);}">
            <p class="good_title">{$item['title']}</p>
            <p class="good_price"><span><b>{$item['marketprice']}</b>元</span>已售{$item['sales']}件</p>
        </a>
    </div>
</div>