<!-- <style>
.footerbar{position:fixed; left:0; bottom:0px; width:100%; height:50px; background:#f1f1f1; border-top:1px solid #c9c9c9; z-index:5;}
.footerbar a{display:block; float:left; padding:5px 0; width:24.5%; height:50px; text-align:center; color: #4f4f4f; text-decoration:none; border-left:1px solid #e1e1e1;}
.footerbar a:first-child{border-left:0;}
.footerbar a i{font-size:20px; display:block;}
#footer { position:fixed;width:100%;left:0;bottom:0px;height:30px;line-height:30px;color:#fff;background:#333;border-top:0;}
</style>
<div class="footerbar">
	<a href="{php echo $this->createMobileUrl('shopping',array('op' => 'list'))}"><i class="fa fa-gift"></i> 商城首页</a>
	<a href="{php echo $this->createMobileUrl('shopping',array('op' => 'mycart'))}"><i class="fa fa-shopping-cart"></i> 购物车</a>
	<a href="{php echo $this->createMobileUrl('shopping',array('op' => 'myorder'))}"><i class="fa fa-user"></i> 我的订单</a>
	<a href="{php echo $this->createMobileUrl('shopping',array('op' => 'contactus'))}"><i class="fa fa-globe"></i> 品牌介绍</a>
</div>
<script>
document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
			WeixinJSBridge.call('hideToolbar');
			{if $_GPC['act']!='entry' && $_GPC['do']!="list" && $_GPC['do']!='list2' && $_GPC['do']!='detail' && $_GPC['do']!='contactus'}
				WeixinJSBridge.call('hideOptionMenu');
			 {else}
				WeixinJSBridge.call('showOptionMenu');
			{/if}
});
</script> -->


<div class="footerWrapper market_bottom good_list_bottom">
        <div class="row">
            <div class="col-xs-3"><a href="{php echo $this->createMobileUrl('home')}"><i class="icon-home"></i><br>首页</a></div>
            <div class="col-xs-3"><a href="{php echo $this->createMobileUrl('shopping',array('op' => 'list2'))}"><i class="icon-th"></i><br>全部商品</a></div>
            <div class="col-xs-3"><a href="{php echo $this->createMobileUrl('shopping',array('op' => 'myorder'))}"><i class="icon-list"></i><br>我的订单</a></div>
            <div class="col-xs-3 shop_cart">
                <div class="cirle_bg"></div>
                <div class="cirle"><a href="{php echo $this->createMobileUrl('shopping',array('op' => 'mycart'))}"><i class="icon-shopping-cart"></i><br>购物车</a></div>
            </div>
        </div>
    </div>