{template 'common/header'}
<title>分销订单</title>
<style type="text/css">
body {margin:0px; background:#eee; font-family:'微软雅黑'; -moz-appearance:none;}
a {text-decoration:none;}
.order_top {height:44px; width:100%;  background:#f8f8f8;  border-bottom:1px solid #e3e3e3;}
.order_top .title {height:44px; width:auto;margin-left:10px; float:left; font-size:16px; line-height:44px; color:#666;}
.order_top .num { float:right;color:#666;height:44px;line-height:44px;padding-right:5px;}
    
.order_menu {height:44px; background:#fff;}
.order_menu .nav {height:44px; width:25%; border-bottom:1px solid #f1f1f1;background:#fff; border-left:1px solid #f1f1f1; float:left; line-height:44px; font-size:14px; color:#666; text-align:center;}
.order_menu .navon {height:42px; color:#08BC05; border-bottom:2px solid #08BC05;}

.order_title {height:40px; padding:5px; line-height:50px; font-size:16px; color:#666;}

.order_list {height:40px; padding:10px; background:#fff;margin-top:5px;}
.order_list .left {height:40px; width:100%; float:left; color:#999; margin-right:-20%;font-size:14px;}
.order_list .left .inner { width:100%;margin-right:-20%}
.order_list .left span {color:#666; font-size:14px; line-height:28px;}
.order_list .right {height:40px; width:20%; float:right; font-size:14px; text-align:right; line-height:18px; margin-left:-20%;}
.order_list .right span {color:#f90;}
.order_no {height:100px; width:100%; margin:50px 0px 60px; color:#ccc; font-size:12px; text-align:center;}
#order_loading { padding:10px;color:#666;text-align: center;}
</style>
<div class="order_top">
    <div class="title" onclick='history.back()'><i class='fa fa-chevron-left'></i> 分销订单({$ordercount})</div>
    <div class='num'>预计: +{$commissioncount}元</div>
</div>
<div class="order_menu">
        <div class="nav navon" style="border-left:0px;width:24%;" data-status=''>所有订单</div>
        <div class="nav"  data-status='0'>待付款</div>
        <div class="nav"  data-status='1'>已付款</div>
        <div class="nav"  data-status='3'>已完成</div>
</div>

<div id='container'></div>
<script id='tpl_order' type='text/html'>
    <%each list as order%>
  <div class="order_list">
    <div class="left"><div class='inner'><%order.ordersn%>(<%order.level%>级)<br><span><%order.createtime%></span></div></div>
   <div class="right">+<%order.commission%><br><span><%order.status%></span></div>
</div>
    <%/each%>
</script>
<script id='tpl_empty' type='text/html'>
    <div class="order_no"><i class="fa fa-file-text-o" style="font-size:100px;"></i><br><span style="line-height:18px; font-size:16px;">您还没有相关分销订单~</span></div>
</script>

<script language="javascript">
    var page = 1;
   var current_status = 1;
    require(['tpl', 'core'], function (tpl, core) {

function bindScroller(){
    
      
    
        //加载更多
        var loaded = false;
        var stop = true;
        $(window).scroll(function () {
            if (loaded) {
                return;
            }
            totalheight = parseFloat($(window).height()) + parseFloat($(window).scrollTop());
            if ($(document).height() <= totalheight) {

                if (stop == true) {
                    stop = false;
                    $('#container').append('<div id="order_loading"><i class="fa fa-spinner fa-spin"></i> 正在加载...</div>');
                    page++;
                    core.pjson('commission/order', {status:current_status,page: page}, function (morejson) {
                        stop = true;
                        $('#order_loading').remove();
                        $("#container").append(tpl('tpl_order', morejson.result));
                        if (morejson.result.list.length < morejson.result.pagesize) {
                            $("#container").append('<div id="order_loading">已经加载完全部订单</div>');
                            loaded = true;
                            $(window).scroll = null;
                            return;
                        }
                    }, true);
                }
            }
        });
}
        function getOrder(status) {
            $('.order_menu .nav').removeClass('navon');
            $('.order_menu .nav[data-status=\'' + status + '\']').addClass('navon');
            core.pjson('commission/order', {status:status, page: page}, function (json) {
                if (json.result.list.length <= 0) {
                    $('#container').html(tpl('tpl_empty'));
                    return;
                }
                $('#container').html(tpl('tpl_order', json.result));
                bindScroller();
            }, true);
        }
        $('.order_menu .nav').unbind('click').click(function () {
            page = 1; current_status = $(this).data('status')
            getOrder(current_status);

        });

        getOrder('');

    })
</script>
{php $show_footer=true}
{template 'common/footer'}
