html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.6
}

body {
    -webkit-touch-callout: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f3f3f3;
    line-height: inherit
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-size: 16px
}

* {
    margin: 0;
    padding: 0;
    font-style: normal
}

a {
    color: #607fa6;
    text-decoration: none
}

.rich_media_inner {
    font-size: 15px;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto
}

.rich_media_area_primary {
    position: relative;
    padding: 10px 15px 15px;
    background-color: #fff
}

.rich_media_area_primary:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    top: auto;
    bottom: -2px
}

.rich_media_area_extra {
    padding: 0 15px 0
}

.rich_media_title {
    margin-bottom: 12px;
    line-height: 1.4;
    font-weight: 400;
    font-size: 24px
}

.rich_media_meta_list {
    margin-bottom: 18px;
    line-height: 20px;
    font-size: 0
}

.rich_media_meta {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 10px;
    font-size: 15px
}

.meta_original_tag {
    line-height: 100px;
    overflow: hidden;
    background: transparent url(/mmbizwap/zh_CN/htmledition/images/icon/appmsg/icon_original_tag.2x24ed01.png) no-repeat 0 0;
    width: 60px;
    height: 20px;
    vertical-align: middle;
    display: inline-block;
    -webkit-background-size: 100% auto;
    background-size: 100% auto
}

.rich_media_meta_text {
    color: #8c8c8c
}

.rich_media_meta_nickname {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 9em
}

span.rich_media_meta_nickname {
    display: none
}

.rich_media_thumb {
    width: 100%;
    margin-bottom: 6px
}

.rich_media_content {
    overflow: hidden;
    color: #3e3e3e
}

.rich_media_content * {
    max-width: 100% !important;
    box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    word-wrap: break-word !important
}

.rich_media_content p {
    clear: both;
    min-height: 1em;
    white-space: pre-wrap
}

.rich_media_content em {
    font-style: italic
}

.rich_media_content fieldset {
    min-width: 0
}

.rich_media_content .list-paddingleft-2 {
    padding-left: 30px
}

.rich_media_content blockquote {
    margin: 0;
    padding-left: 10px;
    border-left: 3px solid #dbdbdb
}
