html {overflow-x: hidden;}
body {padding: 0;width: 100%;margin: 0 auto;text-shadow: none; font-family: "Microsoft YaHei";color: #464646;}

div, form, img, ul, ol, li, dl, dt, dd{margin: 0;padding: 0;border: 0;}
h1, h2, h3, h4, h5, h6,p{margin: 0;padding: 0;}
a {text-decoration: none;text-shadow: none;color: #111;}
a:visited {color: #888;}
button {background-color: #ededed;border-radius: 5px;color: #333;font-size: 16px;margin: .5em 0;padding: .7em 1em;display: block;text-align: center;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;cursor: pointer;font-weight: 700;border: 0;width: 100%;}
footer{margin: 0;padding: 0;font-weight: normal;list-style: none;font-style: normal;display: block;}
p{ min-height: 8px;}

.textshadow {
    filter: Dropshadow(offx = 1, offy = 0, color = #8B4513) Dropshadow(offx = 0, offy = 1, color = #8B4513) Dropshadow(offx = 0, offy = -1, color = #8B4513) Dropshadow(offx = -1, offy = 0, color = #8B4513);
    text-shadow: 1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff, 1px 0 1px #fff, 0 1px 1px #fff, 0 -1px 1px #fff, -1px 0 1px #fff;
}

.clearfix{*zoom:1;clear:both;}

/*é¡¶éƒ¨åŒºåŸŸ*/
.top-container {height: 101px;background-color: #e0e0e0;position: relative;padding-right: 15px;overflow: hidden;}

.top-container .avatar {float: left;margin:16px 15px;width: 60px;height: 60px;padding: 5px;background-color:#0799ff;border-radius: 50px;position: relative;}
/*.top-container .avatar {float: left;margin:16px 15px;width: 60px;height: 60px;padding: 5px;border-radius: 50px;position: relative;}*/
.top-container .avatar img {height: 60px;width: 60px;border-radius: 30px;}
.top-container .avatar img.verifyico{position: absolute;right: 0;bottom: 0;height: 16px;width: 16px;}

.top-container .avatar.index {padding: 0;height: 70px;width: 70px;}
.top-container .avatar.index img {height: 71px;width: 71px;border-radius: 40px;}

.top-container .account-info {padding: 25px 70px 0 0;text-align: center;overflow: hidden;height: 76px;}
.top-container .account-info .name {font-size: 20px;color: #607fa6;text-overflow: ellipsis;white-space: nowrap;}
.top-container .account-info .wechatname {font-size: 16px;}
.top-container .account-info .desc {color: #607fa6;margin-top: 10px;font-size: 14px;line-height: 24px;height: 24px;width: 100%;overflow: hidden;white-space:nowrap;}

.button-follow-container{position: absolute;bottom: 10px;right: 15px;padding: 0;}
/*.button-follow-container img{ height: 22px;width: 22px;}*/
.button-follow-container img{ height: 18px;width: 64px;}

.button-follow{display: inline-block;background: #0799ff;color: #fff;padding: 5px;border-radius: 2px;font-size: 12px;font-weight: bold;line-height: 12px;}
.button-follow:visited{ color: #fff;}

.top-tips {display: block;text-align: center;padding: 15px;background: #fff4db;}
.top-tips p{font-size: 14px;}
.top-tips .close {float: right;font-size: 16px;}

/*å¯¼èˆªæ */
.nav-menu-container{ height: 34px;}
.nav-menu {width: 100%;height: 34px;background: #ccc;font-size: 16px;overflow-x: hidden;top: 0;left: 0;right: 0;z-index: 9999;}
.nav-menu-list {float: left;overflow: hidden;width: 3000px;}
.nav-menu-list ul {list-style: none;margin: 0;padding: 0;}
.nav-menu-list ul li {float: left;}
.nav-menu-list ul li a {display: block;height: 24px;line-height: 24px;text-align: center;padding: 5px 0;color: #555;font-weight: 500;font-size: 14px;}

.nav-menu-list ul li.ui-btn-active {border-bottom: 4px solid #67ad03;}
.nav-menu-list ul li.ui-btn-active a {padding-bottom: 1px;font-size: 16px;}

.nav-menu-list ul.flip-snap {float: left;}
.nav-menu-list ul.flip-snap li {padding: 0 10px;}

.nav-menu .index-menu {width: 100%;}
.nav-menu .index-menu ul {list-style: none;margin: 0;padding: 0;}
.nav-menu .index-menu ul li {float: left; width: 33.33%;height: 34px;line-height: 32px;text-align: center;}
.nav-menu .index-menu ul li a {color: #555;font-size: 14px;display: block;}
.nav-menu .index-menu ul li a em{ font-size: 14px;font-style: normal;}
.nav-menu .index-menu ul li img{padding-top: 5px;height: 14px;}
.nav-menu .index-menu ul li  span{display:inline-block; width: 80px;height: 30px;line-height: 30px; background:url("http://res.wemedia.cn/mpshare/order_small.png") no-repeat;}
.nav-menu .index-menu ul li .order1{background-position:5px 7px;}
.nav-menu .index-menu ul li .order2{background-position:0px -53px;}
.nav-menu .index-menu ul li .order3{background-position:0px -110px;}

.nav-menu .index-menu ul li.ui-btn-active {border-bottom: 4px solid #0799ff;height: 30px;line-height: 30px;}
.nav-menu .index-menu ul li.ui-btn-active .order1 {background-position:5px -23px;}
.nav-menu .index-menu ul li.ui-btn-active .order2 {background-position:0px -88px;}
.nav-menu .index-menu ul li.ui-btn-active .order3 {background-position:0px -141px;}
.nav-menu .index-menu ul li.ui-btn-active a {padding-bottom: 1px;font-size: 14px; color: #0799ff;}
/*.nav-menu .index-menu ul li.ui-btn-active span{color: red;}*/

.nav-menu-tips{display: none;position: absolute;padding-left:20px;background: #2e3132;right: 0;line-height: 34px;height: 34px;color: white;background-image: linear-gradient(to right,#ccc,#2e3132);font-size: 14px;}

/*æ–‡ç« åˆ—è¡¨*/
.list-container {overflow: hidden;padding: 5px 0;}

.list-container .class-item-title {padding: 5px 10px;color: #0799ff;font-size: 14px;font-weight: bold;border-bottom: 2px #e9e9e9 solid;}
.list-container .class-item-more {padding: 15px 10px 0 10px;font-size: 14px;text-align: right;}

.article-item {border-bottom: 1px #e9e9e9 solid;clear: both;overflow: hidden;}
.article-item:hover{background: #F0F0F0;}
.article-item a {color: #111;display: block;height: 73px;}
.article-item a:visited {color: #888;}

.item-cover {float: left;margin: 7px 10px 5px 10px;width: 80px;text-align: center;border: 0;overflow: hidden;height: 60px;background: #e0e0e0;}
.item-cover img {width: 80px;height: 60px;}

.item-summary {padding: 7px 10px 7px 5px;overflow: hidden;min-height: 48px;}
.item-title {min-height: 30px;max-height: 40px;line-height: 20px;overflow: hidden;word-wrap: break-word;word-break:break-all;}
.item-title a {font-size: 14px;}

.item-text {margin-top: 5px;font-size: 12px;color: #808080;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.item-text .item-text-right{ float: right; padding-left: 20px; }
.item-text .like{background:url("http://res.wemedia.cn/mpshare/order_small.png") no-repeat;background-position:0 -180px;}
.item-text .read{background:url("http://res.wemedia.cn/mpshare/order_small.png") no-repeat;background-position:0 -202px;}


.article-entity{line-height: 33px;height: 33px;padding-right: 98px;padding-left: 10px;text-overflow: ellipsis;white-space: nowrap;position: relative;overflow: hidden;}
.article-entity:hover{background: #F0F0F0;}

.article-entity .publishtime {text-align: right;position: absolute;width: 98px;right: 10px;top: 0;background: #fff;color: #888;}
.article-entity:hover .publishtime{background: #F0F0F0;}

.search-list .item-title {height: 22px;min-height: 22px;}
.search-list .item-text {max-height: 35px;overflow: hidden;line-height: 18px;white-space: normal;}
.search-list em{font-style: normal;color: #cc0000;}

.get-more {padding: 0 10px;}
.get-more .link-button{background-color: #ededed;border-radius: 5px;color: #333;font-size: 16px;margin: .5em 0;padding: .7em 1em;display: block;text-align: center;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;cursor: pointer;font-weight: 700;border: 0;}

.home-btn{position: fixed;left: 15px;bottom: 48px;z-index: 9999;}
.home-btn a{ display: block;}

.inner-box{margin: 0;padding: 15px;color: #888;border-bottom: 1px solid #f2f2f2;line-height: 25px;overflow: hidden}
.inner-box .title{color: #000;font-size: 18px;margin-bottom: 10px;}
.inner-box .title.left-t{ float: left; width: 85px; }
.inner-box .qrcode img { max-width: 300px;width: 99%;border: 1px #eee solid;}

.inner-box p{ overflow: hidden;}


.article-list { margin-top: 5px;}
.article-list ul{list-style-type: none;margin: 0;padding: 0;}
.article-list li { line-height: 33px;height: 33px;text-overflow: ellipsis;white-space: nowrap;position:relative;overflow: hidden;list-style-type: none;}
.article-list li .publishtime{float: right;text-align: right;position: absolute;width: 85px;right: 0;top: 0;padding-left: 15px;background: #fff;color: #888;}

/*å•ç‰‡æ–‡ç« é¡µ*/
#article-inner{background: #fff;color: #222;width: auto;padding: 15px;position: relative;}
#article-inner .header .title{color: #000;font-size: 20px;font-weight: bold;word-break: normal;word-wrap: break-word;line-height: 30px;}
#article-inner .header .titlefixed{position: fixed;background: #fff;top: 0;left:0;width: 495px;padding: 15px;display: none;border-bottom: 1px solid #bbb;}
#article-inner .header .bizinfo{margin: 5px 0;}
#article-inner .bizinfo .activity-meta{display: inline-block;margin-left: 8px;padding-top: 2px;padding-bottom: 2px;color: #8c8c8c;font-size: 12px;}
#article-inner .bizinfo .activity-meta.no-extra{margin-left: 0;}
#article-inner .bizinfo a.activity-meta{color: #607FA6;font-weight: bold;}
#article-inner .page-content .innertext{font-size: 16px;color: #3e3e3e;line-height: 1.75em;width: 100%;overflow: hidden;zoom: 1;word-break: break-all;word-wrap: break-word;}
/*#article-inner .page-content .innertext>p{margin: 0px 0;}*/
#article-inner .page-content img{max-width: 100% !important;height: auto !important;margin: auto auto 10px auto;}
#article-inner .page-content iframe{margin: 15px auto;display: block;}
#article-inner .page-content *{-webkit-box-sizing: border-box!important;box-sizing: border-box!important;}
#article-inner .inner-box{margin: 30px 0 15px 0;font-size: 12px;padding: 0;border: 0;}

.follow-table{ width: 100%;border-bottom: 1px #e9e9e9 solid;}
.follow-table .avatar{ width: 80px;}
.follow-table .avatar img{  margin: 10px; height: 60px; width: 60px; border: 1px #e9e9e9 solid;}
.follow-table .info { padding-right: 10px;}
.follow-table .name {font-size: 18px; font-weight: 700; color: #000; margin-bottom: 5px;overflow: hidden;height: 22px;line-height: 22px;}
.follow-table .desc {height: 32px; overflow: hidden; color: #888; font-size: 12px; line-height: 16px;}
.follow-table .button {width: 57px; text-align: left;}

.list-container .follow-table .avatar a{ display: block;position: relative;height: 76px;width: 82px;}
.list-container .follow-table .avatar img{  margin: 5px 10px; height: 60px; width: 60px;border-radius: 50px; border: 1px #e9e9e9 solid;}
.list-container .follow-table .avatar img.verifyico {position: absolute;right: 0;bottom: 0;height: 16px;width: 16px;}

.footer-container {border: 1px #e9e9e9 solid;background: #F0F0F0;margin-top: 20px;}

.footer-retain{ height: 80px;}

.footer{ text-align:center; color:#a1a1a1; padding:36px 10px; font-size: 14px;bottom: 0;left: 0;right: 0;height: 20px}
.footer a{ color:#a1a1a1; text-decoration: underline;}

.footer-toolbar
{
    font-size: 14px;width: 100%;height: 45px;left: 0;bottom: 0;z-index: 998;
    position: fixed;border-top: 1px solid #c2c2c2;
    background: #dedede;
    background: -webkit-gradient(linear,left top, left bottom, from(#f2f2f1), color-stop(0.5, #e8e8e8), to(#dedede));
    background: -webkit-linear-gradient(top,#f2f2f1,#e8e8e8,#dedede);
    background: -moz-linear-gradient(top,#f2f2f1,#e8e8e8,#dedede);
    background: -o-linear-gradient(top,#f2f2f1,#e8e8e8,#dedede);
    /*-webkit-box-shadow: 0 0 1px 0 rgba(0,0,0,.3);*/
}

.footer-toolbar li{color: 4c4c4c;border-right: 1px solid #c2c2c2;-webkit-box-shadow: 1px 0 0 0 #eaebec;float: left;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;width: 25%;position: relative;margin: 0;padding: 0;font-weight: normal;list-style: none;font-style: normal;line-height: 45px;text-align: center;}

.footer-toolbar li a,
.footer-toolbar li a:visited{ color: #555;font-size: 14px;display: block;}

.footer-toolbar li.current a,
.footer-toolbar li.current a:visited{ color: #46aeff;font-weight: bold;font-size: 16px;}

.footer-toolbar .search-bar {position: relative;width: 100%;}
.footer-toolbar .search-bar .side-left{position: absolute; left: 6px; top: 0; line-height: 45px;}
.footer-toolbar .search-bar .side-txt{position: absolute;left: 0;right: 66px;top: 0;padding: 8px 10px;}
.footer-toolbar .search-bar .side-txt-input{width: 100%;line-height: 23px;padding: 2px 5px;border-radius: 5px;border: 0;font-size: 14px;height: 23px;}
.footer-toolbar .search-bar .side-button{position: absolute;right: 0;top: 0;background: #60b700;border: 0;line-height: 24px;margin: 8px 9px;padding: 2px 10px;border-radius: 5px;color: white;font-weight: bold;height: 27px;font-size: 14px;-webkit-appearance: none;}

.footer-toolbar .search-toggle {padding: 2px 8px;border: 1px solid #828282;border-radius: 5px;left: 14px;top: 7px;font-size: 12px;text-align: center;line-height: 16px;display: inline-block;}
.footer-toolbar .search-toggle .caret-up {border-bottom: 4px solid #000000;border-top: 0;top: 7px;left: 50%;margin-left: -2px;bottom: auto;right: auto;border-right: 4px solid transparent;border-left: 4px solid transparent;position: absolute;}
.footer-toolbar .search-toggle .caret-down {border-top: 4px solid #000000;border-bottom: 0;top: 37px;left: 42%;margin-left: -2px;bottom: auto;right: auto;border-right: 4px solid transparent;border-left: 4px solid transparent;position: absolute;}

.footer-followbar
{
    font-size: 14px;width: 100%;height: 50px;left: 0;bottom: 0;z-index: 998;
    position: fixed;border-top: 1px solid #c2c2c2;
    background: #dedede;
    background: -webkit-gradient(linear,left top, left bottom, from(#f2f2f1), color-stop(0.5, #e8e8e8), to(#dedede));
    background: -webkit-linear-gradient(top,#f2f2f1,#e8e8e8,#dedede);
    background: -moz-linear-gradient(top,#f2f2f1,#e8e8e8,#dedede);
    background: -o-linear-gradient(top,#f2f2f1,#e8e8e8,#dedede);
    /*-webkit-box-shadow: 0 0 1px 0 rgba(0,0,0,.3);*/
}
.footer-followbar .follow-button{background: #60b700;color: #fff;padding: 5px;border-radius: 5px;font-weight: bold;line-height: 31px;position: absolute;left: 15px;right: 15px;top: 5px;height: 31px;display: block;text-align: center;font-size: 20px;}


/******************slides***************************/
#slides { display: none;position: relative;background: #F0F0F0;}
#slides a:link,
#slides a:visited {color: #333}
#slides a:hover,
#slides a:active {color: #9e2020}

#slides .slidesjs-navigation {background-image: url(../img/btns-next-prev.png);background-repeat: no-repeat;display: block;width: 12px;height: 18px;overflow: hidden;text-indent: -9999px;position: absolute;top: 50%;margin-top: -18px;z-index: 9998;}
#slides .slidesjs-previous {margin-right: 5px;background-position: 0 0;left: 10px;}
#slides .slidesjs-next {margin-right: 5px;background-position: -12px 0;right: 10px;}
#slides .slidesjs-play { display: none;background: none;}
#slides .slidesjs-stop { display: none;background: none;}

.container {width: 100%;}

.slidesjs-pagination {margin: 6px 0 0;float: right;list-style: none;position: absolute;bottom: 13px;right: 10px;z-index: 9998;}
.slidesjs-pagination li {float: left;margin: 0 1px;}
.slidesjs-pagination li a {display: block;width: 13px;height: 0;padding-top: 13px;background-image: url(../img/pagination.png);background-position: 0 0;float: left;overflow: hidden;}
.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {background-position: 0 -26px}
.slidesjs-pagination li a:hover {background-position: 0 -13px}

.slidesjs-control>a{ width: 100%;height: 100%;text-align: center;overflow: hidden;}
.slidesjs-control>a>img{ width: auto;height: 100%;margin: 0 auto;}

.vote_iframe {width: 100%;background-color: transparent;border: 0;}

.boxgrid-container{width:310px;margin: 5px;margin-right: 0px;overflow:hidden;background:#fff;padding:0;border: 0;}
.boxgrid{height:40px;line-height: 40px;float:left;overflow:hidden;position:relative;color:#fff;font-size:18px;font-family:"å¾®è½¯é›…é»‘";text-align:center;padding: 5px;margin: 0 5px 5px 0;border: 0;}
.boxgrid .content{ overflow: hidden;}
.boxgrid1{width:120px;background:#607fa6;}
.boxgrid2{width:72px;background:#A3A3A3;}

.boxgrid a{color:#fff;}

/**************************  å³ä¾§èœå•  **************************/
.side-right-menu{background: #555;position: fixed;overflow: scroll;overflow-x: hidden;top:0;bottom: 0;right: -120px;width: 120px;z-index: 1000;
                 background: -moz-linear-gradient(left, #2e3132, #555);
background: -webkit-gradient(linear, 0 0, 100% 0, from(#2e3132), to(#555));
}

.side-right-menu a{ color: #fff;}
.side-right-menu ul{ list-style: none;margin: 0;padding: 0;}
.side-right-menu ul li{ line-height: 36px;padding: 0;}
.side-right-menu ul li a{ font-size:16px;display: block;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;padding: 0 15px;}

.side-right-menu .sidebox { margin: 0;}
.side-right-menu .sidebox hr { margin: 10px 0 ;border: 0;border-bottom: 1px #e9e9e9 solid;}

.function-item{ border-bottom: 1px #e9e9e9 solid;overflow: hidden;position: relative;line-height: 36px;}
.function-item>a{display: block;}
.function-item .function-title{ font-size: 20px;padding: 15px;}
.function-item .function-go { position: absolute;right: 15px;top: 20px;}
.function-item .function-operate { position: absolute;right: 0px;top: 0;z-index: 1000;height: 66px;line-height: 66px;}
.function-item .function-operate>a{ display: inline-block;}

.function-item:hover{background: #F0F0F0;}


.footer-toolbar-fix
{
    font-size: 14px;width: 100%;height: 60px;left: 0;bottom: 0;z-index: 998;
    position: fixed;border-top: 1px solid #c2c2c2;
    background: #2E3132;
    display: block;
}
.footer-toolbar-fix li{color: 4c4c4c;border-right: 1px solid #c2c2c2;-webkit-box-shadow: 1px 0 0 0 #eaebec;float: left;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;width: 25%;position: relative;margin: 0;padding: 0;font-weight: bold; list-style: none;font-style: normal;line-height: 45px;text-align: center;}

.footer-toolbar-fix li a,
.footer-toolbar-fix li a:visited{ color: #555;font-size: 14px;display: block;}

.footer-toolbar-fix li.current a,
.footer-toolbar-fix li.current a:visited{ color: #46aeff;font-weight: bold;font-size: 16px;}

.footer-toolbar-fix .search-bar {position: relative;width: 100%;}
.footer-toolbar-fix .search-bar .side-left{position: absolute; left: 6px; top: 0; line-height: 45px;}
.footer-toolbar-fix .search-bar .side-txt{position: absolute;left: 0;right: 66px;top: 0;padding: 8px 10px;}
.footer-toolbar-fix .search-bar .side-txt-input{width: 100%;line-height: 23px;padding: 2px 5px;border-radius: 5px;border: 0;font-size: 14px;height: 23px;}
.footer-toolbar-fix .search-bar .side-button{position: absolute;right: 0;top: 0;background: #60b700;border: 0;line-height: 24px;margin: 8px 9px;padding: 2px 10px;border-radius: 5px;color: white;font-weight: bold;height: 27px;font-size: 14px;-webkit-appearance: none;}

.footer-toolbar-fix .search-toggle {padding: 2px 8px;border: 1px solid #828282;border-radius: 5px;left: 14px;top: 7px;font-size: 12px;text-align: center;line-height: 16px;display: inline-block;}
.footer-toolbar-fix .search-toggle .caret-up {border-bottom: 4px solid #000000;border-top: 0;top: 7px;left: 50%;margin-left: -2px;bottom: auto;right: auto;border-right: 4px solid transparent;border-left: 4px solid transparent;position: absolute;}
.footer-toolbar-fix .search-toggle .caret-down {border-top: 4px solid #000000;border-bottom: 0;top: 37px;left: 42%;margin-left: -2px;bottom: auto;right: auto;border-right: 4px solid transparent;border-left: 4px solid transparent;position: absolute;}
.footer-toolbar-fix img{
    /*width: 100%;*/
    max-height: 50px;
    text-align: center;
    /*opacity: 0.5;*/
}

#biz-link.btn {
    
    background-size:100% 100%;
    border:none;
    height:42px;
    position:relative;
    text-align:left;
    padding:12px;
    padding-left:62px;
    display: block;
    margin-top:8px;
}
#biz-link.btn .arrow {
    position:absolute;
    top:22px;
    right:15px;
}
#biz-link.btn .logo {
    position:absolute;
    padding:6px;
    width:42px;
    height:42px;
    overflow:hidden;
    top:6px;
    left:5px;
}
#biz-link.btn .logo img {
    width:42px;
    height:42px;
    position:relative;
    z-index:10;
    border-radius:15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}
#biz-link.btn .logo .circle {
    position:absolute;
    top:0;
    left:0;
    width:54px;
    height:54px;
    background:url(http://res.wemedia.cn/mpshare/avatar_circle.png) no-repeat center center;
    z-index:100;
    background-size:100% 100%;
}
#biz-link.btn #nickname {
    font-size:15px;
    color:#454545;
}
#biz-link.btn #weixinid {
    font-size:12px;
    color:#a3a3a3;
    line-height:20px;
}
.top-container {background-color: #0E5B74;}
/*.top-container .avatar img {background: #fff;}*/
.top-container .account-info .name {color: #fff;}
.top-container .account-info .desc {color: #aaa;}

.footer-toolbar .search-bar .side-button{background-color: #2e3132;color: #fff; }

.boxgrid1{background:#2F2F32;}
.boxgrid2{background:#697072;}