{template 'common/header'}
<ul class="nav nav-tabs">
	<li  class="active"><a href="{php echo $this->createWebUrl('acmanagers',array());}">经理管理</a></li>
	<li><a href="{php echo $this->createWebUrl('acmanager',array('op'=>'post'));}">添加邀请码</a></li>
	<li ><a href="{php echo $this->createWebUrl('acmanager',array('op'=>'list'));}">邀请码管理</a></li>
</ul>
<style>	
.label-important {
	background-color: #747474;
}
</style>
<div class="main">
	<div class="stat">
		<form action="" method="post">
			<input type="hidden" name="c" value="site" />
			<input type="hidden" name="a" value="entry" />
			<input type="hidden" name="m" value="broke" />
			<input type="hidden" name="do" value="acmanagers" />
			<input type="hidden" name="op" value="sort" />
			<table class="table sub-search">
			<table class="table sub-search">
				<tbody>
					<tr>
						<th style="width:100px;">真实姓名</th>
						<td>
							<input name="realname" class="form-control" style="width:150px;" type="text" value="{$sort['realname']}" />
						</td>
					</tr>
					<tr>
						<th style="width:100px;">手机号码</th>
						<td>
							<input name="mobile" class="form-control" style="width:150px;" type="text" value="{$sort['mobile']}" />
						</td>
					</tr>
					<tr>
						<th></th>
						<td>
							<input type="submit" value="搜索" class="btn btn-primary">
						</td>
					</tr>
				</tbody>
			</table>
		</form>
		
		<div class="stat-div">
			<div class="sub-item" id="table-list">
				<h4 class="sub-title" style="float:right;color:red;">总数：<?php echo $total;?>&nbsp;&nbsp;&nbsp;<a href="">刷新</a></h4>
				<h4 class="sub-title">经理名单</h4>

				<form action="" method="post" onsubmit="">
					<div class="sub-content">
						<table class="table table-hover">
							<thead class="navbar-inner">
								<tr>
									<th class="row-hover">真实姓名</th>
									<th class="row-hover">手机号码</th>
									<th class="row-hover">注册时间</th>
									<th class="row-hover">状态</th>
									<th class="row-hover">操作</th>
								</tr>
							</thead>
							<tbody>
								{loop $list $v}
								<tr>
									<td>
										{$v['realname']}
									</td>
									<td>
										{$v['mobile']}
									</td>
									<td>
										{php echo date('Y-m-d',$v['createtime'])}
									</td>
									<td>
									{if $v['status']==0}
										<span class="label label-important">禁用</span>
									{else}
										<span class="label label-success">可用</span>
									{/if}
									</td>
									<td>
										<a href="{php echo $this->createWebUrl('acmanagers',array('op'=>'del','id' => $v['id']));}" onclick="return confirm('确定要删除该销售员吗？');">删除</a>
										<a href="{php echo $this->createWebUrl('acmanagers',array('op'=>'showdetail','id' => $v['id']));}">详情</a>		
									</td>
								</tr>
								{/loop}
							</tbody>
						</table>
					</div>
				</form>
				{$pager}
			</div>
		</div>
	</div>
</div>
{template 'common/footer'}