{template 'common/header'}
<ul class="nav nav-tabs">
	<li ><a href="{php echo $this->createWebUrl('counselors', array())}">销售员管理</a></li>
	<li><a href="{php echo $this->createWebUrl('counselor',array('op'=>'post'));}">添加邀请码</a></li>
	<li class="active"><a href="{php echo $this->createWebUrl('counselor',array('op'=>'list'));}">邀请码管理</a></li>
</ul>
<style>	
.label-important {
	background-color: #747474;
}
</style>	
<div class="main">
	<div class="category">
	<form action="" method="post">
		<table class="table table-hover">
			<thead>
				<tr>
					<th style="width:10px;"></th>
					<th style="width:180px;">显示顺序</th>
					<th>邀请码</th>
					<th>添加时间</th>
					<th>状态</th>
					<th style="width:150px;">操作</th>
				</tr>
			</thead>
			<tbody>
			{loop $list $v} 
			  <tr>
					<td></td>
					<td><input type="text" class="form-control" style="width:60px;" name="listorder[{$v['id']}]" value="{$v['listorder']}"></td>
					<td>{$v['code']}</td>
					<td>{php echo date('Y-m-d H:i',$v['createtime'])}</td>
					<td>{if $v['status']=='1'}<span class="label label-success">可用</span>{else}<span class="label label-important">已用</span>{/if}</td>
					<td style="text-align:left;">
					<a href="{php echo $this->createWebUrl('counselor',array('id' => $v['id'],'op'=>'post'))}">编辑</a>
					<a href="{php echo $this->createWebUrl('counselor', array('op'=>'del','id' => $v['id']))}" onclick="return confirm('确定删除该身份吗？');" >删除</a>
					</td>
				</tr>
			{/loop} 
			</tbody>
		</table>
		<table>
			<tr>
				<th style="width:30px"></th>
				<td>
					<button type="submit" class="btn btn-primary" name="submit" value="提交">提交</button>
					<input type="hidden" name="token" value="{$_W['token']}" />
				</td>
			</tr>
		</table>
	</form>
	</div>
</div>
{template 'common/footer'}
