<div class="list-item img-rounded">
	<div>
		<a href="{php echo $this->createMobileUrl('detail', array('id' => $item['id']))}">
			<img src="{php echo tomedia($item['thumb']);}">
		</a>
		<span class="title">
			<a href="{php echo $this->createMobileUrl('detail', array('id' => $item['id']))}">
				{$item['title']}
			</a>
			{if $item['type'] == '2'}(虚拟){/if}
		</span>
	</div>
	<div class="sold">
		<span  class="price">
			<span>￥{$item['marketprice']}</span> &nbsp;
			<del>￥{$item['originalprice']}</del>
		</span>
		<span class="soldnum text-right">已售{$item['sales']}件</span>
	</div>
</div>