﻿@font-face {font-family: 'iconfont';
    src: url('../ifont/iconfont.eot'); /* IE9*/
    src: url('../ifont/iconfontd41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../ifont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../ifont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../ifont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
   font-family: "iconfont" !important;
font-size: 64px;
font-style: normal;
display: block;
text-align: center;
height: 62px;
line-height: 103px;
color: #fff;
}
#content {
	width: 100%;
	margin: 0 auto;
}
.tit {
	height: 55px;
	line-height: 85px;
	margin: 20px 0px;
	text-align: center;
	font-size: 16px;
	letter-spacing: 1.5px;
}
#time {
	width: 50px;
	margin: 10px auto;
	font-size: 12px;
	padding: 3px;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	background: #cecece;
	visibility: hidden;
}
#sound {
	position: relative;
	height: 35px;
	margin: 0 auto 10px;
	width: 170px;
	line-height: 35px;
	border-radius: 4px;
	display: none;
}
#sound:before {
	content: "";
	position: absolute;
	top: 10px;
	right: -17px;
	width: 0;
	height: 0;
	font-size: 0;
	background: #fff;
	border: solid 8px;
	border-color: #FFFFFF #FFFFFF #FFFFFF #a2e759;
}
#aftersound {
	position: absolute;
	right: -3px;
	height: 35px;
	background: #a2e759;
	border-radius: 4px;
}
.hold-sound {
	position: relative;
	height: 35px;
	margin: 0 auto 10px;
	width: 170px;
	line-height: 35px;
	border-radius: 4px;
	display: block;
	top: -50px;
}
#holdsay {
	position: absolute;
	right: -8px;
	width: 60px !important;
	height: 100%;
	visibility: hidden;
}
#sound span {
	position: absolute;
	left: -30px;
	color: #ddd;
}
#sound img {
	width: 13px;
	position: absolute;
	top: 8px;
	right: 15px;
}
.again {
	position: absolute;
	bottom: 200px;
	left: 0px;
	right: 0;
	text-align: center;
	letter-spacing: 2px;
	color: #ccc;
	  font-size: 20px;
}

#mask {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9;
	background: rgba(0, 0, 0, .6);
}
#record {
	position: absolute;
	left: 0;
	right: 0;
	top: 180px;
	margin: 0 auto;
	height: 135px;
	width: 135px;
	display: none;
}
#record img {
	width: 100%;
	display: block;
	margin: 0 auto;
}
.record_info {
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
	font-size: 13px;
	color: #ccc;
}
.cancel-send {
	font-size: 12px;
position: absolute;
left: 8px;
bottom: 10px;
padding: 3px;
background: #a5373a;
text-align: center;
width: 85%;
color: #fff;
border-radius: 2px;
}
#endtime,.shortRecord,#slideRecord {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 135px;
	height: 135px;
	background: rgba(0, 0, 0, .55);
	border-radius: 5px;
	display: none;
}
.over {
	height: 100px;
	line-height: 100px;
	display: block;
	font-size: 88px;
	color: #fff;
	text-align: center;
	width: 135px;
}
#nowShare,
#mysay {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 53px;
  width: 230px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 14px;
  color: #FFFFFF;
  border: 1px solid #0bbc0a;
  border-radius: 5px;
  letter-spacing: 2px;
  background: #0bbc0a;
}
#mysay {
	display: block;
	bottom: 123px;
}
#nowShare {
	display: block;
}

#share {
	position: fixed;
	border-top: 15px solid #272929;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 5;
	letter-spacing:1.2px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s ;
	-ms-transition: all 0.5s ;
	-o-transition: all 0.5s ;
	transition: all 0.5s ;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
	transform: translateY(100%);
}
#share:before {
	content: "▲";
	position: absolute;
	font-size: 14px;
	top: -15px;
	right: 10px;
	color: #fff;
}
#share button {
	position: absolute;
	bottom: 160px;
	left: 0;
	right: 0;
	margin: 0 auto;
	font-size: 16px;
	border:1px solid #0bbc0a;
	color: #0bbc0a;
	background: #fff;
	width: 230px;
	height: 35px;
	border-radius: 4px;
}
#myCenter_user {
	position: absolute;
	bottom: 60px;
	left: 0;
	right: 0;
	margin: 0 auto;
	font-size: 16px;
	border:1px solid #0bbc0a;
	color: #0bbc0a;
	background: #fff;
	width: 230px;
	height: 35px;
	border-radius: 4px;
}
#myCenter_user  span{
	  text-align: center;
	  margin: 0 auto;
	  /* padding: 29%; */
	  line-height: 35px;
	  position: absolute;
	  left: 73.5px;
}
.share-b {
	position: relative;
	top: 130px;	
	line-height: 30px;			
	text-align: center;
}
.share-b span {
	color: #999;
}
@font-face {font-family: 'pengyouquan';
    src: url('../ifont/pyq.eot'); /* IE9*/
    src: url('../ifont/pyqd41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../ifont/pyq.woff') format('woff'), /* chrome、firefox */
    url('../ifont/pyq.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../ifont/pyq.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.pengyouq{
    font-family:"pengyouquan" !important;
    font-size:24px;
    color: #999;
    font-style:normal;
}
.share-open {
	-webkit-transform: translateY(0%) !important;
	-moz-transform: translateY(0%) !important;
	-ms-transform: translateY(0%) !important;
	-o-transform: translateY(0%) !important;
	transform: translateY(0%) !important;
}