﻿.clearfix{*zoom:1}
.clearfix:before,.clearfix:after{display:table;content:""}
.clearfix:after{clear:both}
.hide-text{border:0;background-color:transparent;color:transparent;text-shadow:none;font:0/0 a}
.input-block-level{display:block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;min-height:28px;-ms-box-sizing:border-box}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;vertical-align:baseline;font:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0)}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
background-color: #ffffff;border: 1px solid #535069;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-transition: border linear .2s, box-shadow linear .2s;-moz-transition: border linear .2s, box-shadow linear .2s;-o-transition: border linear .2s, box-shadow linear .2s;transition: border linear .2s, box-shadow linear .2s;}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
display: inline-block;height: 20px;padding: 4px 6px;margin-bottom: 10px;font-size: 14px;line-height: 20px;
color: #555555;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;vertical-align: middle;}
body{line-height:1}
ol,ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
caption,th,td{vertical-align:middle;text-align:left;font-weight:normal}
q,blockquote{quotes:none}
q:before,q:after,blockquote:before,blockquote:after{content:"";content:none}
a img{border:0}
strong,b{ font-weight:bold;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block}
h1,h2,h3,h4,h5{font-weight:normal;font-size:100%}
.clearfix:after{clear:both;display:block;visibility:hidden;height:0;content:" ";font-size:0}
.clearfix{*zoom:1}
.left{float:left}
.right{float:right}
body{margin:0 auto;background:#f7f7f7;color:black;font-size:14px;font-family:"Microsoft Yahei",Verdana,Arial,Helvetica,sans-serif;-webkit-text-size-adjust:none}
input,textarea,select,option,td,th{font-size:14px;font-family:"Microsoft Yahei",tahoma,Arial,Helvetica,sans-serif}
.nav{position:fixed;top:0;left:0;z-index:9999;margin-bottom:0;width:100%;height:49px;background:url(img/top-bg.jpg) repeat-x 0 0;-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.5);-moz-box-shadow:0 1px 2px rgba(0,0,0,0.5);box-shadow:0 1px 2px rgba(0,0,0,0.5);_position:absolute}
.nav .nav-content{position:relative;margin:0 auto;width:1000px}
.nav h1{width:200px;height:50px;background:url(/img/logo.png) no-repeat 0 0;text-indent:-9999em;_filter:progid:dximagetransform.microsoft.AlphaImageLoader(enabled=true,src='img/weimob-logo.png');_background:0;_position:absolute;_top:10px;_left:0;_margin-top:0}
.city{width:163px;height:45px;line-height:50px}
.city h2{float:left;padding-right:15px;height:21px;color:#FFF;font-size:14px}
.city a{position:relative;float:left;display:inline-block;margin-top:0px;padding-right:12px;height:18px;color:#868686;text-decoration:none;_margin-top:0}
.city a .tri4{top:23px;right:0;border-top:4px solid #868686;_top:8px}
.tri4{position:absolute;width:0;height:0;border:4px dashed transparent;font-size:0;line-height:0;cursor:pointer}
.nav .line-li{margin-top:10px;width:600px}
.nav .line-li li{float:left;margin-left:-1px;*margin-left:-4px}
.nav .line-li li{padding:0 5px; margin:0 3px;svertical-align:top;line-height:27px; font-size:16px;}
.nav .line-li li a{display:inline-block;width:66px;height:27px;color:#fff;text-align:center;text-decoration:none;text-shadow:none;font-size:14px;-webkit-transition:all .2s linear;-moz-transition:all .2s linear;-o-transition:all .2s linear;transition:all .2s linear;-ms-transition:all .2s linear;_vertical-align:baseline}
.nav .line-li li a:hover{display:inline-block;background:url(img/weimob-nav.png) no-repeat;color:#fff}
.nav .line-li li a.hover{display:inline-block;background:url(img/weimob-nav.png) no-repeat;color:#fff}
.header{position:relative;padding-top:50px;width:100%;height:500px}
.header .header-content{margin:0 auto;padding-top:60px;width:1000px}
.full-height{margin-top:60px}
.line{height:1px;background:url(img/line.png) no-repeat center 0}
.content{margin:0 auto;width:1000px;_background:0}
.feature-content{margin:0 auto;width:1000px}
.feature-content .icon{background:url(img/icon.png) no-repeat center 17px;_background:url(img/icon.gif) no-repeat center 17px}
.feature-content a{color:#000;text-decoration:none}
.feature-content .website{background-position:0 0}
.feature-content .active h3{color:#0c92dd;}
.feature-content .active .website{background-position:0 -61px;color:#0c92dd;}
.feature-content .member{background-position:-50px 0}
.feature-content .active .member{background-position:-50px -61px;color:#0c92dd;}
.feature-content .activities{background-position:-100px 0}
.feature-content .active .activities{background-position:-100px -61px;color:#0c92dd;}
.feature-content .Push{background-position:-150px 0}
.feature-content .active .Push{background-position:-150px -61px;color:#0c92dd}
.feature-content .service{background-position:-200px 0}
.feature-content .active .service{background-position:-200px -61px}
.feature-content .message{background-position:-250px 0}
.feature-content .active .message{background-position:-250px -61px}
.feature-content .albums{background-position:-300px 0}
.feature-content .active .albums{background-position:-300px -62px}
.feature-content .menu{background-position:-350px 0}
.feature-content .active .menu{background-position:-350px -61px}
.feature-content .research{background-position:-400px 0}
.feature-content .active .research{background-position:-400px -61px}
.feature-content .mtatistics{background-position:-450px 0}
.feature-content .active .mtatistics{background-position:-450px -61px}
.feature-content .mstate{background-position:-500px 0}
.feature-content .active .mstate{background-position:-500px -61px}
.feature-content .car{background-position:-550px 0}
.feature-content .active .car{background-position:-550px -61px}
.feature-content .card{background-position:-600px 0}
.feature-content .active .card{background-position:-600px -61px}
.feature-content .medical{background-position:-650px 0}
.feature-content .active .medical{background-position:-650px -61px}
.feature-content .hotel{background-position:-700px 0}
.feature-content .active .hotel{background-position:-700px -61px}

.feature-content .reserve{background-position:-750px 0}
.feature-content .active .reserve{background-position:-750px -61px}
.feature-content .vshop{background-position:-800px 0}
.feature-content .active .vshop{background-position:-800px -61px}
.feature-content .cate{background-position:-850px 0}
.feature-content .active .cate{background-position:-850px -61px}
.feature-content .life{background-position:-900px 0}
.feature-content .active .life{background-position:-900px -61px}
.feature-content .buy{background-position:-950px 0}
.feature-content .active .buy{background-position:-950px -61px}

.feature-content dd{float:left;padding:30px 10px 0;width:180px;height:176px}
.feature-content dd.vborder{background:url(img/v_spliter.jpg) no-repeat right center}
.feature-content dd .fimg{margin:0 auto;margin-bottom:15px;width:50px;height:50px}
.feature-content dd h3{margin-bottom:10px;text-align:center;font-size:18px}
.feature-content dd p{color:#777;text-align:center;line-height:24px}
.footer{padding:5px 0;width:100%;background:#41475f;font-size:14px;line-height:22px;_line-height:28px}
.footer .foot-menu{margin:0 auto;text-align: center;width:700px}
.footer .foot-menu p{color:#FFF;font-size:13px;line-height:26px}
.footer .foot-menu p a{color:#FFF;text-decoration:none}
.footer .copyright{margin-top:10px;text-align: center;color:#7b7b7b;font-size:12px}
#notice-panel{position:relative;margin-top:20px;padding:0;width:100%;height:36px;background:url(img/post-bg.png) no-repeat;text-align:center;font-size:16px}
#notice-panel .notice_icon{float:left;margin:5px 15px 0 0;width:28px;height:24px;background:url(img/weimob.png) no-repeat scroll -1px -246px;*position:absolute;*left:50px;*bottom:5px}
#notice-panel h1{display:inline-block;color:#484848;text-align:center;line-height:36px;_zoom:1;*display:inline}
#notice-panel .notice{display:inline-block;_zoom:1;*display:inline}
#notice-panel .notice a{color:#484848;text-decoration:none}
#notice-panel .notice a:hover,#notice-panel .notice a:active{color:#484848;text-decoration:underline}
#notice-panel .notice label{padding-left:5px;color:#15abf3;font-size:16px}
#notice-panel .notice label .date{float:right;margin-left:10px;color:#AAA;font-size:16px;*margin-top:-25px;_margin-top:-25px}
.erwei{position:fixed;bottom:8px;left:8px;z-index:999;padding:35px 5px 0 5px;border:1px solid #d1d1d1;background:white url(img/erwei_small.png) no-repeat scroll center 5px;color:#56a91d;cursor:pointer}
.erwei_big{position:absolute;bottom:-2px;left:75px;display:none;padding-top:258px;width:258px;border:1px solid #d1d1d1;background:white url(/img/erwei_big.jpg) no-repeat scroll center 0;cursor:default}
.hudongzhushou{display:block;padding-bottom:5px}
.erwei_big p{padding:0 17px 10px 17px;color:#969696}
.banner .pre,.banner .next,.banner .frame .changing-over,.banner .frame .changing-over a,.banner .frame .changing-over a.now,.banner .text .start{background:url(img/weimob.png) no-repeat}
.changing-over{background-position:center center}
.hd-c{
position:relative;
overflow:hidden;
width:100%;
background-image:url(img/banner.jpg);
background-size:100% 100%;
-moz-background-size:100% 100%;
-o-background-size:100% 100%;
-webkit-background-size:100% 100%;
-ms-background-size:100% 100%;}

.hd-c .banner{position:relative;margin:0 auto}
.banner .text{position:absolute;z-index:3}
.banner-desc a{color:#148fd4;text-decoration:underline}
.banner .png-24{_display:none}
.banner .png-8{display:none;_display:block}
#ie9-tips{display:none;overflow:hidden;height:43px;color:#f48c12;font-size:12px;poation:relative;}
#ie9-tips #tipsPanel{position:absolute;top:54px;width:100%;border:1px solid #f9f2a7;border-right:0;border-left:0;background-color:#fefded;line-height:36px}
#ie9-tips #tipsPanel #tipsDesc{ float:left;margin-left:10px;font-weight:bold; text-align:center;}
#ie9-tips #tipsPanel #stopSuggestA{ float:right;display:blcok;margin-right:10px;text-decoration:none}
.hd-c{height:500px}
.hd-c .banner{width:1000px;height:100%}
.banner .text{top:280px;left:550px;text-align:right}
.banner .text h4{color:#fff;font:20px/28px "微软雅黑","黑体"; text-shadow:1px 0 2px #333333; font-weight:bold; padding-top:15px;}
.banner .text h4 span{display:block;margin:80px 0 50px 0;color:#fff;text-shadow:1px 1px #3a5985;letter-spacing:2px;font-size:28px;line-height:36px}
.banner .text h4 span font.large{color:#fff;text-shadow:1px 1px #3a5985;letter-spacing:2px;font-size:33px}
.banner .text h4 span font.eg{color:#fff;text-shadow:none;letter-spacing:1px;font-size:20px}
.banner .text h4 font{margin-right:5px;color:#f6f416;letter-spacing:2px}
.banner .text p{margin-top:5px;width:337px;color:#2a2a2a;font-family:"宋体"}
.banner .text .start{display:block;margin:30px 0 0 0px;width:273px;height:73px;}
.banner .pic{position:absolute;top:0;right:0}
.banner .frame{position:absolute;bottom:0;left:50%;z-index:2;margin-left:-140px;width:280px}
.banner .frame .changing-over{float:left;margin:1px 0 1px 1px;width:280px;height:43px;background-position:0 -67px;text-align:center}
.banner .frame .changing-over a{display:inline-block;margin:14px 10px 14px 0;width:14px;height:14px;background-position:-27px -209px}
.banner .frame .changing-over a.now{background-position:-1px -209px}
.banner .frame .changing-over a.last{margin-right:0}
.banner .frame .news{float:left;margin-left:10px;line-height:37px}
.banner .frame .news a{color:#148fd4}
.banner .frame .news span{margin-right:30px;line-height:30px}


.list_carousel {position:relative;width: 960px;margin:10px auto;}
.caroufredsel_wrapper{width:960px!important;}
.list_carousel ul {margin: 0;padding: 0;list-style: none;display: block;}
.list_carousel li {font-size: 40px;color: #999;text-align: center;width: 240px;height:280px;padding: 0;display: block;float: left;}
.list_carousel li a{display:block;width:160px;margin:auto;position:relative;box-shadow:0 10px 5px rgba(0,0,0,.3); border-top:1px solid #ececec; border-radius:5px 5px 0 0; _background:url(img/case-bg.png) 0 bottom no-repeat;}
.list_carousel li a:after{position:absolute;bottom:-29px;left:0;overflow:hidden;background:#f7f7f7;width:100%;height:15px;content:'';border-radius:50%;box-shadow:0 -10px 3px #f7f7f7;}
.list_carousel li img{width:150px;height:230px;margin:5px auto; display:inline;}
.list_carousel.responsive {width: auto;margin-left: 0;}
.clearfix {float: none;clear: both;}
.prev, .next{display:inline-block;width:28px;height:50px;position:absolute;	top:50%;margin-top:-50px;z-index:100;background:url(img/weimob.png) no-repeat 0 center;left:-20px;}
.prev{background-position:0 -305px;}
.next {left:auto;right:-20px;background-position:-30px -305px;}

/*登录*/
#loginBox{display:none;}
#loginBox.on1{display:inherit;}
.login-cover{content:"";position:fixed;top:0;left:0;width:100%;height:100%;z-index:10000;background:rgba(0,0,0,0.3);}
.login-panel{position:fixed;top:80px;right:200px;padding:20px 10px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;
border:5px solid rgba(255,255,255,0.3) ; 
background-color:#fcfcfc;
background:-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,1)),to(rgba(222,222,222,1)));
background:-moz-linear-gradient(top,rgba(255,255,255,1) 0,rgba(222,222,222,0.9) 100%); 
z-index:100002;}
.login-panel h3{font-size:21px;margin-bottom:20px;font-weight:normal;text-shadow:1px 1px 1px #eee}
.login-mod{width:316px}
.login-err-panel{margin-left:-4px;color:#d70000;font-size:13px}
.login-mod .icon-wrapper{display:inline-block;vertical-align:middle;line-height:0}
.login-err-panel{color:#d70000;font-size:13px}
.icon24-login{display:inline-block;vertical-align:middle;width:24px;height:24px;margin:0 auto;background:transparent url(img/icon24_login.png) no-repeat center center}
.icon24-login.un{background-position:0 0}
.icon24-login.pwd{background-position:-48px 0}
.icon24-login.checkbox{background-position:-72px 0}
.icon24-login.checkbox_checked{background-position:-96px 0}
.login-err-panel{margin-left:-4px;margin-left:-4px;color:#d70000;font-size:13px;font-size:13px}
.login-form{width:316px;margin-top:5px;box-shadow:inset 0 1px 3px rgba(170,170,170,0.8) 0 1px #000;-moz-box-shadow:inset 0 1px 3px rgba(170,170,170,0.8) 0 1px #000;-webkit-box-shadow:inset 0 1px 3px rgba(170,170,170,0.8) 0 1px #000;box-shadow:inset 0 1px 3px rgba(170,170,170,0.8);-moz-box-shadow:inset 0 1px 3px rgba(170,170,170,0.8);-webkit-box-shadow:inset 0 1px 3px rgba(170,170,170,0.8);background-color:#dedde7;border-bottom:1px solid #fff;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}
.icon24-login.err{background-position:-24px 0}
.login-err-panel{color:#d70000;font-size:13px;font-size:13px}
.dn{display:none}
.login-form .login-un{border-top-left-radius:5px;border-top-right-radius:5px}
.login-form div{border:1px solid #aeaeae;padding:3px 0}
.login-mod .icon-wrapper{display:inline-block;vertical-align:middle;line-height:0}
.login-form input{width:240px;padding:11px 0;vertical-align:middle;font-family:"Microsoft YaHei";-webkit-tap-highlight-color:rgba(255,255,255,0);box-shadow:none; height:40px; background:0;}
.login-mod input{border:0;outline:0;margin:0;padding:0;font-size:14px}
.login-form .login-pwd{border-top:0;border-bottom-left-radius:5px;border-bottom-right-radius:5px}
.login-form div{border:1px solid #aeaeae;padding:3px 0}
.login-code-panel{margin-top:10px}
.login-help-panel{overflow:hidden;margin-top:10px;margin-left:-4px;color:#445c8f}
.login-help-panel .login-remember-pwd{color:#333;float:left; text-decoration:none;}
.login-help-panel .login-forget-pwd{float:right; text-decoration:none; color:#726e8a;}
.login-btn-panel{margin-top:20px;padding-bottom:20px}
.login-btn-panel .login-btn{display:inline-block;width:120px;margin-right:15px;padding:10px 0;background-color:#6e6e96;background:-webkit-gradient(linear,left top,left bottom,from(#6e6e96),to(#474d67));background:-moz-linear-gradient(top,#6e6e96 0,#474d67 100%);color:#fff;border:1px solid #638467;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;text-align:center; text-decoration:none;}


.wm_case_mod_bd, .weimob_guide{
	display:none;
}
.wm_case_mod_bd.show, .weimob_guide.show{
		display:block;
}

.Public-content{ background-image:url(img/banner.jpg); background-repeat:repeat-y; display:block;  background-size:100% 100%;-ms-background-size:100% 100%; width:100%; margin-top:50px;}
.Public{ width:980px; margin:0 auto; padding:20px 0;}

.Public-h1{ font-size:26px;  text-shadow:1px 0 3px #666; color:#FFF; display:block; padding:30px 0; text-indent:2em;}
.Public-h2{ background:url(img/weimob-proxy.png) no-repeat; color:#FFF; width:237px; margin:0 auto; display:block; height:63px;text-shadow:1px 0 3px #666; font-size:30px; text-align:center; line-height:63px;}
.Public-box{ background:rgba(255, 255, 255, 0.3) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/
filter:Alpha(opacity=30); background:#fff;/*实现IE背景透明*/height:auto; padding-bottom:20px; border-radius:5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;box-shadow:0 1px 2px #666;  -webkit-box-shadow:0 1px 2px #666;
-moz-box-shadow:0 1px 2px #666;padding:5px;/*behavior: url(img/ie-css3.htc);*/ }
.Public-box-news{ background:rgba(255, 255, 255, 0.3) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/
filter:Alpha(opacity=30); background:#fff;/*实现IE背景透明*/height:auto; padding-bottom:20px; border-radius:5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;box-shadow:0 1px 2px #666;  -webkit-box-shadow:0 1px 2px #666;
-moz-box-shadow:0 1px 2px #666;padding:5px;/*behavior: url(img/ie-css3.htc);*/ width:460px; min-height:280px; display:inline-block; margin:0 5px;}
.Proxy-news h3{ font-size:16px; line-height:28px; font-weight:bold; margin-top:20px;}
.Proxy-news p{ line-height:22px; font-size:14px; text-indent:2em;}
.Proxy-news a img{ display:block; width:440px; height:190px; overflow:hidden;}
.Proxy-news a img:hover{ background:url(img/news-bg.png) no-repeat;}


.case-nav{ width:130px;}
.case-nav li{ height:26px;color:#FFF; line-height:26px; text-align:center; cursor:pointer;position:relative;}
.case-nav li:hover{ background:rgba(255,255,255,0.8)!important; background:#fefefe; color:#000; border-radius:5px 0 0 5px; font-size:16px;}
.case-nav li.hover{background:rgba(255,255,255,0.8)!important; background:#fefefe; color:#000; border-radius:5px 0 0 5px;font-size:16px;}
.wm_case_mod_bd{/*实现FF背景透明，文字不透明*/ _background:#fff; filter:Alpha(opacity=80); width:840px;  border-radius:0 5px 5px 5px; padding-top:30px;background:rgba(255, 255, 255, 0.8) none repeat scroll 0 0 !important; height:auto;}
.wm_case_list{position: relative;padding: 0px 20px 0px;_background:#fefefe;}
.wm_case_item {display: inline-block;*display: inline;*zoom: 1;width: 96px;margin-right:5px; text-align: center;cursor: pointer;}
.wm_case_list .guideh2{ font-size:16px; line-height:40px; font-weight:bold; margin-bottom:15px;}
.wm_case_list .guidep{ text-indent:2em; margin:15px 0; line-height:30px;}
.wm_case_list .guideimg{ text-align:center; vertical-align:middle; width:700px; margin:10px 0; 	box-shadow:0 3px 5px #ccc}




.icon_wm_case.on:after{
	content:"";
	position:absolute;
	z-index:100;
	bottom:-32px;
	display:inline-block;
	width:0;
	height:0;
	border:10px solid transparent;
	left:50%;
	margin-left:-10px;
	border-color:transparent transparent #ddd transparent
}


.wm_case_item .icon_wrapper {display: inline-block; position:relative;}
.wm_case_t {padding-top: 4px;font-size: 12px;color: #555;font-weight: 400;}
.wm_case_desc {margin-top: 15px;padding: 16px 15px;position: relative;}
.wm_case_desc_text {margin-right: 10px;line-height: 2; font-size:14px;}
.case_ewm_img{ margin-top:100px; text-align:center;}
.wm_case_desc_img {width: 240px;height: 412px;margin-right: 20px;float: left;text-align: center;}
.wm_case_desc_img.extra {margin-right: 20px;}

.default_wrapper {background-color: #fff;-moz-border-radius: 4px;-webkit-border-radius: 4px;
border-radius: 4px;-moz-box-shadow: inset 0 1px 0 #eee,0 1px 5px #a1a1a1;-webkit-box-shadow: inset 0 1px 0 #eee,0 1px 5px #a1a1a1;box-shadow: inset 0 1px 0 #eee,0 1px 5px #a1a1a1; margin:15px 15px 0 15px; min-height:430px;}
.arrow {position: absolute;left: 36px;top: -20px}
.arrow i {position: absolute; border-width: 10px; width: 0; height: 0;  border-color: transparent;border-style: dashed}
.group {*zoom: 1; }
.group:after {content: "\200B";display: block; height: 0; clear: both;  }
.arrow i.arrow_out {border-bottom-color: #fff;border-bottom-style: solid}
.arrow i.arrow_in {top: 20px;border-bottom-color: #fff;border-bottom-style: solid}

.icon_wm_case {display: inline-block; width: 80px; height: 80px;vertical-align: middle;}

.case_ewm{ display:block; margin:0 auto;}

.icon_wm_case {display: inline-block; width: 80px; height: 80px;vertical-align: middle; }
.icon_wm_case.car1 {background-position: 0 -80px;}
.icon_wm_case.car2 {background-position: -80px -80px;}
.icon_wm_case.car3 {background-position: -160px -80px;  }
.icon_wm_case.car4 {background-position: -240px -80px;}
.icon_wm_case.car5 {background-position: -320px -80px; }
.icon_wm_case.car6 {background-position: -400px -80px;}
.icon_wm_case.car7 {background-position: -480px -80px;}
.icon_wm_case.on.car1, .icon_wm_case:hover.car1 {background-position: 0 0;}
.icon_wm_case.on.car2, .icon_wm_case:hover.car2 {background-position: -80px 0;}
.icon_wm_case.on.car3, .icon_wm_case:hover.car3 {background-position: -160px 0;}
.icon_wm_case.on.car4, .icon_wm_case:hover.car4 {background-position: -240px 0;}
.icon_wm_case.on.car5, .icon_wm_case:hover.car5 {background-position: -320px 0;}
.icon_wm_case.on.car6, .icon_wm_case:hover.car6 {background-position: -400px 0;}
.icon_wm_case.on.car7, .icon_wm_case:hover.car7 {background-position: -480px 0;}

.icon_wm_case.est1 {background-position: 0 -80px;}
.icon_wm_case.est2 {background-position: -80px -80px;}
.icon_wm_case.est3 {background-position: -160px -80px;  }
.icon_wm_case.est4 {background-position: -240px -80px;}
.icon_wm_case.est5 {background-position: -320px -80px; }
.icon_wm_case.est6 {background-position: -400px -80px;}
.icon_wm_case.est7 {background-position: -480px -80px;}
.icon_wm_case.on.est1, .icon_wm_case:hover.est1 {background-position: 0 0;}
.icon_wm_case.on.est2, .icon_wm_case:hover.est2 {background-position: -80px 0;}
.icon_wm_case.on.est3, .icon_wm_case:hover.est3 {background-position: -160px 0;}
.icon_wm_case.on.est4, .icon_wm_case:hover.est4 {background-position: -240px 0;}
.icon_wm_case.on.est5, .icon_wm_case:hover.est5 {background-position: -320px 0;}
.icon_wm_case.on.est6, .icon_wm_case:hover.est6 {background-position: -400px 0;}
.icon_wm_case.on.est7, .icon_wm_case:hover.est7 {background-position: -480px 0;}

.icon_wm_case.med1 {background-position: 0 -80px;}
.icon_wm_case.med2 {background-position: -80px -80px;}
.icon_wm_case.med3 {background-position: -160px -80px;  }
.icon_wm_case.med4 {background-position: -240px -80px;}
.icon_wm_case.med5 {background-position: -320px -80px; }
.icon_wm_case.med6 {background-position: -400px -80px;}
.icon_wm_case.med7 {background-position: -480px -80px;}
.icon_wm_case.on.med1, .icon_wm_case:hover.med1 {background-position: 0 0;}
.icon_wm_case.on.med2, .icon_wm_case:hover.med2 {background-position: -80px 0;}
.icon_wm_case.on.med3, .icon_wm_case:hover.med3 {background-position: -160px 0;}
.icon_wm_case.on.med4, .icon_wm_case:hover.med4 {background-position: -240px 0;}
.icon_wm_case.on.med5, .icon_wm_case:hover.med5 {background-position: -320px 0;}
.icon_wm_case.on.med6, .icon_wm_case:hover.med6 {background-position: -400px 0;}
.icon_wm_case.on.med7, .icon_wm_case:hover.med7 {background-position: -480px 0;}

.icon_wm_case.jd1 {background-position: 0 -80px;}
.icon_wm_case.jd2 {background-position: -80px -80px;}
.icon_wm_case.jd3 {background-position: -160px 0;}
.icon_wm_case.jd4 {background-position: -240px -80px;}
.icon_wm_case.jd5 {background-position: -320px -80px; }
.icon_wm_case.jd6 {background-position: -400px -80px;}
.icon_wm_case.jd7 {background-position: -480px -80px;}
.icon_wm_case.on.jd1, .icon_wm_case:hover.jd1 {background-position: 0 0;}
.icon_wm_case.on.jd2, .icon_wm_case:hover.jd2 {background-position: -80px 0;}
.icon_wm_case.on.jd3, .icon_wm_case:hover.jd3 {background-position: -160px 0;}
.icon_wm_case.on.jd4, .icon_wm_case:hover.jd4 {background-position: -240px 0;}
.icon_wm_case.on.jd5, .icon_wm_case:hover.jd5 {background-position: -320px 0;}
.icon_wm_case.on.jd6, .icon_wm_case:hover.jd6 {background-position: -400px 0;}
.icon_wm_case.on.jd7, .icon_wm_case:hover.jd7 {background-position: -480px 0;}

.icon_wm_case.cy1 {background-position: 0 -80px;}
.icon_wm_case.cy2 {background-position: -80px -80px;}
.icon_wm_case.cy3 {background-position: -160px -80px;  }
.icon_wm_case.cy4 {background-position: -240px -80px;}
.icon_wm_case.cy5 {background-position: -320px -80px; }
.icon_wm_case.cy6 {background-position: -400px -80px;}
.icon_wm_case.cy7 {background-position: -480px -80px;}
.icon_wm_case.on.cy1, .icon_wm_case:hover.cy1 {background-position: 0 0;}
.icon_wm_case.on.cy2, .icon_wm_case:hover.cy2 {background-position: -80px 0;}
.icon_wm_case.on.cy3, .icon_wm_case:hover.cy3 {background-position: -160px 0;}
.icon_wm_case.on.cy4, .icon_wm_case:hover.cy4 {background-position: -240px 0;}
.icon_wm_case.on.cy5, .icon_wm_case:hover.cy5 {background-position: -320px 0;}
.icon_wm_case.on.cy6, .icon_wm_case:hover.cy6 {background-position: -400px 0;}
.icon_wm_case.on.cy7, .icon_wm_case:hover.cy7 {background-position: -480px 0;}

.icon_wm_case.ly1 {background-position: 0 -80px;}
.icon_wm_case.ly2 {background-position: -80px -80px;}
.icon_wm_case.ly3 {background-position: -160px -80px;  }
.icon_wm_case.ly4 {background-position: -240px -80px;}
.icon_wm_case.ly5 {background-position: -320px -80px; }
.icon_wm_case.ly6 {background-position: -400px -80px;}
.icon_wm_case.ly7 {background-position: -480px -80px;}
.icon_wm_case.on.ly1, .icon_wm_case:hover.ly1 {background-position: 0 0;}
.icon_wm_case.on.ly2, .icon_wm_case:hover.ly2 {background-position: -80px 0;}
.icon_wm_case.on.ly3, .icon_wm_case:hover.ly3 {background-position: -160px 0;}
.icon_wm_case.on.ly4, .icon_wm_case:hover.ly4 {background-position: -240px 0;}
.icon_wm_case.on.ly5, .icon_wm_case:hover.ly5 {background-position: -320px 0;}
.icon_wm_case.on.ly6, .icon_wm_case:hover.ly6 {background-position: -400px 0;}
.icon_wm_case.on.ly7, .icon_wm_case:hover.ly7 {background-position: -480px 0;}

.icon_wm_case.ds1 {background-position: 0 -80px;}
.icon_wm_case.ds2 {background-position: -80px -80px;}
.icon_wm_case.ds3 {background-position: -160px -80px;}
.icon_wm_case.ds4 {background-position: -240px -80px;}
.icon_wm_case.ds5 {background-position: -320px -80px;}
.icon_wm_case.ds6 {background-position: -400px -80px;}
.icon_wm_case.ds7 {background-position: -480px -80px;}
.icon_wm_case.on.ds1, .icon_wm_case:hover.ds1 {background-position: 0 0;}
.icon_wm_case.on.ds2, .icon_wm_case:hover.ds2 {background-position: -80px 0;}
.icon_wm_case.on.ds3, .icon_wm_case:hover.ds3 {background-position: -160px 0;}
.icon_wm_case.on.ds4, .icon_wm_case:hover.ds4 {background-position: -240px 0;}
.icon_wm_case.on.ds5, .icon_wm_case:hover.ds5 {background-position: -320px 0;}
.icon_wm_case.on.ds6, .icon_wm_case:hover.ds6 {background-position: -400px 0;}
.icon_wm_case.on.ds7, .icon_wm_case:hover.ds7 {background-position: -480px 0;}

.icon_wm_case.yul1 {background-position: 0 -80px;}
.icon_wm_case.yul2 {background-position: -80px -80px;}
.icon_wm_case.yul3 {background-position: -160px -80px;  }
.icon_wm_case.yul4 {background-position: -240px -80px;}
.icon_wm_case.yul5 {background-position: -320px -80px;}
.icon_wm_case.yul6 {background-position: -400px -80px;}
.icon_wm_case.on.yul1, .icon_wm_case:hover.yul1 {background-position: 0 0;}
.icon_wm_case.on.yul2, .icon_wm_case:hover.yul2 {background-position: -80px 0;}
.icon_wm_case.on.yul3, .icon_wm_case:hover.yul3 {background-position: -160px 0;}
.icon_wm_case.on.yul4, .icon_wm_case:hover.yul4 {background-position: -240px 0;}
.icon_wm_case.on.yul5, .icon_wm_case:hover.yul5 {background-position: -320px 0;}
.icon_wm_case.on.yul6, .icon_wm_case:hover.yul6 {background-position: -400px 0;}

.icon_wm_case.zh1 {background-position: 0 -80px;}
.icon_wm_case.zh2 {background-position: -80px -80px;}
.icon_wm_case.zh3 {background-position: -160px -80px;  }
.icon_wm_case.zh4 {background-position: -240px -80px;}
.icon_wm_case.zh5 {background-position: -320px -80px; }
.icon_wm_case.zh6 {background-position: -400px -80px;}
.icon_wm_case.on.zh1, .icon_wm_case:hover.zh1 {background-position: 0 0;}
.icon_wm_case.on.zh2, .icon_wm_case:hover.zh2 {background-position: -80px 0;}
.icon_wm_case.on.zh3, .icon_wm_case:hover.zh3 {background-position: -160px 0;}
.icon_wm_case.on.zh4, .icon_wm_case:hover.zh4 {background-position: -240px 0;}
.icon_wm_case.on.zh5, .icon_wm_case:hover.zh5 {background-position: -320px 0;}
.icon_wm_case.on.zh6, .icon_wm_case:hover.zh6 {background-position: -400px 0;}


.icon_wm_case.hs1 {background-position: 0 -80px;}
.icon_wm_case.hs2 {background-position: -80px -80px;}
.icon_wm_case.hs3 {background-position: -160px -80px;  }
.icon_wm_case.hs4 {background-position: -240px -80px;}
.icon_wm_case.hs5 {background-position: -320px -80px; }
.icon_wm_case.hs6 {background-position: -400px -80px;}
.icon_wm_case.hs7 {background-position: -480px -80px;}
.icon_wm_case.on.hs1, .icon_wm_case:hover.hs1 {background-position: 0 0;}
.icon_wm_case.on.hs2, .icon_wm_case:hover.hs2 {background-position: -80px 0;}
.icon_wm_case.on.hs3, .icon_wm_case:hover.hs3 {background-position: -160px 0;}
.icon_wm_case.on.hs4, .icon_wm_case:hover.hs4 {background-position: -240px 0;}
.icon_wm_case.on.hs5, .icon_wm_case:hover.hs5 {background-position: -320px 0;}
.icon_wm_case.on.hs6, .icon_wm_case:hover.hs6 {background-position: -400px 0;}
.icon_wm_case.on.hs7, .icon_wm_case:hover.hs7 {background-position: -480px 0;}

.icon_wm_case.tx1 {background-position: 0 -80px;}
.icon_wm_case.tx2 {background-position: -80px -80px;}
.icon_wm_case.tx3 {background-position: -160px -80px;  }
.icon_wm_case.tx4 {background-position: -240px -80px;  }
.icon_wm_case.on.tx1, .icon_wm_case:hover.tx1 {background-position: 0 0;}
.icon_wm_case.on.tx2, .icon_wm_case:hover.tx2 {background-position: -80px 0;}
.icon_wm_case.on.tx3, .icon_wm_case:hover.tx3 {background-position: -160px 0;}
.icon_wm_case.on.tx4, .icon_wm_case:hover.tx4 {background-position: -240px 0;}

.icon_wm_case.mr1 {background-position: 0 -80px;}
.icon_wm_case.mr2 {background-position: -80px -80px;}
.icon_wm_case.mr3 {background-position: -160px -80px;  }
.icon_wm_case.mr4 {background-position: -240px -80px;}
.icon_wm_case.mr5 {background-position: -320px -80px; }
.icon_wm_case.mr6 {background-position: -400px -80px;}
.icon_wm_case.mr7 {background-position: -480px -80px;}
.icon_wm_case.on.mr1, .icon_wm_case:hover.mr1 {background-position: 0 0;}
.icon_wm_case.on.mr2, .icon_wm_case:hover.mr2 {background-position: -80px 0;}
.icon_wm_case.on.mr3, .icon_wm_case:hover.mr3 {background-position: -160px 0;}
.icon_wm_case.on.mr4, .icon_wm_case:hover.mr4 {background-position: -240px 0;}
.icon_wm_case.on.mr5, .icon_wm_case:hover.mr5 {background-position: -320px 0;}
.icon_wm_case.on.mr6, .icon_wm_case:hover.mr6 {background-position: -400px 0;}
.icon_wm_case.on.mr7, .icon_wm_case:hover.mr7 {background-position: -480px 0;}

.icon_wm_case.bk1 {background-position: 0 -80px;}
.icon_wm_case.bk2 {background-position: -80px -80px;}
.icon_wm_case.on.bk1, .icon_wm_case:hover.bk1 {background-position: 0 0;}
.icon_wm_case.on.bk2, .icon_wm_case:hover.bk2 {background-position: -80px 0;}


.icon_wm_case.ad1 {background-position: 0 -80px;}
.icon_wm_case.ad2 {background-position: -80px -80px;}
.icon_wm_case.ad3 {background-position: -160px -80px;  }
.icon_wm_case.ad4 {background-position: -240px -80px;}
.icon_wm_case.ad5 {background-position: -320px -80px; }
.icon_wm_case.ad6 {background-position: -400px -80px;}
.icon_wm_case.ad7 {background-position: -480px -80px;}
.icon_wm_case.on.ad1, .icon_wm_case:hover.ad1 {background-position: 0 0;}
.icon_wm_case.on.ad2, .icon_wm_case:hover.ad2 {background-position: -80px 0;}
.icon_wm_case.on.ad3, .icon_wm_case:hover.ad3 {background-position: -160px 0;}
.icon_wm_case.on.ad4, .icon_wm_case:hover.ad4 {background-position: -240px 0;}
.icon_wm_case.on.ad5, .icon_wm_case:hover.ad5 {background-position: -320px 0;}
.icon_wm_case.on.ad6, .icon_wm_case:hover.ad6 {background-position: -400px 0;}
.icon_wm_case.on.ad7, .icon_wm_case:hover.ad7 {background-position: -480px 0;}

.icon_wm_case.lis1 {background-position: 0 -80px;}
.icon_wm_case.lis2 {background-position: -80px -80px;}
.icon_wm_case.lis3 {background-position: -160px -80px;  }
.icon_wm_case.lis4 {background-position: -240px -80px;}
.icon_wm_case.lis5 {background-position: -320px -80px; }
.icon_wm_case.lis6 {background-position: -400px -80px;}
.icon_wm_case.lis7 {background-position: -480px -80px;}
.icon_wm_case.on.lis1, .icon_wm_case:hover.lis1 {background-position: 0 0;}
.icon_wm_case.on.lis2, .icon_wm_case:hover.lis2 {background-position: -80px 0;}
.icon_wm_case.on.lis3, .icon_wm_case:hover.lis3 {background-position: -160px 0;}
.icon_wm_case.on.lis4, .icon_wm_case:hover.lis4 {background-position: -240px 0;}
.icon_wm_case.on.lis5, .icon_wm_case:hover.lis5 {background-position: -320px 0;}
.icon_wm_case.on.lis6, .icon_wm_case:hover.lis6 {background-position: -400px 0;}
.icon_wm_case.on.lis7, .icon_wm_case:hover.lis7 {background-position: -480px 0;}

.icon_wm_case.bh1 {background-position: 0 -80px;}
.icon_wm_case.bh2 {background-position: -80px -80px;}
.icon_wm_case.bh3 {background-position: -160px -80px;  }
.icon_wm_case.bh4 {background-position: -240px -80px;}
.icon_wm_case.bh5 {background-position: -320px -80px; }
.icon_wm_case.bh6 {background-position: -400px -80px;}
.icon_wm_case.bh7 {background-position: -480px -80px;}
.icon_wm_case.on.bh1, .icon_wm_case:hover.bh1 {background-position: 0 0;}
.icon_wm_case.on.bh2, .icon_wm_case:hover.bh2 {background-position: -80px 0;}
.icon_wm_case.on.bh3, .icon_wm_case:hover.bh3 {background-position: -160px 0;}
.icon_wm_case.on.bh4, .icon_wm_case:hover.bh4 {background-position: -240px 0;}
.icon_wm_case.on.bh5, .icon_wm_case:hover.bh5 {background-position: -320px 0;}
.icon_wm_case.on.bh6, .icon_wm_case:hover.bh6 {background-position: -400px 0;}
.icon_wm_case.on.bh7, .icon_wm_case:hover.bh7 {background-position: -480px 0;}

.icon_wm_case.hq1 {background-position: 0 -80px;}
.icon_wm_case.hq2 {background-position: -80px -80px;}
.icon_wm_case.hq3 {background-position: -160px -80px;  }
.icon_wm_case.hq4 {background-position: -240px -80px;}
.icon_wm_case.hq5 {background-position: -320px -80px; }
.icon_wm_case.hq6 {background-position: -400px -80px;}
.icon_wm_case.hq7 {background-position: -480px -80px;}
.icon_wm_case.on.hq1, .icon_wm_case:hover.hq1 {background-position: 0 0;}
.icon_wm_case.on.hq2, .icon_wm_case:hover.hq2 {background-position: -80px 0;}
.icon_wm_case.on.hq3, .icon_wm_case:hover.hq3 {background-position: -160px 0;}
.icon_wm_case.on.hq4, .icon_wm_case:hover.hq4 {background-position: -240px 0;}
.icon_wm_case.on.hq5, .icon_wm_case:hover.hq5 {background-position: -320px 0;}
.icon_wm_case.on.hq6, .icon_wm_case:hover.hq6 {background-position: -400px 0;}
.icon_wm_case.on.hq7, .icon_wm_case:hover.hq7 {background-position: -480px 0;}

.icon_wm_case.it1 {background-position: 0 -80px;}
.icon_wm_case.it2 {background-position: -80px -80px;}
.icon_wm_case.it3 {background-position: -160px -80px;  }
.icon_wm_case.it4 {background-position: -240px -80px;}
.icon_wm_case.it5 {background-position: -320px -80px; }
.icon_wm_case.it6 {background-position: -400px -80px;}
.icon_wm_case.it7 {background-position: -480px -80px;}
.icon_wm_case.on.it1, .icon_wm_case:hover.it1 {background-position: 0 0;}
.icon_wm_case.on.it2, .icon_wm_case:hover.it2 {background-position: -80px 0;}
.icon_wm_case.on.it3, .icon_wm_case:hover.it3 {background-position: -160px 0;}
.icon_wm_case.on.it4, .icon_wm_case:hover.it4 {background-position: -240px 0;}
.icon_wm_case.on.it5, .icon_wm_case:hover.it5 {background-position: -320px 0;}
.icon_wm_case.on.it6, .icon_wm_case:hover.it6 {background-position: -400px 0;}
.icon_wm_case.on.it7, .icon_wm_case:hover.it7 {background-position: -480px 0;}

.icon_wm_case.fl1 {background-position: 0 -80px;}
.icon_wm_case.fl2 {background-position: -80px -80px;}
.icon_wm_case.fl3 {background-position: -160px -80px;  }
.icon_wm_case.fl4 {background-position: -240px -80px;}
.icon_wm_case.fl5 {background-position: -320px -80px; }
.icon_wm_case.fl6 {background-position: -400px -80px;}
.icon_wm_case.fl7 {background-position: -480px -80px;}
.icon_wm_case.on.fl1, .icon_wm_case:hover.fl1 {background-position: 0 0;}
.icon_wm_case.on.fl2, .icon_wm_case:hover.fl2 {background-position: -80px 0;}
.icon_wm_case.on.fl3, .icon_wm_case:hover.fl3 {background-position: -160px 0;}
.icon_wm_case.on.fl4, .icon_wm_case:hover.fl4 {background-position: -240px 0;}
.icon_wm_case.on.fl5, .icon_wm_case:hover.fl5 {background-position: -320px 0;}
.icon_wm_case.on.fl6, .icon_wm_case:hover.fl6 {background-position: -400px 0;}
.icon_wm_case.on.fl7, .icon_wm_case:hover.fl7 {background-position: -480px 0;}

.icon_wm_case.edu1 {background-position: 0 -80px;}
.icon_wm_case.edu2 {background-position: -80px -80px;}
.icon_wm_case.edu3 {background-position: -160px -80px;  }
.icon_wm_case.edu4 {background-position: -240px -80px;}
.icon_wm_case.edu5 {background-position: -320px -80px; }
.icon_wm_case.edu6 {background-position: -400px -80px;}
.icon_wm_case.edu7 {background-position: -480px -80px;}
.icon_wm_case.on.edu1, .icon_wm_case:hover.edu1 {background-position: 0 0;}
.icon_wm_case.on.edu2, .icon_wm_case:hover.edu2 {background-position: -80px 0; }
.icon_wm_case.on.edu3, .icon_wm_case:hover.edu3 {background-position: -160px 0;}
.icon_wm_case.on.edu4, .icon_wm_case:hover.edu4 {background-position: -240px 0;}
.icon_wm_case.on.edu5, .icon_wm_case:hover.edu5 {background-position: -320px 0;}
.icon_wm_case.on.edu6, .icon_wm_case:hover.edu6 {background-position: -400px 0;}
.icon_wm_case.on.edu7, .icon_wm_case:hover.edu7 {background-position: -480px 0;}

.icon_wm_case.wsh1 {background-position: 0 -80px;}
.icon_wm_case.wsh2 {background-position: -80px -80px;}
.icon_wm_case.wsh3 {background-position: -160px -80px;  }
.icon_wm_case.wsh4 {background-position: -240px -80px;}
.icon_wm_case.wsh5 {background-position: -320px -80px; }
.icon_wm_case.wsh6 {background-position: -400px -80px;}
.icon_wm_case.wsh7 {background-position: -480px -80px;}
.icon_wm_case.on.wsh1, .icon_wm_case:hover.wsh1 {background-position: 0 0;}
.icon_wm_case.on.wsh2, .icon_wm_case:hover.wsh2 {background-position: -80px 0; }
.icon_wm_case.on.wsh3, .icon_wm_case:hover.wsh3 {background-position: -160px 0;}
.icon_wm_case.on.wsh4, .icon_wm_case:hover.wsh4 {background-position: -240px 0;}
.icon_wm_case.on.wsh5, .icon_wm_case:hover.wsh5 {background-position: -320px 0;}
.icon_wm_case.on.wsh6, .icon_wm_case:hover.wsh6 {background-position: -400px 0;}
.icon_wm_case.on.wsh7, .icon_wm_case:hover.wsh7 {background-position: -480px 0;}


/*城市*/
.changecity,.Proxy{background:rgba(255,255,255,0.8); min-height:400px; border-radius:5px;}
.Proxy-news{background:rgba(255,255,255,0.8); border-radius:5px; padding:8px;}
.citys-list {padding: 20px 20px 20px;}
.citys-list dl {padding: 10px 0;}
.citys-list dt { width:80px;font-weight: bold;font-size: 18px;color: #444; display:inline-block; padding-bottom:20px; position:relative;}
.citys-list dd { width:700px;padding-left: 15px;margin: 0 0 0 20px;border-left: 1px dashed #b2b2b2;display:inline-block; line-height:30px; position:relative;}
.citys-list dd a {display: inline-block;color: #666;font-size: 14px;margin: 0 5px 0 0;padding: 1px 5px;text-decoration: none;font-size: 12px;}

/*注册*/
select {width: 220px;border: 1px solid #535069;background-color: #ffffff;}
.reg-wrapper2 {padding-top: 14px; background:none;}
.form-horizontal {margin-top: 30px;}
.form-horizontal .control-group {margin-bottom: 20px; position:relative;}
.form-horizontal .control-label {float: left;width: 160px;padding-top: 5px;text-align: right;}
.control-group label {line-height: 35px;}
.form-horizontal .controls {margin-left: 180px;}
.controls input {height: 35px;}
.maroon {color: #535069;padding-left: 2px;}
.help-inline{display: inline-block;margin-bottom: 0;vertical-align: middle;}
.control-group .controls select {height: 45px;width: 180px;}
.control-group .btn-register {background: url(img/weimob.png) no-repeat 0 -122px;
border: 0;cursor: pointer;display: inline-block;height: 61px;margin-top: 10px;outline: medium none;width: 372px; margin-left:200px;}
.control-group .btn-register:hover{ background:raba(255,255,255,0.3);background: url(img/weimob.png) no-repeat 0 -122px;}
/*代理*/
.Proxy{ padding:20px 50px;}
.Proxy h3{ font-size:16px; position:relative;}
.Proxy p{ line-height:30px; font-size:14px; margin:15px 0; position:relative;}
.Proxy p span{ color:#8f4a99; font-weight:bold;}

/*使用指南*/
.weimob_guide{background:rgba(255,255,255,0.8)!important; background:#ffffff; width:840px; min-height:620px; border-radius:0 5px 5px 5px; padding-top:30px;}
.weimob_guide_list{padding: 0px 78px 0px;}

/*公告*/
#notice_mask {display: none;position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; background-color: rgb(0, 0, 0);filter:alpha(opacity=70);opacity: 0.7;z-index: 99;}
#notice_message {display: none;position: absolute;padding: 0;background-color: #FFF;border: 1px solid #333;width: 600px; min-height:600px;z-index: 100;overflow:hidden;}
#notice_message .title {width: 600px;	height:20px;background-color:#333;color:#fff;padding:3px 0px;font-size:14px;line-height:20px;text-align:center;}
#notice_message .title a {*margin-top:-20px;_margin-top:-20px;	display: inline;font-size: 20px;cursor: pointer;float: right;padding-right: 6px;padding-bottom: 2px;}
#notice_message .content{font-size: 16px;line-height: 24px;padding: 5px 10px;width: auto; overflow:hidden;}
.guideright{float:right; text-decoration:none; text-indent:-9999px; display:inline-block;  padding:0 5px; background-image: url(img/guideright.png); background-repeat:no-repeat; width:150px;}