.myheader{border-bottom: 1px solid #d1d4d7;box-shadow: 0 0 5px rgba(0,0,0,.1);}
.mylogo{margin-right:0;position:relative;}
.mylogo a{position:absolute;display:block;width:100%;height:100%;left:0;top:0;}
.mylogo img{float:left;}
.myfont{font-family:Microsoft Yahei;}
.mylogo em{font:normal 26px Microsoft Yahei;color:#35a11a;margin:6px 10px 0;float:left;text-shadow:0 1px 1px rgba(45,114,17,0.2);padding-right:10px;}
.mylogo i{float:left;font:normal 16px Microsoft Yahei;margin-top:15px;text-shadow:0 1px 1px rgba(100,100,100,0.2);}
.dropdown-menu li i.fa{width:14px;text-align:center;}
.dropdown-menu li a{font-size:12px;font-family:Microsoft Yahei;}
.mynav .nav li a span{font-size:13px;}
.myhbox{float:left;margin-top:-50px;padding-top:50px;font-family:Microsoft Yahei;}
.myhbox .bg-success.dker{background-color:#35a11a;}
.myhbox .bg-success.nav-user{background-color:#35a11a;}
.text-yh{font-family:Microsoft Yahei;}
.text-f14{font-size:14px;}
.text-sg{font-size:13px;}
.text-lg{font-size:14px;}
.text-llg{font-size:15px;}
.text-lllg{font-size:18px;}
.w90{width:90%;display:inline-block;float:left;}
.require{color:red;font-size:18px;margin-left:10px;margin-top:7px;float:left;}
.modal-backdrop{z-index:1100;}
.modal{z-index:1140;}
.clear {clear: both;}
.show-phone{display:none;position:absolute;top:-5px;left:15px;cursor:pointer;color:#fa4733;}
.close-phone{display:none;position:absolute;left:250px;top:-6px;font:normal 15px Arial;color:#fff;cursor:pointer;z-index:1300;}
select.form-control{font-size:12px;padding:4px 6px;height:30px;border-radius:3px;box-shadow:1px 1px 1px rgba(0,0,0,0.04) inset;cursor:pointer}
input.form-control,input.form-control:focus{padding:4px 6px;box-shadow:1px 1px 1px rgba(0,0,0,0.04) inset;font-size:13px;}
input.form-control.hasDatepicker{font-size:12px;}
textarea.form-control{padding:4px 6px;box-shadow:1px 1px 1px rgba(0,0,0,0.04) inset;font-size:13px;}
.btn{-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.label{font-size:12px;}
#content{width:100%;}

.myfunc .btn-group{margin:10px 0 20px;}
.myfunc .dropdown-menu .btn-xs{font-size:12px;float:left;margin-left:12px;}
.myfunc .dropdown-menu p{width:100%;margin:3px 0;float:left;}
.myfunc .btn .caret_box{float:right;margin-top: -10px;margin-right: -10px;padding: 10px 10px;}
.myfunc .btn i.fa{margin-right:15px;}
.row .tc{width:180px;height:180px;text-align:center;padding-top:30px;font-size:30px;cursor: pointer;}
.row .tc small{font-size:16px;}
.row .tc small.text-muted{color:#fdff37;}
.myradiobtn .radio{margin-left:60px;margin-top:-10px;}
.table.td-h-2x td{height:40px;padding-top:12px;}
.table.td-h-3x td{height:50px;padding-top:28px;}

.column { width:85%;margin:0 auto;min-height:300px;}
.other_func_box .column{min-height:100px;}
.my_bg_width{width:95%;margin:0 auto;padding:0 0 1px;min-height:370px;}
.my_bg_width .func_item{width:100%;}
.func_item .item_bar{width:100%;min-width:120px;height:40px;font-size:13px;}
.func_item .item_bar .dropup .caret{border-bottom: 4px solid #ffffff;}
.func_item .item_cont{display:none;font-size:13px;margin-top:5px;padding:8px;text-align:center;border-radius: 2px;-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.1);box-shadow: 0 2px 6px rgba(0,0,0,0.1);border: 1px solid #ddd;border: 1px solid rgba(0,0,0,0.1);background:#f7f8f9;}
.edit_menu_icon{float:right;color:#ffffff;font-size:14px;margin-top:0px;padding:0 10px;}
.edit_menu_icon:hover{color:#ffffff}
.edit_menu_input{background:#5dcff3;color:#fff;font-size:12px;width:65%;height:37px;margin-top:-12px;outline:none;text-indent:5px;}
.edit_menu_input:-moz-placeholder{color:#ffffff;}.edit_menu_input::-moz-placeholder{color:#fff;}.edit_menu_input:-ms-input-placeholder{color:#fff;}.edit_menu_input::-webkit-input-placeholder{color:#fff;}

.coldisable .item_bar a{color:#fff;}
.coldisable .item_bar a:hover{color:#fff;}

.index-line2{margin:20px -15px 0;background:rgba(200,200,200,0.1);border-top:1px solid #e1e1e1;}
.index-no-row{padding:15px 15px 20px;margin-bottom:-15px;background:#fcfcfc;}
.other_func_box{padding:15px 0;}
.other_func_box .func_item{width:28.666666%;margin:1em 2%;float:left;}
.other_func_box .column{width:50%;}
.other_func_box #column4{width:100%;}
.other_func_box #column5{width:100%;}
.index-no-menu{width:97.5%;margin:0 auto;background:#fefefe;}
.index-no-menu .panel-heading{background:none;}
.index-no-menu .panel-body,.index-no-active .panel-body{padding:0.5em;}
.index-no-active{width:95%;margin:0 auto;background:#f8f8f8;}
.index-no-active .panel-heading{background:none;}
.index-no-menu .other_func_box .func_item{width:46%;margin:0.5em 2%;}
.index-no-active .other_func_box .func_item{width:46%;margin:0.5em 2%;}
.index-no-active .other_func_box .func_item .caret_box{display:none;}
.index-no-active .other_func_box .func_item .btn.item_bar{min-width:90px;background:#c7c7c7;border-color:#bcbcbc;}
.index-no-menu .other_func_box .func_item .btn.item_bar{background:#fcc44d;border-color:#e2c27e;}
.need_buy_box{padding:15px 0;width:98.33333%;margin:0 auto;}
.need_buy_box_cont{background:#fff;}
.buy_fun_btn{display:block;padding:2px 8px;}
.buy_fun_btn:hover{color:rgba(0,0,0,0.5)}
.need_buy_item{width:60%;}
.tip-st2{padding:20px;font-size:14px;color:#f30;background:#ffeeec;border:1px solid #ffb0a7;margin:15px;}
a.add_more_info{color:#3cc5f1;}
.add_textarea{width:724px;}
.checkbox-inline input[type='checkbox']{margin-top:2px;}
.pic_box{margin-top:10px;}
.pic_box img{width:80px;max-height:70px;border:1px solid #ccc;padding:3px;margin-right:10px;}
.vh2 h2{font:bold 14px Microsoft Yahei;margin:0;text-shadow:1px 1px 1px rgba(0,0,0,0.2)}
.fun_ul{list-style:none;padding-left:0;}
.fun_ul li{line-height:45px;font-size:14px;border-bottom:1px solid #fafafa;padding-left:5px;overflow:hidden;}
.free_fun li .sp1{float:left;color:#0596c4;width:100px;text-shadow:1px 1px 1px rgba(0,0,0,0.05)}
.free_fun li .sp2,.pay_fun li .sp3{font-size:12px;margin-left:20px;color:#aaa;line-height:18px;padding-top:15px;}
.pay_fun li .sp1{float:left;color:#ea4230;width:70px;text-shadow:1px 1px 1px rgba(0,0,0,0.05)}
.pay_fun li .sp2{float:left;width:210px;text-align:center;font-size:12px;}
.pay_fun li .sp2 .btn{margin-left:20px;margin-top:-5px;}
.pay_fun li .sp2 em{font-style:normal;margin-right:5px;font-family:Georgia;font-size:16px;margin-top:-5px;color:#fa4733;}
.pay_fun li p{clear:both;font-size:12px;line-height:20px;margin:0 0 5px;color:#15b7eb;}
.pay_fun li p i{font-size:14px;color:#128db5;margin-right:3px;}

.adm_fun_ul li{width:15.6666%;margin:5px 0.5% 15px;float:left;min-height:100px;text-align:center;padding:10px;line-height:22px;background:#31c690;position:relative;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;overflow:inherit}
.adm_fun_ul li a{display:block;position:absolute;width:100%;height:100%;top:0;left:0;}
.adm_fun_ul li:hover{background:#1cdf98;}
.adm_fun_ul li.buy_no{background:#ffb9a6;}
.adm_fun_ul li.buy_no:hover{background:#ffa187;}
.adm_fun_ul li .sp1{display:block;width:100%;float:none;color:#fff;margin-top:10px;padding-bottom:10px;border-bottom:1px solid rgba(0,0,0,0.15);}
.adm_fun_ul li .sp1 i{font-size:14px;}
.adm_fun_ul li .sp2{display:block;width:100%;float:none;color:#0a7a49;margin:0;padding:5px 5px 0;border-top:1px solid rgba(255,255,255,0.3);line-height:20px;}
.adm_fun_ul li.buy_no .sp2{color:#e9623e;}
.adm_fun_ul li.adm_title{width:99%;min-height:inherit;background:#fff;font-weight:bold;color:#7e7e7e;text-shadow:1px 1px 1px rgba(0,0,0,0.04);text-align:left;padding:6px 10px;border-bottom:1px solid #eee;}
.adm_fun_ul li.adm_title span{display:inline-block;background:#32b5f2;width:5px;height:18px;margin:-2px 5px 0 0;vertical-align:middle;}
.adm_fun_ul li p{position:absolute;bottom:0px;background:rgba(0,0,0,0.1);line-height:25px;color:#fcff07;font-size:12px;text-align:center;left:0;width:100%;margin-bottom:0;}
.adm_fun_ul li p a.btn{display:block;width:60%;padding:4px;position:static;margin:10px auto 5px;height:28px;}
.adm_fun_ul li p strong{color:#ffe930;}

.service-item{font-size:14px;border-bottom:1px solid #eee;background:#fdfdfd;padding:10px;margin-bottom:25px;color:#555;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;}
.service-item:hover{background:#fff6f6}
.service-item img{width:80px;border:1px solid #ddd;padding:2px;margin-right:10px;background:#fff;}
.service-item span{float:right;line-height:60px;margin-right:10px;font-size:14px;color:#f30;}
.service-item span em{font-size:22px;color:#f30;font-family:Georgia;margin-right:3px;}

.shop_youhui ul{padding-left:20px;}
.shop_youhui li{font-size:14px;border-bottom:1px dotted #eee;line-height:45px;list-style:none;}
.shop_youhui li i{color:#888;margin-right:2px;}
.shop_youhui li a{color:#777}
.shop_youhui li span.time{float:right;font-size:12px;}
.add_step{overflow:hidden;}
.add_m_title{padding-right:0;}
.add_step span{padding:2px 10px;border-radius:4px;display:inline-block;font-size:12px;color:#fff;box-shadow:1px 1px 3px rgba(0,0,0,0.2) inset;text-shadow:1px 1px 1px rgba(0,0,0,0.09)}
.add_step .add_step_over{background:#85d872;}
.add_step .add_step_no{background:#eee;color:#999;text-shadow:1px 1px 1px rgba(0,0,0,0.05)}
.add_step .add_setp_line{padding:0;height:5px;width:20%;background:#36d810;border-radius:0;}
.add_step .add_setp_line.no{background:#eee;}
.add_step .add_setp_line.over{background-image: -moz-linear-gradient(left, #85d872, #eeeeee); /* Firefox */
background-image:-webkit-gradient(linear,0% 50%,100% 50%,from(#85d872),to(#eeeeee)); /* Saf4+, Chrome */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#85d872', endColorstr='#eeeeee', GradientType='1'); /* IE*/}

a.delete-item{font-size:15px;color:#fc5033;margin-right:10px;display:inline-block;width:30px;text-align:center;}
a.delete-item:hover{color:#e32000;}

#cart{width:100%;}
#cart tbody td{border-right:1px solid #f1f2f3;text-align:center;}
#cart thead th{border-right:1px solid #f1f1f1;text-align:center;}
#cart tfoot td{border-right:1px solid #f0f0f0;text-align:center;}
#cart thead{font-weight:bold;background:#fafafa;line-height:38px;height:38px;border-bottom: 1px solid #f1f2f3;}
#cart tbody tr{background: #fdfdfd;border-bottom:1px solid #f1f2f3;height:50px;}
#cart tfoot tr{background: #f6f6f6;border-bottom:1px solid #f1f2f3;height:50px;font-weight:bold;}
#cart .item{width:25%;}
#cart tbody .item{color:#1c9ac2}
#cart .price{width:20%;}
#cart tbody .price em{font-family:Georgia;font-size:16px;color:#fa4733;font-style:normal;margin-right:5px;}
#cart .quantity{width:30%;}
#cart .cost{width:20%;}
#cart tbody .quantity input{border:1px solid #eee;height:25px;width:50px;text-align:center;vertical-align: middle}
#cart tbody .quantity .plus_btn{display:inline-block;width:22px;height:28px;background:url(../images/plus_btn.png) center no-repeat;vertical-align: middle}
#cart tbody .quantity .minus_btn{display:inline-block;width:22px;height:28px;background:url(../images/minus_btn.png) center no-repeat;vertical-align: middle}
#cart  .clickable{cursor:pointer;}
#cart .show-fun i{font-size:14px;color:#1ab1e1;}

.linkst1{font-size:14px;font-weight:normal;margin-left:10px;color:#00a4d8;position:absolute;right:38px;top:18px;font-size:12px;}
.linkst2{font-size:14px;font-weight:normal;margin-left:10px;color:#00a4d8;position:absolute;right:39px;top:42px;font-size:12px;}
.linkst1:hover,.linkst2:hover{color:#0080a8;}
.linkst1 i{font-size:14px;margin-top:2px;margin-right:5px;float:left;}
.linkst2 i{font-size:15px;margin-top:1px;margin-right:5px;float:left;}
.portlet { margin: 0 0 1.2em 0; }
.portlet-header {padding-top:9px;}
.ui-sortable-placeholder { border: 1px dotted #92cf5c; visibility: visible !important; height: 40px; }
.wx_main_menu{width:100%;height:40px;padding-top:8px;margin:0 auto 2em;display:block;border-radius:0;position:relative;}
.wx_main_menu i.fa{margin-right:3px!important;}
.wx_main_menu .showname{position:absolute;z-index:99;width:100%;left:0;top:8px;}
.wx_main_menu .editname{position:absolute;z-index:98;width:100%;left:0;top:8px;}
.avatar_box{position:relative;}
.avatar_box a{display:block;position:absolute;right:0;top:0;width:50px;height:50px;background:rgba(0,0,0,0.6);text-align:center;padding-top:14px;display:none;}
.avatar_box .fa{font-size:22px;color:#fefefe;}
.myinfocenter_list .noread i.fa{margin-top:2px;color:rgba(0,0,0,0.3);margin-right:10px;}
.myinfocenter_list .read i.fa{margin-top:2px;color:rgba(0,0,0,0);margin-right:10px;}
.msg-info a{display:block;text-align:center;position:relative;}
.msg-info a i{font-size:16px;}
.msg-info a .badge{position:absolute;font-weight:400;padding:2px 5px;min-width:7px;right:5px;top:0;}
.msg-info-box{padding:15px 5px;}


.myzijintab {height:40px;}
.myzijintab li{width:120px;text-align:center;}
.alert{font-size:100%;}
.modal-backdrop.in {opacity: 0.7;filter: alpha(opacity=70);}
#start{display:block;}
#start .modal-dialog{width:50%;padding-top:30px;padding-bottom:30px;margin-top:30px;}
.modal .modal-title{font-size:15px;}
.modal .modal-title,.modal .modal-body{font-family:Microsoft Yahei;}
.start_tip{padding:0 15px;}
.start_tip h3{font-family:Microsoft Yahei;font-size:14px;font-weight:bold;}
.start_tip p{color:#999;}
.start_tip p a{color:#428bca;}
#start .modal-footer{text-align:center;}
a.jumplink{display:inline-block;margin-left:100px;color:#5dcff3;vertical-align:bottom;}
a.jumplink:hover{color:#3a87ad;}
.add-success-tip{width:80%;margin:20px auto;font-size:14px;line-height:30px;}
.add-success-tip .alert{padding:25px 40px;}
.add-success-tip h4{font-family:Microsoft Yahei;font-size:35px;text-align:center;padding-top:20px;color:#4cae4c;}
.add-success-tip h4 img{margin-right:30px;}
.add-success-tip  p{text-align:center;padding:30px 0;}
.add-success-tip  p .btn{width:300px;height:52px;line-height:40px;font-size:18px;}
.modal-footer .btn{min-width:100px;}

.set_list_group .list-group-item{border-left:none;border-right:none;border-top:none;margin-bottom:0;}
.set_list_group .list-group-item em{font-style:normal;color:#999;}
.set_list_group .list-group-item i.fa{width:16px;text-align:center;font-size:13px;color:#aaa}
.my_block div.b-center span{font-size:25px;margin-right:5px;color:#ff3f36;text-shadow:1px 1px 2px rgba(200,200,200,0.2);font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:normal;float:left;}
.my_block div.b-center small{font-size:14px;margin-right:5px;float:left;margin-top:2px;}
.my_block div.b-center i{font-size:28px;margin-right:10px;float:left;color:#f8f8f8;}
.my_block div.col-xs-4{padding:20px 10px 0;height:155px;}
.my_block div.col-xs-4 p{text-align:center;margin:5px auto 0;width:92%;}
.my_block div.col-xs-4 p i{color:rgba(255,255,255,0.5);margin-right:5px;margin-top:-2px;}
.my_block div.col-xs-4 p span{color:#faf6ad;}
.my_block div.col-xs-4 .line{border-top: 1px solid rgba(0,0,0,0.1);border-bottom: 1px solid rgba(255,255,255,0.17);}
.my_block div.b-center{width:250px;margin:0 auto;overflow:hidden;}
.my_block div.btn-center{width:250px;margin:15px auto 0;}
.my_block div.btn-center .btn{width:98px;}
.my_block div.btn-center .btn-r-text{vertical-align:middle;font-size:14px;color:#fff;border-right:1px solid rgba(0,0,0,0.1);display:inline-block;padding-right:15px;margin-left:15px;line-height:15px;color:#fefefe;}
.my_block div.btn-center .btn-r-text:hover{color:#e8e8e8}
.adm_block{margin-bottom:15px;}
.adm_block div.col-xs-4{height:95px;}
.adm_block .tooltip .tooltip-inner{text-align:left;background-color:#9b9b9b;line-height:22px;color:#fff;text-shadow:1px 1px 1px rgba(0,0,0,0.06);padding:5px 10px;}
.adm_block .tooltip.bottom .tooltip-arrow{border-bottom-color:#9b9b9b;}

.my_block  div.zj{width:auto;overflow:hidden;}
.text-r-s{font:normal 12px Microsoft Yahei;margin-left:30px;color:rgba(250,250,250,0.7);}
.my_block .wrapper p.h2 .tooltip{font-weight:normal;}
.my_block .wrapper p.tp i{color:#999;margin-right:5px;}
.my_block .wrapper .list-group{margin-bottom:0;}
.my_block .wrapper .list-group-item{background:none;padding:5px 0;}
.my_block div.tpline{border-top: 1px solid rgba(0,0,0,0.1);border-bottom: 1px solid rgba(255,255,255,0.17);margin:5px 0 0;}
.zj-panel .panel{height:148px;overflow:hidden;}
.tixian-body .h5 span.label{margin-left:20px;font-weight:normal;}
.tixian-body small.block{padding:5px 18px;color:#888;}
.tixian-body small.block i{color:#999;}

.messagelist .list-group-item i.fa{font-size:20px;margin-top:7px;margin-right:15px;}
.mysettingh4{padding:10px 15px 8px;font-size:15px;font-family:Microsoft Yahei;}
.mysettingh4 .btn{margin-top:-8px;}

.breadcrumb i.fa{margin-right:5px;}
.panel .mytable td{padding:10px 12px; vertical-align:middle;}
.mytable td em{font-style:normal;color:#f0765e;margin-left:4px;}
.mytable td .btn-xs.btn-info{cursor:auto;}
.q_scroe i{color:#ff6582;font-size:13px;}
.mypanelhead{font-size:14px;line-height:25px;}
.mypanelhead .btn{margin-top:-3px;}
.mypanelhead .btn-s-xx{min-width:50px;}
.mypanelhead em{float:left;color:#999;line-height:20px;padding-right:10px;font-style:normal;}
.mypanelhead .label input{float:left;}
.mypanelhead .label a.btn{margin-left:10px;padding:4px 10px;margin-top:-3px;float:left;}
.thumb-hd{width:360px;display:inline-block;}
.thumb-hd img{width:350px;height:170px;overflow:hidden;}
.mylabel{display:inline-block;padding:3px 2px;margin-bottom:0;}
.panel-body{font-size:12px;}
.line-dotted{border-style:dotted;background:transparent;}
.mypic{height:186px;width:auto;}
.pic-box{height:192px;overflow:hidden;border:1px solid #dedede;padding:2px;}
.no-pic{background:url(../images/nopic2.png) center no-repeat #dff5e8;height:186px;background-size:200px 100px}
.pic-box a{display:block;overflow:hidden;}
.pic-box img{}
.fl{float:left;}
.fr{float:right;}
.l-h-3x{line-height:30px;}
.btn-s-xxs{min-width:60px;padding:3px 10px;}
.p-t-xxs{padding-top:3px;}
.m-t-n-xxs{margin-top:-3px;}

.wyContact .tooltip .tooltip-inner{max-width:250px;width:250px;line-height:20px;padding:5px 8px;text-align:left;}


.mycol{width:350px;height:350px;float:left;margin-right:20px;display:inline;}
.imgbox{width:100%;height:100%;max-height:180px;;overflow:hidden;display:block;}
.imgbox img{width:100%;}
.dph4{font:normal 16px Microsoft Yahei;margin-bottom:5px;}
.myplus{font-size:150px;color:#e4e8f2;display:block;margin:50px auto 0;}
.myplus:hover{color:#dde2ee;}

.loginbox{margin:7% auto 0;font-family:Microsoft Yahei;color:#8b91a0;width:640px;}
.p-b-sm{padding-bottom:10px;}
.btn-h-sm{height:37px;}

.daohang_type{width:30%;height:50px;float:left;padding-left:20px;text-align:left;display:block;overflow:hidden;font-size:14px;line-height:45px;margin:10px 1.5%;border:1px solid rgba(0,0,0,0.05);box-shadow:1px 1px 3px rgba(0,0,0,0.05);-webkit-transition:.1s;-moz-transition:.1s;-o-transition:.1s;transition:.1s;}
.daohang_type:hover{background:#ddf7ff;border-color:#55caef;color:#0e9ecb;}
.daohang_type i.fa{font-size:14px;margin-right:10px;display:inline-block;width:15px;text-align:center;}

.add_color{width:24px;height:24px;background:url(../images/color.png);display:inline-block;margin-top:-2px;}
.add_bold{display:inline-block;width:24px;height:24px;background:url(../images/b-icon.png);margin-left:10px;margin-top:-2px;}
.onbold{background:url(../images/b-icon.png) 0 -24px;}
.add_bold b{display:none;}
table th[class*="col-"],table td[class*="col-"]{position:static;}
.page_info_tb{border:1px solid #eee;margin-top:20px;}
.page_info_tb td{line-height:20px;padding:5px;border-right:1px solid #eee;border-bottom:1px solid #eee;text-align:center;}
.page_info_tb tr:hover{background:#fefefe;}

.tixian-set{float:right;font:normal 14px Microsoft Yahei;margin-top:15px}

.page_p{padding-right: 20px;line-height: 29px;vertical-align: top;display: inline-block;margin: 20px 0;}

.dropdown-toggle{font-family:Microsoft Yahei;}
.form-control{padding:4px 7px;}

.weiwebform ul{padding:0px;overflow:hidden;}
.weiwebform ul li{list-style:none;text-align:center;float:left;margin:5px 30px;width:220px;height:460px;background:url(../images/iphone_box.png) 1px 0 no-repeat #fff;}
.weiwebform ul li:hover{background-position:-220px 0;}
.weiwebform ul li img{margin-bottom:10px;width:161px;height:262px;margin-top:73px;margin-bottom:50px;cursor:pointer;}
.weiwebform ul li input[type="radio"]{margin-right:5px;}
.weiwebform ul li .radio{width:100%;height:25px;padding-top:3px;}
.mb-set-p .col-sm-offset-2 button{min-width:80px;}
.weiwebform ul li.onselect{background-position:-220px 0;}



#yewu_check{padding:10px;}
#yewu_check label{font-weight:normal;margin-right:20px;cursor:pointer;}
.tp_right{position:absolute;right:25px;font-size:14px;color:#acacac;top:6px;cursor:pointer;}
a.close_tag{position:absolute;right:10px;bottom:5px;color:#ccc;}
a.close_tag:hover{color:#666;}

.item_cont .form-group{margin-bottom:5px;height:30px;}
.item_cont .open-option{margin-top:3px;}
.item_cont .open-option label{font-weight:normal;cursor:pointer;font-size:12px;line-height:22px;margin-right:15px;margin-bottom:0;}
.item_cont .open-option input{margin-right:2px;width:13px;}
.item_cont .type-file{font-size:12px;margin-top:3px;cursor:pointer;width:100%;}
.item_cont .line-d{border-top:1px solid rgba(150,150,150,0.1);height:1px;overflow:hidden;background:rgba(200,200,200,0.3);}
.cover_option{display:none;}

.bc_blue { border: solid 1px blue; }
.fontbold{font-weight:bold;}
.w80{width:80px}
.w100 { width: 100px;  }
.w200 { width: 200px;  }
.w600 { width: 600px;  }
.h300 { height: 100px; }
.edit{border:solid 1px #ccc;width:700px;border: 1px solid #e1e1e1;border-radius:4px;}
.editContent{padding:10px;word-wrap:break-word;height: auto; min-height: 200px;padding-top:15px;
}
.editContent:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 3px rgba(102,175,233,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 3px rgba(102,175,233,0.6);}
.editTool{width:100%;height:30px;background-color:#f1f1f1;margin:0px;box-shadow:0px 2px 2px rgba(0,0,0,0.12);}
.fontbold:hover{background:rgba(0,0,0,0.1);}
.editTool div{ float:left;padding:0;margin:2px 0 0 5px;cursor:pointer;text-decoration:none;color:Black }
.editTool  .curr{background-color:#81AAD1;}

.phhe { width: 100%; height: 20px; text-align: right; margin: 0px;  }
.phul {  border: solid 1px #7A8B7C; width: 200px; height: 200px; padding: 0px;  margin: 0px; }
.phli { border: solid 1px #D3E4F0; float: left; width: 24px; height: 24px;  list-style: none; margin: 1px; }
.phdiv {position: relative;display:none;position:absolute;background-color:white;border:solid 1px #ccc; }
.phdiv .phtable{padding:0px;margin:0px;border:0;border-collapse:separate;}
.phdiv .phtd{margin:0px;padding:1px;border:1px solid #F0F0EE;cursor:pointer;width:35px;height:35px;}
.phdiv .phtd_on{border: 1px solid #5690D2;background-color: #E9EFF6;}
.phdiv .phspan{background-repeat:no-repeat;overflow:hidden;padding:0px;margin:0px;border:0px; width:100%;height:100%;display:block;/*display:block;（很重要）*/ }


.result-modal{filter: alpha(opacity=60);opacity: 0.6;}
.result-msg{padding:10px 20px;width:260px;height:50px;position:absolute;font-family:Microsoft Yahei;top:50%;left:50%;margin-left:-150px;margin-top:-35px;text-align:center;font-size:14px;line-height:30px;border-radius:4px;z-index:10000;display:none;}
#shopimg{width:auto;max-height:155px;}
.error-msg{color:#c33;position:absolute;top:28px;left:318px;background: url(images/error.png) no-repeat;padding-left:18px;line-height:14px;}

.paper p{height:30px;margin:0;line-height:30px;padding-left:55px;font-size:14px;}
.paper.replyCont{margin-bottom:20px;}
.paper.replyCont textarea{min-height:151px;}
.paper .msg-box{vertical-align: bottom;margin-bottom: 15px;}
.label.label-xs{padding:2px 5px;font-size:12px;border-radius:0;}
img.replyed{position:absolute;right:-20px;top:-180px;z-index:99;}

.mcenter{padding:30px 40px;}
.mcenter h4.myfont{font-size:15px;border-bottom:1px dotted #eee;padding:10px 5px;text-shadow:1px 1px 1px rgba(0,0,0,0.2);}
.mcenter .list-ul{padding:0;list-style:none;}
.mcenter .list-ul li{padding:0px 8px;height:30px;overflow:hidden;white-space: nowrap;text-overflow:ellipsis;}
.mcenter .list-ul li i.fa{margin-right:5px;color:#333;}
.mcenter .list-ul li a{color:#0985d4;display:inline-block;line-height:30px;}
.mcenter .list-ul li a:hover{color:#52aae2;}
.mcenter .single-line ul li{width:33%;float:left;}

.n-invalid {border-color: #ff5f5f !important;}
.msgLeft .msg-box.n-right{position:absolute;right:-90px;top:5px;padding-top:0;}
.txmsgLeft .msg-box.n-right{position:absolute;right:-1px;top:5px;padding-top:0;}
.msgTime{margin-bottom:8px;}
.msgTime .msg-box.n-right{display:block;margin-top:0;padding-top:0;}
.msgTime .msg-box .n-error{position:absolute!important;left:-8px;bottom:-21px;}
.msgTime .msg-box .n-ok{position:absolute;right:-22px;top:-22px;}
.msgCont{padding-bottom:15px;}
.msgCont .msg-box.n-right{position:absolute;left: 755px;bottom: 30px;}
.msg-box{padding-top:3px;}
#dragTip{font-size:12px;font-weight:400;color:#bbbbbb}
#dragTip i{font-size: 14px;color:#bcbcbc;margin-right:5px;}

.loginHeader{background: #fff;box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);-webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);height:68px;}
.loginLogo{float:left;margin-left:-15px;}
.loginLogo a{float:left;width: 211px;height: 60px;display:block;margin-top: 4px;background-image: url(/static/images/fix-logo.png);}
.loginHeadRight{float:right;margin-right:-15px;}
.loginHeadRight .loginBtn{float:right;height:68px;}
.loginHeadRight .loginBtn ul{margin:0;padding-left:0;}
.loginHeadRight .loginBtn ul li{height:68px;padding-top:9px;border:none;}
.loginHeadRight .loginBtn ul li a:hover{color:#575757;border:none;}
.loginHeadRight ul{float:right;margin:0 20px 0 0;}
.loginHeadRight ul li{float:left;list-style:none;height:68px;font:14px/66px Microsoft Yahei;padding:0px;}
.loginHeadRight ul li a{display:block;padding:0 15px;}
.loginHeadRight ul li a:hover{background:#f5f5f5;border-bottom: 2px solid #7ab80e;color: #7ab80e;}
.loginMain{background:#f6f7f8;margin-top:0px;}
.loginMain .panel{width:60%;margin:0 auto;box-shadow:1px 1px 3px rgba(0,0,0,0.05);}
.loginMain .panel-heading{background:#fdfdfd;padding:0;}
.loginMain .panel-heading a{display:inline-block;padding:17px 35px;font-size:15px;}
.loginMain .panel-heading a.active{background:#fff;border-top:2px solid #5bb75b;}
.loginMain .panel-heading i{background:#f2f2f2;border-top:2px solid #f2f2f2;width:1px;display:inline-block;height:100%;padding: 17px 0;}
.loginForm{padding:5px 0;}

.loginForm .form-group .btn-get-code{width:100px;float:left;margin-left:15px;}
.msgPhone .msg-box{position:absolute;left:95px;top:53px;}
.msgPhone .msg-box .n-ok,.pwd .msg-box .n-ok{display:none;}
.loginForm .form-group.msgPhone{padding-bottom:25px;}
.loginForm .code_msg{color:#e33;top:59px;left:98px;position:absolute;}

.loginMain .panel-body{padding:15px 0 20px;}
.logbox .form-group{display:block;width:100%;overflow:hidden;border-bottom:1px solid #fafafa;margin-bottom:0;padding:20px 0 20px 20px;position:relative;background:#fff;}
.logbox label.control-label{font-weight:normal;font-size:13px;display:inline-block;width:80px;padding-right:20px;padding-top:9px;float:left;text-align:right;}
.logbox .form-group .form-control{width:50%;float:left;height:35px;}
.logbox .loginFormBtn,.logbox .regFormBtn{margin-top:1px;margin-left:80px;width:120px;height:34px;font-size:15px;border-radius:0;background:#49afcd;border:none;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;float:left;}
.logbox .loginFormBtn:hover{background:#2f96b4;}
.logbox .regFormBtn{background:#5bb75b;}
.logbox .regFormBtn:hover{background:#51a351;}
.logbox .form-group  small{margin:12px 10px 0;float:right;font-size:13px;}
.logbox .form-group  small.leftLink{margin-left:30px;border-right:1px solid #ccc;padding-right:15px;margin-right:5px;}
.login-foot{position:absolute;bottom:0;left:50%;margin-left:-170px;}
.loginForm .vercode.form-control{width:120px;}
.logbox .form-group.hasAccount{background:#fefefe;border-bottom:0;}
.logbox .form-group.hasAccount small{float:left;margin-left:80px;}
.logbox .form-group.hasAccount .loginFormBtn{margin-left:10px;color:#fff;height:28px;margin-top:6px;width:90px;font-size:12px;letter-spacing:1;}
.regForm{margin-top:-15px;padding-top:20px;background:#fff;}
.reg2HasAccount{float:right;font-size:12px;}
.logbox .reg2HasAccount a{float:right;margin:12px 10px 0;color:#49afcd;}
.logbox .reg2HasAccount a:hover{color:#2f96b4;}
.logbox .backFormBtn{background:#d5d5d5;border:0;border-radius:0;margin-left:30px;width:120px;height:34px;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;}
.logbox .backFormBtn:hover{background:#bcbcbc;}

.inva-input .form-group input.form-control{width:80%;}
.inva-input .line{width:64%;}
.wyContact .form-group{width:30%;}
.wyContact .form-group label{padding:10px 0;font-weight:normal;}
.wyContact .addPhoneMsg .msg-box{position:absolute;right:-100px;top:3px;}
.panel-heading .help-inline{font-size:12px;padding-left:15px;color:#8c8c8c;font-weight:normal;}
.panel-heading .help-inline i{font-size:14px;color:#fcac4d;}

.weixinHelp h4{border-bottom:1px solid #c76765;margin-bottom:0;padding:3px 0 12px 5px;}
.weixinHelp ul{padding-left:22px;font-size:13px;border-top:1px solid #f3f3f3;padding-top:5px;}
.weixinHelp ul li{line-height:25px;margin:5px 0;}
.weixinHelp ul li .panel-collapse{background:#d5c1c1;padding:5px;color:#706363;line-height:20px;font-size:12px;font-size:100%;}
.weixinHelp ul li .panel-collapse a{color:#a61212;margin:0 2px;}
.weixinHelp ul li .panel-collapse a:hover{color:rgba(0,0,0,1.5)}
.wxUrl{padding:15px 30px 0;line-height:30px;font-size:14px;}
.wxjkSetting .control-label{width:150px;padding-right:0;}
.wxjkSetting .form-group{padding:5px 0;position:relative;}
.wxjkSetting .form-group button{margin-left:165px;}
.wxjkSetting .error-msg{left:410px;top:20px;}
.wxUrl .text-sg em{color:#379f17;font-style:normal;margin:0 5px;}
.wxUrl .text-sg a{color:#379f17;margin-left:5px;}
.wxUrl .text-sg a:hover{color:#41bb1c;}

.headRight i.fa-mail{display:inline-block;background:url(../images/contact.png) -2px -17px no-repeat;width:24px;height:16px;margin-top:2px;}
.navbar-nav.headRight>li{border-right:1px solid #f9f9f9;}
.navbar-nav.headRight>li:hover,.navbar-nav.headRight>li>a:hover{background:#f9f9f9;}
.navbar-nav.headRight>li.infoLink>a {padding-top: 15px;padding-bottom: 12px;}
.navbar-nav.headRight>li.qqLink>a ,.navbar-nav.headRight>li.telLink>a{font-family:Verdana;margin-left:15px;color:#777;text-shadow:1px 1px 1px rgba(0,0,0,0.09)}
.navbar-nav.headRight>li.qqLink>a {padding-top: 12px;padding-bottom: 10px;background: url(../images/contact.png) -2px -51px no-repeat;height: 50px;padding-left: 25px;line-height: 27px;}
.navbar-nav.headRight>li.telLink>a {padding-top: 12px;padding-bottom: 10px;background: url(../images/contact.png) -2px -99px no-repeat;height: 50px;padding-left: 25px;line-height: 27px;cursor: default;}
.navbar-nav.headRight>li.navbar-right-option>a{font-size:14px;font-family:Microsoft Yahei;font-weight:400;color:#ff5340}
.navbar-nav.headRight>li.navbar-right-option.text-success>a{color:#149a37;}
.navbar-nav.headRight>li.navbar-right-option.text-default>a{color:#888;}
.contact-text{font:normal 12px Verdana;display:block;height:32px;line-height:32px;padding-left:38px;margin:0px 5px;}
a.contact-text{color:#0a6fe0;}
.qq-contact{background:url(../images/contact.png) 7px -59px no-repeat;}
.tel-contact{background:url(../images/contact.png) 9px -107px no-repeat;border-bottom:none;}
.contact-diver{background:#f5f5f5;height:1px;overflow:hidden;display:block;margin:5px 0;}

.navbar-nav.headRight>li.sjLink .popover{max-width:300px;width:300px;left:-76px;font-family:Microsoft Yahei;}
.navbar-nav.headRight>li.sjLink .popover .popover-title{font-family:Microsoft Yahei;}
.navbar-nav.headRight>li.sjLink .popover.bottom .arrow {}

.main-header{background:#f9f9f9;height:60px;box-shadow:0 2px 4px rgba(0,0,0,0.09);position:fixed;width:100%;z-index:1000;top:0;left:0;}
.main-header .logo{background:url(../images/logom.png) no-repeat;display:inline-block;width:175px;height:60px;position:relative;}
.main-header .logo a{position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0);text-indent:-999em;}
.main-header nav{float:right;font-family:Microsoft Yahei;}
.main-header nav ul{overflow:hidden;}
.main-header nav ul li{float:left;padding:10px 5px;list-style:none;}
.main-header nav ul li a{color:#666;text-shadow:1px 1px 1px #fff;display:inline-block;line-height:40px;padding:0 10px;}
.main-header nav ul li a:hover{background:#f0f0f0;border-radius:3px;box-shadow:1px 1px 2px rgba(0,0,0,0.1) inset;color:#4096ee;}
.main-header nav ul li.current-menu-item a{background:#f0f0f0;border-radius:3px;box-shadow:1px 1px 2px rgba(0,0,0,0.1) inset;color:#4096ee;}
.main-header .search{float:right;display:block;margin-top:19px;color:#bbb;cursor:pointer;margin-left:15px;}
.main-header .user-login{float:right;margin-top:20px;margin-left:10px;overflow:hidden;}
.main-header .user-login span{display:block;float:left;margin-right:12px;font-family:Verdana;}
.main-header .user-login span a:hover{color:#428bca}
.main-header .user-login .icon-qq{display:block;background: url(../images/contact.png) -2px -67px no-repeat;width:24px;height:24px;vertical-align: middle;float:left;}
.main-header .user-login .icon-tel{display:block;background: url(../images/contact.png) -2px -115px no-repeat;width:24px;height:24px;vertical-align: middle;float:left;}
.main-header .menu-bar,.main-header .menu-xs{display:none;}
.btn-navbar{background:#ccc;padding:10px 8px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.btn-navbar .icon-bar{background-color: #fff;display: block;width: 22px;height: 2px;-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;margin:4px 0;}


.wxNosetting{width:18px;}
.pillbox input{width:200px!important;}
.fun-title{margin:0;padding:0 15px;position:relative;}
.fun-title h3{margin-top:12px;}
.showList.dropdown-menu{padding:0;}
.showList.dropdown-menu li{position:relative;}
.showList.dropdown-menu li a{border-bottom:1px solid rgba(133,201,72,0.2);}
.showList.dropdown-menu li a.add_icon{border:none;}
.showList.dropdown-menu li:last-child a{border-bottom:1px solid rgba(133,201,72,0.2);}
.showList.dropdown-menu li:last-child{border:none;}
.showList.dropdown-menu>li>a {padding: 8px 15px;line-height:20px;}
.showList.dropdown-menu>li>a.add_icon{padding:0;position:absolute;right:0;height:0;height:36px;width:36px;text-align:center;}
.showList.dropdown-menu>li>a.add_icon i{margin-right:0;margin-top:10px;}
.showList.dropdown-menu li:hover a{background:#85c948;}
.admnav .showList.dropdown-menu li a{color:#666;}
.admnav .showList.dropdown-menu li:hover a{background:#4c5566;color:#fff;}
.showList.dropdown-menu li:hover a.add_icon{background:#70aa3b;color:#fff;}
.req{font:normal 13px Microsoft Yahei;position:absolute;left:0;top:7px;color:red}
.ywMsg .msg-box{position:absolute;right:0;}
.yh-item{position:relative;}
.nrz-pic{position:absolute;right:20px;top:10px;z-index:888;}
.nrz-pic.nfb-pic{left:720px;top:25px;}
.youhui-list-pic{border:1px solid #dedede;padding:2px;float:left;margin-right:10px;overflow:hidden;height:166px;}
.youhui.no-pic{width:350px;height:160px;}
.nav .badge{font-weight:400;padding:2px 4px;margin-left:4px;}
.btn-right{font-size:13px;padding:5px 12px;float:right;margin-top:-3px;}
.btn-sh{padding:5px 12px;margin-left:65px;}
.option-sj .btn-xs{padding:2px 7px;margin-right:3px;}
.yh-imgbox{border:1px solid #ccc;padding:2px;width:100%;display:inline-block;float:right;}
.yh-imgbox.no-pic-box{display:block;float:none;width:100%;}
.yh-imgbox .no-pic{margin:0;width:100%;}
.yh-detail,.sj-detail{position:relative;}
.yh-detail .nrz-pic.nfb-pic,.sj-detail .nrz-pic.nfb-pic{left:inherit;right:50px;top:10px;}
.b-tip{padding:5px 0;color:red;vertical-align: bottom;padding-left:30px;}
.b-tip a{vertical-align: bottom;color:#428bca;}
.b-tip a:hover{color:#2589e0;}
.text-red{color:#fcff00;}
.shop-cat{background:#fbfbfb;margin:15px 0 0px;box-shadow:2px 2px 2px rgba(0,0,0,0.1);overflow:hidden;padding:10px;position:relative;}
.shop-cat p{position:absolute;top:17px;left:25px;}
.shop-cat .scat{float:left;padding:0;padding-left:95px;}
.shop-cat .scat a{display:inline-block;padding:2px 10px;background:#bcbcbc;color:#fff;margin:5px 10px;-webkit-transition:.2s;-moz-transition:.2s;-o-transition:.2s;transition:.2s;}
.shop-cat .scat a:hover{background:#ee945d;}
.shop-cat .scat a.active{background:#ee945d;}
.fun-block{background:#fafafa;padding:8px 15px;width:750px;}
.fun-block input[type="radio"]{margin-top:1px;margin-right:2px;}
.fun-block .radio-inline{margin:5px 0;width:110px;padding-top:0;overflow:hidden;white-space:nowrap;text-overflow:hidden;margin-right:10px;}
.fun-block hr{border-top:1px solid #ccc;border-bottom:1px solid #fff;overflow:hidden;margin:10px 0;}
.fun-block .child-tag{}
.tip-load{width:100%;height:100%;position:absolute;top:0;left:0;background:rgba(255,255,255,0.9);z-index:9999}
.tip-load p{position:absolute;left:50%;top:50%;font-family:Microsoft Yahei;margin-left:-80px;margin-top:-20px;margin-bottom:0;}
.creat-tip{color:#fb6b5b;font-weight:400;font-size:13px;}
.w80Msg input{width:80%;display:inline-block;}
.w80Msg .error{color:#c33;}
.w80Msg .error .icon-err{background:url(../css/images/validator_default.png) 0 8px no-repeat;display:inline-block;width:17px;height:20px;margin-right:2px;}
.w80Msg.MsgRight div.pillbox,.w80Msg.MsgRight div.edit,.w80Msg.MsgRight .error{float:left;}
.w80Msg.MsgRight .error{margin-left:5px;color:#c33;}
.boxshadow{box-shadow:0px 0px 8px rgba(255,76,76,0.1)}
.xqshopLogin{padding:10px;width:420px;font:normal 12px Microsoft Yahei;line-height:25px;}
.xqshopLogin hr{margin:5px 0;}
.xqshopLogin p{font-size:12px;margin-bottom:0;}
.zj_plus{font-family:Tahoma;font-size:12px;color:#1fbb01;font-weight:700}
.zj_minus{color:#ffa3a3;font-weight:normal;}
.shopBox{height:235px;}
.shopBox .pic-box{position:relative;overflow:visible}
.shopBox .pic-box .xc{width:58px;height:52px;background:url(../images/xc.png) no-repeat;position:absolute;right:2px;top:2px;}
.showpic-box{width:180px;height:100%;position:absolute;padding:0;top:0px;left:115%;margin:0 15px;z-index:100;background:#fefefe;z-index:99;border:1px solid #f1f1f1;box-shadow:2px 2px 4px rgba(0,0,0,0.1);filter:alpha(opacity=0);-moz-opacity:0;opacity:0;display:none;}
.showpic-box p{font-size:14px;font-weight:bold;padding:6px 10px;margin-bottom:0;background:#f5f5f5;}
.showpic-box p .btn{float:right;font-size:14px;line-height:1.2px;padding:1px 2px;margin-top:2px;}
.showpic-box em{background:url(../images/arrow.png) center no-repeat;background-size:14px 18px;position:absolute;left:-14px;top:0;display:inline-block;width:14px;height:100%;}
.showpic-box .pic_box{border-top:1px solid #eee;margin-top:0;padding:10px 10px 0;}
.showpic-box .pic_box img{float:left;margin:3px;width:73px;padding:2px;filter:alpha(opacity=80);-moz-opacity:0.8;opacity:0.8;}
.showpic-box .pic_box img:hover{border:2px solid #24beef;padding:1px;filter:alpha(opacity=100);-moz-opacity:1;opacity:1;}
.showpic-box .pic_box span{display:block;text-align:center;margin-top:20px;}
.showpic-box .pic_box .up-pic i{font-size:14px;}
.showpic-box .pic_box .up-pic{width:90%;margin:10px auto;}
.pic_box.up_box span img:hover{border:2px solid #24beef;}
.pic_box.up_box span .del_pic{display:block;width:14px;height:14px;background:url(../images/-.png) no-repeat;position:absolute;right:5px;top:-5px;}
.up_box span{float:left;width:90px;position:relative;}
.up_box a{cursor:pointer;display:block;height:70px;}
.up_box input{width:80px;border:1px solid #ddd;height:25px;}
.show_pic_big{position:absolute;left:0;top:0;width:100%;text-align:center;padding-top:150px;z-index:1101;display:none}
.show_pic_big img{max-width:800px;max-height:600px;vertical-align:top;}
.show_pic_big a{width:60px;height:55px;background:rgba(0,0,0,0.3);display:inline-block;font-size:40px;font-family:arial;color:#aaa}
.show_pic_big a:hover{background:#rgba(0,0,0,0.6);color:#ddd}
.yh_code hr{margin:-5px 10px 10px;border-top:1px solid #ddd;border-bottom:1px solid #fff;}
.yh_code .yh_status{color:#cc7845;}
.yh_code .yh_status em{font-style:normal;color:#e35905}
.yh_code .yh_status i{font-size:14px;color:#ff6000;}
.yh_code .yh_status a{color:#11b604;}
.yh_code .yh_active{padding-left:33px;line-height:27px;}
.yh_code .yh_active input[type="text"]{border:1px solid #ddd;height:27px;width:200px;vertical-align: middle;padding-left:5px;}
.yh_code .yh_active .btn{border-radius:0;height:25px;line-height:22px;margin-left:10px;width:100px;}


#bankbox label{width:180px;display:inline-block;margin-right:15px;height:50px;margin-bottom:0;}
#bankbox label img{max-width:154px;max-height:33px;}
#bankbox label input[type="radio"]{margin-top:10px;}
#bankbox label span{display:inline-block;width:154px;height:33px;cursor:pointer;margin-left:5px;}
.pay-dailog{width:400px;height:200px;background:#fff;z-index:1200;position:absolute;left:50%;top:50%;margin-left:-200px;margin-top:-100px;border-radius:5px;box-shadow:0 0 14px rgba(0,0,0,0.5)}
.pay-req{width:280px;height:50px;text-align:center;line-height:50px;position:absolute;left:50%;top:50%;margin-left:-90px;margin-top:-15px;font-size:14px;background:#fff;box-shadow:2px 2px 2px rgba(0,0,0,0.3)}

.xq-toggle{font-size:16px;font-family:Microsoft Yahei;line-height:50px;position:relative;cursor:pointer;width:250px;padding-left:20px;border-left:1px solid #f1f1f1;}
.xq-toggle .xq-toggle-link{display:block;text-shadow:1px 1px 1px #eee;color:#666}
.xq-toggle .xq-toggle-link:hover{color:#d9534f;}
.xq-toggle .xq-toggle-link i{font-size:16px;margin-left:6px;}
.xq-toggle .xq-toggle-link span{max-width:180px;display:inline-block;line-height:30px;float:left;margin-top:10px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.xq-toggle .dropdown-menu{margin-top:1px;border-top:none;padding:0;left:-2px;}
.xq-toggle .dropdown-menu p,.add-xq-box{padding:7px 10px;margin-bottom:0;margin:0;line-height:25px;font-size:14px;cursor:pointer;text-shadow:1px 1px 1px #eee;max-width:200px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.xq-toggle .dropdown-menu p:hover,.add-xq-box:hover{background:#f1f1f1}
.xq-toggle .dropdown-menu p i,.add-xq-box i{color:#999;margin-right:5px;}
.add-xq-box,.add-xq-box i{color:#0093d0}


.xq-toggle-masker{width:100%;height:100%;position:absolute;left:0;top:0;background:rgba(0,0,0,0.6);z-index:1500;display:none;}
.xq-toggle-masker p{width:250px;height:50px;background:rgba(255,255,255,0.9);text-align:center;font-family:Microsoft Yahei;line-height:44px;font-size:15px;position:absolute;left:50%;top:50%;margin-left:-125px;margin-top:-25px;margin-bottom:0;border:3px solid #f1f1f1;box-shadow:0 3px 3px rgba(0,0,5px,0.5)}
.xq-toggle-masker p img{margin-right:5px;}
.xq-tip1{position:absolute;left:360px;top:20px;cursor:pointer}
.xq-tip2{position:absolute;right:30px;top:87px;cursor:pointer}
.xq-tip3{position:absolute;left:33.3333%;top:330px;cursor:pointer;margin-left:-240px;}

.masker{width:100%;height:100%;position:absolute;top:0;left:0;background:rgba(0,0,0,0.1);}
.protocol label{font-weight:400;font-size:12px;width:100%;line-height:20px;}
.logbox .form-group .protocol label input.form-control{width:20px;padding-top:0;margin-top:-2px;width:auto;height:23px;margin-right:10px;}
.protocol label a{color:#0076d1;}
.protocol_box{width:800px;height:550px;position:absolute;left:50%;top:50%;margin-left:-400px;margin-top:-275px;background:rgba(0,0,0,0.07);border-radius:5px;padding:10px;}
.protocol_cont{background:#fff;width:100%;height:100%;}
.protocol_cont iframe{width:100%;height:440px;}
.protocol_cont h3{height:30px;background:#f1f2f3;line-height:30px;border-bottom:1px solid #ccc;text-align:center;font-weight:700;margin:0;padding:0;font-size:12px;}

.xq-list-zj{width:200px;}
.xq-list-zj em{float:right;font-style:normal;color:#fb6b5b}
.xq-tx-list{padding:8px 20px;}
.xq-tx-list input{margin-top:2px;}

.file-list-pic{position:absolute;background:#fff;box-shadow:2px 2px 2px rgba(0,0,0,0.1);border:1px solid #ddd;border-radius:5px;padding:10px;left:-230px;top:0;z-index:1200;display:none;}
.close.modal_cancel{margin-top: 2px;padding: 0 2px;background: #ccc;}
.pic-list-box{width:100%;height:100%;position:relative;}

.tuan_account{padding:13px 10px 10px;margin:25px 0 10px;border:1px solid #24beef;box-shadow:0px 0px 3px rgba(0,0,0,0.08);background:#fcfcfc;font-size:16px;padding-left:50px;min-height:80px;}
.tuan_account span{font-size:28px;font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;color:#fb6b5b;}
.modal-body .form-group p.col-sm-12{width:95%;}

/*代理弹窗*/
.dealer{font-family:Microsoft Yahei;width:600px;left:50%;margin-left:-300px;top:200px;background:#fff;position:absolute;z-index:10002;background:rgba(0,0,0,0.2);border-radius:8px;padding:15px;}
.dealer-box{width:100%;height:330px;background:#fff;padding:20px;}
.dealer-box .title{font-size:16px;text-shadow:1px 1px 1px rgba(0,0,0,0.09)}
.dealer-box .title span{color:#666;font-size:24px;}
.dealer-box .title em{padding-top:5px;display:block;font-style:normal;line-height:24px;color:#3591e6;text-shadow:1px 1px 1px rgba(0,0,0,0.05)}
.dealer-box .title i{color:#666;font-size:28px;margin-right:10px;}
.dealer-box .info{padding-top:10px;border-top:1px solid #ddd;margin-top:10px;text-shadow:1px 1px 1px rgba(0,0,0,0.04)}
.dealer-box .info p{font-size:14px;color:#0287f8;margin-bottom:5px;}
.dealer-box .info p span{display:inline-block;width:130px;text-align:right;padding-right:10px;font-weight:bold;color:#777}
.dealer-box .info p em{font-family:Verdana;font-style:normal;}
.dealer-box .btn{display:block;margin:20px auto 0;width:40%;}

/*dashboard*/
.general-box{padding:10px 20px 0px;font-size:14px;text-shadow:1px 1px 1px rgba(0,0,0,0.05);}
.general-box ul{list-style:none;padding-left:0;margin-bottom:5px;}
.general-box ul li{border-bottom:1px solid #eee;padding-top:5px;}
.general-box ul li span.tip{font-size:12px;float:right;}
.general-box ul li span.tip a{color:#14aad9;margin:0 2px;}
.general-box ul li span.tip a:hover{color:#0b7a9d;}
.general-box ul li span.time{font-size:12px;color:#777;}
.general-box ul li span.label{font-size:15px;font-weight:700;color:#fa513f;}
.general-box ul li span.time em{font-size:12px;color:#888;font-style:normal;font-family:Verdana;}
.general-box ul li cite{font-size:22px;font-family:Verdana;color:#fa513f}
.general-foot .option{font-size:14px;border-bottom:none;padding-top:5px;padding-left:8px;}
.general-foot .option a{font-size:12px;margin-right:35px;background:#44b1f0;color:#fff;display:inline-block;padding:3px 6px;border-radius:3px;}
.general-foot .option a:hover{background:#0e8fb8;}
.general-foot .option a.upgrade-link{background:#fa513f;padding:4px 7px;font-size:13px;border:1px solid #fa513f}
.general-foot .option a.upgrade-link:hover{background:#ea2f1a}
.wxq-version{float:left;font-family:Microsoft Yahei;margin:13px 20px 0 0;padding:3px 12px;background:#21bbeb;text-align:center;color:#fff;border-radius:18px;box-shadow:1px 1px 1px rgba(0,0,0,0.2) inset;text-shadow:1px 1px 1px rgba(0,0,0,0.2);cursor:pointer;}
.dashboard-money{color:#555}
.dashboard-money .panel-body{padding:20px 25px;height:185px;}
.dashboard-money .panel-body p.title{padding-left:3px;font-size:14px;}
.dashboard-money .panel-body p.h2{padding:10px 0;}
.dashboard-money .panel-body p.h2 em{font-family:Verdana;color:#fa513f;font-style:normal;font-size:32px;}
.dashboard-money .panel-body span.text-r-s{color:#888;}
.dashboard-money .panel-body .line.tpline{border-top:1px solid #ddd;margin:20px 0 15px;}
.dashboard-money .panel-body .btn-center .btn{float:left;margin-right:20px;}
.dashboard-money .panel-body .btn-center .btn-r-text{color:#555;font-size:14px;margin:0 15px;float:left;margin-top:5px;}
.dashboard-money .panel-body .btn-center .btn-group{margin-top:5px;}
.dashboard-xq-body{padding:20px;}
.dashboard-xq-p{font-size:12px;font-weight:400;text-shadow:1px 1px 1px rgba(0,0,0,0.04);margin-bottom:20px;}
.dashboard-xq-p b{display:inline-block;width:180px;text-align:right;padding-right:10px;font-size:14px;}
.dashboard-xq-p em{font-style:normal;color:#695ea5;font-weight:400;font-size:22px}
.dashboard-xq-p a.toggle-xq{font-size:12px;font-weight:400;margin-left:15px;color:#666}
.fontven{font-family:Verdana;}
.shop-level{display:inline-block;vertical-align: top;line-height:22px;}

.dashboard .panel-heading{font-size:15px;}
.dashboard .panel-body h1{font-size:28px;font-family:Microsoft Yahei;margin-top:0;color:#777;margin-bottom:10px;padding:10px;}
.dashboard .panel-body h1 a{color:#fff;font-size:13px;margin-left:40px;display:inline-block;padding:6px 10px;border-radius:4px;text-shadow:1px 1px 1px rgba(0,0,0,0.08);-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;background:#ff5340;box-shadow:1px 1px 1px rgba(0,0,0,0.09)}
.dashboard .panel-body h1 a:hover{background:#fd3721;color:#fff;}
.dashboard-xq-item{width:200px!important;height:190px;padding:35px 40px;position:relative;}
.dashboard-xq-item a.xq-block{display:block;width:120px;height:120px;background:#6fd3f2;border-radius:120px;color:#fff;padding:35px 10px 0;text-align:center;font-size:15px;box-shadow:1px 1px 1px rgba(0,0,0,0.08);cursor:pointer;text-shadow:1px 1px 1px rgba(0,0,0,0.09);-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;}
.dashboard-xq-item a.xq-block:hover{background:#33c2ef;}
.dashboard-xq-item.add-xq a.xq-block{background:#ff8577}
.dashboard-xq-item.add-xq a.xq-block:hover{background:#fd6e5e}
.dashboard-xq-item i{font-size:22px;}
.dashboard-xq-item p{position:absolute;left:0px;bottom:5px;margin-bottom:0;width:100%;display:none;}
.dashboard-xq-item p a{display:inline-block;width:30.33%;margin:0 1.5%;text-align:center;height:24px;padding-top:3px;background:#12a0e2;border-radius:3px;line-height:20px;color:#fff;}
.dashboard-xq-item p a:hover{background:#0088c8;}
.dashboard-xq-item p{ 
	-webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
    animation-duration: 0.4s;
}


.select-xq-box{width:960px;background:rgba(0,0,0,0.2);position:absolute;padding:15px;border-radius:8px;left:50%;top:10%;margin-left:-480px;z-index:10003;}
.select-xq{background:#fdfdfd;padding:20px;position:relative;}
.select-xq h2{font-family:Microsoft Yahei;font-size:24px;margin-top:10px;text-shadow:1px 1px 1px rgba(0,0,0,0.06)}
.select-xq .line{border-top:1px solid #ddd;border-bottom:1px solid #fff;}
.select-xq .btn-add-xq,.select-xq .btn-the-xq{padding:5px 15px;width:auto;height:40px;font-size:15px;font-weight:700;}
.select-xq .btn-add-xq i,.select-xq .btn-the-xq i{font-size:28px;box-shadow:1px 1px 1px rgba(0,0,0.0.07);vertical-align: middle;margin-right:5px;}
.xq-toggle-add .btn{margin:0 10px 15px;text-shadow:1px 1px 1px rgba(0,0,0,0.09);width:158px;}
.xq-toggle-add{padding:10px 0 20px;}
.close-select-box{position:absolute;right:0;top:0;font-size:24px;width:50px;height:50px;text-align:center;color:#999;font-family:Verdana;}

.xq-manage-title{font-size:22px;border-bottom:1px solid #fff;margin:0 0 15px;}
.xq-manage-title span{display:block;height:1px;background:#ccc;width:100%;margin-top:7px;}
.xq-manage-title em{font:normal 14px Microsoft Yahei;margin-left:20px;color:#3174ef}
.xq-manage-table thead tr th{height:33px;vertical-align:middle;background:#f30}
.panel .xq-manage-table .table-striped>thead th{background:#48c0e6;border-right:1px solid rgba(0,0,0,0.04);color:#fff;text-align:center;}
.panel .xq-manage-table .table-striped>tbody td{height:60px;font-size:12px;vertical-align:middle;text-align:center;border-right:1px solid #eaedef;}
.panel .xq-manage-table .table-striped>tbody td em{font:normal 12px Verdana;color:#ff5340;margin-right:3px;}
.xq-manage-option a{font-size:12px;margin-right:15px;color:#3174ef;line-height:25px;}
.xq-manage-option a:hover{color:#2254b1;}
.xq-manage-option a i{margin-right:2px;margin-left:10px;}
.wx-edit-alert p{margin-bottom:15px;padding-top:10px;}
.wx-edit-alert p a{margin-left:5px;line-height:23px;}
.xq-manage-option .tooltip-inner{text-align:left;}



.account.general-foot.panel-footer {margin:0px 10px;padding:5px 0 0;border-top:1px solid rgba(255,255,255,0.7);}
.account.general-foot  .option{padding-top:5px;color:#1f6c49}
.form-horizontal .form-control-static.n-price{padding-top:5px;}
.n-price b{font-size:15px;font-family:Verdana;color:#ff5340;}
.form-horizontal .form-control-static.ver-price-tip{padding-top:5px;}
.ver-price-tip .tip{color:#777;margin-left:30px;float:right;}


.wx-manage-table.table{box-shadow:2px 2px 4px rgba(0,0,0,0.09);margin:20px 0;}
.wx-manage-table tbody tr td{border:none;text-shadow:1px 1px 1px rgba(0,0,0,0.05);}
.wx-manage-table tbody tr td.wx{vertical-align:middle;text-align:center;font-size:19px;height:80px;background:#a3e4f9;color:#128bb2;font-weight:700}
.wx-manage-table tbody tr td.wx-option{height:40px;border-top:1px solid #eee;background:#79d7f5;vertical-align:middle;text-align:center;padding:0;}
.wx-manage-table tbody tr td.wx-option:hover{background:#5ecef2;}
.wx-manage-table tbody tr td.wx-option a{color:#1a7fa0;padding:8px;display:block;font-size:13px;}
.wx-manage-table tbody tr td.xq{vertical-align:top;padding:8px 15px;}
.wx-manage-table tbody tr td.xq span{font-weight:400;padding:6px 12px 6px;margin-right:10px;cursor:inherit;font-size:13px;display:inline-block;height:27px;margin-bottom:10px;}
.wx-manage-table tbody tr td.xq span:hover{background:#65b11a;}
.wx-manage-table tbody tr td.xq h2{font-size:14px;font-family:Microsoft Yahei;margin:0px 0 10px;border-bottom:1px solid #eee;padding-bottom:6px;height:30px;}


.panel .admin-magage-table .table-striped>tbody td{text-shadow:1px 1px 1px rgba(0,0,0,0.05);height:60px;}
.panel .admin-magage-table .table-striped>thead th{background:#8676d3;border-right:1px solid rgba(0,0,0,0.04);color:#fff;text-align:center;}
.panel .admin-magage-table .table-striped tbody .label{font-weight:400;margin:0 5px;background:#77a5e4;display:inline-block;margin-bottom:10px;height:25px;padding:7px 10px;}
.panel .admin-magage-table .table-striped tbody .label:hover{background:#4688e2;}
.panel .admin-magage-table .table-striped tbody td.admin-mageage-xq{text-align:left;}

.add_admin_form .form-group{margin-bottom:25px;}
.add_admin_form .form-group input.form-control{width:400px;display:inline;}
.add_admin_form .form-group .checkbox-inline{margin-right:10px;}
.add_admin_form .form-group .msg-wrap .n-icon {background-image: url(images/validator_default.png);display:inline-block;width:16px;height:16px;vertical-align: middle;margin-right:5px;}
.add_admin_form .form-group .msg-wrap{color:#c33;margin-left:15px;}
.add_admin_form .form-group .msg-wrap.n-ok .n-icon{background-position:-16px 0;}


.add_new_wx,.select_wx{display:inline-block;width:250px;height:250px;border-radius:250px;text-align:center;font-size:22px;padding-top:65px;text-shadow:1px 1px 1px rgba(0,0,0,0.09);margin:30px 40px;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;}
.add_new_wx:hover{background:#69cc12;color:#fff;}
.bg-info.select_wx{background:#14baef}
.select_wx:hover{background:#2c9ed3;color:#fff;}
.add_new_wx i,.select_wx i{font-size:60px;}

.wx-bind{padding-top:40px;}
.wx-bind-form{height:340px;}

.swxform{padding-top:10px;}
.swxform .form-group{padding:20px 0;margin-bottom:0;}
.swxform .radio-inline{font-size:14px;padding-top:3px;}
.swxform .line{margin:30px 0 0;}
.img-upload-tip{display:block;font-size:12px;padding-top:10px;color:#e66e52}
.icon-sad{background:url(../images/sad.png);display:inline-block;width:64px;height:64px;margin-right:15px;}
.icon-happy{background:url(../images/happy.png);display:inline-block;width:64px;height:64px;margin-right:15px;}


.system-message{ padding: 24px 48px; }
.system-message .success,.system-message .error{}
.system-message .sturn{overflow:hidden;}
.system-message .sturn span{display:inline;margin-top:-2px;color: #20b658;text-shadow: 1px 1px 1px rgba(0,0,0,0.06);line-height: 35px;font-size: 25px;}
.system-message h1{font-family:Microsoft Yahei;font-size:29px;padding-bottom:15px;margin-bottom:25px;text-align:center;border-bottom:1px solid #eee;margin-top:0;padding-top:0;text-shadow:1px 1px 1px rgba(0,0,0,0.04)}
.system-message .jump{text-align:right;padding:30px 0 10px;width:100%;font-size:14px;}
.system-message .jump a{font-size:12px;margin-left:5px;color:#0da245;}
.system-message .jump a:hover{color:#10b84f;}
.alt .media-body{font-size:12px;}
.alt .media-body a{color:#0bb74b;}
.alt .media-body a:hover{color:#099d40;}

.breadcrumb{margin-bottom:15px;}

.add_admin_form .form-group .xq-id-validator{margin:0;}
.add_admin_form .form-group .xq-id-validator .msg-wrap{margin:10px 0 0 -3px;float:left;}
.add_admin_form .form-group .xq-id-validator .msg-box.n-right .n-ok{display:none;}

.sadmin_title{font-family:Microsoft Yahei;font-weight:bold;padding-left:10px;}
.sadmin{padding-left:8px;}
.sadmin span{display:inline-block;width:40px;text-align:right;}
.sadmin_wxq.contact-text{height:28px;}

.reply-block{width:92%;margin:20px auto;}
.reply-block .avatar img{box-shadow:1px 1px 1px rgba(0,0,0,0.09)}
.comment-list .comment-item .comment-body  .panel-body{font-size:13px;}
.comment-list .comment-item.right .comment-body {margin-right:46px;margin-left:46px;}
.comment-list .comment-item.right .arrow.right{right:39px;top:20px;}
.comment-list .comment-item.right .arrow.right:after {border-left-color: #b5f6e1;}
.userTitle.bg-success.lt {background:#b5f6e1;color:#38b18b;}
.userContent.bg-success.lt {background:#ebfff9;color:#4dcba3;}
.userTitle.bg-success .text-muted{color:#38b18b}
.comment-list .comment-item .arrow.left:after{border-right-color: #f9fafc;}
.comment-list .comment-item.right .panel-heading{border-bottom:1px solid rgba(0,0,0,0.07)}
#comment-form .input-group{padding-bottom:50px;}
#comment-form .msg-box{position:absolute;right:219px;top:33px;}
#comment-form .input-group .reply-style{position:absolute;left:0px;bottom:0;font-size:12px;}
#comment-form .input-group-btn .btn{border-radius:0 4px 4px 0;min-width:82px;width:100px;}
#comment-form .input-group-btn .btn.btn-close{border-radius:4px;margin-left:5px;width:82px;}
h3.feed_reply{font-family:Microsoft Yahei;padding:0 0 10px;margin:20px 4%;font-size:16px;text-align:left;}

.examine_check{float:right;font-size:12px;background:#00ae4a;color:#fff;padding:0 10px;box-shadow:1px 1px 2px rgba(0,0,0,0.05);border-radius:4px;}
.examine_check:hover{background:#3fbc74}
.examine_check input[type="checkbox"]{vertical-align:middle;float:left;margin:6px 4px 0 0;}
.examine_title .tooltip-inner{text-align:left;font-weight:400;line-height:20px;}

.list-item{font-size:14px;min-height:40px;padding:0;}
.list-item p{margin:0;height:40px;line-height:40px;padding:0 20px 0 10px;border-bottom:3px solid #3fbc74;margin-bottom:-2px;}

.score-minus{font-family:Verdana;color:#009e43;margin-right:3px;}
.score-add{font-family:Verdana;color:#f22207;margin-right:3px;}
.gift-item{border-bottom:1px solid #eee;margin:0 0 10px;padding:10px;overflow:hidden;position:relative;}
.gift-item .gift-img{width:100px;height:100px;padding:2px;border:1px solid #ddd;float:left;}
.gift-item .gift-attr{float:left;padding:0 15px;}
.gift-item  .gift-title{font-size:16px;margin-bottom:8px;}
.gift-item  .gift-score em{font:normal 15px Verdana;color:#f53920;}
.gift-item  .gift-num{margin-bottom:7px;}
.gift-option{position:absolute;left:300px;bottom:20px;}

.shop_table{padding:20px 15px;}
.shop_table .table>tbody>tr>td{height:90px; vertical-align:middle;padding:17px 12px;text-align:center;}
.shop_table .table>thead>tr>th{background:#5ac688;color:#fff;text-align:center;}
.shop-attr-pic img{width:100px;max-height:55px;padding:2px;border:1px solid #ccc;}
.shop-attr-pic .no_pic_box{display:inline-block;background:url(/static/images/nopic2.png) center no-repeat #dff5e8;background-size:120px 60px;width:100px;height:55px;padding:2px;border:1px solid #ccc;}
.shop_table .table>tbody>tr>td.shop_list_option{text-align:left;}
.shop_list_option a{box-shadow:1px 1px 1px rgba(0,0,0,0.05);-webkit-transition:.2s;-moz-transition:.2s;-o-transition:.2s;transition:.2s;margin:5px;}
.shop_list_option a.text-edit,.shop_list_option a.text-up,.shop_list_option a.text-del{padding:2px 5px;border-radius:3px;display:inline-block;}
.shop_list_option a.text-edit{color:#5dcff3;box-shadow:none}
.shop_list_option a.text-edit:hover{background:#5dcff3;color:#fff;box-shadow:1px 1px 1px rgba(0,0,0,0.05);}
.shop_list_option a.text-up{color:#eca000;box-shadow:none}
.shop_list_option a.text-up:hover{background:#eca000;color:#fff;box-shadow:1px 1px 1px rgba(0,0,0,0.05);}
.shop_list_option a.text-del{color:#929292;box-shadow:none}
.shop_list_option a.text-del:hover{background:#929292;color:#fff;box-shadow:1px 1px 1px rgba(0,0,0,0.05);}
.shop_table a.shop_title:hover{color:#30b568;}
.shop_table .label-status label{padding:.3em .6em .3em;margin:5px 2px;display:inline-block;}
label.label-xx{padding:.3em .6em .3em;margin:4px 2px;display:inline-block;}
.header .nav-tabs li.btn-s-md.active a{cursor:pointer;}

.msgTime.over .msg-box .n-ok{right:-62px;}
i.icon-shop{width:15px;height:15px;display:inline-block;background:url(/static/images/shop.png) no-repeat;background-size:15px 15px; vertical-align:middle;margin-top:-4px;margin-right:4px;-webkit-transition:all .5s ease;}
.mytable.table>tbody>tr:hover i.icon-shop{}
.listno{display:none;}
.service_img{width:40px;height:40px;margin-top:-5px;float:left;margin-right:15px;display:none;-webkit-transition:.5s;-moz-transition:.5s;-o-transition:.5s;transition:.5s;}
.service_img:hover {-moz-transform: scale(2.8,2.8);-webkit-transform: scale(2.8,2.8);-o-transform: scale(2.8,2.8);-ms-transform: scale(2.8,2.8);transform: scale(2.8,2.8);}
.no-list{padding:15px 20px;font-size:14px;}

.btn{-webkit-transition:all .5s ease;-moz-transition:.5s;-o-transition:.5s;transition:.5s;box-shadow:1px 1px 1px rgba(0,0,0,0.09)}
.btn-success:hover{background:#64b31e;color:#fff;}
.btn-info:hover{background:#20b3e1;color:#fff;}
.btn-danger:hover{background:#e83925;color:#fff;}
.buy_fun_btn:hover{background:#e83925;color:#fff;}
.index-no-menu .other_func_box .func_item .btn.item_bar:hover{background:#eba91c;}
.index-no-active .other_func_box .func_item .btn.item_bar:hover{background:#b6b6b6;}

.user-set .msg-info{position:absolute;right:15px;top:8px;z-index:9999;display:inline-block;width:10px;height:10px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;font-weight:400;text-align:center;background:#fe3131;font-size:12px;color:#fff;}
.msg-label{position:absolute;right:5px;top:7px;;display:inline-block;width:12px;height:12px;-webkit-border-radius:12px;-moz-border-radius:12px;border-radius:12px;font-weight:400;text-align:center;background:#fb6b5b;font-size:12px;color:#fff;}

/*0718*/
.myheader.bg-dark{height:80px;background:url(/static/images/scan-lines.png) #363636;}
.myhbox{margin-top:-80px;padding-top:80px;}
.mylogo em{color:#eee;}
.navbar-nav.headRight>li{border-right:1px solid rgba(0,0,0,0.2);}
.navbar-nav.headRight>li>a{-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;}
.navbar-nav.headRight>li:hover,.navbar-nav.headRight>li>a:hover,.navbar-nav.headRight>li>a:focus{background:rgba(0,0,0,0.6);}
.navbar-nav.headRight>li.navbar-right-option.text-default>a{color:#e9e9e9;}
.mylogo {margin-top:15px;}
.wxq-version{margin-top:28px;}
.nav.navbar-nav{margin-top:20px;}
.navbar-nav.headRight>li{margin-right:10px;}
.navbar-nav.headRight>li.dropdown:last-child{border:none;}
.navbar-nav.headRight .dropdown-menu{margin-right:10px;margin-top:5px;}
.navbar-nav>li>a{padding:8px 10px;border-radius:4px;margin-right:10px;}
.navbar-nav.headRight>li:hover{background:none;}
.bg-dark .navbar-nav.headRight>li>a{color:#e9e9e9}
.nav .caret {border-top-color: #ccc;border-bottom-color: #ccc;}
.nav a:hover .caret{border-top-color: #eee;border-bottom-color: #eee;}
.nav .open>a .caret, .nav .open>a:hover .caret, .nav .open>a:focus .caret{border-top-color: #eee;border-bottom-color: #eee;}
.myhbox .bg-success.dker{background:url(/static/images/circle_pattern.png) #0fb478;}
a.contact-text:hover{color:#333}
.xqshopLogin p{color:#888}
#nav.nav-vertical{width:100px;}
#nav.nav-vertical .nav-primary>ul>li>a i{font-size:30px;}
.nav-primary>ul>li>a {border-bottom: 1px solid rgba(0,0,0,0.1) !important;border-top: 1px solid rgba(255,255,255,0.09) !important;}
.xq-toggle{margin-top:15px;border-left: 1px solid rgba(0,0,0,0.3);}
.xq-toggle .xq-toggle-link{color:#eee;text-shadow:1px 1px 1px rgba(255,255,255,.1);-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;font-size:15px;}
.xq-toggle .xq-toggle-link:hover{color:#0fb478;}
.xq-toggle .dropdown-menu{left:0;top:65px;}
.xq-toggle .dropdown-menu p{color:#666;}
.add-xq-box.bg-light.lter {background:#0fb478;}
.add-xq-box.bg-light.lter:hover{background:#14d68f;}
.add-xq-box.bg-light.lter a{color:#e6f8f1;text-shadow:1px 1px 1px #1aa06f;}
.add-xq-box.bg-light .text-info{color:#eee;text-shadow:1px 1px 1px #1aa06f;}
.bg-success .nav li>ul.dropdown-menu>li>a {color:#0fb478;}
.showList.dropdown-menu li:hover a.add_icon {background:#0c9463;color: #fff;}
.showList.dropdown-menu li:hover a {background: #0fb478;}
.btn.btn-success{background:#1dcf8e;border:1px solid #1cc386;}
.btn.btn-success:hover{background:#19b47b;}
.text-success{color:#18a974;}
.text-success:hover,.text-success:focus{color:#158e62;}
.bg-success{background:#1dcf8e}
.bg-success:hover{background:#1aba7f;}
.bg-success.lter{background:#31c690;}
.btn.btn-info,.general-foot .option a{background:#32b5f2;border:1px solid #30aee9;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;}
.btn.btn-info:hover,.general-foot .option a:hover{background:#2c9ed3;}
.bg-info{background:#0f91cd;}
.bg-info:hover{}
.wxq-version{background:#32b5f2;}
.wx-manage-table tbody tr td.xq span:hover{background:#1abd81;}
.loginMain{margin-top:0;}
.panel-heading.bg-success.dk,.panel-heading.bg-success.dk:hover{background:#1aba7f}
.panel-heading.bg-info,.panel-heading.bg-info:hover{background:#32b5f2}
.my_block .col-xs-4.bg-success,.my_block .col-xs-4.bg_success:hover{background:#1dcf8e;}
.wx-manage-table tbody tr td.wx{background:#5ac2f2;color:#fff;word-break: break-all;}
.wx-manage-table tbody tr td.wx-option{background:#23aff0;color:#fff;border-top:1px solid rgba(0,0,0,0.02)}
.wx-manage-table tbody tr td.wx-option:hover{background:#1399d8}
.wx-manage-table tbody tr td.wx-option a{color:#fff;}
.label.bg-info{background: #69ccfa;}
.label.bg-danger{background: #fb9b91;}
.label.bg-warning{background: #fbd37d;}
.sadmin_title{color:#666}
.sadmin,.sadmin a{color:#888}
.sadmin a:hover{color:#33c2ef}
.adm_fun_ul li.adm_title{}
#tip{display:none;}
.tc.bg-info.lt{background:#0fb478;}
.dpdetail_cont{margin:-5px 0 0;}
.dpdetail_cont .dd_cont_col{padding:0px 20px;}
.dpdetail_cont h4{font-size:18px;border-bottom:1px solid #ddd;padding-bottom:10px;position:relative;height:40px;line-height:40px;padding-left:5px;color:#555;}
.dpdetail_cont h4 span{position:absolute;display:block;width:140px;height:3px;background:#1ab77e;bottom:-2px;left:0;}
.subMenu .dropdown-menu{left:100%;top:-1px;margin-top:0;}
.subMenu.alignBottom .dropdown-menu{top:-220px;}
.showList li b.bdge{width:10px;height:10px;border-radius:10px;display: inline-block;}

.goods_pic.thumb-md{width:110px;border:1px solid #ddd;padding:2px;}
.goods_pic.thumb-md img{-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;}
.goods_pic.thumb-md img:hover {-moz-transform: scale(1.3,1.3);-webkit-transform: scale(1.3,1.3);-o-transform: scale(1.3,1.3);-ms-transform: scale(1.3,1.3);transform: scale(1.3,1.3);}
.goods-list.row{margin:-15px 0 0;}
.goods-list .col-sm-6{border-bottom:1px solid #ddd;}
.goods-list .col-sm-6:nth-child(2n){border-left:1px dotted #ddd;}
.goods-item.media{overflow:inherit;padding:20px 15px;margin:0;}
.goods-item  .block span{font-family:Verdana;color:#e72222;font-size:13px;font-weight:700;margin-right:2px;}
.goods-item  .block em{font-family:Verdana;color:#3a66f6;font-style:normal;margin-right:2px;}
.order_list_item_p{margin:15px 0;width:100%;height:40px;}
.order_list_item_p a{ text-decoration:underline;line-height:20px;}
.order_list_item_p img{width:40px;height:40px;margin-right:5px;border:1px solid #ddd;float:left;}
.order_list_btn{position:relative;}
.order_list_btn .bdge {width:12px;height:12px;display:inline-block;border-radius:12px;margin-left:5px;position:absolute;left:-10px;top:-5px;}
.mytable td .order_list_item_p span{color:#e72222}
.mytable td .order_list_item_p em{color:#3a66f6}
.mytable td span.order_list_item_price{font-family:Verdana;color:#e72222;font-size:14px;font-weight:700;margin-right:2px;}
.shop_type{position:relative;width:55%;}
.shop_type .pillbox{margin-top:50px;min-height:50px;}
.shop_type .pillbox ul#keywords input{position:absolute;top:0;left:15px;border:1px solid #ddd;outline:inherit;padding:4px 6px;box-shadow: 1px 1px 1px rgba(0,0,0,0.04) inset;}
.pillbox li{font-weight:400;}
.market_set .help-block{color:#959595}
.wyContact .form-group:last-child{width:100%;}
.wyContact .form-group .col-sm-offset-3{margin-left:11%;}
.accountIndexContent{padding-right:15px;margin-left:250px;padding-right:265px;}
.xq-list-zj.dropdown-menu{right:0;left:auto;}

.linkTypeBox .radio{margin:15px 0;}
.linkTypeBox .radio input[type="radio"]{margin-top:10px;}
.pillbox div.label{float:left;padding:6px 8px;font-weight:400;margin:2px;}

.header .nav-tabs>li a i{font-size:14px;}
table.table.bbsTable{margin-bottom:0}
table.table.bbsTable thead th{padding:8px;text-align:center;}
table.table.bbsTable td{text-align:center;}
table.table.bbsTable .text-left{text-align:left;}
table.table.bbsTable td.postImg img{height:40px;margin:0 3px}
table.table.bbsTable td.postOption a{margin:3px 5px;padding: 2px 7px;border-radius: 3px;display: inline-block;background: #5dcff3;box-shadow: 1px 1px 1px rgba(0,0,0,0.05);color: #fff;}
table.table.bbsTable td.postOption a i{font-size:14px;margin-right:4px;}
table.table.bbsTable td.postOption a:hover{background: #51b6d6;}
table.table.bbsTable td.postOption a.bg-danger{background:#fa351f}
table.table.bbsTable td.postOption a.bg-danger:hover{background:#e83925}
table.table.bbsTable td.text-red,table.table.bbsTable td.text-red a{color:#f4492d}
.panel .bbsTable.mytable td {padding: 8px;vertical-align: middle;height:70px}
.bbsListFoot a.btn{margin-right:10px;}
.bbsListFoot a.btn i{margin-right:3px;font-size:14px;}
.bbsListSearch{width:250px;float:right;}
.bbsListSearch input.input-sm.form-control{float: left;margin-top: -2px;}
.bbsListSearch .input-group-btn .btn{box-shadow: inset 0 -1px 1px rgba(0,0,0,0.05);}
.replyCont{position:relative;display:inline-block}
.replyCont .popover{display:none;position:absolute;left:100%;display:block;width:276px;}
.replyCont .popover .arrow{position: absolute;width: 0px;height: 0px;line-height: 0px;border-bottom: 10px solid transparent;border-left: 10px solid transparent;border-right: 10px solid #fff;left:-20px;top: 10px;}

.sectionItem,.sectionAdd{margin:0 20px 0;border-bottom:1px solid #ececec;line-height:20px;padding:20px 0;font-size:14px;color:#999}
.sectionItem span{min-width:150px;display:inline-block;color:#32b5f2;}
.sectionItem a{font-size:14px;display:inline-block;margin:0 10px;}
.sectionItem input.form-control{width:150px;display:inline-block;}
.sectionItem .btn-update{margin-left:10px;}
.sectionEdit{display:none;}
.sectionAdd{padding:20px;}
.bbs_forbid_tip{background:#fff9f2;margin:20px;border:1px solid #ffe3c4}
.forbid_user{margin:-10px 0 0}
.userItem{padding:10px 20px;overflow:hidden;border-bottom:1px dashed #fafafa;}
.userItem.title{background:#f4f4f4;font-weight:700}
.userItem a{color:#eb2e14}
.userItem a:hover{color:#f8533d}

.picList .time{margin:15px 15px 0;line-height:30px;padding:0 0 0 8px;background:#eee;cursor:pointer;}
.picList .time .right{float:right;font-size:14px;display:inline-block;width:40px;text-align:right;padding-right:10px;}
.picListWrap{padding:15px 20px;}
.picListWrap img{height:150px;border:1px solid #ddd;padding:2px;margin:0 3px 5px;opacity:0.8;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;}
.picListWrap img:hover{opacity:1;}
.allOption{font-weight:400;}
.picPop{position:fixed;top:100px;left:50%;padding:15px;background:#fff;z-index:9999;border-radius:3px;display:none;text-align:center;}
.picPop .colsePop{display:block;width:20px;height:20px;background:#fff;border-radius:20px;text-align:center;line-height:19px;position:absolute;right:-5px;top:-5px;font-size:18px;}
.picPop .picPopTitle{margin:10px 0 0;text-align:center;font:normal 14px Microsoft Yahei;}
.picPop .picPopTitle  b{font-weight:400;}
.picPopOption{padding:10px 0 0;border-top:1px solid #ddd;margin:7px 0 0;}
.picPopOption a{font:normal 12px Microsoft Yahei;margin:0 5px;}
.label-new{background:#fb6b5b;font-size:12px;font-weight:400;padding:0 4px;margin-left:10px;}
.uploadExcel{width:1px;height:1px;overflow:hidden;}
.importTable{padding:15px 0;overflow-x:auto;}
.importTable p{padding:5px 0;margin:0;color:#e53028;height:40px;line-height:40px;}
.importTable table.table thead th,.importTable table.table tbody td{text-align:center;}
.deleteInfo i{margin-right:3px;}


@media all and (min-width: 1499px) {
.myphone{background:url(../images/wxlist.png) no-repeat center;height:780px;margin:19px auto 0;width:468px;position:relative;}
.menu-list{list-style:none; position:absolute;}
.menu-list li{line-height:50px;font-size:14px;color:#666;}
.menu-list-1{left:60px;top:375px;}
.menu-list-2{left:185px;top:375px;}
.menu-list-3{left:310px;top:375px;}
.menu-name{position:absolute;font-size:16px;font-family:Microsoft Yahei;}
.menu-name-1{left:98px;bottom:100px;}
.menu-name-2{left:218px;bottom:100px;}
.menu-name-3{left:338px;bottom:100px;}
}
@media screen and (max-width: 1500px) and (min-width: 1399px) {
.myphone{background:url(../images/wxlist-420.png) no-repeat center;height:700px;margin:19px auto 0;width:430px;position:relative;}
.menu-list{list-style:none; position:absolute;}
.menu-list li{line-height:45px;font-size:14px;color:#666;}
.menu-list-1{left:60px;top:335px;}
.menu-list-2{left:165px;top:335px;}
.menu-list-3{left:275px;top:335px;}
.menu-name{position:absolute;font-size:15px;font-family:Microsoft Yahei;}
.menu-name-1{left:92px;bottom:90px;}
.menu-name-2{left:202px;bottom:90px;}
.menu-name-3{left:310px;bottom:90px;}
.adm_fun_ul li{width:19%;margin:5px 0.5% 15px;}
}
@media screen and (max-width: 1400px) and (min-width: 1199px) {
.myphone{background:url(../images/wxlist-360.png) no-repeat center;height:600px;margin:19px auto 0;width:370px;position:relative;}
.menu-list{list-style:none; position:absolute;}
.menu-list li{line-height:40px;font-size:14px;color:#666;}
.menu-list-1{left:40px;top:285px;}
.menu-list-2{left:135px;top:285px;}
.menu-list-3{left:230px;top:285px;}
.menu-name{position:absolute;font-size:15px;font-family:Microsoft Yahei;}
.menu-name-1{left:75px;bottom:74px;}
.menu-name-2{left:168px;bottom:74px;}
.menu-name-3{left:260px;bottom:74px;}
.adm_fun_ul li{width:19%;margin:5px 0.5% 15px;}
}
@media screen and (max-width: 1200px){
.show-phone{display:block;top: -28px;left: 225px;font-size:12px;}
.phone-show{display:none;position:absolute;top:0px;left:-2px;z-index:1200;}
.funlist-box{width:100%;}
.myphone{background:url(../images/wxlist-280.png) no-repeat center;height:467px;margin:19px auto 0;width:290px;position:relative;}
.menu-list{list-style:none; position:absolute;}
.menu-list li{line-height:30px;font-size:12px;color:#666;}
.menu-list-1{left:25px;top:225px;}
.menu-list-2{left:95px;top:225px;}
.menu-list-3{left:170px;top:225px;}
.menu-name{position:absolute;font-size:12px;font-family:Microsoft Yahei;}
.menu-name-1{left:60px;bottom:55px;}
.menu-name-2{left:132px;bottom:55px;}
.menu-name-3{left:205px;bottom:55px;}
.xq-toggle{width:auto;}
.mylogo em{font-size:20px;margin-top:10px;}
.my_block div.b-center small{font-size:14px;}
.my_block div.b-center span{font-size:25px;}
.my_block div.btn-center .btn{width:92px;}
.my_block div.btn-center .btn-r-text{font-size:12px;margin-left:5px;padding-right:5px;}
.my_block div.col-xs-4 p{text-align:left;height:28px;}
}



@media screen and (max-width: 1024px){
.main-header nav,.main-header .search,.main-header .user-login{display:none;}
.main-header .menu-bar{display:block;position:absolute;right:10px;top:12px;}
.main-header .menu-xs{position:absolute;width:100%;background:#f1f1f1;display:none;left:0;top:60px;border-top:1px solid #fff;border-bottom:1px solid #ddd;box-shadow:0 2px 4px rgba(0,0,0,0.09)}
.main-header .menu-xs ul{padding:0;}
.main-header .menu-xs ul li{padding:0 10px;border-bottom:1px solid #eaeaea;list-style:none;font-family:Microsoft Yahei;}
.main-header .menu-xs ul li:last-child{border-bottom:none;}
.main-header .menu-xs ul li a{color:#777;display:block;padding:10px;}
.main-header .menu-xs hr{margin-top:-1px;margin-bottom:0;}
.loginMain .panel{width:97%;}
.loginMain{float:none;background:#f3f5f9}
.v-box{width:100%;height:100%;}
.logbox .loginFormBtn{width:100%;margin:0;margin-left:-10px;margin-bottom:20px;}
.logbox .regFormBtn{width:100%;margin:0;margin-bottom:20px;}
.loginMain .logbox .row{margin:0;}
.logbox .form-group{padding-left:0;}
.mylogo em{font-size:16px;margin-top:10px;}
.xq-toggle .xq-toggle-link{font-size:14px;}
.xq-toggle .xq-toggle-link span {max-width: 120px;}
.loginMain .panel-heading a{padding:10px 15px;font-size:14px;}
.loginMain .panel-heading i{padding:10px 0;}
.loginMain .panel-heading{background:#e6e6e6}
.logbox .form-group{padding:0 0 20px 0;border:none;}
.logbox label.control-label{width:70px;padding-right:10px;padding-top: 9px;}
.loginForm .form-group .btn-get-code{width:auto;padding:6px 4px;font-size:12px;}
.loginForm .form-group.msgPhone{padding-bottom:20px;}
.login-foot a{display:block;line-height:30px;}
.msgPhone .msg-box{left: 45px;top: 30px;}
.logbox .row .codebox {display:none;}
.logbox .form-group .form-control{width:45%;}
.logbox .form-group .form-control.vercode{width:100px;}
.login-foot{position:static;margin-left:0;margin-top:50px;}
.shop_table .table>tbody>tr>td{padding:17px 6px;}
.panel-body [class^='col-sm-'].control-label.text-right{padding-left:5px;padding-right:5px;}
.wyContact .form-group.m-l-lg{margin-left:5px;}
.wyContact .form-group .col-sm-4{width:38%;}
.wyContact .form-group .col-sm-2{width:19%;}
.wyContact .form-group .col-sm-3{width:29%;}
.input-group input{min-width:70px;}
.accountIndexLeft{display:none;}
.accountIndexContent{margin-left:-15px;padding-right:0;}
.tp_right{right:-25px;}
.add_step .add_setp_line {width:15%;}
.add_textarea{width:600px;}
#myEditor{width:600px!important;height:300px;}
.adm_block div.col-xs-4 {height: 115px;}
.adm_block div.col-xs-4 .btn {margin-top:5px;}
.inva-input .col-sm-4.hidden-xs.pull-right{display:none!important;}
.inva-input .line {width: 100%;}
.inva-input .col-sm-2{width:22%;}
.inva-input .col-sm-offset-2{margin-left:22%;}
.inva-input .col-sm-5{width:70%;}
.inva-input .col-sm-1{width:13%;}
.inva-input .col-sm-3{width:35%;}
.inva-input .fa.fa-map-marker{display:none!important;}
}
