/* @import url("http://fonts.useso.com/css?family=Open+Sans:300,400,600,700&lang=en"); */
@import url("animate.min.css");

body {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    background: #e2dccf;
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p, div, span, .button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul, li, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.m-r {
    margin-right: 10px;
}

.m-l {
    margin-left: 10px;
}

.m-t {
    margin-top: 10px;
}

.ka_warpper {
    margin-top: 30px;
    position: absolute;
    left: 50%;
    margin-left: -132px;
}

.ka {
    background: url(/static/images/card.png);
    width: 264px;
    height: 162px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    position: relative;
}

.ka p, .ka h2 {
    position: absolute;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1)
}

.ka h2 {
    color: #d4892a;
    font-size: 22px;
    left: 20px;
    top: 20px;
    margin: 0;
    padding: 0;
    width: 220px;
    text-align: left;
}

.ka p.name {
    right: 10px;
    top: 75px;
    font-size: 20px;
    font-weight: 700;
    color: #c98023;
}

.ka p.name span {
    font-size: 14px;
    margin-left: 10px;
    color: #b6ae42;
}

.ka p.cardid {
    left: 20px;
    bottom: 15px;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Verdana;
    font-size: 16px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2)
}

.ka_show {
    text-align: center;
    line-height: 36px;
    margin-bottom: 6px;
    min-height: 10px;
}

.ka_show span {
    font-size: 14px;
    color: #646464;
    text-shadow: 0 1px #fff;
    padding-left: 20px;
    display: inline-block;
    background: url(../images/show1.jpg) no-repeat 0 50%;
    -webkit-background-size: 13px 14.5px;
    background-size: 13px 14.5px;
}

ul.round {
    padding: 0;
    margin: 10px 10px 20px;
    background: #fff;
    font-size: 14px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #C2C2C2;
    color: #2D2D2D;
}

ul.round li:first-child, ul.round li:last-child {
    background: none;
}

ul.round li {
    list-style: none;
    background: #fff;
    text-align: left;
    border-bottom: 1px solid #eee;
    font-size: 15px;
    font-weight: 700;
    color: #555;
    position: relative;
}

ul.round li i {
    font-size: 14px;
    color: #888;
    margin-right: 3px;
    display: inline-block;
    width: 18px;
    text-align: center;
}

ul.round li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #555;
    padding: 12px 10px 12px 8px;
}

ul.round li:hover {
    background: #f0f0f0
}

ul.round li:last-child {
    border: none;
}

ul.round li span.right {
    float: right;
    font-size: 14px;
    font-weight: 400;
}

ul.round li span.right.xqspan {
    width: 70%;
    text-align: right;
}

#main {
    padding-bottom: 0;
}

.bg-gray {
    background: url("../image/bg001.gif");
    padding: 140px 0 30px;
    width: 96%;
    margin: 100px auto 0;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1)
}

.jifen_record {
    margin: 10px auto 0;
    padding: 0 0 30px;
    /*11.14add*/
    height: 100% !important;
}

.jifen_record h1 {
    margin: 0;
    padding: 10px;
    font-size: 20px;
    text-align: left;
    border-bottom: 1px solid #aabdd2;
    background: white;
}

.jifen_record h1 a {
    float: right;
    font-size: 14px;
    margin-top: 5px;
    color: #158ce7;
}

.jifen_record h1 a:hover {
    color: #137ed0
}

.user_card {
    padding: 10px;
    background: #fff;
    margin-bottom: 10px;
    height: 80px;
    width: 96%;
    margin: 10px auto;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1)
}

.user_card p {
    display: inline-block;
    width: 50%;
    text-align: left;
    font-size: 15px;
    font-weight: 700;
}

.user_card p em {
    font-size: 14px;
    font-weight: 400;
}

.user_card p.score {
    width: 100%;
    margin-top: 5px;
}

.user_card p.score strong {
    color: #ff3131;
    font-size: 16px;
    font-family: Verdana;
}

.table_record {
}

.table_record thead tr th {
    text-align: center;
}

.table_record tbody tr td {
    text-align: center;
    padding: 0 8px;
    height: 60px;
    vertical-align: middle;
}

.text-sm {
    font-size: 12px;
}

.record_type {
    font-size: 14px;
    line-height: 18px;
}

.record_type em {
    font-size: 12px;
}

.scroe_add {
    color: #ff2a2a;
    font-size: 12px;
}

.scroe_miund {
    color: #0fa50c;
    font-size: 12px;
}

ul.round li span.right.text-score {
    color: #ff2a2a;
}

.gift_ul {
    list-style: none;
    padding: 10px;
    text-align: left;
}

.gift_ul li {
    overflow: hidden;
    margin: 15px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.gift_ul li:last-child {
    border: none;
}

.gift_ul li img.gift_pic {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 5px;
    padding: 2px;
    border: 1px solid #ccc;
}

.gift_ul li .gift_title {
    font-size: 16px;
    color: #666;
}

.gift_ul li .gift_attr p {
    margin: 2px 0 0;
    color: #888;
}

.gift_ul li .gift_attr p span {
    color: #ed3d3d;
    font-size: 15px;
}

.gift_ul li .gift_attr p em {
    color: #1f84d2;
    font-size: 13px;
    font-style: normal
}

.gift_ul li .gift_content {
    padding: 15px 2px;
    line-height: 25px;
    color: #666;
    display: none;
}

.gift_ul li a.exchange_btn {
    position: absolute;
    right: 0;
    top: 30px;
    background-color: #d9534f;
    border-color: #d43f3a;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 6px 12px;
    color: #fff;
}

.gift_ul li a.exchange_btn:hover {
    color: #ffffff;
    background-color: #d2322d;
    border-color: #ac2925;
}

.gift_detail {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    line-height: 22px;
    display: block;
}

.gift_detail i {
    font-size: 15px;
    margin-right: 3px;
}

.trim_exchange {
    display: block;
    background-color: #d9534f;
    border-color: #d43f3a;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 9px 12px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

.trim_exchange:hover {
    color: #ffffff;
    background-color: #d2322d;
    border-color: #ac2925;
}

.gift_ul li .gift_title.small_title {
    font-size: 14px;
}

.gift_ul li .gift_attr.small_attr p {
    margin: 2px 0 0;
    font-size: 12px;
}

.gift_ul li .gift_attr.small_attr p span {
    font-size: 13px;
}

.gift_ul li .gift_attr.small_attr p small {
    color: #ff6c00;
    font-size: 13px;
}

.gift_ul li .gift_attr.small_attr p small i {
    font-size: 14px;
    margin-right: 3px;
}

.ex_card {
    height: 125px;
}

.ex_card .ex_tip {
    text-align: left;
    font-size: 13px;
    font-weight: 400;
    width: 100%;
    line-height: 20px;
}

.masker {
    position: fixed;
    width: 100%;
    height: 100%;
}

.masker_tip {
    background: #37aff4;
    padding: 10px 5px;
    width: 180px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -20px;
    margin-left: -90px;
    z-index: 9999;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    display: none;
}

.yijian_ul {
    padding: 0;
    list-style: none;
    text-align: left;
}

.yijian_ul li a {
    display: block;
}

.yijian_ul li a b {
    color: #db1515;
    font-size: 12px;
    margin-right: 3px;
}

.yijian_ul li i {
    margin-right: 3px;
    font-size: 16px;
    position: absolute;
    left: 7px;
    top: 12px;
    color: #db1515;
}

.yijian_ul li i.active {
    color: #0fac51;
}

.yijian_ul li {
    padding: 10px 10px 10px 25px;
    position: relative;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.yijian_ul li:nth-child(2n) {
    background: #e3e3e3;
}

.yijian_ul li span {
    display: block;
    padding: 8px 0px 0;
}

.yijian_ul li span small {
    font-size: 13px;
    color: #777
}

.yijian_ul li span small:first-child {
    display: inline-block;
    margin-right: 15px;
}

.yijian_ul li span small em {
    color: #db1515;
    font-style: normal;
    font-size: 12px;
}

.yijian_ul li span small em.active {
    color: #0fac51
}

.yijian_attr {
    text-align: left;
    margin: 10px 10px 5px;
    border-bottom: 2px solid #ddd;
}

.yijian_attr p {
    margin: 8px 0;
    font-size: 14px;
    color: #666;
    line-height: 23px
}

.yijian_attr p .label-xs {
    font-size: 12px;
    padding: 4px 5px;
}

.yijian_attr p .bg-info {
    background: #4da9f6
}

.yijian_attr p .bg-warning {
    background: #f6b417;
    font-weight: 400;
    font-size: 12px;
}

.yijian_title {
    height: 30px;
    line-height: 30px;
    margin-bottom: 0px;
    padding: 0 17px;
    text-align: left;
    font-weight: 700;
    color: #666;
    position: relative;
    font-size: 16px;
}

.yijian_title span {
    position: absolute;
    width: 3px;
    height: 14px;
    top: 8px;
    left: 10px;
    background: #368FF4;
}

.reply_item {
    position: relative;
    padding: 10px 0;
    overflow: hidden;
    min-height: 80px;
}

.reply_item.left {
    padding-left: 50px;
    text-align: left;
}

.reply_item.left img {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    left: 9px;
}

.reply_item.left i.arrow {
    color: #ddd;
    position: absolute;
    left: 44px;
    top: 12px;
    font-size: 19px;
    z-index: 99;
}

.reply_item_title .label-xs {
    font-size: 12px;
    padding: 3px 3px;
    background: #4da9f6
}

.reply_item_title .time {
    color: #888
}

.reply_item_title {
    font-size: 12px;
    background: #ddd;
    width: 100%;
    margin-bottom: 0;
    padding: 5px;
}

.reply_item_content {
    font-size: 13px;
    background: #fff;
    width: 100%;
    padding: 5px;
    line-height: 20px;
    margin-bottom: 0;
}

.reply_item.right {
    padding-right: 50px;
    text-align: right;
}

.reply_item.right img {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    right: 9px;
}

.reply_item.right i.arrow {
    color: #82bdff;
    position: absolute;
    right: 44px;
    top: 9px;
    font-size: 19px;
    z-index: 99
}

.reply_item.right .reply_item_box {
    float: right;
}

.reply_item.right .reply_item_title {
    background: #82bdff;
    color: #fff;
}

.reply_item.right .reply_item_title .time {
    color: #fff
}

.reply_item.right .reply_item_content {
    text-align: left;
    background: #b3d7ff;
    color: #3581d6;
}

.reply_item_box {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    width: 90%;
    overflow: hidden;
}

.reply_form .reply_item_box {
    box-shadow: none;
}

.reply_form .reply_item_box input.form-control {
    margin-bottom: 10px;
}

.give_star, .gived_star {
    padding: 20px 0;
}

.give_star i, .gived_star i {
    font-size: 32px;
    color: #f1573d;
    margin: 0 2px;
}

.give_star_submit {
    width: 90%;
    margin: 5px auto;
}

ul.round li b.bdge {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    display: inline-block;
    background: #fb6b5b;
    margin-left: 5px;
}

.market_title {
    font-size: 22px;
    color: #333;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
}

.market_title img {
    width: 26px;
    height: 26px;
    vertical-align: middle;
    margin-right: 5px;
}

.market_search {
    width: 85%;
    margin: 0 auto 5px;
    position: relative;
}

.market_search input[type="text"] {
    height: 30px;
    padding: 2px 6px;
    border-radius: 18px;
    font-size: 12px;
}

.market_search button {
    position: absolute;
    width: 40px;
    height: 18px;
    right: 0px;
    top: 7px;
    color: #b7b7b7;
    background: none;
    border: none;
    border-left: 1px solid #ddd;
    line-height: 20px;
}

.market_search button i {
    margin: -1px 0 0 4px;
    float: left;
}

.row.market_option {
    margin: 0;
}

.row.market_option .col-xs-3 {
    padding: 0;
}

.row.market_option .col-xs-3.option_search a {
    color: #13b861
}

.row.market_option .col-xs-3.option_type a {
    color: #e37f1e
}

.row.market_option .col-xs-3.option_list a {
    color: #d456df
}

.row.market_option .col-xs-3.option_user a {
    color: #5b89f1
}

.row.market_option .col-xs-3 a {
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px 0;
    font-size: 14px;
}

.row.market_option .col-xs-3 a:hover {
    background: rgba(0, 0, 0, 0.05);
}

.row.market_option .col-xs-3 a i {
    font-size: 16px;
    display: inline-block;
    width: 16px;
    height: 16px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 5px;
}

.option_hr {
    margin-top: 0;
}

.goods_list {
    margin: -10px 0 0;
    padding: 10px 10px 15px;
}

.goods_item {
    padding: 5px;
}

.goods_item .border-box {
    border: 1px solid #ddd;
    padding: 5px 5px 2px;
}

.goods_item img {
    width: auto;
    height: 300px;
    max-width: 300px;
    margin-bottom: 5px;
}

.goods_item p.good_title {
    background: #eee;
    text-align: left;
    padding: 2px 5px;
    color: #666;
    margin-bottom: 0;
    height: 44px;
    overflow: hidden;
}

.goods_item p.good_price {
    font-size: 12px;
    text-align: left;
    line-height: 22px;
    color: #888;
    margin-bottom: 0;
    padding: 2px 5px 0;
}

.goods_item p.good_price span {
    float: right;
}

.goods_item p.good_price span b {
    color: #f80840;
    margin: 0 2px;
    font-size: 14px;
    font-family: Georgia
}

.market_bottom {
    position: fixed !important;
    bottom: 0;
    width: 100%;
    background: #333
}

.market_bottom.good_list_bottom {
    position: static;
}

.market_bottom .row {
    margin: 0;
}

.market_bottom .col-xs-3 {
    height: 50px;
    padding: 0;
}

.market_bottom .col-xs-3 a {
    color: #fff;
    font-size: 14px;
    padding-top: 10px;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 12px;
}

.market_bottom .col-xs-3 a:hover {
    background: rgba(0, 0, 0, 0.6)
}

.market_bottom .col-xs-3 a i {
    color: #fff;
    font-size: 15px;
}

.market_bottom .col-xs-3.shop_cart {
    position: relative;
}

.market_bottom .col-xs-3.shop_cart .cirle_bg {
    width: 70px;
    height: 70px;
    border-radius: 100px;
    margin-top: -20px;
    background: #333;
    position: absolute;
    z-index: 99;
    left: 50%;
    margin-left: -36px;
}

.market_bottom .col-xs-3.shop_cart .cirle {
    display: block;
    width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 100px;
    margin-top: -13px;
    background: #ffffff;
    color: #333;
    position: absolute;
    z-index: 100;
    left: 50%;
    margin-left: -31px;
}

.market_bottom .col-xs-3.shop_cart a {
    color: #991212
}

.market_bottom .col-xs-3.shop_cart a i {
    color: #991212;
    font-size: 16px;
}

.market_bottom .col-xs-3.shop_cart a:hover {
    background: none;
}

.market_bottom .col-xs-3.shop_cart b.badge {
    width: 16px;
    height: 16px;
    line-height: 14px;
    border-radius: 16px;
    font-size: 10px;
    background: #991212;
    color: #fff;
    position: absolute;
    left: 50%;
    top: -12px;
    margin-left: 17px;
    z-index: 101;
    text-align: center;
    font-weight: 400;
    padding: 0;
    font-family: Verdana;
}

.good_pic {
    padding: 10px;
    background: #111
}

.good_pic img {
    height: 150px;
}

.good_attr {
    margin-top: -5px;
}

.good_attr p {
    text-align: left;
    margin: 0;
    padding: 5px 15px;
}

.good_attr p.title {
    font-size: 16px;
}

.good_attr p.count {
    font-size: 14px;
    line-height: 25px;
}

.good_attr span.price {
    float: right;
}

.good_attr span.price b {
    font-size: 18px;
    font-family: Georgia;
    color: #f80840;
    margin-right: 2px;
}

.buy_option input {
    width: 40px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 12px;
    padding: 0;
    margin: 0 5px;
}

.buy_option button {
    background: #ddd;
    color: #666;
    height: 25px;
    line-height: 25px;
    padding: 0;
    width: 25px;
    border: 1px solid #ddd;
}

.buy_option button.no-border {
    border: none;
}

.buy_btn .btn {
    width: 110px;
    margin: 0 10px;
}

.good_attr p.buy_btn {
    text-align: center;
}

.good_cont_title {
    padding: 0 10px;
    text-align: left;
    font-weight: 700;
    font-size: 16px;
}

.good_cont {
    padding: 0 10px;
    text-align: left;
    font-size: 14px;
    line-height: 22px;
}

.tip_box {
    width: 90%;
    height: 150px;
    background: #fff;
    position: fixed;
    top: 50%;
    margin-top: -50px;
    left: 50%;
    margin-left: -45%;
    z-index: 999;
    display: none;
}

.tip_box p {
    line-height: 40px;
    padding-top: 10px;
    font-size: 16px;
}

.tip_box .tip_btn {
    padding-top: 10px;
}

.tip_box .tip_btn .btn {
    margin: 0 10px;
    width: 100px;
}

.masker {
    background: rgba(0, 0, 0, 0.8);
}

.position {
    background: #39c6a7;
    height: 115px;
    width: 100%;
    position: relative;
}

.position i.icon-map-marker {
    position: absolute;
    left: 20px;
    top: 30px;
    color: #fff;
    font-size: 30px;
}

.position .yz_position {
    text-align: left;
    padding-left: 50px;
    padding-right: 10px;
    padding-top: 7px;
}

.position .yz_position p {
    margin: 5px;
    padding: 0;
    color: #fff;
}

.buy_list .title {
    text-align: left;
    padding: 13px 10px;
    background: #eee;
    line-height: 20px;
}

.buy_list .title span {
    float: right;
    font-size: 12px;
}

.buy_list .title span b {
    color: #11a96b;
}

.buy_list .title span em, .order_item .order_item_title b, .order_item_good .good_price b {
    color: #db1036;
    font-weight: 700;
    font-style: normal;
    margin-right: 2px;
}

.buy_item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.buy_item .row {
    margin: 0;
}

.buy_item .col-xs-3 {
    width: 120px;
    padding: 10px;
    position: absolute;
}

.buy_item .col-xs-3 img {
    max-width: 100%;
    border: 1px solid #ddd;
    padding: 2px;
}

.buy_item .col-xs-9 {
    padding: 5px 10px 0 120px;
    text-align: left;
    width: 100%;
}

.buy_item .col-xs-9 .good_title {
    margin-bottom: 7px;
    height: 40px;
    overflow: hidden;
}

.buy_item .col-xs-9 .good_price {
    margin-bottom: 7px;
    font-size: 12px;
}

.buy_item .col-xs-9 .good_price span {
    color: #db1036;
    font-weight: 700;
    margin-right: 2px;
    font-size: 16px;
}

.delete_link {
    display: inline-block;
    line-height: 25px;
    padding: 3px 5px;
}

.freight {
    text-align: left;
    padding: 10px 10px 0;
}

.freight b {
    color: #db1036;
    margin-right: 3px
}

.freight span, .select_pay span {
    font-size: 13px;
    line-height: 16px;
    display: block;
    margin-top: 5px;
    color: #777;
}

.select_pay {
    text-align: left;
    padding: 0px 10px 0;
}

.select_pay b {
    color: #11a96b;
}

.pay_box {
    background: #dedede;
    height: 70px;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-top: 18px;
    box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2)
}

.pay_box span {
    float: left;
    margin: 0px 10px;
    line-height: 20px;
}

.pay_box span em {
    color: #db1036;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
}

.pay_box a {
    float: right;
    margin: 0 10px;
}

.goon_select {
    margin-top: 10px;
    text-align: left;
    padding: 5px 10px 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
}

.order_list.row {
    margin: 0;
    padding: 0 15px;
}

.order_item {
    position: relative;
    text-align: left;
    background: #fff;
    border: 1px solid #ddd;
    padding: 0;
    margin-bottom: 20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05)
}

.order_item .order_item_title {
    background: #d4d4d4;
    line-height: 20px;
    padding: 5px 10px;
    font-size: 12px;
}

.order_item .order_item_title hr {
    margin: 0;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px dotted #d4d4d4;
}

.order_item .order_item_title em {
    font-style: normal;
    color: #00b365
}

.order_item .order_item_title em.on {
    color: #ab0a1d
}

.order_item .order_item_title em.no {
    color: #787878
}

.order_item .order_item_title em i {
    margin-right: 3px;
    font-size: 14px;
}

.order_item .order_item_title span {
    float: right;
}

.order_item_good {
    padding: 10px 10px;
    position: relative;
    height: 70px;
    color: #666
}

.order_item_good a {
    color: #666
}

.order_item_good img {
    width: 50px;
    position: absolute;
    left: 10px;
    top: 10px;
    border: 1px solid #ddd;
    padding: 2px;
}

.order_item_good p.good_title {
    padding-left: 60px;
    margin-bottom: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.order_item_good p.good_price {
    padding-left: 60px;
    margin-bottom: 0;
}

.order_item_good p.good_price span {
    margin-right: 20px;
}

.order_item_good {
    border-bottom: 1px dotted #ccc;
}

.order_item_good:last-child {
    border-bottom: none
}

.submit_order {
    color: #0facd3;
    font-size: 14px;
    height: auto;
    padding-bottom: 20px;
}

.submit_order .btn {
    font-size: 12px;
}

.submit_order hr {
    margin-bottom: 20px;
}

.submit_order i {
    margin-right: 5px;
}

.panel.m {
    margin: 15px;
    padding-bottom: 15px;
}

.panel.m h3 {
    line-height: 35px;
}

.panel.m small {
    font-size: 16px;
}

body.bg-light {
    background: #eee
}

body.bg-white {
    background: #fff
}

body.bg-lter {
    background: #ececec;
}

#page nav {
    display: none
}

#header {
    background: #0bca9f;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    line-height: 50px;
    height: 50px;
    padding: 0 0 0 70px;
}

#header a.header_link {
    background: center center no-repeat transparent;
    display: block;
    width: 70px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    background: rgba(0, 0, 0, 0.09)
}

#header a.header_link i {
    margin-right: 3px;
    font-size: 14px;
}

#header .select_order {
    float: right;
    width: 70px;
    height: 50px;
    position: relative;
}

#header .select_order .dropdown-menu {
    left: auto;
    right: 0;
    min-width: 130px;
}

#header .select_order .dropdown-menu li a {
    height: 40px;
    width: 100%;
    line-height: 34px;
    text-align: left;
    padding: 3px 15px;
}

#header .select_order .dropdown-menu li a:hover {
    background: #0bca9f;
}

#header .select_order .dropdown-menu li a i {
    margin-right: 3px;
    font-size: 14px;
}

#header .select_order b.newMsg {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #f30;
    position: absolute;
    right: 8px;
    top: 10px;
}

#header a.header_link.friends {
}

#header a.right.header_link {
    left: auto;
    right: 0px;
    text-decoration: none;
}

#content {
    padding: 0 0 10px
}

.mmenu-page {
    height: 100%;
}

.pageNumber {
    display: inline-block;
    background: #fff;
    min-width: 20px;
    padding: 5px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    line-height: 10px;
    margin: 0 3px;
}

.currentPageNumber.pageNumber {
    background: #ccc;
    color: #fff;
}

.marketTipMsg {
    background: #fff1e2;
    border: 1px solid #ffdcb6;
    font-size: 12px;
    margin: 10px;
    padding: 8px;
    text-align: left;
    line-height: 17px;
    color: #d4832d
}

.marketTipMsg i {
    color: #e89d4d;
    font-size: 14px;
}

#header.bbsTitle {
    background: #4c9ed9;
    width: 100%;
    top: 0;
    z-index: 8888
}

#header.bbsTitle a.header_link {
    width: 55px;
    background: none
}

#header.bbsTitle a.header_link:hover {
    background: rgba(0, 0, 0, 0.15)
}

#header.bbsTitle a.header_link i {
    margin: 0;
    font-size: 18px;
}

#content.fixedContent {
    padding-top: 0px;
}

.bg-warning {
    background: #e9c51e
}

.bg-danger {
    background: #de2525
}

.bg-success {
    background: #1ccf8e
}

.bbsHeader {
    position: relative;
    background: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #ececec;
    text-align: left;
}

.bbsHeader i.logo {
    position: absolute;
    left: 25px;
    top: 10px;
}

.bbsHeader .right {
    font-size: 16px;
    float: right;
    margin: 7px 15px 0 0;
    font-size: 28px;
    color: #bbb
}

.bbsHeaderRight {
    padding-left: 100px;
}

.bbsHeaderRight h2 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 31px;
}

.bbsHeaderRight .subTitle {
    font-size: 12px;
    color: #777
}

.bbsHeaderRight .subTitle span {
    margin-right: 15px;
}

.bbsHeaderRight .subTitle span em {
    margin: 0 4px;
    color: #4c93f3
}

.bbsToggle {
    padding: 0 0 10px 0;
    background-color: #fefefe;
    position: relative;
    border-bottom: 1px solid #d9d9d9;
    -moz-box-shadow: 0px 2px 2px #e6e6e6;
    -webkit-box-shadow: 0px 2px 2px #e6e6e6;
    box-shadow: 0px 2px 2px #e6e6e6;
    overflow: hidden;
    text-align: left;
    width: 100%;
    height: 116px;
    overflow: hidden;
}

.toggleItem {
    padding-right: 90px;
    padding-left: 10px;
    width: 100%;
    background: #fefefe;
    float: left;
    position: absolute;
    top: 0;
    z-index: 8888;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.toggleItem.a {
    -moz-transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
}

.toggleItem.c1 {
    left: 0;
}

.toggleItem.c2 {
    left: 100%;
}

.toggleItem.c3 {
    left: 100%;
}

.toggleItem h3 {
    font-size: 14px;
    margin: 0;
    color: #555;
    height: 30px;
    line-height: 30px;
}

.toggleItem h3 i {
    color: #dc5925;
    margin-right: 3px;
}

.toggleItem h3 a {
    float: right;
    font-size: 12px;
    line-height: 30px;
    color: #dc5925
}

.toggleItem ul {
    height: 75px;
    width: 100%;
}

.toggleItem ul.bbsNotice li {
    line-height: 25px;
}

.toggleItem label.label {
    padding: 4px 4px 3px;;
    font-size: 12px;
    margin: 0 5px 0 0;
    font-weight: 400;
    display: inline-block;
}

.toggleNext {
    position: absolute;
    width: 79px;
    border-left: 1px solid #ddd;
    right: 0;
    top: 10px;
    text-align: center;
    height: 95px;
    font-size: 12px;
    padding-top: 15px;
    color: #666;
    cursor: pointer;
}

.icon-next-cirle {
    width: 32px;
    height: 32px;
    display: block;
    background: url(/static/images/next.png) no-repeat;
    background-size: 32px 32px;
    margin: 15px auto 0;
}

.toggleItem ul.bbsTags li {
    line-height: 22px;
    display: inline-block;
}

.toggleItem ul.bbsTags li a {
    font-size: 12px;
    border: 1px solid #4c93f3;
    padding: 1px 5px;
    margin: 6px 3px;
    border-radius: 3px;
    display: block;
}

.toggleItem ul.bbsTags li a:hover, .toggleItem ul.bbsTags li.active a {
    background: #4c93f3;
    color: #fff;
}

.toggleItem ul.bbsStar li {
    display: inline-block;
    width: 23%;
    text-align: center;
    padding-top: 5px;
    overflow: hidden;
}

.toggleItem ul.bbsStar li img {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-bottom: 5px;
}

.toggleItem ul.bbsStar li a {
    color: #dc5925;
    font-size: 12px;
}

.postList {
    padding: 10px 5px;
    text-align: left;
}

.postItem {
    -moz-box-shadow: 0 1px 2px #cacaca;
    -webkit-box-shadow: 0 1px 2px #cacaca;
    box-shadow: 0 1px 2px #cacaca;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    margin-bottom: 8px;
    padding: 5px;
}

.postAuthor {
    padding: 8px 40px 0 51px;
    position: relative;
}

.postAuthor img {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    position: absolute;
    left: 8px;
    top: 8px;
}

.postAuthor p {
    margin: 0;
}

.postAuthor p.time {
    font-size: 12px;
}

.postMain {
    padding: 13px 13px 0;
    font-size: 15px;
    line-height: 24px;
}

.postMain label.label {
    font-weight: 400;
    padding: 1px 5px;
    margin: 0 2px 0 0;
}

.postMain a {
    color: #333;
}

.postMain .tcontent {
    font-size: 14px;
    color: #666;
    font-weight: normal;
}

.postPic {
    padding: 10px 13px 0;
    height: 100px;
    overflow: hidden;
}

.postPic img {
    height: 100px;
    margin-right: 3px;
}

.postOption {
    text-align: right;
    padding: 10px;
}

.postOption a {
    color: #777;
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
    width: 50px;
    text-align: left;
}

.postOption a i {
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    display: inline-block;
    vertical-align: middle;
    float: left;
    margin-right: 4px;
}

.postOption a i.optionThumbs {
    background: url(/static/images/thumbs-o.png) 0 0 no-repeat;
    margin-top: -1px;
    background-size: 16px 32px;
}

.postOption a i.optionThumbs.on {
    background: url(/static/images/thumbs-o.png) 0 -16px no-repeat;
    margin-top: -1px;
    background-size: 16px 32px;
}

.optionShare {
    background: url(/static/images/share.png) no-repeat;
    margin-left: 10px;
}

.optionComment {
    background: url(/static/images/comment.png) no-repeat;
}

.thumbsBtn {
    position: relative;
}

.thumbsBtn em {
    font-style: normal;
    color: #f30;
    top: 0;
    left: 12px;
    position: absolute;
    display: none;
}

.replyList {
    margin: 0 -5px -5px;
    padding: 10px 7px 7px;
    border-top: 1px solid #e9e9e9;
    background-color: #fbfbfb;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    padding-left: 40px
}

.replyList li {
    padding: 0 0 5px 30px;
    position: relative;
    min-height: 33px;
    line-height: 20px;
}

.replyList li a {
    font-size: 12px;
    color: #666
}

.replyList li a label {
    font-size: 12px;
    color: #666;
    font-weight: normal;
}

.replyList li a span {
    color: #4c93f3
}

.replyList li img {
    width: 22px;
    height: 22px;
    vertical-align: middle;
}

.replyList li img.replyAvatar {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-right: 5px;
    position: absolute;
    left: 5px;
    top: 3px;
}

.moreReply {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid #ddd;
    display: block;
    font-size: 12px;
    line-height: 32px;
    margin-top: 10px;
}

.moreReply.no-border {
    border: none;
    margin-top: -3px;
}

.postDetail .postItem .postPic {
    height: auto;
    overflow: auto;
}

.postDetail .postItem .postPic img {
    width: 100%;
    height: auto;
    margin: 3px 0;
}

.allReplyList li .tcontent {
    font-size: 12px;
    color: #666;
    font-weight: normal;
}

.addReply {
    width: 100%;
    position: fixed;
    z-index: 10001;
    top: 0;
    left: 0px;
    background: #eee;
    padding: 13px 10px 10px;
    height: 170px;
    border-top: 1px solid #ddd;
    text-align: left;
    display: none;
}

.addReply textarea {
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.09) inset;
    border-radius: 4px;
    padding: 3px 5px;
    height: 100px;
    width: 100%;
    position: relative;
}

.addReply .mTextarea {
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.09) inset;
    background: #fff;
    border-radius: 4px;
    padding: 3px 5px;
    height: 36px;
    width: 100%;
    position: relative;
    color: #ddd
}

.addReply form {
    position: relative;
    padding: 0 0px 0 10px;
}

.faceBtn {
    display: inline-block;
    width: 40px;
    height: 36px;
    text-align: center;
    font-size: 26px;
    position: absolute;
    left: 0;
    top: 110px;
}

.faceBtn i.icon-my-smile {
    display: inline-block;
    width: 26px;
    height: 26px;
    background: url(/static/images/smile.png) no-repeat;
    background-size: 26px 26px;
}

.replyBtn {
    position: absolute;
    right: 0;
    top: 110px;
    border-radius: 4px;
    background: #4c93f3;
    color: #fff;
    border: 1px solid #4384dc;
    height: 34px;
    width: 70px;
    line-height: 24px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1)
}

.replyBtn:hover {
    background: #1c7ddf;
}

.innerMasker {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.02);
    display: none;
    z-index: 8889
}

.pageMain {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 8889;
    background: #ececec;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.rightSide {
    background: #f3f3f3;
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 8888;
}

.rightSideTitle {
    padding: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #bbb;
    padding-left: 30%;
}

.rightSideCont {
    border-top: 1px solid #eee;
    padding-left: 30%;
    text-align: left;
}

.bbsMyInfo {
    padding-left: 30%;
    text-align: left;
    border-bottom: 1px solid #bbb;
    padding-bottom: 15px;
}

.rightSideTitle a {
    width: 30%;
    display: inline-block;
    color: #555;
    padding: 10px 0;
    position: relative;
}

.rightSideTitle a:hover {
    background: rgba(0, 0, 0, 0.09)
}

.rightSideTitle a b.newMsg {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #f30;
    position: absolute;
    left: 50%;
    top: 10px;
    margin-left: 10px;
}

.rightSideTitle a i {
    font-size: 18px;
}

.rightSideCont h3 {
    font-size: 18px;
    margin: 15px 20px;
    padding: 0;
}

.bbsBlockList {
    padding: 0 20px;
}

.bbsBlockList li {
    display: inline-block;
}

.bbsBlockList li a {
    font-size: 12px;
    border: 1px solid #666;
    color: #666;
    padding: 3px 5px;
    margin: 6px 2px;
    border-radius: 3px;
    display: block;
    background: #eee;
}

.bbsBlockList li a:hover, .bbsBlockList li.active a {
    background: #666;
    color: #fff;
}

.userInfo {
    position: relative;
    padding-left: 80px;
    padding-top: 12px;
}

.userInfo img {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    position: absolute;
    left: 10px;
    top: 12px;
}

.userInfo p {
    margin-bottom: 3px;
    font-size: 16px;
    font-weight: 700
}

.userInfo a {
    font-size: 12px;
}

.levelSign {
    font-size: 12px;
    background: #0dbe4b;
    padding: 1px 7px;
    color: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    margin: 0 0 0 5px;
    font-weight: 400;
    font-style: normal;
}

.levelSign i {
    font-size: 12px;
}

#emotions {
    z-index: 10002
}

.shareTipMsg {
    z-index: 10002;
    position: fixed;
    top: 0;
    right: 20px;
    display: none;
    text-align: right;
}

.shareTipMsg img {
    max-width: 80%;
}

.postDetailReply {
    padding: 0 10px;
}

.postDetail {
    padding: 0;
}

.postDetail .postItem {
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.postDetailReply h3 {
    font-size: 16px;
    margin: 0;
    padding: 5px 2px 8px 2px;
    border-bottom: 2px solid #ddd;
    position: relative;
}

.postDetailReply h3 i {
    color: #f55405
}

.postDetailReply h3 span {
    background: #f55405;
    position: absolute;
    height: 2px;
    width: 100px;
    bottom: -2px;
    left: 0;
}

.allReplyList {
    padding-top: 5px;
}

.allReplyList li {
    position: relative;
    padding: 10px 0 10px 25px;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
}

.allReplyList li:last-child {
    border-bottom: none;
}

.allReplyList li img {
    width: 28px;
    height: 28px;
}

.allReplyList li .replyUser1 {
    color: #4c93f3
}

.allReplyList li img.replyUserHead {
    position: absolute;
    left: 0;
    top: 17px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
}

.replyOption {
    padding: 5px 0;
}

.replyShare {
    float: right;
    padding: 0;
}

.replyPop {
    padding: 20px 0 0;
    position: relative;
}

.replyBg {
    background-color: #f6f6f6;
}

.replyBg:after {
    content: "";
    position: absolute;
    top: 5px;
    right: 40px;
    border-width: 15px 15px 0 0;
    border-style: solid;
    border-color: transparent #f6f6f6;
    display: block;
    width: 0;
}

.reReplyList li {
    border-top: 1px dotted #ddd;
    padding: 10px;
    border-bottom: none;
    line-height: 20px;
}

.reReplyList li span {
    color: #4c93f3;
}

.reReplyList li span em {
    color: #666;
    font-size: 12px;
}

.reReplyList li span i.cardBtn {
    display: inline-block;
    background: #0ed913;
    color: #fff;
    font-size: 12px;
    padding: 0 3px;
    margin-left: 3px;
    line-height: 17px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05)
}

.reReplyList li:first-child {
    border-top: none;
}

.bbsSection {
    padding: 15px 10px 5px;
    text-align: left;
    font-size: 15px;
    color: #444
}

.bbsSection span {
    font-size: 12px;
    color: #888;
    margin-left: 10px;
}

.hostList {
    background: #fff;
    margin-top: 10px;
}

.hotListTitle {
    border-bottom: 1px solid #dedede;
    line-height: 35px;
    margin: 0;
    background: #fefefe
}

.hotListTitle span {
    padding: 0;
}

.hotListTitle span img {
    margin-right: 10px;
}

.hotListTitle span.col-xs-8 {
    text-align: left;
    padding-left: 20px;
}

.hostList ul li {
    padding: 8px 0;
    line-height: 30px;
    border-bottom: 1px dotted #eee;
}

.hostList ul li:last-child {
    border-bottom: none;
}

.hostList ul li span.c6 {
    width: 66.66666%;
    display: inline-block;
    text-align: left;
    padding-left: 20px;
}

.hostList ul li span.c6.hotStar {
    width: 33.33333%;
    text-align: center;
    padding-left: 0px;
}

.hostList ul li span.c6 img {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    margin-right: 10px;
}

.hostList ul li span.c6 .icon-no {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: #c7c7c7;
    color: #fff;
    line-height: 18px;
    font-size: 12px;
    font-style: italic;
    vertical-align: middle;
    margin-right: 10px;
    text-align: center;
    font-weight: 700;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    border-radius: 3px;
}

.hostList ul li span.c6 .icon-no-1 {
    background: #ff3203;
}

.hostList ul li span.c6 .icon-no-2 {
    background: #fb7c00;
}

.hostList ul li span.c6 .icon-no-3 {
    background: #fbdb00;
}

.hotStar {
    font-size: 14px;
    color: #ff6238
}

.myHot {
    font-size: 14px;
    padding: 15px 0;
}

.userInfoList {
    padding: 15px;
    background-color: #fefefe;
    border-bottom: 1px solid #d9d9d9;
    -moz-box-shadow: 0px 2px 2px #e6e6e6;
    -webkit-box-shadow: 0px 2px 2px #e6e6e6;
    box-shadow: 0px 2px 2px #e6e6e6;
    overflow: hidden;
    text-align: left;
    width: 100%;
}

.userInfoList .userBasicInfo img {
    width: 42px;
    height: 42px;
    border-radius: 42px;
    vertical-align: middle;
    margin-right: 10px;
}

.userInfoList .userBasicInfo img.userSex {
    width: 16px;
    height: auto;
    border-radius: 0;
    margin: 0 0 0 10px;
}

.userInfoList .userBasicInfo span.right {
    float: right;
    font-size: 13px;
    color: #888;
    margin-top: 10px;
}

.userInfoOther {
    -moz-box-shadow: 0 1px 2px #cacaca;
    -webkit-box-shadow: 0 1px 2px #cacaca;
    box-shadow: 0 1px 2px #cacaca;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    margin: 15px 10px;
    text-align: left;
}

.userThumbs {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.userThumbs img {
    margin-right: 5px;
}

.userThumbs em {
    font-size: 12px;
    color: #888;
    margin-left: 5px;
}

.userThumbs .right {
    float: right;
    font-size: 20px;
    margin-top: -5px;
    color: #999
}

.u_sign_post {
    margin-right: 5px;
    color: #4c93f3;
    font-size: 15px;
}

.u_sign_post.leaf {
    margin-right: 5px;
    color: #0dbe4b;
}

.edit_my .userAvatar {
    height: 80px;
    text-align: center;
    position: relative;
}

.userAvatar img {
    width: 60px;
    height: 60px;
    border-radius: 60px;
}

.userAvatar span.right {
    margin-top: 15px;
    font-size: 14px;
    color: #ccc;
    position: absolute;
    left: 50%;
    margin-left: 5px;
    top: 37px;
    display: block;
    background: #fff;
    width: 20px;
    height: 20px;
}

.edit_my input.none, .addPostWrap input.none {
    width: 1px;
    height: 1px;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
}

.userEditNickname, .userEditSex {
    height: 60px;
    line-height: 40px;
}

.inputText {
    padding: 4px 6px;
    width: 150px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04) inset;
    font-size: 13px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    width: 70%;
    height: 32px;
}

.inputText:focus {
    padding: 4px 6px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04) inset;
    font-size: 13px;
}

.userEditSex a {
    display: inline-block;
    width: 45%;
    text-align: center;
    margin: 0 2.5%;
    color: #555
}

.userEditSex a.active {
    background: #ddd;
}

.userEditSex a img {
    width: 20px;
    height: 20px;
}

.btnBox {
    margin: 20px 10px;
}

.saveBtn {
    border-radius: 4px;
    background: #4c93f3;
    color: #fff;
    border: 1px solid #4384dc;
    height: 40px;
    width: 100%;
    line-height: 24px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1)
}

.saveBtn:hover {
    background: #237bf1;
}

.infoList {
}

.infoItem {
    padding: 10px;
    margin-bottom: 20px;
    -moz-box-shadow: 0 1px 2px #cacaca;
    -webkit-box-shadow: 0 1px 2px #cacaca;
    box-shadow: 0 1px 2px #cacaca;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    margin: 15px 10px;
    text-align: left;
}

.infoItem p.time {
    border-bottom: 1px solid #ddd;
    padding: 0 2px 5px;
}

.infoItem img {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    margin-right: 5px;
}

.infoCont {
    background: #eee;
    padding: 10px;
    font-size: 13px;
}

.addPost {
    width: 45px;
    background: none;
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 0px;
    right: 45px;
    font-size: 19px;
    font-weight: 400;
    display: block;
    color: #fff;
    z-index: 10002;
}

.addPost:hover {
    background: rgba(0, 0, 0, 0.15);
    color: #fff;
}

#header.bbsTitle a.header_link {
    width: 45px;
    background: none;
}

.rightDotted {
    padding: 13px 0 0;
    height: 50px;
    display: block;
    width: 100%;
}

.rightDotted b {
    display: block;
    width: 4px;
    height: 4px;
    background: #fff;
    margin: 3px auto;
}

.cost_gray p {
    padding: 10px;
}

.costInfo {
    padding: 10px 0 0;
    margin-top: 10px;
}

.costInfo p {
    text-align: left;
    margin: 0;
    padding: 7px 10px;
    font-size: 14px;
    color: #e53028
}

.costInfo p span {
    font-weight: 700;
    font-size: 16px;
    color: #555;
}

.costInfo p i {
    display: inline-block;
    width: 28px;
    text-align: center;
    font-size: 15px;
    color: #666;
}

#selectMonth {
    background: transparent;
    border: none;
    width: 100%;
    height: 40px;
    text-align: left;
    margin-top: 0;
    -webkit-margin-top: 5px;
}

.cost_gray p.cost_select {
    height: 40px;
    border: 1px solid #ddd;
    background: #fff;
    margin: 10px;
    padding: 0;
    width: 70%;
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.09) inset;
}

.select_month {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.select_month .select_box {
    height: 37px;
    padding: 0;
    width: 70%;
    position: relative;
    float: left;
}

.select_month .select_btn {
    width: 27%;
    margin-left: 3%;
    float: left;
}

.select_month .select_btn a.btn {
    width: 100%;
}

.select_box input {
    cursor: pointer;
    display: block;
    line-height: 35px;
    width: 100%;
    height: 35px;
    overflow: hidden;
    padding-right: 20px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.09) inset;
    padding-left: 10px;
}

.select_box ul {
    width: 100%;
    position: absolute;
    left: 0;
    top: 35px;
    border: 1px solid #ccc;
    overflow: hidden;
    display: none;
    background: #eee;
    z-index: 99999;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.09)
}

.select_box ul li {
    display: block;
    height: 38px;
    overflow: hidden;
    line-height: 38px;
    text-align: left;
    padding-left: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 12px;
}

.hover {
    background: rgba(0, 0, 0, 0.08);
}

.select_box i {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #888
}

.addPostWrap {
    width: 100%;
}

.addPostTitle {
    height: 50px;
    background: #fafafa;
    text-align: right;
    border-bottom: 1px solid #ddd;
}

.addPostTitle button {
    border-radius: 4px;
    background: #4c93f3;
    color: #fff;
    border: 1px solid #4384dc;
    height: 32px;
    width: 90px;
    line-height: 24px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    margin-top: 9px;
    margin-right: 10px;
}

.addPostTitle button:hover {
    background: #237bf1;
}

.addPostCont textarea {
    width: 100%;
    border: none;
    height: 180px;
    padding: 10px;
    background: #fefefe;
}

.addPostOption {
    height: 50px;
    background: #fafafa;
    border-top: 1px solid #ddd;
    text-align: left;
    padding: 8px 10px 0;
}

.addPostOption .faceBtn {
    position: static;
    float: left;
    margin-right: 20px;
    margin-top: 3px;
}

.addPostOption .picBtn, .addPostOption .tagBtn {
    font-size: 24px;
    color: #d8d8d8;
    display: inline-block;
    width: 40px;
    height: 36px;
    text-align: center;
    margin-top: 0px;
    margin-right: 20px;
    float: left;
}

.postTags {
    text-align: left;
    padding: 10px;
    background: #f1f1f1;
}

.postTags li {
    font-size: 12px;
    border: 1px solid #4c93f3;
    padding: 1px 5px;
    margin: 6px 3px;
    border-radius: 3px;
    line-height: 22px;
    display: inline-block;
    color: #4c93f3
}

.postTags l:hover, .postTags li.active {
    background: #4c93f3;
    color: #fff;
}
/*11.14*/

.edit_my_pass ul{
    margin-right: 20%;
}
.edit_my_pass li{
    margin-top: 20px;
    text-align: right;
}
.edit_my_pass li input{
    width: 60%;
}
.edit_my_pass_xh{
    color: red;
    vertical-align: bottom;
}
.edit_my_pass_btn{
    width: 70%;
}











































