{template 'common/header'}


<div class="main">
	<form action="" method="post" class="form-horizontal form" id="form">
		<div class="panel panel-default">
			<div class="panel-heading">便利店 - 商品</div>
			<div class="panel-body">
				
				<?php
					for($i=0;$i<$num;$i++){
				?>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">图片<?php echo $i+1;?></label>
					<div class="col-xs-12 col-sm-8">
						<?php echo tpl_form_field_image("picture[$i]", $picture[$i]);?>
					</div>
				</div>
				<?php	
					}
				?>
				
				<div class="form-group">
					<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 col-sm-offset-3 col-md-offset-2 col-lg-offset-2">
						<input name="submit" type="submit" value="提交" class="btn btn-primary" />
						<input type="hidden" name="token" value="{$_W['token']}" />
					</div>
				</div>
			</div>
		</div>
	</form>
</div>


{template 'common/footer'}