@charset "utf-8";
* { margin:0; padding:0; }
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 { -webkit-text-size-adjust:none; }
body { font-family:Arial, "Microsoft Yahei"; font-size: 18px; line-height: 1.2em; }
form, img, table, td { border:0; }
ul, ol, li { list-style-type:none; display: block; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal; }
input, textarea, img { vertical-align:middle; font-family: "微软雅黑"，Arial; }
@media screen and (max-device-width: 320px) {body {-webkit-text-size-adjust:none}}
@media screen and (max-device-width: 480px) {body {-webkit-text-size-adjust:none}}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {body {-webkit-text-size-adjust:none}}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {body {-webkit-text-size-adjust:none}}
a { color:#039; text-decoration:none; }
a:link { text-decoration:none; }
a:visited { color:#003399; }
a:active { color:#08BC05; }
a:hover { color:#039; }
.f12 { font-size:12px; }
.f14 { font-size:14px; }
.f16 { font-size:16px; }
.f18 { font-size:18px; }
.fgray { color:gray; }
.fgray2 { color:#5B5B5B; }
.fbla { color:#282828; }
.fora { color:#FF6600; }
.fred { color:#FF0000; }
.fblu { color:#039; }
.fblu2 { color:#0088E7; } 
.fwhite {color: #ffffff}
a:link.ablue, a:visited.ablue, a:hover.ablue, a:active.ablue{ color: #0088E7; text-decoration: none; }
a:link.awhite, a:visited.awhite, a:hover.awhite, a:active.awhite{ color: #ffffff; text-decoration: none; }
a:link.agray, a:visited.agray, a:hover.agray, a:active.agray{ color: #5B5B5B; text-decoration: none; }
a:link.ablack, a:visited.ablack, a:hover.ablack, a:active.ablack{ color: #000000; text-decoration: none; }
a:link.aora, a:visited.aora, a:hover.aora, a:active.aora{ color: #FF6600; text-decoration: none; }
/*common*/
.clear{ clear: both; height: 0px; font-size: 0px; visibility: hidden; line-height: 0px; }
.none { display:none; }
.flol { float: left; }
.flor { float: right; }
.grayline { border-bottom:1px dashed #B3B3B3; ; margin-top: 4px; margin-bottom: 4px; }
.grayboderbox { background: #F7F6F3; border: 1px solid #D4D4D4; }
.padbox8 { padding: 8px; }
.boxpadleft8 { padding-left: 8px; padding-right: 8px; }
a.btnblu { height: 32px; width: 102px; background: url(http://img2.soufun.com/wap/touch/img/bg-btnlun.png) no-repeat; display: block; text-align: center; line-height: 32px; color: #FFFFFF; float: left; margin-left: 6px; }
.bordertop { border-top: 1px solid #D2D2D2; }
.borderbot { border-bottom: 1px solid #D2D2D2; }
.bordergray{ border-radius:6px; border: 1px solid #C2C2C2; }
.itembox { cursor: pointer; font-size: 16px; background: #FFFFFF;padding: 8px; }
.arrbox { cursor: pointer; font-size: 16px; background: url(http://img2.soufun.com/wap/touch/img/infolistmore.png) no-repeat right center; padding-right: 8px; }
.arrbox-r { font-size: 16px; margin-left: 55px; padding-right: 10px; line-height: 40px; height: 40px; margin-top: 4px; }
.arrbox1 { font-size: 16px;  padding-right: 8px; }
.arrbox2 { cursor: pointer; font-size: 16px; background: #FFFFFF url(http://img2.soufun.com/wap/touch/img/boxlistarr.png) no-repeat right center; padding: 8px; }
.rbox6{-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.rbox4{-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;} 
.rt-box6{ border-top-left-radius:6px;border-top-right-radius:6px;}
.rb-box6{ border-bottom-left-radius:6px;border-bottom-right-radius:6px;}
.loadbox { opacity:0.9; filter: alpha(opacity=90); width: 152px; left: 80px; height: 80px; background: #FFFFFF; border: 1px solid #999999; padding: 16px 4px 4px; border-radius:6px; box-shadow: 0 0 8px #868686; -webkit-box-shadow:0 0 8px #868686; -moz-box-shadow:0 0 8px #868686; font-size: 16px; line-height: 30px; position: fixed; _position: absolute; middle: 30; top: 220px; }
.btnblue { line-height: 30px; background: url(http://img2.soufun.com/wap/touch/img/btnblu.png) repeat-x bottom; height: 30px; color: #fff; border-radius: 4px; display: inline-block; padding-right: 6px; padding-left: 6px; }
.btnblue2 { line-height: 28px; background: url(http://img2.soufun.com/wap/touch/img/btntopbar.png) repeat-x top; height: 28px; border-radius: 4px; display: block; padding-right: 6px; padding-left: 6px; font-size: 16px; border-radius:6px; border: 1px solid #204F91; } 
.btngray { line-height: 28px; height: 28px; color: #fff; border-radius: 4px; display: inline-block; padding-right: 6px; padding-left: 6px; background: url(http://img2.soufun.com/wap/touch/img/btn-more-bg.png) repeat-x; border: 1px solid #AFAFAF; }
.btntopbar { line-height: 26px; background: url(http://img2.soufun.com/wap/touch/img/btntopbar.png) repeat-x top; height: 26px; color: #fff; border-radius: 4px; display: inline-block; padding-right: 6px; padding-left: 6px; font-size: 16px; }
.bggray{ background: #EAEAEA; }
.inputbox { line-height: 26px; padding: 4px; height: 26px; border: 1px solid #929292; background: #FFFFFF; }
.padtop6{ padding-top:6px}
.pad-tb6{ padding: 6px 0px; }
.pad-tb8{ padding: 8px 0px; }
.imglhfix{ line-height:0px}
.tab { background: url(http://img2.soufun.com/wap/touch/img/subnavbg.png) repeat-x bottom; height: 42px;  }
.tab li { float: left; }
.tab li a { text-align: center; display: block; padding-right: 6px; padding-left: 6px; }
.tab li.tab-cur { background: #2A62AF; box-shadow:2px 2px 2px #1D4986 inset; }
.btnora { line-height: 28px; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FF8B03), color-stop(1, #F57F01));  height: 28px; border-radius: 4px; display: block; padding-right: 6px; padding-left: 6px; font-size: 16px; border-radius:6px; border: 1px solid #D47200; text-align:center }  
.btngray2 { line-height: 28px; height: 28px; color: #fff; border-radius: 4px; display: inline-block; padding:0px 6px;  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A5A5A5), color-stop(1, #908D8D)); border: 1px solid #999999; text-align:center }
.boxoutshadow { box-shadow: 0 0 6px #868686; -webkit-box-shadow:0 0 6px #868686; -moz-box-shadow:0 0 6px #868686; }
.backbtn { float:left; padding-left:14px; line-height:26px; width:40px; overflow:hidden; height:26px; text-align:center; margin-top: 6px; }
.backbtn span { background: url(http://img2.soufun.com/wap/touch/img/btntopbar.png);border-left:none; cursor:pointer; position:relative; color:#000000; z-index:4; display:block; height:26px; line-height:26px; font-size:16px; width:34px; padding-right:4px; border-top-right-radius: 4px;border-bottom-right-radius: 4px;}
.backbtn:before { content:''; width:14px; height:26px; position:absolute; left:6px; top:6px; background: url(http://img2.soufun.com/wap/touch/img/backbtnarr.png) no-repeat; background-size:14px 26px;  }

/*head*/
.head { background: #E7EFFA url(http://img2.soufun.com/wap/touch/img/bg-head.png) repeat-x bottom; height: 59px; overflow: hidden; }
.logo { height: 33px; margin-top: 12px; margin-left: 8px; margin-right: 2px; }
.citybg { height: 59px; background: url(http://img2.soufun.com/wap/touch/img/bg-city.jpg) no-repeat right bottom; }
.swicity { height: 21px; margin-top: 21px; background: url(http://img2.soufun.com/wap/touch/img/bg-swi-city.png) no-repeat right center; padding-right: 16px; border: 1px solid #669CCA; border-radius:4px; font-size: 16px; line-height: 21px; padding-left: 4px; display: block; }
.appdown { width: 100px; margin-top: 12px; margin-right: 6px; } 
ul.nav { background: #6BA1E4 url(http://img2.soufun.com/wap/touch/img/mainnav_bg.png) repeat-x top; height: 36px; border-top: 1px solid #346eb3; overflow: hidden; } 
ul.nav li { float: left; display: block; height: 36px; line-height: 36px; text-align: center; background: url(http://img2.soufun.com/wap/touch/img/navline.png) no-repeat right bottom; } 
ul.nav li a { color: #FFFFFF; text-decoration: none; }
ul.nav li.navcur { background: #FFFFFF; color: #000000; }
ul.nav li.navcur a { color: #000000; text-decoration: none; }

/*index搜索*/
.searchbox { height: 38px; width:300px; margin:10px auto 0px  } 
.search { height: 32px; border: 2px solid #ffcd69; width: 236px; float: left;  }
.searcrange { height: 32px; width: 70px; background: url(http://img2.soufun.com/wap/touch/img/bg-searchselect.png) no-repeat right; line-height: 32px; padding-left: 5px; border-right: 2px solid #FFCD69; font-size: 16px; }
.searhinputbox { height: 32px; float: left; width: 155px; }
.searhinput { float: left; height: 32px; background: url(http://img2.soufun.com/wap/touch/img/bg-searchinput.png) repeat-x top; border-width: 0px; width: 155px; font-size: 16px; line-height: 32px; padding-left: 4px; }
.searchbtnbox { height: 36px; width: 60px; float: left; background: #FFCD69; }
.searchbtn { height: 36px; background: url(http://img2.soufun.com/wap/touch/img/bg-saerchbtn.png) no-repeat bottom; padding-left: 20px; font-size: 16px; border-width: 0px; width: 59px; }
/*index搜索模拟sel*/
ul#searchselect { width: 75px; position: absolute; left: 8px; top: 153px; background: #FFFFFF; border-top: 1px solid #999999; border-right: 1px solid #999999; border-left: 1px solid #999999; }
#searchselect li { height: 26px; line-height: 30px; padding-left: 4px; border-bottom: 1px solid #999999; font-size: 16px; }
/*index搜索模拟sel-xf*/
.select{display:none;padding:5px;width:75px;border:1px solid #c9c9c9;font-size:15px;z-index:9999;
position:absolute;top:80px;left:8px;background:#fff;}
.select p{padding:5px 0px;border-bottom:1px solid #c9c9c9;}
/*index板块*/
.clu-name { background: url(http://img2.soufun.com/wap/touch/img/bg-clu-name.png) repeat-x bottom; width: 60px; height: 34px; line-height: 34px; padding-left: 8px; }
.clu-tit { background: url(http://img2.soufun.com/wap/touch/img/bg-clu-tit.png) repeat-x; height: 34px; margin-bottom: 8px; margin-top: 8px; cursor:pointer; } 
.clu-more { height: 30px; width: 14px; background: url(http://img2.soufun.com/wap/touch/img/info-btnmore.png) no-repeat right center; margin-right: 8px; height:34px;} 
.clu .cat {border-bottom:1px dashed #CCCCCC;margin-top:4px;margin-bottom:4px;padding-bottom:4px;}
.clu .catname { float:left; width:42px; white-space:nowrap; background:#E4E4E4; height:21px; line-height:21px; font-size:16px; text-align:center; margin:3px 6px 0px 0px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
.clu .catcont {width:100%;font-size:16px;margin:0px;padding:0px;}
.clu .catcont li { margin-right:8px; float:left; white-space:nowrap; line-height: 26px; }
.cat .more { height: 23px; width: 41px; white-space: nowrap; background: url(http://img2.soufun.com/wap/touch/img/more.png) no-repeat; line-height: 23px; text-align: center; font-size: 16px;cursor:pointer; }
/*index资讯list*/
.clu .infolist { line-height: 30px; }
.clu .infolist li { background: url(http://img2.soufun.com/wap/touch/img/infolistmore.png) no-repeat right center; border-bottom: 1px solid #CCCCCC; height: 36px; line-height: 36px; } 
.clu .infolist a { display: block; }
/*index隐藏项*/
.moreitems{display:none;}
.clu .moreitems{display:none}
/*index定位*/
.locabox { padding-right: 8px; padding-top: 8px; }
.loca { font-size: 16px; line-height: 24px; width: 258px; }
.refres { width: 24px; height: 24px; float: right; }
/*list*/
.house-pic { width: 93.3px; background: #E7E7E7; border: 1px solid #CCCCCC; text-align: center; margin-right: 6px; padding: 2px; line-height: 0px; }
.house-pic img { width: 93.3px; height: 70px; }
.houselist { border-bottom: 1px solid #D8D8D8; padding-top: 6px; padding-bottom: 6px; }
.houselist-txt { line-height: 20px;}
.sum { height: 30px; background: #d8e3f7; margin-bottom: 6px; margin-top: 6px; line-height: 30px; padding-left: 6px; font-size: 16px; }
.houselist-tip { width: 50px; font-size: 14px; line-height: 18px; height: 18px; text-align: center; background: #16478f; color: #FFFFFF; margin-right: 6px; }
.listselect { height: 32px; background: #EBEBEB url(http://img2.soufun.com/wap/touch/img/selar.png) no-repeat right center; border: 1px solid #999999; margin-right: 6px; font-size: 16px; line-height: 32px; padding-left: 4px; }
#biz_area{ color: #333333; overflow:hidden;}
.listsearchbtn { height: 34px; width: 78px; }
/*list页条件筛选*/
.selcond  {margin-top: 8px; }
.selcond ul { margin-top: 6px; }
.selcond ul li { float: left; display: block; margin-right: 6px; background: #E2F4FC url(http://img2.soufun.com/wap/touch/img/selcond-close.png) no-repeat right; font-size: 16px; margin-bottom: 6px; padding-right: 20px; padding-left: 2px; line-height: 20px; height: 20px; border: 1px solid #8CC6F0; cursor: pointer; white-space: nowrap; }
/*list加载更多*/
.draginner{height:37px;line-height:37px;font-size:16px;width:150px;margin:0 auto;}
/*list经纪人头像*/
.bro-pic img { width: 54px; height: 74px; background: #E7E7E7; margin-right: 6px; margin-top: 2px; padding: 2px; border: 1px solid #CCCCCC; }   
.bro-pic2 img { width: 35px; height: 50px; padding: 2px; background: #E7E7E7; border: 1px solid #CCCCCC; margin-right: 6px; margin-top: 6px; margin-bottom: 6px; }
/*detail*/
#footer {position:absolute;z-index:1001;bottom:0;left:0;position:fixed;width:100%;height:50px;line-height:50px;background:rgba(0,0,0,0.6);font-size:15px;padding-left:8px;color:#FFFFFF;}
#scroller { position:absolute; z-index:1; width:100%; padding:0; background: #FFFFFF; }
#wrapper { position:absolute; z-index:-1; top:0px; bottom:0px; left:0; width:100%; overflow:auto; }
.nextexa { background: #666666; height: 44px; width: 170px; position: absolute; left: 70px; line-height: 44px; text-align: center; top: 125px; opacity:0.8; filter: alpha(opacity=80); border-radius:6px; z-index: 110; } 
.nxqbox { border-bottom: 1px solid #cccccc; padding-bottom: 4px; }
.nxqtit { line-height: 28px; padding-top: 4px; }
.nxqaddress { font-size: 16px; line-height: 22px; background: url(http://img2.soufun.com/wap/touch/img/infolistmore.png) no-repeat right 6px; margin-left: 55px; padding-right: 8px; margin-top: 4px; margin-bottom: 4px; }
.nxqaddress1 { font-size: 16px; line-height: 22px; margin-left: 55px; padding-right: 8px; margin-top: 4px; margin-bottom: 4px; }/*地址无坐标*/
.nxq-intro { font-size: 16px; color: #808080; line-height: 1.5em; word-break:break-all; } 
.nxq-intro img { border: 1px solid #ADADAD; width: 300px; height: 130px;} 

.backbox { line-height: 40px; background: #15468E url(http://img2.soufun.com/wap/touch/img/mainnav_bg.png) repeat-x top; height: 40px; }
.back { width: 58px; float: left; margin-left:6px; }
.back img { height: 28px; width: 58px; display: block; margin-top: 5px; }
.backtit { color: #FFFFFF; float: left; height: 40px; line-height: 40px; text-align: center; overflow: hidden; padding-left: 6px; }
/*detail家居表*/
.xqtable2 { line-height: 28px; text-align: left; font-size: 16px; margin-top: 4px; }
.xqtable2 th { font-weight: normal; border-bottom: 1px solid #D2D2D2; border-right: 1px solid #D2D2D2; text-align: left; width: 81px; white-space: nowrap; }
.xqtable2 td { line-height: 20px; border-bottom: 1px solid #D2D2D2; text-align: left; padding-left: 4px; width: 100%; color: #666666; word-break:break-all; word-wrap : break-word; }
/*detail搜藏按钮*/
.favorite{height:40px; width:100px; background-color: #666666; opacity:0.9; filter: alpha(opacity=90);border-radius:6px;font-size: 16px; line-height: 40px; position: fixed; _position: absolute; color:#FFFFFF; text-align:center;z-index:9999}
/*detail表1*/
.nxqtable th { font-weight: normal; text-align: left; white-space: nowrap; font-size: 16px; }
.nxqtable td { line-height: 20px; text-align: left; padding-left: 4px; width: 100%; color: #808080; word-break:break-all; word-wrap : break-word; padding-top: 4px; padding-bottom: 4px; font-size: 16px; }
/*detail表2-f14*/
.nxqtable2 th { font-weight: normal; text-align: left; white-space: nowrap; font-size: 14px; }
.nxqtable2 td { line-height: 20px; text-align: left; padding-left: 4px; width: 100%; color: #808080; word-break:break-all; word-wrap : break-word; padding-top: 4px; padding-bottom: 4px; font-size: 14px; }
/*detail更多btn*/
.nxq-btnmore { background:url(http://img2.soufun.com/wap/touch/img/bg-btnlun.png) no-repeat bottom; height: 28px; line-height: 28px; width: 60px; border-radius:6px; font-size: 16px; margin-top: 6px; margin-bottom: 0; float: right; margin-right: 6px; }
.nxq-btnmore  .arrm { height: 28px; line-height: 28px; width: 54px; border-radius:6px; display: block; background: url(http://img2.soufun.com/wap/touch/img/morearr1.png) no-repeat 42px center; padding-left: 6px; color: #FFFFFF; }
.nxq-btnmore2 { background:url(http://img2.soufun.com/wap/touch/img/bg-btnlun.png) no-repeat bottom; height: 28px; line-height: 28px; width: 60px; border-radius:6px; font-size: 16px; margin-top: 6px; margin-bottom: 0; float: right; margin-right: 6px; }
.nxq-btnmore2 .arrm { height: 28px; line-height: 28px; width: 54px; border-radius:6px; display: block; background: url(http://img2.soufun.com/wap/touch/img/morearr2.png) no-repeat 42px center; padding-left: 6px; color: #FFFFFF;}
/*detail搜索*/
.xqsearch { height: 32px; width: 226px; float: left; border-top: 1px solid #417BC1; border-bottom: 1px solid #417BC1; border-left: 1px solid #417BC1; }
.xqsearcrange { height: 32px; width: 70px; background: url(http://img2.soufun.com/wap/touch/img/bg-searchselect.png) no-repeat right; line-height: 32px; padding-left: 5px; border-right: 1px solid #417BC1; font-size: 16px; }
.xqsearchbtnbox { height: 32px; width: 65px; float: left; border: 1px solid #417BC1; background: url(http://img2.soufun.com/wap/touch/img/xqsaerchbtn-bg.png) repeat-x bottom; }
.xqsearchbtn { height: 32px; background: url(http://img2.soufun.com/wap/touch/img/xqsaerchbtn.png) no-repeat left bottom; padding-left: 22px; font-size: 16px; width: 65px; border-width: 0px; overflow: hidden; }
/*家居*/
.xqtitbox { border-bottom: 1px dashed #CCCCCC; margin-top: 10px; padding-bottom: 6px; }/*家居详情返回*/
.jiaju-his { background: #6BA1E4 url(http://img2.soufun.com/wap/touch/img/mainnav_bg.png) repeat-x top; height: 36px; border-top: 1px solid #346eb3; overflow: hidden; color: #FFFFFF; line-height: 36px; padding-left: 8px; }
.jiaju-his a{ color: #FFFFFF; }
.jiaju-pic { width: 120px; background: #E7E7E7; border: 1px solid #CCCCCC; text-align: center; margin-top: 10px; padding: 2px; float: left; margin-left: 16px; margin-bottom: 10px; }
.jiaju-tit { font-size: 16px; line-height: 24px; height: 24px; width: 120px; overflow: hidden; text-align: left; }
.jiaju-pic img { width: 120px; height: 120px; }
.jiajualbum-tit { text-align: center; font-size: 16px; line-height: 20px; height: 20px; width: 300px; }
.btnalbum { width: 60px; }
.jiaju-loading{margin-top: 8px; cursor: pointer; padding-left: 30px; background-image: url(http://img2.soufun.com/wap/touch/img/load.gif); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-position: 0px 30%; background-repeat: no-repeat no-repeat; }
.boxpad{padding:0px 8px;}
/*tab家居导购*/
.subnav { background: url(http://img2.soufun.com/wap/touch/img/subnavbg.png) repeat-x bottom; height: 42px; padding-right: 8px; padding-left: 8px; }
.subnav li { float: left; height: 41px; line-height: 41px; width: 76px; font-size: 16px; }
.subnav li a { height: 41px; line-height: 41px; width: 76px; text-align: center; display: block; }
.subnav-cur { background: url(http://img2.soufun.com/wap/touch/img/subnav-cur.png) no-repeat center bottom; color: #0066CC; }
/*tab小区内容*/
.tabbox { height: 30px; width: 140px; color: #FFFFFF; float: right; margin-bottom: 4px; }
.tabbox a { height: 30px; width: 70px; display: block; color: #FFFFFF; }
.tabboxl { border-bottom-left-radius: 6px; border-top-left-radius: 6px; height: 30px; width: 70px; float: left; margin-top: 0; margin-bottom: 0; text-align: center; line-height: 30px; background: #7FA0C8; }
.tabboxr { background: #E4E4E4; border-bottom-right-radius: 6px; border-top-right-radius: 6px; height: 30px; float: left; width: 70px; margin-top: 0; margin-bottom: 0; line-height: 30px; text-align: center; }
/*tab详情家居*/
.xqtab { height: 30px; background: url(http://img2.soufun.com/wap/touch/img/xqtabnor.png) repeat-x; border-top: 1px solid #74B1D4; border-left: 1px solid #74B1D4; margin-top: 8px; font-size: 16px; margin-bottom: 6px; }
.xqtab td { height: 30px; background: url(http://img2.soufun.com/wap/touch/img/xqtabnor.png) repeat-x; border-bottom: 1px solid #74B1D4; font-size: 16px; text-align: center; line-height: 30px; border-right: 1px solid #74B1D4; white-space: nowrap; }
a.xqtabcur { background: url(http://img2.soufun.com/wap/touch/img/xqtabcur.png) repeat-x; display: block; color: #FFFFFF; }
/*tab我的搜藏*/
.sus-cat{ background: url(http://img2.soufun.com/wap/touch/img/subnavbg.png) repeat-x bottom; background-size:100% 100%; padding:6px 0px;  }
.sus-cat li a{ float: left; height: 30px; line-height: 30px;  text-align: center; display: block; }
.sus-tabcur { border-radius:3px; background-color:#2a62af; color:#fff; box-shadow:inset 3px 3px 4px #1e467f; -moz-box-shadow:inset 3px 3px 4px #1e467f; -webkit-box-shadow:inset 3px 3px 4px #1e467f; padding:4px 5px }   
/*导购资讯*/
.info-search { height: 32px; width: 226px; float: left; border-top: 1px solid #417BC1; border-bottom: 1px solid #417BC1; border-left: 1px solid #417BC1; }
.info-searhinputbox { height: 32px; float: left; width: 226px; }
.info-searhinput { float: left; height: 32px; background: url(http://img2.soufun.com/wap/touch/img/bg-searchinput.png) repeat-x top; border-width: 0px; width: 226px; font-size: 16px; line-height: 32px; padding-left: 4px; }
.infocont { margin-top: 8px; line-height: 1.4em; }
.infocont-tit { font-weight: bold; font-size: 20px; }
.infocont strong{ font-weight: bold;}
.infocont p { color: #202020; text-indent: 2em; word-break:break-all; word-wrap : break-word; margin-top: 12px; margin-bottom: 12px; line-height: 1.6em; letter-spacing: 1px; }
.infocont img { width:280px; display: block; margin: 6px auto; text-indent: 0px; }
.infocont p img { width:280px; display: block; margin: 6px auto; text-indent: 0px; }
.btnartpre { height:76px; width:40px; background: url(http://img2.soufun.com/wap/touch/img/btnpre.png) no-repeat left; position: fixed; left: 0px; top: 200px; }
.btnartnex { height:76px; width:40px; background: url(http://img2.soufun.com/wap/touch/img/btnnex.png) no-repeat right; position: fixed; right: 0px; top: 200px; }
.art-swich { border-bottom: 1px solid #B3B3B3; line-height: 34px; height: 34px; font-size: 16px; width: 304px; overflow: hidden; }
.phbnumbg { background: #2A62AF; color: #FFFFFF; border-radius:6px; margin-right: 4px; line-height: 22px; height: 22px; text-align: center; width: 22px; }
.phbnumbg-gray { background: #97989A; color: #FFFFFF; border-radius:6px; margin-right: 4px; padding-right: 2px; padding-left: 2px; line-height: 22px; height: 22px; }
/*导购资讯分页*/
ul.pages { height: 32px; padding-top: 6px; width: 306px; margin-right: auto; margin-left: auto; } 
ul.pages li { height: 25px; float: left; width: 48px; font-size: 14px; text-align: center; margin-top: 6px; line-height: 25px; display: block; margin-right: 4px; background: url(http://img2.soufun.com/wap/touch/img/btn-more-bg.png); color: #999999; border-radius:6px; border: 1px solid #CCCCCC; }
ul.pages .curpage { display: block; float: left; width: 90px; text-align: center; height: 20px; margin-top: 8px; line-height: 20px; font-size: 14px; }
ul.pages  a{ height: 25px; width: 50px; display: block; }
.info-btnallcont { height: 25px; width: 90px; font-size: 14px; text-align: center; line-height: 25px; display: block; background: url(http://img2.soufun.com/wap/touch/img/btn-more-bg.png); color: #999999; border-radius:6px; border: 1px solid #CCCCCC; margin-top: 2px; margin-right: auto; margin-left: auto; }
.info-btnallcont a { width: 90px; display: block; }
/*小区相册*/
.alist-box { margin-left: 40px; width: 96px; float: left; margin-top: 20px; }
.alist-name { text-align: center; height: 24px; font-size: 16px; line-height: 24px; overflow: hidden; width: 96px; }
.alist { background: #E7E7E7; border: 1px solid #CCCCCC; text-align: center; padding: 2px; width: 90px; }
.alist img { width: 90px; height: 90px; }
/*团购*/
.btnBox { padding: 6px; text-align: center; }
.tuanimg img { width: 274px; padding: 4px; border: 1px solid #c2c2c2; box-shadow: 0 0 3px rgba(0, 0, 0, 0.4); display: block; margin-right: auto; margin-bottom: 6px; margin-left: auto; background: #FFFFFF; }
.inputnoborder{ border-width: 0px; border-style: none; line-height: 24px; height: 24px; width: 160px; font-size: 16px; font-family: Arial,; }
.kft-tag { font-size: 12px; float: left; color: #FFFFFF; padding:2px 5px; width: 86px; overflow: hidden; }
/*团购-弹窗报名*/
.Selec_con{ position:relative;overflow:auto;max-height:240px}
.Selec_hd{ height:40px;line-height:40px;background:-webkit-gradient(linear,0% 0,0% 100%,from(#2359A4),to(#2359A4));-webkit-box-shadow:inset 0 1px 1px #2359A4;color:#FFF;padding:0 10px;position:relative;-webkit-border-radius:5px 5px 0 0}
#Selec{ position:fixed;width:90%;background:#f7f6f5;border:1px solid rgba(27,27,27,.4);-webkit-border-radius:5px;-webkit-box-shadow:0 0 10px #999898;height:auto;z-index:20000;display:block}
.Selec_item li{ height:40px;line-height:40px;padding:0 10px;border-bottom:1px solid #dbd9d6}
/*弹窗*/
.flyer { background: #FFFFFF; box-shadow: 0 0 8px #868686; -webkit-box-shadow:0 0 8px #868686; -moz-box-shadow:0 0 8px #868686; border: 1px solid #999999; top: 140px; left: 20%; right: 20%; position: absolute; }
.flyertit { background: #2359A4; height: 34px; text-align: center; color: #FFFFFF; line-height: 34px; font-size: 16px; }
.flyeritem { padding-right: 8px; padding-bottom: 8px; padding-left: 8px; display: block; }
.flyeritem li { height: 36px; line-height: 36px; border-bottom: 1px solid #DBDBDB; display: block; }
.flyeritem li a  { height: 36px; line-height: 36px; font-size: 16px; text-align: left; display: block; }
/*调查*/
.inves { border-bottom: 1px solid #CCCCCC; padding-bottom: 8px; font-size: 16px; padding-top: 8px; }
.inves dt { color: #039; padding-bottom: 4px; }
.inves dd{ padding-left: 14px; color: #333333; font-size: 15px; padding-top: 4px; padding-bottom: 4px; }
.persent { width: 240px; background: #E1E1E1; height: 14px; margin-right: 4px; margin-bottom: 10px; margin-top: 2px; }
.persent-cur { height: 14px; }
/*app下载*/
.applist img { height: 42px; width: 42px; display: block; line-height: 0px; }

.info-btn-throupage { height: 25px; width: 48px; font-size: 14px; text-align: center; line-height: 25px; display: block; background: url(http://img2.soufun.com/wap/touch/img/btn-more-bg.png); color: #999999; border-radius:6px; border: 1px solid #CCCCCC; }
.info-btn-throupage a { width: 48px;height: 25px; display: block; }
.infolist-tit { float: left; margin-left: 6px; width: 168px; height: 26px; line-height: 26px; padding-left: 60px; }
.map_back { width: 70px; float: left; cursor: pointer;}
.house-pic .online img { width: 46px; height: 18px; }
.online { position: relative; z-index: 1000; padding-top: 48px; padding-left: 46px; }

/*index2013*/
.fgray3 { color:#999999; }
.fblu3 { color:#507FBD ; }
a:link.ablack2, a:visited.ablack2, a:hover.ablack2, a:active.ablack2{ color: #333333; text-decoration: none; }
a:link.agray2, a:visited.agray2, a:hover.agray2, a:active.agray2{ color: #666666; text-decoration: none; }
.oratab { background:#E4E4E4; box-shadow:0px 3px 3px #C9C9C9; -webkit-box-shadow:0px 3px 3px #C9C9C9; }
.oratab li { float: left; }
.oratab li a { text-align: center; display: block;}
.oratab-cur { background: #FF8704; box-shadow:2px 2px 2px #CC6C03 inset; border-bottom: 1px solid #FFFFFF; height: 28px;}
.oratab-cur-arr { position:absolute; bottom:-15px; height:12px; width:100%; background:url(http://img2.soufun.com/wap/touch/img/arr-tit-tab.png) no-repeat center bottom; background-size:12px 100%; }
.dbline {border-top: 1px solid #E2E2E2; border-bottom: 1px solid #FFFFFF; }
.dbline-gw{border-top:1px solid #D2D2D2;border-bottom:1px solid #FFFFFF;}
.ninfolist a { font-size: 16px; padding-top: 8px; padding-bottom: 8px; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; } 

.listimg70-52 { float:left; display:block; width:80px; height:59px; background:#ffffff; border:1px solid #E2E2E2; padding:2px; margin-right:6px } 
.arrbox3 { cursor: pointer; font-size: 16px; background: url(http://img2.soufun.com/wap/touch/img/arr-r-new.png) no-repeat right center; background-size:25px 16px; padding: 8px; }
.indexkft-bm { margin:0px 15px 0px 0px; padding:10px 0px 0px 6px; border-left:1px solid #E2E2E2; height:52px; float:right; width: 60px; text-align: left; } 

.catg33  a { display: block; height: 30px; float: left; font-size: 15px; white-space: nowrap; line-height: 30px; width: 33%; }
.catg50  a { display: block; height: 30px; float: left; font-size: 15px; white-space: nowrap; line-height: 30px; width: 50%; }
.catg25  a { display: block; height: 30px; float: left; font-size: 15px; white-space: nowrap; line-height: 30px; width: 25%; }
/**/
.ellipsis {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

.catmore1{background:url(http://img2.soufun.com/wap/touch/img/arr-down.png) no-repeat center;background-size:17px 17px;display:block;padding:3px;width:17px;height:17px;}
.catmore2{background:url(http://img2.soufun.com/wap/touch/img/arr-up.png) no-repeat center;background-size:17px 17px;display:block;padding:3px;width:17px;height:17px;}
.xq-esfm{background:url(http://img2.soufun.com/wap/touch/img/bg-esfmore.png);background-size:100% 100%;height:26px;line-height:26px;width:130px;font-size:16px;margin-top:6px;margin-bottom:0;float:right;margin-right:6px;border:1px solid #C3C3C3}

/*新房详情页改版*/
.borderbot-d { border-bottom:1px dashed #B3B3B3;}
.arrbox4 { cursor: pointer; font-size: 16px; background: url(http://img2.soufun.com/wap/touch/img/infolistmore.png) no-repeat right center; padding: 8px; }
.xq-xfm { height: 26px; line-height: 26px; width: 60px; font-size: 16px; margin-top: 6px; margin-bottom: 0; float: right; margin-right: 6px; background:-webkit-linear-gradient(top,#7BA9DB,#446FB3);}
.xq-xfm .ar1, .xq-xfm .ar2 { width: 54px; display: block; padding-left: 6px; color: #ffffff;  }
.xq-xfm .ar1 { background: url(http://img2.soufun.com/wap/touch/img/xq-xfmar1.png) no-repeat 42px center;}
.xq-xfm .ar2 { background: url(http://img2.soufun.com/wap/touch/img/xq-xfmar2.png) no-repeat 42px center;}
.xftab-f { border-right:1px solid #ffffff; padding:8px 0px; width:33%; text-align: center; }
.xftab-m{ padding:8px 0px; border-left:1px solid #DEDEDE; border-right:1px solid #ffffff; width:33%; text-align: center; }
.xftab-l{ padding:8px 0px; border-left:1px solid #DEDEDE; width:32%; text-align: center; }
.xftab-cur{ height:22px; background:#F7F7F7; position:relative; top:1px;}
.xqtitbg { background:url(http://img2.soufun.com/wap/touch/img/bg-xq-gra.png) repeat-x; background-size:100% 100%; padding:0px 8px ;}
.xforatagbox { position:absolute; width:50px; height:50px; right:0px; overflow:hidden; }
.xforatag {-webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); background:#FF6600; height:18px; width:54px; position:absolute; color:#FFFFFF; line-height:18px; top:4px; right:-18px; font-size:13px;  }
a:link.ablue2, a:visited.ablue2, a:hover.ablue2, a:active.ablue2{ color: #0099FF; text-decoration: none; }
.xq-esfm .ar1{ height: 28px; line-height: 28px; width: 54px; border-radius:6px; display: block; background: url(http://img2.soufun.com/wap/touch/img/esfmorearr1.png) no-repeat 42px center; padding-left: 6px; color: #666666; margin-right: auto; margin-left: auto; }
.xq-esfm .ar2{height:28px;line-height:28px;width:54px;border-radius:6px;display:block;background:url(http://img2.soufun.com/wap/touch/img/esfmorearr2.png) no-repeat 42px center;padding-left:6px;color:#666666;margin-right:auto;margin-left:auto;}
.esfwtinput{ line-height: 22px; padding: 4px; height: 22px; border: 1px solid #CECECE; background: #FFFFFF; font-size: 16px; background:-webkit-linear-gradient(top,#EEEEEE,#ffffff); background:-moz-linear-gradient(top,#EEEEEE,#FFFFFF); filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#EEEEEE',endColorStr='#FFFFFF',gradientType='0')}
.btnblue3 { background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #56ADF8), color-stop(1, #2E92E6));background:-moz-linear-gradient(top,#56ADF8,#2E92E6); background:-o-linear-gradient(top,#56ADF8,#2E92E6);filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#56ADF8',endColorStr='#2E92E6',gradientType='0'); text-align: center; } 
.arrbox-down { cursor: pointer; font-size: 16px; background: url(http://img2.soufun.com/wap/touch/img/arrbox-down.png) no-repeat right center; padding: 8px; }
.arrbox-up { cursor: pointer; font-size: 16px; background: url(http://img2.soufun.com/wap/touch/img/arrbox-up.png) no-repeat right center; padding: 8px; }
.f15 { font-size:15px; }
.input-shaintl { padding-left: 4px; font-family:Arial; box-shadow:3px 3px 3px #CCCCCC inset; -webkit-box-shadow:3px 3px 3px #CCCCCC inset; -moz-box-shadow:3px 3px 3px #CCCCCC inset;  border:1px solid #CCCCCC;}

.nnav a { height:30px; display: block; font-size: 16px; color: #FFFFFF; float: left; text-align: left; line-height: 30px; white-space: nowrap; padding-left: 3%; }
.daohang {height: 14px; line-height:16px; background: url(http://img2.soufun.com/wap/touch/img/navIcon.png) no-repeat center top; background-size: 18px 16px; display: block; margin: 10px 8px 0px 0px; color: white; float: right; font-size: 14px; padding-top: 18px; }
.select{padding:5px;width:75px;border:1px solid #c9c9c9;font-size:15px;z-index:9999;position:absolute;top:80px;left:8px;background:#fff;}
.select p{padding:5px 0px;border-bottom:1px solid #c9c9c9;}
.searc-input { height: 32px; border:0; font-size: 16px; font-family: "Microsoft Yahei", Arial; box-shadow:-3px 3px 3px #999 inset; -webkit-box-shadow:-3px 3px 3px #CCCCCC inset; -moz-box-shadow:-5px 5px 5px #CCCCCC inset; border-radius:4px 0px 0px 4px; -webkit-border-radius:4px 0px 0px 4px; ; -moz-border-radius:4px 0px 0px 4px; padding: 5px 0px 5px 6px; -webkit-appearance: none; -moz-appearance: none; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; } 

.appdh { height:14px; line-height:16px; background: url(http://img2.soufun.com/wap/touch/img/shoucang_h.png) no-repeat center top; background-size:18px 16px; display:block; margin:10px 8px 0px 0px; color: #FFFFFF; float: right; font-size: 14px; padding-top: 18px; z-index:10; position:relative; }
.appdn { height:14px; line-height:16px; background: url(http://img2.soufun.com/wap/touch/img/shoucang_n.png) no-repeat center top; background-size:18px 16px; display:block; margin:10px 8px 0px 0px; color: #FFFFFF; float: right; font-size: 14px; padding-top: 18px; z-index:10; position:relative; }

/*团购*/
.boxoutshadow { box-shadow: 0 0 6px #868686; -webkit-box-shadow:0 0 6px #868686; -moz-box-shadow:0 0 6px #868686; } 
.tg-tagbox { position:absolute; width:60px; height:60px; left:0px; overflow:hidden; }
.tg img {background: #E0E0E0 url( ../images/loading.gif) no-repeat center; width: 290px; height: 203px} 
.tgtag {-webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); background:#FF6600; height:26px; width:54px; position:absolute; color:#FFFFFF; line-height:26px; top:10px; left:-32px; font-size:13px; } 

/*chat*/
.sms-num-t { background: #FF0000; font-size: 12px; line-height: 14px; height: 14px; width: 14px; -webkit-border-radius:10px; -moz-border-radius:10px; -o-border-radius:10px;border-radius:10px;  position:absolute; text-align: center; padding: 1px; color:#FFFFFF; right:2px; top:2px; z-index:10; -webkit-box-shadow:2px 2px 2px #385884 }
.sms-num { background: #FF0000; font-size: 12px; line-height: 14px; height: 14px; width: 14px; -webkit-border-radius:10px; -moz-border-radius:10px; -o-border-radius:10px;border-radius:10px;  position:absolute; text-align: center; margin-left:-8px; padding: 1px; -webkit-box-shadow:2px 2px 2px #385884 }
.sms-num-w { background: #FF0000; font-size: 12px; line-height: 14px; height: 14px; width: 14px; -webkit-border-radius:10px; -moz-border-radius:10px; -o-border-radius:10px;border-radius:10px; position:absolute; text-align: center; margin-left:-8px; padding: 1px; -webkit-box-shadow:2px 2px 2px #969696 }
/*小区网店*/
.xqwdtab { background: url(http://img2.soufun.com/wap/touch/img/bg-xqwdtab-line.png) no-repeat right; background-size:2px 100%;width:25%; float:left;text-align:center}
.xqwdtabcur { background: #F7F7F7 url(http://img2.soufun.com/wap/touch/img/bg-xqwdtab-line.png) no-repeat right; background-size:2px 100%;width:25%; line-height:39px; float:left; text-align:center }

/* 团购详情 Btn */
.mr10 { margin-right:10px; }
.mb7 { margin-bottom:7px; }
.mt10{ margin-top:10px; }
.linear_org { 
border:1px solid #d47200; 
box-shadow:0px 1px 0px #feb96a inset; -moz-box-shadow:0px 1px 0px #feb96a inset; -webkit-box-shadow:0px 1px 0px #feb96a inset;
background-image:-moz-linear-gradient(top, #fe8903, #f67f01); 
background-image:-webkit-linear-gradient(top, #fe8903, #f67f01);
background-image:-o-linear-gradient(top, #fe8903, #f67f01);
background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fe8903), color-stop(1, #f67f01));}
.linear_no { border:1px solid #ccc; background:#e0e0e0; color:#999!important; }
.linear_blue { 
border:1px solid #4394d1; 
box-shadow:0px 1px 0px #8fcffe inset; -moz-box-shadow:0px 1px 0px #8fcffe inset; -webkit-box-shadow:0px 1px 0px #8fcffe inset;
background-image:-moz-linear-gradient(top, #43aefe, #0c93f7); 
background-image:-webkit-linear-gradient(top, #43aefe, #0c93f7);
background-image:-o-linear-gradient(top, #43aefe, #0c93f7);
background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #43aefe), color-stop(1, #0c93f7));}
.onlinetalk_btn,.paoming_btn { display:inline-block; width:101px; height:30px; line-height:30px; -webkit-appearance:none; cursor:pointer; color:#fff!important; font-size:15px; text-align:center;  }
.talk_img { display:inline-block; width:17px; height:15px; background:url(http://img2.soufun.com/wap/touch/img/talk_img.png) no-repeat 0 0; background-size:17px 15px; vertical-align:middle; margin:0 4px 0 0; }
.w84 { width:84px; }

/*2013/10/28 轮播广告下方圆点*/
#bullets {position: absolute;left: 0;right: 0;bottom: 2px;background: none;}
nav {background: #507fbd;font-size: 18px;}
#position {text-align: center;list-style: none;margin: 0;padding: 0;}
#position li {display: inline-block;width: 8px;height: 8px;border-radius: 10px;background: #fff;margin: 0 1px;}
#position li.on {background-color: #1293dc;}

/*轮播广告样式*/
.swipe {overflow: hidden;visibility: hidden;position: relative;}
.swipe-wrap {overflow: hidden;position: relative;}
.swipe-wrap > div {float:left;width:100%;position: relative;}
/* 视频 */
.video { background:url(http://img2.soufun.com/wap/touch/img/video1.png) no-repeat; background-size:100% 100%; height:24px; width:24px; position: absolute; top:46px; left:2px; z-index:10000 }