.panel-body a{
    float:right;
    padding-right:10px;
    color:red;
}
.the_star i{
    color:#db1515;
}

.bigstar50,.bigstar45,.bigstar40,.bigstar35,.bigstar30,.bigstar25,.bigstar20,.bigstar15,.bigstar10,.bigstar05,.bigstar00{
    display:inline-block;
    *display:inline;
    zoom:1;
    width:75px;
    height:14px;
    background: url("/static/images/bigstars.gif") no-repeat;
    margin:1px 0 0 0;
    overflow:hidden
}

.bigstar50{background-position:0 0}
.bigstar45{background-position:0 -14px}
.bigstar40{background-position:0 -28px}
.bigstar35{background-position:0 -42px}
.bigstar30{background-position:0 -56px}
.bigstar25{background-position:0 -70px}
.bigstar20{background-position:0 -84px}
.bigstar15{background-position:0 -98px}
.bigstar10{background-position:0 -112px}
.bigstar05{background-position:0 -126px}
.bigstar00{background-position:0 -140px}

.pingfen{
    font-size:12px;
    color:red;
}
.imgLink{
    margin-top:8px;
}
.news_loading{
    display: none;
    width: 100%;
    text-align: center;
}
.news_more{
    display: none;
    text-align: center;
	padding-top:10px;
	padding-bottom:10px;
}
.yuyue_btn{
    background: #7fbc5b;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 3px 10px;
    color: #fff;
    border: 0;
    outline: none;
    -webkit-animation-name: "glowing";
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
}
/*商家预约*/
.yuyue_title{
    margin: 0px;
    line-height: 40px;
    font-family: Microsoft Yahei;
    font-size: 22px;
    font-weight: bold;
    color: #666;
    border-bottom: 1px solid #666;
}
.yuyue_list{
    width: 100%;
    height: auto;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.yuyue_list li{
    width: 47%;
    height: 70px;
    float: left;
    margin: 0 0 5px 3%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.yuyue_list li img{
    float: left;
    width: 40%;
    height: 60px;
    border: 1px solid #ddd;
    margin: 4px 0 0 5px;
}
.yuyue_list li p span{
    display: block;
    width: 100%;
    height: 20px;
    overflow: hidden;
    margin:-15px 0 0 0;
}
.yuyue_list li p b{
    display: block;
    width: 100%;
    color: #373737;
    font-weight: normal;
    overflow: hidden;
}
.yuyue_list li p{
    float: left;
    width: 55%;
    height: 70px;
    color: #f30;
    padding: 10px 0 0 0;
}
.service_list{
    background-color: rgba(228, 117, 90, 0.71);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}
.yuyue_form textarea{
    width: 75%;
    height: 100px;
    resize: none;
}
.yuyue_form>p>.button{
    margin-left: 40px!important;
}
.yuyue_form>p>a{
    text-decoration: none;
    background: #7fbc5b;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 3px 10px;
    color: #fff;
    -webkit-animation-name: "glowing";
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
}
#appDateTime{
    width: 120px;
    border: 1px solid #aaa;
}
.s_l_y_btn{
    position: absolute!important;
    right: 5%;
    margin-top: 5px;
    background: #bc200f;
    border-radius: 3px;
    padding:2px 5px 2px 5px;
    color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
}
.exit_yuyue{
    position: absolute;
    right:2px;
    top:45%
}
.yuyue_form{
    height: 100%;
}
.yuyue_form p{
    margin-top: 20px;
}
.yuyue_form>p>.msg-box{
    position: relative;
    top: 0;
    left: 0;
}
.yuyue_n>.msg-box{
    display: block;
    margin-left: 50px;
}
.fuwu_xm>.msg-box{
    margin-left: 20px;
}


/*绑定小区*/
.bind_wrap li{
    list-style: none;
}
.fixed_head{
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 1200;
    background-color: #fff;
}
.bind_xq_title{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #707070), color-stop(1, #292b28));
    background-image: -moz-gradient(linear, left top, left bottom, color-stop(0, #d6d6d6), color-stop(1, #fff));
    text-align: center;
    color: #fff;
    font-size: 18px;
}
.bind_xq_title a{
    position: absolute;
    left: 10px;
    font-size: 24px;
    color: #fff;
}
.bind_xq_title a:hover{
    color: #fff;
}
.search_xq{
    position: relative;
    border: 1px solid #ccc;
    margin: 5px 10px 2px 10px;
}
.search_xq input[type = "text"]{
    width: 70%;
    height: 35px;
    margin-left: 40px;
    outline: 0;
    border: 0;
}
.search_xq button{
    position: absolute;
    left: 0;
    width: 40px;
    height: 35px;
    font-size: 20px;
    color: #ccc;
    background: none;
    border: none;
    line-height: 20px;
    outline: none;
}
.search_xq input[type = "button"]{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 35px;
    line-height: 0;
    font-size: 24px;
    background:none;
    border: 0;
    outline: none;
    color: #ccc;
    /*display: none;*/
}
.bind_xq_list{
    width: 100%;
    margin: 0 auto;
    margin: 88px 0 0 0;
    padding: 0;
}
.bind_xq_list li{
    width: 100%;
    height: 60px;
    line-height: 60px;
}
.xq_check_a{
    display: block;
    width: 100%;
    height: 60px;
   /* position: absolute;
    right: 0;*/
    box-sizing: border-box;
    padding: 0 10px 0 10px;
    /*margin-top: 2px;*/
    border-bottom: 1px solid #bbb;
   /* background: -webkit-gradient(linear, left top, left bottom, from(#f9fafa), color-stop(0.6, #f9fafa), to(rgb(199, 200, 200)));
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #565656), color-stop(1, #2f2f2f));
    background-image: -moz-gradient(linear, left top, left bottom, color-stop(0, #d6d6d6), color-stop(1, #fff));*/
    -o-transition: all 1s ease 0s;
    -ms-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}
.xq_check_a:after{
    content: "";
    display: block;
    clear: both;
}
.xq_check_a .icon-home{
    display: block;
    float: left;
    margin-top: 12px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    padding-left: 7px;
    font-size: 28px;
    background-color: #55c18e;
    color: #fff;
}
.bind_xq_name{
    display: block;
    width: 65%;
    height: 60px;
    float: left;
    overflow: hidden!important;
    margin-left: 10px;
    color: #333;
}
.bind_btn{
    position: absolute;
    left: 0;
    width: 20%;
    height: 60px;
    text-align: center;
    color: #fff;
    font-size: 16px;
}
.xq_toggle_list{
    width: 80%;
}
.bind_tips{
    display: none;
    width: 250px;
    height: 160px;
    margin: 0 auto;
    border-radius:10px;
    text-align: center;
    color: #333;
    background-color: #fff;
    border: 0;
    position: fixed;
    top: 30%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
}
.tips_title{
    font-size: 16px;
    font-weight: bold;
    margin:30px 0 0 10px;
    text-align: left;
}
.tips_content{
    margin: 10px 0 0 10px;
    text-align: left;
}
.tip_btn_wrap{
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #8a8a8a;
}
.bind_tips input{
    width: 50%;
    height: 45px;
    box-sizing: border-box;
    float: left;
    border-radius: 0 0 5px 0;
    outline: none;
    border: 0;
    background-color: #fff;
    font-size: 16px;
    -o-transition: all 1s ease 0s;
    -ms-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}
.bind_tips input:first-child{
    border-radius: 0 0 0 5px;
}
.bind_tips input:hover{
    opacity: 1;
}
.bind_tips_confirm{
    color: #327ab5;

}
.bind_tips_cancel{
    color: #efad4d;
    border-left: 1px solid #8a8a8a !important;
}
.checked_btn{
    position: absolute;
    right: 35px;
    line-height: 60px;
    font-size: 16px;
}

#masker1{
    width: 100%;
    height: 100%;
    opacity: 0.7;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: #000;
}
/*字母排序*/
.letter{
    width: 20px;
    height: auto;
    text-align: center;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 8px;
    bottom: 0;
    z-index: 999999;
}
.letter li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.letter li a{
    color: #333333;
}
/*注册页面3.4*/
.reg_wrap{
    margin-top: 10px;
}
.reg_list{
    width: 90%;
    height: 50px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 15px;
    position: relative;
    background-color: #fff;
}
.reg_sign{
    width: 60px;
    font-size: 18px;
    font-weight: normal;
    line-height: 48px;
    text-align: center;
    background-color: #eeeeee;
    border-right: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    color: #7b7b7b;
}
.reg_list>.user_phone,.reg_list>.user_password,.reg_list>.user_name,.reg_list>.user_xq{
    width: 70%;
    height: 40px;
    position: relative;
    top: -2px;
    border: 0;
    outline: none;
    padding-left: 10px;
    color: #888;
}
.fa-mobile{
    font-size: 24px;
}
.user_mobile{
    min-width: 50%;
    height: 40px;
    position: relative;
    top: -2px;
    /*margin-left: -4px;*/
    border: 0;
    outline: none;
    padding-left: 10px;
    color: #888;
}
.reg_massage{
    width: 25%;
    height: 48px;
    line-height: 48px;
    text-align: center;
    position: absolute;
    right: 0;
    border-radius: 0 4px 4px 0;
    background-color: #55c18e;
    border-left: 1px solid #ccc;
    color: #fff;
    cursor: pointer;
}
.reg_agreement{
    font-size: 12px;
    text-align: center;
    padding: 10px 0 0 0;
}
.reg_agreement a{
    color: #333;
}
.reg_agreement input{
    vertical-align: sub;
}
.user_xq{
    cursor: pointer;
}
.user_xq a{
    color: #888;
}
.user_xq a:hover
{
    color:#888;
}
.reg_list .fa-caret-down{
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 18px;
    color: #7b7b7b;
}
.house_info{
    width: 50%;
    height: 48px;
    box-sizing: border-box;
    float: left;
    border: 0;
    outline: none;
    padding-left: 5px;
}
.reg_list .left{
    border-radius: 4px 0 0 4px;
    border-right: 1px solid #ccc;
}
.reg_list .right{
    border-radius: 0 4px 4px 0;
}
.reg_tips{
    width: 90%;
    height: auto;
    margin: 0 auto;
    color: #333;
    border-top: 1px solid #ddd
}
.reg_tips h5{
    font-size: 15px;
    font-weight: bold;
}
.reg_tips p{
    text-indent: 1em;
    font-size: 13px;
}
.reg_btn{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
.reg_btn input[type = "submit"]{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    text-align: center;
    outline: none;
    background-color: #55c18e;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.reg_wrap .msg-box{
    margin-top: 15px;
}

.result_tips{
    display: none;
    width: 250px;
    height: 80px;
    margin: 0 auto;
    padding-top: 15px;
    background-color: #37aff4;
    color: #fff;
    border-radius: 5px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    position: fixed;
    top: 40%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10001;
}
.masker11{
    width: 100%;
    height: 50px;
    opacity: 0.00001;
    position: absolute;
    bottom: 10px;
    z-index: 9999;
    background-color: #fff;
}
.tip_box_exit{
    float: right;
    margin: 5px 10px 0 0;
    font-size: 18px;
    cursor: pointer;
}

#backTop{display: block;width: 35px;height: 35px;background-color: #666;text-align: center; position: fixed;bottom: 50px;left: 87%;line-height: 35px;border-radius: 5px;opacity: 0.8;}
#backTop i{color: #fff;font-size: 18px;}