﻿<style>
    .navbar {
        position: relative;
        min-height: 50px;
        margin-bottom: 20px;
        border: 1px solid transparent;
    }

    .navbar-fixed-top, .navbar-fixed-bottom {
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .navbar-fixed-bottom {
        bottom: 0;
        margin-bottom: 0;
        border-width: 1px 0 0;
    }

    .navbar-default {
        background-color: #f8f8f8;
        border-color: #e7e7e7;
    }

    .navbar {
        min-height: 40px;
    }

    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .container {
        max-width: 640px;
    }

    .navbar .container {
        padding: 0;
    }

    article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
        display: block;
    }

    .nav {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }

    .navbar-nav {
        margin: 0;
    }

    .nav>li {
        position: relative;
        display: block;
    }

    .nav>li {
        float: left;
        width: 25%;
        text-align: center;
    }

    .nav>li>a {
        position: relative;
        display: block;
        padding: 10px 15px;
    }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 20px;
    }

    .navbar-default .navbar-nav>li>a {
        color: #777;
    }

    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
</style>
<div style="padding-top: 20px;"></div>
<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <nav>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{php echo $this->createMobileurl('index', array(),true)}"><span
                        class="glyphicon glyphicon-home"></span> 首页</a></li>
                <li><a href="{if empty($setting[menulink1])}{php echo $this->createMobileurl('news', array(),true)}{else}{$setting[menulink1]}{/if}"><span
                        class="glyphicon glyphicon-list-alt"></span> {if empty($setting[menuname1])}资讯{else}{$setting[menuname1]}{/if}</a></li>
                <li><a href="{$setting[menulink2]}"><span class="glyphicon glyphicon-list"></span> {$setting[menuname2]}</a></li>
                <li><a href="{$setting[menulink3]}"><span
                        class="glyphicon glyphicon-user"></span> {$setting[menuname3]}</a></li>
            </ul>
        </nav>
    </div>
</div>