﻿<link rel="stylesheet" type="text/css" href="{RES}/themes/dist/css/font.css" />
<!--Wap前端GMU样式-->
<link rel="stylesheet" type="text/css" href="{RES}/themes/css/gmu.css" />
<!--Wap前端GMU重置样式-->
<link rel="stylesheet" type="text/css" href="{RES}/themes/css/Joel-basegmu.css" />
<!--Wap前端Zepto函数库1.0-->
<script type="text/javascript" charset="utf-8" src="{RES}/themes/js/zepto.min.js"></script>
<!--Wap前端Joel公共封装函数库-针对ZEPTO-->
<script type="text/javascript" charset="utf-8" src="{RES}/themes/js/Joel-baseapi.js"></script>
<!--Wap前端Joel公共函数-->
<script type="text/javascript" charset="utf-8" src="{RES}/themes/js/Joel-base.js"></script>
<!--Wap前端Joel-Gmu公共函数库-->
<script type="text/javascript" charset="utf-8" src="{RES}/themes/js/gmu.min.js"></script>
<!--Wap前端Joel-Gmu公共函数库-针对Gmu-->
<script type="text/javascript" charset="utf-8" src="{RES}/themes/js/Joel-basegmu.js"></script>

