{template 'header'}
{template 'slide'}
<style>
body{
font:{$_W['styles']['fontsize']} {$_W['styles']['fontfamily']};
color:{$_W['styles']['fontcolor']};
padding:0;
margin:0;
background-image:url('{if !empty($_W['styles']['indexbgimg'])}{$_W['styles']['indexbgimg']}{/if}');
background-size:cover;
background-color:{if empty($_W['styles']['indexbgcolor'])}#ccc{else}{$_W['styles']['indexbgcolor']}{/if};
{$_W['styles']['indexbgextra']}
}
a{color:{$_W['styles']['linkcolor']}; text-decoration:none;}
.box{overflow:hidden;}
.box .box-item{float:left;text-align:center;display:block;text-decoration:none;outline:none;width:31%;height:60px; background:#d47314;position:relative; color:#FFF;}
.box .box-item .icon{display:inline-block; position:absolute; left:10px; top:22px; font-size:16px; color:rgba(0, 0, 0,0.30); overflow:hidden;}
.box .box-item .angle{display:inline-block; position:absolute; right:10px; top:22px; font-size:20px; color:#fff; overflow:hidden;}
.box .box-item span{color:{$_W['styles']['fontnavcolor']}; font-size:16px; display:block; position:absolute; left:35px; top:18px; text-align:left;}
{$_W['styles']['css']}
</style>
<div class="box">
	{php $num = 0;}
	{loop $navs $nav}
	{php if($num == 0) $bg = '#88C161';}
	{php if($num == 1) $bg = '#54ACD7';}
	{php if($num == 2) $bg = '#E8B540';}
	{php if($num == 3) $bg = '#E96F46';}
	{php if($num == 4) $bg = '#BC63A2';}
	{php if($num == 5) $bg = '#ED6061';}
	<a href="{$nav['url']}" class="box-item" style="background:{$bg};">
		<i class="{$nav['css']['icon']['icon']} icon"></i>
		<span style="{$nav['css']['name']}">{$nav['name']}</span>
	</a>
	{php $num++; if($num > 5) $num = 0;}
	{/loop}
</div>
{template 'footer'}