{template 'common/header'}
<title>申请退款</title>
<style type="text/css">
    body {margin:0px; background:#efefef; font-family:'微软雅黑'; -moz-appearance:none;}
    .afsale_addnav {height:44px; width:94%; padding:0 3%; border-bottom:1px solid #f0f0f0; border-top:1px solid #f0f0f0; margin-top:14px; line-height:42px; color:#666; background:#fff;}
    .afsale_addnav {height:40px; width:94%; padding:0 3%; border-bottom:1px solid #f0f0f0; border-top:1px solid #f0f0f0; margin-top:14px; line-height:40px; color:#666; }
.afsale_main {height:auto;width:94%; padding:0px 3%; border-bottom:1px solid #f0f0f0; border-top:1px solid #f0f0f0; margin-top:14px; background:#fff;}
.afsale_main .line {height:44px; width:100%; border-bottom:1px solid #f0f0f0; line-height:44px;}

.afsale_main .line .label { float:left;width:70px;}
.afsale_main .line .info { float:right; width:100%; margin-left:-75px;text-align: right;overflow:hidden;height:44px;}
.afsale_main .line .info .inner { color:#666;margin-left:75px;}

.afsale_main .line input {float:left; height:44px; width:100%; padding:0px; margin:0px; border:0px; outline:none; font-size:16px; color:#666;padding-left:5px;}
.afsale_main .line select  {float:left; border:none;height:25px;width:100%;color:#666;font-size:16px;margin-top:10px;}
.afsale_sub1 {height:44px; width:94%; margin:14px 3% 0px; background:#ff4f4f; border-radius:4px; text-align:center; font-size:16px; line-height:44px; color:#fff;}
.afsale_sub2 {height:44px; width:94%; margin:14px 3% 0px; background:#ddd; border-radius:4px; text-align:center; font-size:16px; line-height:44px; color:#666; border:1px solid #d4d4d4;}

.afsale_main .line1 {width:100%;  line-height:25px; color:#666;overflow:hidden; font-size:13px;word-break: break-all;}
</style>
<div id='container'></div>

<script id='afsale_edit' type='text/html'>
     <div class="page_topbar">
        <a href="javascript:;" class="back" onclick="history.back()"><i class="fa fa-angle-left"></i></a>
        <div class="title"><%if afsale%>修改售后申请<%else%>申请售后<%/if%></div>
    </div>
 <div class="afsale_main" >
        <input type='hidden' id='afsaleid' value="<%afsale.id%>"/>
        <div class="line">
            <div class="label">售后选项</div>
            <div class="info">
                <div class="inner">
                <select id="reason">
                     <option value="退货" <%if afsale.reason=='退货'%>selected<%/if%>>退货</option>
                     <option value="退换" <%if afsale.reason=='退换'%>selected<%/if%>>退换</option>    
					 <option value="咨询" <%if afsale.reason=='咨询'%>selected<%/if%>>咨询</option> 						 
                </select>
                </div>
            </div>
        </div>
        <div class="line"><div class="label">售后说明</div><div class="info"><div class="inner"><input type="text" id="content" placeholder="选填" value="<%if afsale.content%><%afsale.content%><%/if%>"/></div></div></div>      
    </div>
    <div class="afsale_sub1" id='afsale_submit'>确认</div>
</script>

<script id='afsale_info' type='text/html'>
  
      <div class="page_topbar">
        <a href="javascript:;" class="back" onclick="history.back()"><i class="fa fa-angle-left"></i></a>
        <div class="title">查看售后申请</div>
    </div>
    
    <div class="afsale_main" >
        <div class="line">等待商家处理售后申请</div>
        <div class="line1">如果商家同意： 申请将达成，商家会联系你</div>
        <div class="line1">如果商家未处理：请及时与商家联系</div>
    </div>

    <div class="afsale_main" >
        <div class="line">协商详情</div>
        <div class="line1">售后类型：<%afsale.reason%></div>
        <div class="line1">售后说明：<%afsale.content%></div>
        <div class="line1" >申请时间：<%afsale.createtime%></div>
    </div>
    
    <div class="afsale_sub1" id='afsale_change'>修改售后申请</div>
    <div class="afsale_sub2"  id='afsale_cancel'>取消售后申请</div>
</script>

<script language="javascript">
 
    var orderid = "{$_GPC['orderid']}";
    
    require(['tpl', 'core'], function(tpl, core) {
       
           core.json('order/op',{op:'afsale',orderid:orderid},function(json){
               
                    if(json.status==0){
                        core.message(json.result,"{php echo $this->createMobileUrl('order')}",'error');
                        return;
                    }
				
                    if(json.result.afsale){
                         $('#container').html(  tpl('afsale_info',json.result) );    
                     
                          $('#afsale_change').click(function(){
                                 $('#container').html(  tpl('afsale_edit',json.result) );    
                                 bindEdit();
                         });
                   
                         $('#afsale_cancel').click(function(){
                                    if($(this).attr('saving')=='1'){
                                        return;
                                    }
                                     $(this).html('正在处理...').attr('saving',1);
                                     core.json('order/op',{
                                         op:'afsale',
                                         cancel:'true',
                                         id:$('#afsaleid').val(),
                                         orderid:orderid 
                                      },function(canceljson){
                                          if(canceljson.status==1){
                                              location.href = core.getUrl('order/detail',{id:orderid});
                                          }
                                          else{
                                              $(this).html('取消申请').removeAttr('saving');
                                              core.tip.show(canceljson.result);
                                          }
                                     },true,true);

                                })
                    }
                    else{
                         $('#container').html(  tpl('afsale_edit',json.result) );
                         bindEdit();
                    }
                   function bindEdit(){
                       
                            $('#afsale_submit').click(function(){
                               if($(this).attr('saving')=='1'){
                                   return;
                               }
                                $(this).html('正在处理...').attr('saving',1);
                                core.json('order/op',{
                                    op:'afsale',
                                    id:$('#afsaleid').val(),
                                    orderid:orderid,
                                    afsaledata: {
                                        reason: $('#reason').val(),
                                        content: $('#content').val()
                                    }
                                 },function(postjson){
                                     if(postjson.status==1){
                                          location.href = core.getUrl('order/detail',{id:orderid});
                                     }
                                     else{
                                         core.tip.show(postjson.result);
                                         $(this).html('确认').removeAttr('saving');
                                         
                                     }
                                },true,true);

                           });
                  }
                   
                   
           },true);
      
    })
</script>
{template 'common/footer'}