{template 'common/header'}
<div class="main">
    <ul class="nav nav-tabs">
     <li><a href="{php echo $this->createWebUrl('manage');}">排号管理</a></li>
     <li><a href="{php echo $this->createWebUrl('queue',array('rid'=>$rid));}">队列管理</a></li>
     <li  class="active"><a href="{php echo $this->createWebUrl('fans',array('rid'=>$rid));}">排号统计</a></li>
    </ul>
     
    <div class="panel panel-info">
	<div class="panel-heading">筛选</div>
	<div class="panel-body">
		<form action="./index.php" method="get" class="form-horizontal" role="form">
			<input type="hidden" name="c" value="site" />
			<input type="hidden" name="a" value="entry" />
        	<input type="hidden" name="m" value="xwz_queue" />
        	<input type="hidden" name="do" value="fans" />
                <input type="hidden" name="rid" value="{$rid}" />
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">昵称</label>
				<div class="col-sm-8 col-lg-9">
					<input class="form-control" name="keyword" id="" type="text" value="{$_GPC['keyword']}">
				</div>
                                <div class=" col-xs-12 col-sm-2 col-lg-2">
					<button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
				</div>
			</div>
 			<div class="form-group">
			</div>
		</form>
	</div>
 
    </div>
    <div class='panel panel-default'>
        <div class='panel-body'>
            

        <table class="table table-hover">
            <thead class="navbar-inner">
                <tr>
                    <th style='width:100px'>ID</th>
                   
                    <th style='width:100px'>头像</th>
                    <th>昵称</th>
                    
                    <th>取号次数</th>
                    <th>过号次数</th>
                    <th>取消次数</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {loop $list $row}
                 <tr>
                     <td>{$row['id']}</td>
	  <td>
                       <img src='{$row['headimgurl']}' style='width:50px;height:50px;' />
                    </td>
                    <td>{$row['nickname']} </td>
                    <td>{$row['suc']} </td>
                    <td>{$row['past']} </td>
                    <td>{$row['cancel']} </td>
                    <td>{if $row['status']==0}
                        <span class='label label-success'>正常</span>
                        {else if $row['status']==1}
                        <span class='label label-default'>黑名单</span>
                        {/if}
                    </td>
                    <td>
                        {if $row['status']==0}
                        <a class="btn btn-danger" rel="tooltip"href="javascript:;" onclick="drop_confirm('您确定要取消黑名单吗?', '{php echo $this->createWebUrl('blacklist',array('rid'=>$row['rid'],'id'=>$row['id'],'status'=>1))}');" title="加入黑名单"><i class="fa fa-plus"></i> 加入黑名单</a>
                        {else}
                         <a class="btn btn-default" rel="tooltip" href="javascript:;" onclick="drop_confirm('您确定要取消黑名单吗?', '{php echo $this->createWebUrl('blacklist',array('rid'=>$row['rid'],'id'=>$row['id'],'status'=>0))}');"  title="取消黑名单"><i class="fa fa-minus"></i> 取消黑名单</a>
                        {/if}
                    </td>
                </tr>
                {/loop}
            </tbody>
        </table>
        {$pager}
          </div>
    </div>
 
<script language='javascript'>
            function drop_confirm(msg, url){
                    if (confirm(msg)){
                    window.location = url;
                    }
            }

</script>
{template 'common/footer'}