{template 'common/header'}
<div class="main">
    <ul class="nav nav-tabs">
       <li><a href="{php echo $this->createWebUrl('manage');}">排号管理</a></li>
     <li class="active"><a href="{php echo $this->createWebUrl('queue',array('rid'=>$rid));}">队列管理</a></li>
     <li><a href="{php echo $this->createWebUrl('fans',array('rid'=>$rid));}">排号统计</a></li>
    </ul>
 
    <div clas='panel panel-default'>
        <div class='panel-body'>
            {loop $types $t}
            <a class='btn {if $t['id']==$_GPC['typeid']}btn-success{else}btn-default{/if}' href='{php echo $this->createWebUrl('queue',array('rid'=>$rid,'typeid'=>$t['id']))}'>{$t['tag']} ({$t['num']})</a>
            {/loop}
            <a class='btn btn-danger' href='javascript:;' onclick="drop_confirm('您确定要清空队列吗?', '{php echo $this->createWebUrl('clearqueue',array('rid'=>$rid))}');"><i class="fa fa-close"></i> 清空队列</a>
        </div>
    </div>
    
    <div style="padding:15px;">
        <table class="table table-hover">
            <thead class="navbar-inner">
                <tr>
                    <th style='width:100px'>序号</th>
               <th style='width:100px'>头像</th>
               <th>昵称</th>
         
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {loop $list $row}
                 <tr>
	  <td>
                       {$row['tag']}{$row['number']}
                    </td>
                    <td><img src="{$row['headimgurl']}" style="width:50px;height:50px;" /></td>
                    <td>{$row['nickname']} </td>
                    
                   
                    <td>{if $row['status']==0}
                        <span class='label label-primary'>等待</span>
                        {else if $row['status']==1}
                        <span class='label label-success'>使用</span>
                        {else if $row['status']==-1}
                        <span class='label label-default'>放弃</span>
                        {/if}
                    </td>
                    <td>
                        {if $row['status']==0}
                        <a class="btn btn-success" rel="tooltip" href="#" onclick="drop_confirm('您确定已经使用?', '{php echo $this->createWebUrl('used',array('id'=>$row['id'],'rid'=>$row['rid'],'typeid'=>$row['typeid']));}')" title="确认使用"><i class="fa fa-user-md"></i> 确认使用</a>
                        <a class="btn btn-default" rel="tooltip" href="#" onclick="drop_confirm('您确定要放弃?', '{php echo $this->createWebUrl('faild',array('id'=>$row['id'],'rid'=>$row['rid'],'typeid'=>$row['typeid']));}')" title="放弃"><i class="fa fa-dropbox"></i> 放弃</a>
                        {/if}
                    </td>
                </tr>
                {/loop}
            </tbody>
        </table>
        {$pager}
    </div>

</div>
<script language='javascript'>
            function drop_confirm(msg, url){
                    if (confirm(msg)){
                    window.location = url;
                    }
            }

</script>
{template 'common/footer'}