@charset "utf-8";
html, body, div, object, pre, code, h1, h2, h3, h4, h5, h6, p, span, em, cite, del, a, img, ul, li, ol, dl, dt, dd, fieldset, legend, form, input, button, textarea, header, section, footer, article, nav, aside, menu, figure, figcaption {
    margin:0;
    padding:0;
    font-family:Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;
    outline:none
}
h1, h2, h3, h4, h5, h6, sup {
    font-size:100%;
    font-weight:normal
}
fieldset, img {
    border:0;
}
mark {
    background:transparent;
}
header, section, footer, article, nav, aside, menu {
    display:block
}
.clr {
    display:block;
    clear:both;
    height:0;
    overflow:hidden;
}
/*table {
border-collapse:collapse;
border-spacing:0;
}*/
ol, ul, li {
    list-style:none;
}
em {
    font-style:normal
}
label, input, button, textarea {
    border:none;
    vertical-align:middle;
}
html, body {
    width:100%;
    overflow-x:hidden
}
html {
    -webkit-text-size-adjust:none;
}
body {
    font-family:Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;
    margin:0;
    padding: 0;
    color:#666;text-decoration: none;
    background-color:#000;
    font-size:14px;
}
a {
    text-decoration:none;
    color:#464646;
    outline:none;
}
a, li, input, button {
    outline:none;
}
.clr {
    display:block;
    clear:both;
    height:0;
    overflow:hidden;
}
.copyright{padding: 0 0 8px 0;font-size: 12px;color: rgba(255, 255, 255, 0.6);text-align: center;}
.copyright a{color:rgba(255, 255, 255, 0.6);}
/**/
.cardWrap{ position:relative;min-height: 100%;}
.hot {
    height: 30px;line-height: 30px;color: #ffffff;text-align:center;background: rgba(0,0,0,0.5);font-size:12px; position: fixed; z-index:2; width:100%;}
.cardbg{ position: fixed; top:0; left:0; right:0; bottom:0; z-index:1; width:100%; }
.messageBox{ position: fixed; bottom:0; width:100%; z-index:900}
.user{margin: 0 15px;background-color:rgba(255,255,255,0.9);border-radius: 3px;font-size: 14px;line-height: 18px;
    color: #f66;left:15px;right:15px; padding:10px 10px 5px 10px;box-shadow: inset 0 1px 3px rgba(0,0,0,0.61); height:108px;}
.message{height:70px; overflow-x:hidden;-webkit-overflow-scrolling:touch;}
.name{ display:block; text-align:right; height:20px}
.time{ font-size:12px; display:block; text-align:right;}
.sendBtn-box {padding: 5px 15px 10px; clear:both}
.messageBox input, .messageBox textarea{ font-size:14px;background-color:transparent;}
.messageBox input{ text-align:right; height:20px}
.messageBox textarea{ text-align:left; width:100%; height:70px; overflow: hidden;font-size: 14px;line-height: 18px; }
.sendBtn {
    display: block;
    height: 39px;
    line-height: 39px;
    font-size: 18px;
    border-radius: 3px;
    background-color: #08BC05;
    box-shadow: 0 1px 1px rgba(7,56,28,.61), inset 0 1px 1px rgba(255,255,255,.51);
    border: solid 1px #08BC05;
    color: #fff;
    text-align:center;
}
.sendBtn:active {
    background: #2ab462;
}
.sendBtn span{ font-size:12px; margin-left:3px;}
#sharemcover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 20000;
}
#sharemcover img {
    position: fixed;
    right: 18px;
    top: 5px;
    width: 260px;
    height: 180px;
    z-index: 20001;
    border:0;
}
.selectstyle {
    display: block;
    line-height: 22px;
    position: relative;
    border:0;
    margin: 5px 0;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.61);
    border-radius: 3px;
    background-clip: padding-box;
    padding: 6px 0;
    font-size: 14px;
    width: 100%;
    -webkit-appearance: button;
    -webkit-user-select: none;
    box-sizing: border-box;
    -webkit-align-items: center;
    -webkit-rtl-ordering: logical;
    text-indent: 6px;
}
.selectstyle:after{content: "▼"; display: block; position: absolute; right: 10px; top:50%; margin-top:-10px; color: #ccc;z-index:1;}
.dh{ margin:0 15px 0 15px;}
.fl{ float:left; width:49%;}
.fr{ float:right; width:49%;}
.arr {
    position: fixed;
    right: 30px;
    top: 25px;
    width: 16px;
    height: 21px;
    background: url(../images/arr.png) center center no-repeat;
    background-size: 16px 21px;
    -webkit-transform: translateY(0);
    -webkit-transition: -webkit-transform 200ms ease-in-out;
    z-index:900;
}
.gift {
    width: 60px;
    height: 60px;
    background: url(../images/heka/gift.png) center center no-repeat;
    background-size: 60px 60px;
    position: fixed;
    right: 8px;
    top: 45px;
    z-index:899;
    cursor:pointer;
    -webkit-transform: rotate(0);
    -webkit-transition: -webkit-transform 500ms ease-in-out;
}