{template 'common/header'}

{template 'common'}

<div class="main">
    <div class="panel panel-default">
    <div class="panel-heading">
   		投票记录<span class="pull-right" style="color:red; padding:10px 10px 0 0;"></span>
    </div>
    <div class="panel-body table-responsive">
    	<form action="" method="post" onsubmit="">
			<table class="table table-hover">
				<thead>
				<tr>
					<th>排名</th>
					<th>投票选项</th>
					<th>投票数量</th>
				</tr>
				</thead>
				<tbody>
				{loop $result $k $option}
				<tr>
					<td>{php echo ++$ranking;}</td>
					<td>
						{loop $option $v}
							<span class="label label-info">{$v['title']}</span>
						{/loop}
					</td>
					<td>
						<span class="label label-success">{$option[0]['vote_num']}票</span>
					</td>
				</tr>
				{/loop}
				</tbody>
			</table>
       </form>
		{$pager}
    </div>
</div>
  <a href="" class="btn btn-default">刷 新</a>
  <a href="javascript:history.back()" class="btn btn-default">返 回</a>
</div>

{template 'common/footer'}