.html{ background:url(/assets/mobile/vweisiteV01/38/bg.png?2012) no-repeat center top,url(/assets/mobile/vweisiteV01/38/bg.gif); background-size: 100% auto,auto 10px;}
footer,
footer a{ color: #b17204;}
.box{padding: 10px 5px 4px 5px; overflow: hidden; text-align: center; background: #000;}
.box,
.box a{color:#fff;}
.index{overflow: hidden; margin: 160px auto 0 auto; width: 300px;}
.index ul,
.index li{ width: 100%; height: 100%; list-style: none; text-align: center;}
.index li a{background:#ffe9c4;}
.index li a:nth-of-type(2){background:#ffe4b6;}
.index li a:nth-of-type(3){background:#ffdda5;}
.index li a:nth-of-type(4){background:#ffedd0;}
.index li a:nth-of-type(5){background:#ffe9c4;}
.index li a:nth-of-type(6){background:#ffe4b6;}
.index li a:nth-of-type(7){background:#fff1db;}
.index li a:nth-of-type(8){background:#ffedd0;}
.index li a:nth-of-type(9){background:#ffe9c4;}
.index li a:nth-of-type(10){background:#ffe4b6;}
.index li a:nth-of-type(11){background:#ffdda5;}
.index li a:nth-of-type(12){background:#ffedd0;}
.index li a:nth-of-type(13){background:#ffe9c4;}
.index li a:nth-of-type(14){background:#ffe4b6;}
.index li a:nth-of-type(15){background:#fff1db;}
.index li a:nth-of-type(16){background:#ffedd0;}
.index li a:nth-of-type(17){background:#ffe9c4;}
.index li a:nth-of-type(18){background:#ffe9c4;}
.mod-index{display:inline-block;
    -webkit-box-sizing:border-box;
    overflow:hidden;
    font-size:35px;
    color:#900a00;
    position:relative;
    width:100px;
    height:100px;
    text-align:center;
    float: left;
}
.mod-index > *{vertical-align: middle; display: table-cell; width: 100%; text-align: center; overflow: hidden;}
.mod-index small{ font-size: 14px; line-height: 30px; display: block; height: 30px; word-spacing:normal; word-break:normal; word-break:break-all;}
.mod-index i{height: 58px; line-height: 58px; overflow: hidden;text-align: center; display: block;}
.mod-index img{ max-height: 100%;vertical-align:top;}
.mod-index .fa{ font-size: 50px;}
.btn-up-1{ background: #999;}
.btn-up-1 .fa{ background: #fff; color: #999;}
.navPop-1 .navPop-btn{ background: #999;}
.navPop-1 .navPop-btn .fa{ background: #fff; color: #999;}
.navPop-wrap>div a{
    background: #999;
    color: #fff;
}
#footer {color: #E2E2E2;}
