{template 'common/header'}
<ul class="nav nav-tabs">
	<!--  <li class="active"><a href="{php echo url('home/welcome/' . $do);}">账号概况 - {$title}</a></li>-->
	<li class="active"><a >账号概况 </a></li>
</ul>
<div class="clearfix welcome-container">
	{if $do != 'ext'}
	<div class="page-header">
		<h4><i class="fa fa-plane"></i> 快捷操作</h4>
	</div>
	<div class="shortcut clearfix">
		<a href="{php echo url('platform/reply', array('m' => 'userapi'))}">
			<i class="fa fa-sitemap"></i>
			<span>自定义接口</span>
		</a>
		{loop $shortcuts $shortcut}
			<a href="{$shortcut['link']}" title="{$shortcut['title']}">
				<img src="{$shortcut['image']}" alt="{$shortcut['title']}" class="img-rounded" />
				<span>{$shortcut['title']}</span>
			</a>
		{/loop}
	</div>
	{/if}
	{if $do == 'platform'}
	{template 'home/welcome-platform'}
	{/if}
	{if $do == 'site'}
	{template 'home/welcome-site'}
	{/if}
	{if $do == 'mc'}
	{template 'home/welcome-mc'}
	{/if}
	{if $do == 'setting'}
	{template 'home/welcome-setting'}
	{/if}
	{if $do == 'ext'}
	{template 'home/welcome-ext'}
	{/if}
	{if $do == 'solution'}
	{template 'home/welcome-solution'}
	{/if}
</div>
{template 'common/footer'}
