{template 'header'}

<link rel="Stylesheet" type="text/css" href="./themes/style71/images/wechat.css" />
    <script type="text/javascript" src="./themes/style71/images/JavaScript/Lib/jquery-1.4.2.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var sUserAgent = navigator.userAgent.toLowerCase();
            if (sUserAgent.match(/android/i) || sUserAgent.match(/ipad/i) || sUserAgent.match(/iphone os/i))
			{
                var mTop = $(".mTop");
                if (mTop.length > 0) {
                    mTop.hide();
                }
                var mPa = $(".mPa");
                if (mPa.length > 0) {
                    mPa.addClass("mPa2");
                }
            }

            if ($(".theType").val() == "2") {
                $(".mTop").addClass("mTop2");
                $(".boU").addClass("boU2");
            }
        })
    </script>

    <style type="text/css">
	   
       html,body{width:100%;background:url('{if empty($_W['styles']['indexbgimg'])}./themes/style71/images/bg_index.jpg{else}{$_W['styles']['indexbgimg']}{/if}') no-repeat scroll 0 bottom;background-size:100% 100%}
    </style>
    <script type="text/javascript">
        $(function () 
		{
            //图片滚动
            var scrollT = 0;
            var scrollS;
            var sLen = $(".defDian a").length;
            if (sLen > 0) 
			{
                scrollS = setInterval(showAuto, 1500);
                $(".defDian a").mouseover(function () 
				{
                    var i = $(this).index();
                    scrollT = i;
                    $(this).addClass("acur").siblings().removeClass("acur");
                    $(".defImg a").eq(i).show().siblings().hide();
                    clearInterval(scrollS);
                }).mouseout(function ()
				{
                    scrollS = setInterval(showAuto, 3500);
                })

                function showAuto() {
                    scrollT = scrollT >= (sLen - 1) ? 0 : ++scrollT;
                    $(".defDian a").eq(scrollT).addClass("acur").siblings().removeClass("acur");
                    $(".defImg a").eq(scrollT).show().siblings().hide();
                }
            }            
        });
    </script>
</head>
<body>
 

<div class="mCon">
    <div id="ctl00_WeChatMain_theme2" class="theme">
        <div class="the2D oH">
            <div class="bgFix fL">
                <div class="fixD">
                    <p class="defPhoP"><img src="./themes/style71/images/logo.jpg" alt="头像" class="defPho" /></p>
                    <div class="oH defNT">
                        <p>学晟惠</p>
                        <p class="mT40">网络科技欢迎您</p>
                    </div>
                </div>
            </div>
            <div class="newNav fR">
				{loop $navs $nav}
                 <a href="{$nav['url']}">{$nav['name']} </a>
				 
                   	{/loop}           
            </div>
        </div>
        <div class="the2"></div>
    </div>
</div>



{template 'footer'}