<footer class="nav_footer">
	<ul class="box">
		<li><a href="javascript:history.go(-1);" >返回</a></li>
		<li><a href="javascript:history.go(1);" >前进</a></li>
		<li><a href="{php echo $this->createMobileUrl('index',array('op'=>'index'))}">首页</a></li>
		<li><a href="javascript:location.reload();" >刷新</a></li>
	</ul>
</footer>

<script type="text/javascript">
	// 微汽车分享
	wx.ready(function () {
		sharedata = {
			title: "{$shareTitle}",
			desc: "{$shareDesc}",
			link: "{$_W['siteurl']}",
			imgUrl: "{$shareThumb}"
		};
		wx.onMenuShareAppMessage(sharedata);
		wx.onMenuShareTimeline(sharedata);
	});
</script>