
{template 'common/header'}
 
<ul class="nav nav-tabs">
    <li class="active">
 <a href="{php echo $this->createWebUrl('index');}"> 学晟惠秀</a></li>
</ul> 
<div class="main">
    <div style="padding:15px;">
	     <h4> 点击下面链接进入</br></h4>
         <h5 class="title"> 
		 <a href="http://xiu.012wz.com" target="_blank"> 学晟惠秀首页</a> | 
		 <a href="http://xiu.012wz.com/#/sample/" target="_blank"> 学晟惠秀客户案例</a> | 
		 <a href="http://xiu.012wz.com/#/show/" target="_blank"> 学晟惠秀秀场中心</a> | 
		 <a href="http://xiu.012wz.com/#/home/login" target="_blank"> 登陆学晟惠秀</a> | 
		 <a href="http://xiu.012wz.com/#/home/register" target="_blank"> 注册学晟惠秀</a> 
		 </h5>
    </div>
</div>
{template 'common/footer'}
