{template 'common/header'}

<div class="main">
    <ul class="nav nav-tabs">
        <li class="active"><a href="{php echo $this->createWebUrl('info');}">信息管理</a></li>
        <li><a href="{php echo $this->createWebUrl('addinfo');}">手动录入信息</a></li>
        <li><a href="{php echo $this->createWebUrl('batchaddinfo');}">批量导入信息</a></li>
    </ul> 
  <div class="panel panel-default">
        <div class="panel-body table-responsive">
            <table class="table table-hover">
                <thead class="navbar-inner">
                    <tr>
                        <th style="width:80px;">序号</th>
                        <th style="width:120px;">手机号码</th>
                        <th style="width:400px;">对应单号</th>
                        <th style="width:100px; text-align:right;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {loop $list $item}
                  <tr> 
                    <td>{$item['id']}</td>
                    <td>{$item['keyword']}</td>
                    <td>{$item['ordercode']}</td>
	                <td style="text-align:right;">
	                  <a class="btn btn-success btn-sm" href="{php echo $this->createWebUrl('addinfo', array('infoid' =>$item['id']))}" title="编辑"><i class="icon-edit"></i>编辑</a>
	                  <a class="btn btn-default btn-sm" href="#" onclick="drop_confirm('您确定要删除吗?', '{php echo $this->createWebUrl('addinfo',array('op'=>'delete', 'infoid' =>$item['id']))}');" title="删除"><i class="icon-remove"></i>删除</a>
                    </td>
                </tr>
                {/loop}
            </tbody>
            </table>
        </div>
        {$pager}
    </div>
    </div>

<script type="text/javascript">
    function drop_confirm(msg, url){
        if(confirm(msg)){
            window.location = url;
        }
    }
</script>
{template 'common/footer'}