﻿@import url(/e/css/comm.css);
@import url(/e/css/focus.css);

/*网站基础样式*/
html{-webkit-text-size-adjust:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,th,td,p,blockquote,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0px;padding:0px;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display: inline;*zoom:1;}
body{word-wrap:break-word;text-align:center;font:12px/1.8 Tahoma,Verdana,Arial,\5b8b\4f53;color:#333; background:white;}

input,select,textarea,button{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
img{border:0;}
li{list-style:none;*margin-left:-1px}
.left{float:left}
.right{float:right}
.clear{display:block;clear:both;font-size:0px;height:0px;line-height:0px;width:0px;margin:0px;padding:0px;overflow:hidden}
a{color:#333;text-decoration:none;}
a:hover{color:#CC0000;text-decoration:none;}
.page_style{margin:0px auto 0px auto;text-align:center;overflow:hidden;}


/*顶部及主菜单样式*/

.top_box{clear:both; background:url(/e/css/image/home-top-bg.jpg) repeat-x; height:76px;}
.top_box_inner{width:1100px; margin:0px auto;}
.top_box .logo{float:left;text-align:left;padding:5px 0 6px 0}
.top_box .topcontent{float:right;text-align:right;padding:5px 0 6px 0}
.menu_box{text-align:left;height:36px; float:right; padding-top:15px;}

.menu_style_homepage{float:left;width:90px;height:36px;text-align:center;}
.menu_style{float:left;width:90px;height:36px;text-align:center;}

a.menu{display:block;line-height:36px;color:#434343;text-decoration:none;font-weight:bold;font-size:15px;}
a.menu:hover {color:#e06666;text-decoration:none;font-weight:bold;}

.menu_current a.menu{}

/*banner样式*/

.banner{clear:both; width:1583px;text-align:center;position:relative;z-index:2; height:453px;}
.smallbanner{clear:both;padding: 0 0 0 0;margin:0 0 5px 0;text-align:left;}

/*网站主体框架样式*/

.main_box_style{clear:both;margin:0px 0 0 0;overflow:hidden;}

.main_box_style1{clear:both;margin:0px 0 0 0;overflow:hidden; width:1100px; margin:0px auto;}
.main_box_style1 .main_box_inner_left{width:1100px;overflow:hidden;text-align:left;}
.main_box_style1 .main_box_inner_right{width:1100px;overflow:hidden;text-align:left; background:#fafdff;}

.main_box_style2{clear:both;margin:3px 0 0 0;overflow:hidden;}
.main_box_style2 .main_box_inner_left{float:left;width:770px;margin:0 10px 0 0;overflow:hidden;text-align:left;}
.main_box_style2 .main_box_inner_right{float:right;width:220px;margin:0 0 0 0;overflow:hidden;text-align:left;}

.main_box_style3{clear:both;margin:3px 0 0 0;overflow:hidden;}
.main_box_style3 .main_box_inner_left{float:left;width:220px;margin:0 10px 0 0;overflow:hidden;text-align:left;}
.main_box_style3 .main_box_inner_middle{float:left;width:540px;margin:0 0 0 0;overflow:hidden;text-align:left;}
.main_box_style3 .main_box_inner_right{float:right;width:220px;margin:0 0 0 10px;overflow:hidden;text-align:left;}


/*导航样式*/
.nav_box{clear:both;width:1100px; margin:0px auto; background:#fafdff; display:block; padding-bottom:60px;}

.nav_title{height:37px;text-align:left;erflow:hidden; background:url(/e/css/image/leftti.png) no-repeat left center; margin-left:-6px; margin-top:10px; color:white; font-size:15px; font-weight:bold;}

.nav_sign{float:left;text-align:left;padding:5px 0 0 22px;}
.nav_more{float:right;font-weight:normal;padding:8px 10px 0 10px;margin:0 0 0 0; display:none;}
.nav_more a{line-height:15px;font-size:10px; display:none;}

.nav_content{margin:0 0 0 0;padding:5px 5px 5px 5px;border:0px solid #cccccc;text-align:left;}

.nav_menu{text-align:center; padding-top:30px; width:380px; margin:0px auto; }

#nav_141{ display:none;}
.nav_menu li{ float:left;text-align:center; height:30px; width:100px; margin-left:10px; margin-right:10px;}
.nav_menu li a{line-height:28px; font-size:16px; color:#434343; display:block;}
.nav_menu li a:hover{color:white; background:#6AA84F; border-radius:7px;}
.nav_menu li a.current{color:#434343;}

.nav_menu li ul li{text-align:left;background-image:none;padding:0 0 0 5px;}
.nav_menu li ul li a{display:inline;line-height:22px;}
.nav_menu li ul li a.current{color:#cc0000}

.nav_menu ul li ul li ul{padding:0 0 0 15px;}
.nav_menu ul li ul li span.node{float:left;height:22px;width:15px;background:url(images/node_open.gif) no-repeat 0 0;cursor:pointer;}
.nav_menu ul li ul li span.node_close{float:left;height:22px;width:15px;background:url(images/node_close.gif) no-repeat 0 0;cursor:pointer;}
.nav_menu ul li ul li span{float:left;height:22px;width:15px;background:url(images/subnav.gif) no-repeat 0 0;}

/*模块样式*/  
.module_box{clear:both;margin:0 0 0px 0;}                 /*模块整行布局样式*/
.module_box_layout_left{float:left;overflow:hidden;}  /*模块左布局样式*/
.module_box_layout_right{float:right;margin:0 0 0px 0;overflow:hidden;}   /*模块右布局样式*/

#module_184{ background:#F5F5F5; padding-bottom:25px; padding-top:10px; margin-top:20px;}
#module_185{ background:#93C47D;}
#module_186{ background:#F1F1F1; padding-top:15px; padding-bottom:30px;}
#module_187{ background:#FEE157; padding-top:20px; padding-bottom:20px;}

#module_189{ background:#F5F5F5;}
#module_191{padding-top:20px;}
#module_190{ background:#6D9EEB; padding-bottom:35px;}
#module_192{ background:#93C47D; padding-bottom:25px; line-height:550px;}

.module_box_inner{clear:both;text-align:center;padding:5px 0 5px 0;overflow:hidden;}/*模块内层容器样式*/
.module_box_layout_left .module_box_inner{clear:both;text-align:center;} /*模块居左时重写内层样式*/

.module_title{margin:0 0 0 0;height:35px;text-align:left;}
.module_sign{float:left;text-align:left;line-height:35px;font-weight:bold; color:#333; font-size:15px;}
.module_more{float:right;font-weight:normal;padding:0px 10px 0 10px;}
.module_more a{line-height:30px;font-size:13px; color:#333; display:block; height:30px; text-align:center; width:100px;}
.module_more a:hover{  background:#e06666; color:white; border-radius:13px;}

.module_content{margin:0 0 0 0;padding:5px 10px 0 10px;text-align:left;border:0 solid #cccccc;}

.module_footer{clear:both;height:1px;overflow:hidden;background-color:#cccccc;display:none}
.module_footer .l{float:left;}
.module_footer .r{float:right}

/*子栏目样式*/
.lanmupage .current_location{display:none}
.current_location{clear:both;text-align:left;border:1px solid #D3E1ED;border-width:0 0 0px 0;height:35px; display:none;}
.current_location_1{float:right;padding:0px 10px 0 0; color:#000; line-height:35px; display:none;}
.current_location_2{float:left;font-weight:bold; font-size:14px; color:#2D648F; line-height:35px; padding-left:15px; padding-right:15px; border-bottom:#69CBF1 3px solid; display:none;}

.sublanmu_box{text-align:left;padding-bottom:10px;}
.sublanmu_content{padding:10px 10px 10px 10px;text-align:left;}
.sublanmu_content_introduct{line-height:2.0;font-size:1.1em} /*自定义内容子栏目样式*/
.sublanmu_content_introduct p{margin-bottom:10px;min-height:10px}

.sublanmu_page{clear:both;text-align:center;margin:15px 0 10px 0;font-size:12px;font-family:宋体;}
.sublanmu_page a{vertical-align:middle;zoom:1;height:15px;line-height:15px;padding:2px 8px 3px 8px;border:1px solid #cccccc;}
.sublanmu_page span.c{padding:2px 2px 3px 2px;font-weight:bold;border:0px solid #cccccc;}
.sublanmu_page span{vertical-align:middle;zoom:1;height:15px;line-height:15px;padding:2px 8px 3px 8px;}
.sublanmu_page span.c{padding:2px 2px 3px 2px;border:0px solid #cccccc;}


.sublanmu_pn{font-size:13px;margin:15px 0 5px 0}
.sublanmu_pn li{color:#D33506}

/*评论*/
.comments_box{text-align:left;border:1px solid #cccccc;margin:10px 0 10px 0;}
.comments_box .title{padding:2px 0 0 10px;height:20px;font-weight:bold;background-color:#ececec}
.comments_box ul li{padding:5px 0 5px 25px;}
.comments_box .textarea{width:520px;height:100px;border:1px solid #cccccc;border-color:#000000 #cccccc #cccccc #000000;}

.comments_list{padding:5px 0 0 0;border:0px solid #cccccc;overflow:hidden}
.comments_list .title{display:block;padding:2px 0 3px 5px;height:18px;width:100%;font-weight:bold;}
.comments_list .item{clear:both;margin:0 0 10px 0;overflow:hidden}
.comments_list .header{padding:3px 0 0 10px;height:22px;background-color:#eeeeee}
.comments_list .header .floornum{font-size:12px;font-style:Italic;font-weight:bold}
.comments_list .header .left{float:left}
.comments_list .header .right{float:right;padding-right:10px}
.comments_list .quote{display:block;color:#999999;padding:5px 5px 5px 10px;border:1px solid #ececec}
.comments_list .content{padding:5px 5px 5px 15px}
.comments_list .reply{background:url(public/reply.gif) no-repeat 5px 5px;border:1px dashed #cccccc;padding:2px 5px 2px 25px;margin:2px 0 5px 0;color:#D33506}

.comments_page{clear:both;vertical-align:middle;text-align:right;background-color:#ffffff;margin:10px 0 10px 0;font-family:宋体;}
.comments_page a{height:15px;line-height:15px;vertical-align:middle;zoom:1;padding:2px 8px 2px 8px;border:1px solid #cccccc;font-size:12px}
.comments_page span{height:15px;line-height:15px;vertical-align:middle;zoom:1;padding:2px 5px 2px 5px;font-size:12px}
.comments_page span.c{vertical-align:middle;padding:2px 3px 2px 3px;font-weight:bold;font-size:12px;}

/*bottom样式*/

.bottom_box{clear:both;margin:0px 0 5px 0;text-align:left;width:100%;background:#414B4A;height:100px;padding:15px 0px 20px 0px;}

/*登陆界面*/
.loginbox_item{height:20px;padding:0 0 0 0;padding:0 5px 5px 0;text-align:left;font-size:9pt;}
.loginbox_textbox{width:100px;height:15px;border:0 solid #cccccc;border-width:1px 1px 1px 1px}
.loginbox_textbox_yzm{width:40px;height:15px;border:0 solid #cccccc;border-width:1px 1px 1px 1px}
.loginbox_submit{width:90px;height:20px;border:0 solid #333333;border-width:0 1px 1px 0;background-color:#dddddd;cursor:pointer;}
a.logined_href:link{font-size:9pt;color:#FF0000;text-decoration:underline}
a.logined_href:visited{font-size:9pt;color:#FF0000;;text-decoration:underline}
a.logined_href:hover{font-size:9pt;color:#FF0000;text-decoration:underline}
