{template 'template_script'}
<style>
</style>
<div class="row span8">
    <div class="col-xs-2 col-md-2 template_picker">
        <div class="thumbnail" style="text-align:center;width:120px;" title="点击打开新窗口查看大图">
            <img class="showTip" style="height:100px;overflow:hidden;"
                 bigimg="../addons/amouse_article/template/mobile/images/wemedia.png"
                 src="../addons/amouse_article/template/mobile/images/wemedia.png" alt="wemedia列表">
                 <span style="display:block;white-space: nowrap;text-overflow:ellipsis; overflow:hidden">
                       wemedia列表(推荐)
                </span>

            <div class="radio">
                <label>
                    <input type="radio" name="template" value="12" {if $category['template']=='12'}
                    checked="checked"{/if}>选择
                </label>
            </div>
        </div>
    </div>
    <div class="col-xs-2 col-md-2 template_picker">
        <div class="thumbnail" style="text-align:center;width:120px;" title="点击打开新窗口查看大图">
            <img class="showTip" style="height:100px;overflow:hidden;"
                 bigimg="../addons/amouse_article/style/images/priview1.png"
                 src="../addons/amouse_article/style/images/priview1.png" alt="列表1">
             <span style="display:block;white-space: nowrap;text-overflow:ellipsis; overflow:hidden">
                        列表1
            </span>

            <div class="radio">
                <label>
                    <input type="radio" name="template" value="1" {if $category['template']=='1'}
                    checked="checked"{/if}>选择
                </label>
            </div>
        </div>
    </div>

    <div class="col-xs-2 col-md-2 template_picker">
        <div class="thumbnail" style="text-align:center;width:120px;" title="点击打开新窗口查看大图">
            <img class="showTip" style="height:100px;overflow:hidden;"
                 bigimg="../addons/amouse_article/style/images/priview2.png"
                 src="../addons/amouse_article/style/images/priview2.png" alt="列表1">
             <span style="display:block;white-space: nowrap;text-overflow:ellipsis; overflow:hidden">
                        列表2
            </span>

            <div class="radio">
                <label>
                    <input type="radio" name="template" value="2" {if $category['template']=='2'}
                    checked="checked"{/if}>选择
                </label>
            </div>
        </div>
    </div>

    <div class="col-xs-2 col-md-2 template_picker">
        <div class="thumbnail" style="text-align:center;width:120px;" title="点击打开新窗口查看大图">
            <img class="showTip" style="height:100px;overflow:hidden;"
                 bigimg="../addons/amouse_article/style/images/priview3.png"
                 src="../addons/amouse_article/style/images/priview3.png" alt="列表1">
             <span style="display:block;white-space: nowrap;text-overflow:ellipsis; overflow:hidden">
                        列表3
            </span>

            <div class="radio">
                <label>
                    <input type="radio" name="template" value="3" {if $category['template']=='3'}
                    checked="checked"{/if}>选择
                </label>
            </div>
        </div>
    </div>

    <div class="col-xs-2 col-md-2 template_picker">
        <div class="thumbnail" style="text-align:center;width:120px;" title="点击打开新窗口查看大图">
            <img class="showTip" style="height:100px;overflow:hidden;"
                 bigimg="../addons/amouse_article/style/images/priview4.png"
                 src="../addons/amouse_article/style/images/priview4.png" alt="列表1">
             <span style="display:block;white-space: nowrap;text-overflow:ellipsis; overflow:hidden">
                        列表4
            </span>

            <div class="radio">
                <label>
                    <input type="radio" name="template" value="4" {if $category['template']=='4'}
                    checked="checked"{/if}>选择
                </label>
            </div>
        </div>
    </div>

    <div class="col-xs-2 col-md-2 template_picker">
        <div class="thumbnail" style="text-align:center;width:120px;" title="点击打开新窗口查看大图">
            <img class="showTip" style="height:100px;overflow:hidden;"
                 bigimg="../addons/amouse_article/style/images/priview5.png"
                 src="../addons/amouse_article/style/images/priview5.png" alt="列表1">
             <span style="display:block;white-space: nowrap;text-overflow:ellipsis; overflow:hidden">
                        列表5
            </span>

            <div class="radio">
                <label>
                    <input type="radio" name="template" value="5" {if $category['template']=='5'}
                    checked="checked"{/if}>选择
                </label>
            </div>
        </div>
    </div>

    <div class="col-xs-2 col-md-2 template_picker">
        <div class="thumbnail" style="text-align:center;width:120px;" title="点击打开新窗口查看大图">
            <img class="showTip" style="height:100px;overflow:hidden;"
                 bigimg="../addons/amouse_article/style/images/priview6.png"
                 src="../addons/amouse_article/style/images/priview6.png" alt="列表6">
             <span style="display:block;white-space: nowrap;text-overflow:ellipsis; overflow:hidden">
                        列表6
            </span>

            <div class="radio">
                <label>
                    <input type="radio" name="template" value="6" {if $category['template']=='6'}
                    checked="checked"{/if}>选择
                </label>
            </div>
        </div>
    </div>

    <div class="col-xs-2 col-md-2 template_picker">
        <div class="thumbnail" style="text-align:center;width:120px;" title="点击打开新窗口查看大图">
            <img class="showTip" style="height:100px;overflow:hidden;"
                 bigimg="../addons/amouse_article/style/images/priview7.png"
                 src="../addons/amouse_article/style/images/priview7.png" alt="列表1">
             <span style="display:block;white-space: nowrap;text-overflow:ellipsis; overflow:hidden">
                        列表7
            </span>

            <div class="radio">
                <label>
                    <input type="radio" name="template" value="7" {if $category['template']=='7'}
                    checked="checked"{/if}>选择
                </label>
            </div>
        </div>
    </div>

    <div class="col-xs-2 col-md-2 template_picker">
        <div class="thumbnail" style="text-align:center;width:120px;" title="点击打开新窗口查看大图">
            <img class="showTip" style="height:100px;overflow:hidden;"
                 bigimg="../addons/amouse_article/style/images/priview8.png"
                 src="../addons/amouse_article/style/images/priview8.png" alt="列表1">
             <span style="display:block;white-space: nowrap;text-overflow:ellipsis; overflow:hidden">
                    列表8
            </span>

            <div class="radio">
                <label>
                    <input type="radio" name="template" value="8" {if $category['template']=='8'}
                    checked="checked"{/if}>选择
                </label>
            </div>
        </div>
    </div>
	
	<div class="col-xs-2 col-md-2 template_picker">
        <div class="thumbnail" style="text-align:center;width:120px;" title="点击打开新窗口查看大图">
            <img class="showTip" style="height:100px;overflow:hidden;"
                 bigimg="../addons/amouse_article/style/images/priview9.png"
                 src="../addons/amouse_article/style/images/priview9.png" alt="列表9">
             <span style="display:block;white-space: nowrap;text-overflow:ellipsis; overflow:hidden">
                    列表9
            </span>

            <div class="radio">
                <label>
                    <input type="radio" name="template" value="9" {if $category['template']=='9'}
                    checked="checked"{/if}>选择
                </label>
            </div>
        </div>
    </div>
	<div class="col-xs-2 col-md-2 template_picker">
        <div class="thumbnail" style="text-align:center;width:120px;" title="点击打开新窗口查看大图">
            <img class="showTip" style="height:100px;overflow:hidden;"
                 bigimg="../addons/amouse_article/style/images/priview10.png"
                 src="../addons/amouse_article/style/images/priview10.png" alt="列表10">
             <span style="display:block;white-space: nowrap;text-overflow:ellipsis; overflow:hidden">
                    列表10
            </span>

            <div class="radio">
                <label>
                    <input type="radio" name="template" value="10" {if $category['template']=='10'}
                    checked="checked"{/if}>选择
                </label>
            </div>
        </div>
    </div>
	<div class="col-xs-2 col-md-2 template_picker">
        <div class="thumbnail" style="text-align:center;width:120px;" title="点击打开新窗口查看大图">
            <img class="showTip" style="height:100px;overflow:hidden;"
                 bigimg="../addons/amouse_article/style/images/priview11.png"
                 src="../addons/amouse_article/style/images/priview11.png" alt="列表11">
             <span style="display:block;white-space: nowrap;text-overflow:ellipsis; overflow:hidden">
                    列表11
            </span>

            <div class="radio">
                <label>
                    <input type="radio" name="template" value="11" {if $category['template']=='11'}
                    checked="checked"{/if}>选择
                </label>
            </div>
        </div>
    </div>
	


    {if $_W['isfounder']}
    <div class="col-xs-2 col-md-2 template_picker">
        <div class="thumbnail" style="text-align:center;width:120px;" title="查看更多模板主题">
            <a target="_blank" href="http://w.mamani.cn/article.html">
                <div style="height:100px;overflow:hidden;padding-top:20px">
        <span style="padding:10px;font-size:30pt;border:1px dotted gray">
          <span class="glyphicon glyphicon-plus"></span>
        </span>
                </div>
            </a>
            <span style="display:block;white-space: nowrap;text-overflow:ellipsis; overflow:hidden">
              浏览更多模板
            </span>
            <div class="radio">
                <label>
                   管理员可见
                </label>
            </div>
        </div>
    </div>
    {/if}

</div>
