@charset "utf-8";
html,body,div,span,p,h1,h2,h3,h4,h5,h6,em,img,strong,blockquote,
sub,sup,tt,i,b,dd,dl,dt,form,label,table,caption,
tbody, tfoot, thead,tr,th,td,ul,li,p,a,ol{ margin:0;padding:0;}
body{ font-size:12px;font-family:"微软雅黑";  color:#a7a7a7; background:#c41921 }
input,select,textarea{vertical-align:middle;}
input[type="text"],input[type="submit"],input[type="button"]{-webkit-appearance: none;}/*去掉ios系统默认样式*/
table{border-collapse:collapse;border-spacing:0;}
img{ border:0;}
em,i{font-style:normal;}
ul,ol,li{list-style-type:none;}
div{ margin:0 auto}
.clear{clear:both;font-size:0px; line-height:0px; height:0px} 
.left{ float:left}
.right{ float:right;}
.yahei{ font-family:"微软雅黑"}


a{color:#fff;text-decoration:none;}
a:hover,a:active,a:focus{ text-decoration:underline;color:#fff;}


html{ font-size:62.5%;}
body{ font-size:12px; font-size:1.2rem;}
/*兑换*/

.ad{ text-align:center; width:100%}
.ad img{width:100%}

.exchange{ margin-top:39px; position:relative;  width:100%;}
.exchange h1{ height:300px;}
.exchange dl{ width:80%; margin:0 auto 0}
/*.exchange dl dt .input_2{ margin-top:24px;}*/
.exchange dl dd .backhome{color:#333; margin-top:16px; }
.exchange dl dd .backhome a{display: inline-block; color: #cc0000; font-size: 16px;}
.exchange dl dd h2{ color:#b14b0b; font-size:13px; font-size:1.3rem; font-weight:normal; padding-bottom:16px; padding-top:25px;}
.exchange dl dd .txt{ color:#70706e; padding-left:17px; font-size:11px; font-size:1.1rem;}

.exchange_input_1{ width:100%; height:50px; background:#e4d49c; border:0;-moz-border-radius:8px; -webkit-border-radius:8px;border-radius:8px; color:#322d1d; font-size:1.8rem; line-height:50px; text-indent:10px;}
.exchange_input_2{ width:100%; height:50px; background:#c41921; border:0;-moz-border-radius:8px; -webkit-border-radius:8px;border-radius:8px; color:#f9e000;  font-size:1.8rem; line-height:50px; margin-top:24px; }

/*兑换奖品*/

.dh1{ position:relative;}
.lp_img{  width:80%;  margin:0 auto 0; text-align:center}
.lp_img img{ width:100%;  }

.dh1 h1{ height:250px;}
.dh1 h2{ width:80%; margin:0 auto 0; color:#b14b0b; font-size:13px; font-size:1.3rem; font-weight:normal; padding-bottom:10px; padding-top:17px;}
.dh1 .txt{ color:#6f6f6f; font-size:11px; font-size:1.1rem; width:80%;}

.dh2{ margin-top:13px; position:relative;}
.dh2 h1{  width:80%; margin:0 auto 0; color:#b14b0b; font-weight:normal; padding-bottom:20px; font-size:13px; font-size:1.3rem;}
.dh2 ul{ width:80%; margin:0 auto 0;}
.dh2 li{ padding-bottom:10px;}
.input_1{ width:100%; height:37px; background:#e4d49c; border:0;-moz-border-radius:8px; -webkit-border-radius:8px;border-radius:8px; color:#91855c; font-size:13px; font-size:1.3rem; text-indent:10px;}
.input_2{ width:100%; height:37px; background:#c41921; border:0;-moz-border-radius:8px; -webkit-border-radius:8px;border-radius:8px; color:#f9e000; font-size:13px; font-size:1.3rem; }

.input_11{ width:100%; height:45px; background:#e4d49c; border:0;-moz-border-radius:8px; -webkit-border-radius:8px;border-radius:8px; color:#91855c; font-size:13px; font-size:1.3rem; text-indent:10px;}


/*支付运费*/
.yfzf{ padding:13px; background:#FFF; margin-bottom:15px; color:#6f6f6f; line-height:19px; font-size:11px; font-size:1.1rem;  margin:0 auto 15px; clear:both}
.yfzf img{}
.yfzf textarea{ border:0; width:100%; color:#666; line-height:15px; }
.zfBtn{ background:#c41921; height:42px; line-height:42px; color:#FFF; font-size:15px; font-size:1.5rem; border:0; width:94%; margin:23px 3%;}


.yf2{ padding:13px; background:#FFF;  color:#000; line-height:37px; font-size:11px; font-size:1.1rem;  margin:0 auto 0; clear:both}
.yf2 span{ background:url(../images/icon.jpg) no-repeat right center; float:right; color:#999; padding-right:34px;}


.yf3{  padding:13px; background:#FFF;  color:#000; line-height:37px; font-size:11px; font-size:1.1rem;  margin:0 auto 0; clear:both}
.bd{ border-top:1px #e0e0e0 solid; width:100%; padding-top:20px;}
.input3{ height:40px; line-height:40px; color:#c41921; font-size:15px; font-size:1.5rem; width:50%; border:1px #FFFFFF solid;}
.yf3 span{ background:url(../images/icon.jpg) no-repeat right center; float:right; color:#999; padding-right:34px;}




/* jalert 插件js  + 信息提示*/
#popup_container {font-family: Microsoft Yahei, Arial, sans-serif;font-size: 12px;min-width: 300px; /* Dialog will be no smaller than this */max-width: 600px; /* Dialog will wrap after this width */background: #FFF;border: solid 2px #999;color: #999;-moz-border-radius: 2px;-webkit-border-radius:2px;border-radius:2px;-webkit-box-shadow: 0 0 10px rgb(170, 170, 170);-moz-box-shadow:0 0 10px rgb(170,170,170);box-shadow:0 0 10px rgb(170,170,170);}
#popup_title {font-size: 14px;font-weight: bold;text-align: center;line-height: 1.75em;color: #fff;/* background: #AAA url(../img/sprite.png) top repeat-x; */background-color:#AAA;border-bottom: solid 1px #999;cursor: default;padding: 0em;margin: 0em;}
#popup_content {/* background: 16px 16px no-repeat url(../img/info.gif); */padding: 1em 1.75em;margin: 0em;}
#popup_content.info a{color: #00529B;}
#popup_content.info {color: #333333;background-color: #ffffff;    /* background-image: url(../img/info.png); */}
#popup_content.success {color: #4F8A10;background-color: #DFF2BF;    /* background-image: url(../img/success.png); */}
#popup_content.warning{color: #9F6000;background-color: #FEEFB3;/* background-image: url(../img/warning.png); */}
#popup_content.error {color: #D8000C;background-color: #FFBABA;/* background-image: url(../img/error.png); */}
#popup_content.confirm {        /* background-image: url(../img/important.gif); */}
#popup_content.prompt { /* background-image: url(../img/help.gif); */}
#popup_message {text-align: center;}
#popup_panel {text-align: center;margin: 1em 1em 0em 1em;}
#popup_prompt {margin: .5em 0em;}





/*2016-01-04*/
.address select {background-color: #e4d49c;border: 1px solid;color: #91855c;height: 30px;}
.dh2 .address {line-height: 42px;margin-bottom: 7px;padding-bottom: 0;}
.address_che {font-size: 13px;line-height: 23px;padding-left: 41px;}
.yf3 label i {color: #666666;font-size: 15px;}
.bd .order {margin: 0;width: 50%;}
.bd .order .p1 .r {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;}
.bd .order .p1 {font-size: 16px;line-height: 24px;}