<div class="header">
    <input type="hidden" id="totalprice" value="{$totalprice}" name="totalprice">
    <input type="hidden" id="totalcount" value="{$totalcount}" name="totalcount">
    <div class="left">已选：<span id="cartN"><span id="totalcountshow">{$totalcount}</span>份　总计：￥<span id="totalpriceshow">{$totalprice}</span></span>元</div>
    <div class="right"><a class="xhlbtn" href="{php echo $this->createMobileurl('wapmenu', array('from_user' => $from_user, 'storeid' => $storeid), true)}" style="color: #fff;">选好了</a></div>
</div>