{template 'web/_header'}
{template 'web/shop/tabs'}
{if $operation=='createcard'}
<div class="panel panel-info">
    <div class="panel-heading">发放--兑换券</div>
    <div class="panel-body">
        <form action="" method="post" class="form-horizontal" role="form" id="form1">
           <input type="hidden" name="op" value="createcard" />
        	<div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2  control-label">类型金额</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                       <select name='cardid' class='form-control'>
                         {loop $card $row}
                         <option value={$row['id']} {if $row['id']==$_GPC['id']}selected{/if}>{php echo $row['title'].'['.$row['cdmoney'].']'}</option> 
                         {/loop}                    
                    </select>
                </div>
               </div>        
             <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2  control-label">现金券数量</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" class="form-control"  name="allnum"  /> 
                </div>
            </div>
              <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2  control-label"></label>
                    <div class="col-sm-7 col-lg-9 col-xs-12">
                       <button class="btn btn-default" ><i class="fa fa-search"></i>确定</button>                      
                    </div>
                </div>
        </form>
    </div>
</div>
{/if}
{if $operation=='update'}
<div class="panel panel-info">
    <div class="panel-heading">更新--兑换券类别</div>
    <div class="panel-body">
        <form action="" method="post" class="form-horizontal" role="form" id="form2">
            <input type="hidden" name="ucard" value="card" />
            <input type="hidden" name="op" value="addtype" />
            <input type="hidden" name="id" value="{$tcard['id']}" />            
             <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2  control-label">类型名称</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" class="form-control"  name="title"  value="{$tcard['title']}"/> 
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2  control-label">现金卷绑定的产品</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                       <select name='goodsid' class='form-control' {if $num>0}readonly{/if}>
                         {loop $goods $row}
                         <option value={$row['id']} {if $tcard['goodsid']==$row['id']}selected{/if}>{php echo $row['title']."[".$row['marketprice']."]"}</option> 
                         {/loop}                    
                    </select>
                </div>
               </div>
               <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2  control-label">现金券金额</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" class="form-control"  name="cdmoney" value="{$tcard['cdmoney']}" /> 
                </div>
            </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 control-label">
                      时间</label>
                    <div class="col-sm-7 col-lg-9 col-xs-12">
                        {php echo tpl_form_field_daterange('time', array('starttime'=>date('Y-m-d H:i', $starttime),'endtime'=>date('Y-m-d  H:i', $endtime)),true);}
                    </div>
                         
                </div>
              <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2  control-label"></label>
                    <div class="col-sm-7 col-lg-9 col-xs-12">
                       <button class="btn btn-default" onclick="return check()"><i class="fa fa-search"></i> 更新</button>                      
                    </div>
                </div>
            <div class="form-group">
            </div>
        </form>
    </div>
</div>
{/if}
{if $operation=='display'}
<div class="panel panel-info">
    <div class="panel-heading">添加--兑换券类别 </div>
    <div class="panel-body">
        <form action="" method="post" class="form-horizontal" role="form" id="form3">
            <input type="hidden" name="op" value="addtype" />          
             <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2  control-label">类型名称</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" class="form-control"  name="title"  /> 
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2  control-label">现金卷绑定的产品</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                       <select name='goodsid' class='form-control' id="gmy">
                       	 <option value=''></option> 
                         {loop $goods $row}
                         <option alt={$row['marketprice']} value={$row['id']} {if $_GPC['goodsid']==$row['id']}selected{/if}>{php echo $row['title']."[".$row['marketprice']."]"}</option> 
                         {/loop}                    
                    </select>
                </div>
               </div>
               <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2  control-label">现金券金额</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input onblur="checkmy(this)" type="text" class="form-control"  name="cdmoney" value="{$_GPC['cdmoney']}" placeholder='请输入不大于产品金额的数字'/> 
                </div>
            </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 control-label">
                      时间</label>
                    <div class="col-sm-7 col-lg-9 col-xs-12">
                        {php echo tpl_form_field_daterange('time', array('starttime'=>date('Y-m-d H:i', $starttime),'endtime'=>date('Y-m-d  H:i', $endtime)),true);}
                    </div>
                         
                </div>
              <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2  control-label"></label>
                    <div class="col-sm-7 col-lg-9 col-xs-12">
                       <button class="btn btn-default" onclick="return check()"><i class="fa fa-search"></i> 添加</button>                      
                    </div>
                </div>
        </form>
    </div>
</div>
<script type="text/javascript">
function checkmy(tt)
{
	val=$(tt).val();
	my=$("#gmy option:selected").attr("alt");
	if(val=='')
	{
		alert("请输入金额");
	}
	else
	{
		if(val>my)
		{
			alert("请输入不大于产品金额的数字")
		}
	}
}
function check()
{
	val=$("input[name=title]").val();
	goodsid=$("select[name=goodsid] option:selected").val();
	cdmoney=$("input[name=cdmoney]").val();
	if(val=='')
	{
		alert("请输入标题");
		return false;
	}
	if(goodsid=='')
	{
		alert("请选择商品");
		return false;
	}
	if(cdmoney=='')
	{
		alert("请输入金额");
		return false;
	}
}

</script>
<div class="panel panel-info">
    <div class="panel-heading">搜索</div>
    <div class="panel-body">
        <form action="" method="post" class="form-horizontal" role="form" id="form5">
           <input type="hidden" name="op" value="display" />      
             <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2  control-label">类别编号</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" class="form-control"  name="secardid"  value="{$_GPC['secardid']}"/> 
                </div>
            </div>
              <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2  control-label"></label>
                    <div class="col-sm-7 col-lg-9 col-xs-12">
                       <button class="btn btn-default" ><i class="fa fa-search"></i>搜索</button>                      
                    </div>
                </div>
        </form>
    </div>
</div>
<div class="panel panel-default">
      <div class="panel-heading" >兑换券-类别列表
       </div>
      
    <div class="panel-body ">
        <table class="table table-hover">
            <thead class="navbar-inner">
                <tr>
                	<th >类别编号</th>
                    <th style='width:30%'>类型名称</th>
                    <th >现金券金额</th>
                    <th >发放数量</th>
					<th >使用数量</th>
                    <th style='width:30%;'>操作</th>
                </tr>
            </thead>
            <tbody>
              	{loop $typecard $row}
              	<tr>
              	<td>{$row['id']}</td>
              	<td>{$row['title']}</td>
              	<td>{$row['cdmoney']}</td>
              	<td>{$row['allnum']}</td>
				<td>{$row['usenum']}</td>
              	<td>
          		<a href="{php echo $this->createWebUrl('shop/card', array('op' => 'newcard','id'=>$row['id']))}"><label  class='label label-default label-info' >导出</label></a>
          		<a href="{php echo $this->createWebUrl('shop/card', array('op' => 'createcard','id'=>$row['id']))}"><label  class='label label-default label-info' >发放</label></a>
          		<a href="{php echo $this->createWebUrl('shop/card', array('op' => 'newcard','id'=>$row['id']))}"><label  class='label label-default label-info' >查看</label></a>
          		<a href="{php echo $this->createWebUrl('shop/card', array('op' => 'update','id'=>$row['id']))}"><label  class='label label-default label-info' >更新</label></a>
              	<a href="{php echo $this->createWebUrl('shop/card', array('op' => 'delete','id'=>$row['id']))}"><label  class='label label-default label-info'>移除</label></a>
              	</td>
              	</tr>
                {/loop}
            </tbody>
        </table>
           {$pager}
    </div>
</div>
{/if}
{if $operation=='newcard'}
<div class="panel panel-info">
    <div class="panel-heading">搜索</div>
    <div class="panel-body">
        <form action="" method="post" class="form-horizontal" role="form" id="form4">    
        	<input type="hidden" name="id" value={$_GPC['id']} />     
             <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2  control-label">订单号</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" class="form-control"  name="ordersn"  value="{$_GPC['ordersn']}"/> 
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2  control-label">状态</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                       <select name='ttyid' class='form-control'> 
                       	<option value=99 {if $_GPC['ttyid']==99}selected{/if}>全部</option>                    
                         <option value=0 {if $_GPC['ttyid']==0&&isset($_GPC['ttyid'])}selected{/if}>未使用</option>  
                         <option value=1 {if $_GPC['ttyid']==1}selected{/if}>已核销</option>  
                         <option value=2 {if $_GPC['ttyid']==2}selected{/if}>已取消</option>                                          
                    </select>
                </div>
               </div>
               <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 control-label">
                     截止 时间</label>
                    <div class="col-sm-7 col-lg-9 col-xs-12">
                        {php echo tpl_form_field_daterange('time', array('starttime'=>date('Y-m-d H:i', $starttime),'endtime'=>date('Y-m-d  H:i', $endtime)),true);}
                    </div>
                         
                </div>
              <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2  control-label"></label>
                    <div class="col-sm-7 col-lg-9 col-xs-12">
                       <button class="btn btn-default" ><i class="fa fa-search"></i>搜索</button>    
                       <input type="submit" class="btn btn-default" value="导出" name="output"/>                  
                    </div>
                </div>
        </form>
    </div>
</div>

<div class="panel panel-default">
      <div class="panel-heading">兑换券-卡片列表</div>
    <div class="panel-body ">
        <table class="table table-hover">
            <thead class="navbar-inner">
                <tr>              
                    <th >编号</th>
                    <th >现金券类型</th>
                    <th >是否使用</th>
					<th >订单号</th>
                    <th >使用会员</th>
                    <th >卷码</th>
                    <th >开始时间</th>
                    <th >结束时间</th>
                   <th style="width:10%">操作</th>
                </tr>
            </thead>
            <tbody>
              	{loop $newcard $row}
              	<tr>
              	<td>{$row['id']}</td>
              	<td>{$row['title']}</td>           
              	<td>{if empty($row['status'])}未使用{elseif $row['status']==1}已核销{else}无效{/if}</td>
              	<td>{$row['ordersn']}</td>
				<td>{$nickname[$row['openid']]}</td>
				<td>{$row['cpwd']}</td>
				<td>{php echo date('Y-m-d H:i',$row['createtime'])}</td>
				<td>{php echo date('Y-m-d H:i',$row['endtime'])}</td>
              	<td>  
              	{if $row['status']==0}        		
              	<a href="{php echo $this->createWebUrl('shop/card', array('op' => 'chcard','id'=>$row['id'],'tyid'=>$row['typeid'],'stu'=>1))}"><label  class='label label-default label-info'>核销</label></a>             	
                <a href="{php echo $this->createWebUrl('shop/card', array('op' => 'chcard','id'=>$row['id'],'tyid'=>$row['typeid'],'stu'=>2))}"><label  class='label label-default label-info'>无效</label></a> 
               	{/if}
               	{if $row['status']==1}
                <label  class='label label-default label-info'>已核销</label>
                {/if}
                {if $row['status']==2}
                <label  class='label label-default label-info'>已无效</label>
                {/if}  
              	</td>
              	</tr>
                {/loop}
            </tbody>
        </table>
           {$pager}
    </div>
</div>
{/if}
{template 'web/_footer'}
 