body,h1,h2,h3,p,dl,dd,ol,ul,th,td,form,fieldset,input,button,textarea {
	margin:0;
	padding:0
}
html {
	-webkit-text-size-adjust:none;
	word-wrap:break-word
}
h1,h2,h3 {
	font-size:100%
}
ol,ul {
	list-style:none
}
table {
	border-collapse:collapse;
	border-spacing:0;
	empty-cells:show;
	font-size:inherit
}
fieldset,img {
	border:0
}
cite,em,s,i,b {
	font-style:normal
}
input,button,textarea,select {
	font-size:100%
}
body,input,button,textarea,select,option {
	font-size:normal
}
a,input,textarea {
	text-decoration:none;
	outline:0
}
li,img,label,input {
	vertical-align:middle
}
var {
	font-style:normal
}
ins {
	text-decoration:none
}
body {
	font-size:20px
}
.viewport {
	max-width:720px;
	margin:auto;
	overflow:hidden
}
.mlr20 {
	margin:auto 1em
}
.m20 {
	margin:1em 0
}
.m30 {
	margin:1.5em 0
}
.mt20 {
	margin-top:1em
}
.mb20 {
	margin-bottom:1em
}
.mt40 {
	margin-top:2em
}
.mb40 {
	margin-bottom:2em
}
.mt-20 {
	margin-top:-1em
}
.hide {
	display:none
}
.h_box {
	display:-webkit-box;
	display:-moz-box;
	display:-ms-box;
	display:box;
	width:100%
}
.h_box .spacer {
	width:1em
}
.flex_1 {
	-webkit-box-flex:1;
	-moz-box-flex:1;
	-ms-box-flex:1;
	box-flex:1;
	width:100%
}
.flex_20 {
	width:1em
}
.imgurl {
	display:block;
	background:#fff url("./source/modules/hcweitaoke/recouse/images/img_bg4.png") 50% 50% no-repeat;
	-webkit-background-size:40% auto;
	-moz-background-size:40% auto;
	-o-background-size:40% auto;
	background-size:40% auto;
	width:100%
}
.imgurl img {
	width:100%
}
html {
	min-height:100%;
	background-color:#f4f4f4;
}
.header {
	position:relative;
	background-color:#eaeaea;
}
.header .tit {
	visibility:hidden;
	text-align:center;
	height:5em
}
.header .tit h2 {
	padding:1.2em 0 0
}
.header .tit span {
	font-size:2em;
	color:#464646
}
.header .left {
	position:absolute;
	top:0;
	left:0
}
.header .left .home {
	display:inline-block;
	padding:1.2em 1.5em
}
.header .left .home span {
	font-size:2em;
	color:#464646
}
.header .right {
	position:absolute;
	top:0;
	right:0;
	padding:0 1em 0 0
}
.header .right li {
	float:left
}
.header .right li a {
	display:block;
	padding:1em .5em 1em .7em;
	position:relative
}
.header .right li .ico {
	display:inline-block;
	width:3em;
	height:3em
}
.header .right .user .ico {
	background:url(../images/user_ico.png) no-repeat 0 0;
	-webkit-background-size:3em 3em;
	-moz-background-size:3em 3em;
	-o-background-size:3em 3em;
	background-size:3em 3em
}
.header .right .cart .ico {
	background:url(../images/cart_ico.png) no-repeat 0 0;
	-webkit-background-size:3em 3em;
	-moz-background-size:3em 3em;
	-o-background-size:3em 3em;
	background-size:3em 3em
}
.header .right .cart .tip {
	position:absolute;
	top:.8em;
	right:0;
	width:1.5em;
	height:1.4em;
	padding-top:.1em;
	text-align:center;
	background-color:#ffc703;
	color:#783600;
	-webkit-border-radius:.3em;
	-moz-border-radius:.3em;
	-ms-border-radius:.3em;
	-o-border-radius:.3em;
	border-radius:.3em
}
.viewport {
	background-color:#f4f4f4
}
.slider {
	height:auto;
	background-color:#fff;
	overflow:hidden;
	visibility:hidden;
	position:relative
}
.effectNav{ margin-top:10px;  border-top:1px solid #666; background:#999; padding-bottom:10px;  }
.effectNav h3{ padding:0 10px; background:#ddd; background:#333; color:#fff;  }
.effectNav ul{ font-size:0;  }
.effectNav li{ display:inline-block; font-size:12px; padding:0 10px; margin:10px 0 0 10px;  background:#cdcdcd;  }
.effectNav li.new{ background:#fce8cd;  }
.focus{ max-width:100%; height:auto;  margin:0 auto; position:relative; overflow:hidden;   }
.focus .hd{ width:100%; height:11px;  position:absolute; z-index:1; bottom:10px; text-align:center;  }
.focus .hd ul{ display:inline-block; height:5px; padding:3px 5px; font-size:0; vertical-align:top;
}
.focus .hd ul li{ display:inline-block; width:25px; height:4px; background:#8C8C8C; margin:0 5px;  vertical-align:top; overflow:hidden;   }
.focus .hd ul .on{ background:#08BC05;  }
.focus .bd{ position:relative; z-index:0;text-align:center; }
.focus .bd li img{ width:100%; background:url(../images/loading.gif) center center no-repeat;  }
.focus .bd li a{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* 取消链接高亮 */  }
.nav-index {
	background-color:#fff
}
.nav-index ul {
	display:-webkit-box;
	display:-moz-box;
	display:-ms-box;
	display:box;
	border-bottom:.15em solid #f6f6f6
}
.nav-index ul:first-child {
	border-top:.15em solid #f6f6f6
}
.nav-index li {
	-webkit-box-flex:1;
	-moz-box-flex:1;
	-ms-box-flex:1;
	box-flex:1;
	border-left:.15em solid #f6f6f6
}
.nav-index li:first-child {
	border-left:0 none
}
.nav-index li a {
	display:block;
	width:100%;
	height:8.5em;
	padding:1em 0 0;
	text-align:center
}
.nav-index li a .ico {
	display:block;
	margin:0 auto .5em;
	width:5em;
	height:5em;
	-webkit-background-size:5em 5em;
	-moz-background-size:5em 5em;
	-o-background-size:5em 5em;
	background-size:5em 5em
}
.nav-index li a .t {
	color:#333;
	font-size:1.1em
}
.nav-index .icon_indexn_01 {
	background:url(../images/icon_indexn_01.png) no-repeat
}
.nav-index .icon_indexn_02 {
	background:url(../images/icon_indexn_02.png) no-repeat
}
.nav-index .icon_indexn_03 {
	background:url(../images/icon_indexn_03.png) no-repeat
}
.nav-index .icon_indexn_04 {
	background:url(../images/icon_indexn_04.png) no-repeat
}
.nav-index .icon_indexn_05 {
	background:url(../images/icon_xianshi.png) no-repeat
}
.nav-index .icon_indexn_06 {
	background:url(../images/icon_pinpai.png) no-repeat
}
.nav-index .icon_indexn_07 {
	background:url(../images/icon_indexn_07.png) no-repeat
}
.nav-index .icon_indexn_08 {
	background:url(../images/icon_indexn_08.png) no-repeat
}
.nav-index .icon_indexn_09 {
	background:url(../images/icon_indexn_09.png) no-repeat
}
.nav-index .icon_indexn_10 {
	background:url(../images/icon_remai.png) no-repeat
}
.card {
	margin-bottom:1em
}
.card .col2 {
	background-color:#fff;
	display:-webkit-box;
	display:-moz-box;
	display:-ms-box;
	display:box;
	border-bottom:.15em solid #f6f6f6
}
.card .col2:first-child {
	border-top:.15em solid #f6f6f6
}
.card .col2 .row1,.card .col2 .row2,.card .col2 .rows {
	-webkit-box-flex:1;
	-moz-box-flex:1;
	-ms-box-flex:1;
	box-flex:1;
	border-left:.15em solid #f6f6f6;
}
.card .col2 .row1:first-child,.card .col2 .row2:first-child,.card .col2 .rows:first-child {
	border-left:0 none
}
.card .col2 .mg-bor-no-left {
	border-left:0 none
}
.card .col3 {
	background-color:#fff;
	border-bottom:.15em solid #f6f6f6
}
.card .col3:first-child {
	border-top:.15em solid #f6f6f6
}
.card .col3 .row1 {
	width:49%;
	float:left;
	border-left:.15em solid #f6f6f6;
}
.card .col3 .row1:first-child,.card .col3 .row2:first-child,.card .col3 .rows:first-child {
	border-left:0 none
}
.card .col3 .mg-bor-no-left {
	border-left:0 none
}
.card .rows {
	position:relative
}
.card .rows .row1,.card .rows .row2 {
	width:100%;
	display:block
}
.card .row1 .imgurl {
	height:100%;
	min-height:10em
}
.card .row2 {
	overflow:hidden
}
.card .row2 .imgurl {
	height:100%;
	min-height:20em
}
.card .mg-bor-top {
	border-top:.15em solid #f6f6f6
}
.show_big .rows,.show_big .row2,.show_big .row1 {
	width:50%
}
.show_big .rows a,.show_big .row2 a,.show_big .row1 a {
	display:block;
	position:relative;
	overflow:hidden
}
.show_big .rows a .imgurl,.show_big .row2 a .imgurl,.show_big .row1 a .imgurl {
	width:auto;
	position:relative
}
.topic {
	position:relative;
	overflow:hidden
}
.topic .bg .imgurl {
	min-height:19em
}
.topic .targeturl {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%
}
.topic .item-lay {
	position:absolute;
	top:0;
	left:0;
	margin:1.2em
}
.topic .item-lay .imgurl {
	min-height:10em;
	line-height:10em;
}
.topic .item-lay .item-l {
	margin-right:.5em;
	float:left;
	width:10em;
	height:16em;
	background-color:#fff;
	text-align:center
}
.topic .item-lay .item-l p {
	margin:.5em 1em 0;
	color:#333
}
.topic .item-lay .item-l p span {
	font-size:1.1em;
	line-height:1.3
}
.card-nomb {
	margin-bottom:0
}
.card-list {
	background-color:#fff
}
.card-list .row1 {
	height:auto;
	text-align:center;
	overflow:hidden
}
.card-list .row1 a {
	display:block;
	padding:1.5em 0 2em
}
.card-list .row1 .imgurl {
	margin:0 auto;
	padding:0 .15em;
	background-color:transparent;
	width:15em;
	height:15em
}
.card-list .row1 .p {
	display:block;
	margin:.5em 0.5em 0;
	color:#333
}
.card-list .row1 .p span {
	font-size:1.3em;
	line-height:1.3
}
.card-list .more_top {
	display:block;
}
.card-list .more_top a {
	display:block;
	padding:1.7em 0;
	text-align:center
}
.card-list .more_top a span {
	font-size:1.6em;
	color:#464646;
}
.card-list .more {
	clear:both;
}
.card-list .more a {
	display:block;
	padding:1.5em 0;
	text-align:center
}
.card-list .more a span {
	font-size:1.4em;
	color:#999
}
.logined .login {
	display:inline
}
.logined .nologin {
	display:none
}
.tips_view {
	text-align:center;
	background-color:#f4f4f4
}
.tips_view .tips_msg {
	padding:5em 0 2em
}
.tips_view .tips_msg:before {
	content:"\0020";
	display:block;
	margin:0 auto
}
.tips_view .tips_msg h3 {
	font-size:1.7em;
	color:#50555b;
	margin-bottom:.44118em
}
.tips_view.mitu_02 .tips_msg:before {
	width:16em;
	height:16.1em;
	background:url(/static/img/img/mitu_02.png) 0 0 no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover
}
.tips_view .tips_btn {
	width:17em;
	margin:0 auto;
	padding:1.5em 0 3em
}
.button {
	font-size:1.7em;
	display:block;
	font-weight:700;
	text-align:center;
	line-height:2.61765em;
	-webkit-border-radius:.23529em;
	-moz-border-radius:.23529em;
	-ms-border-radius:.23529em;
	-o-border-radius:.23529em;
	border-radius:.23529em;
	overflow:hidden;
	border-width:1px;
	border-style:solid;
	text-shadow:rgba(0,0,0,.3) 0 -1px 0
}
.button.disable_button {
	color:#515459;
	text-shadow:rgba(0,0,0,.1) 0 1px 0;
	background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#f3f4f6),color-stop(100%,#dfe0e2));
	background-image:-webkit-linear-gradient(#f3f4f6,#dfe0e2);
	background-image:-moz-linear-gradient(#f3f4f6,#dfe0e2);
	background-image:-o-linear-gradient(#f3f4f6,#dfe0e2);
	background-image:linear-gradient(#f3f4f6,#dfe0e2);
	-webkit-box-shadow:rgba(0,0,0,.1) 0 .02941em .11765em 0 inset;
	-moz-box-shadow:rgba(0,0,0,.1) 0 .02941em .11765em 0 inset;
	box-shadow:rgba(0,0,0,.1) 0 .02941em .11765em 0 inset
}
.button.disable_button:active,.button.disable_button:hover {
	-webkit-box-shadow:rgba(0,0,0,.3) 0 .05882em .11765em .02941em inset;
	-moz-box-shadow:rgba(0,0,0,.3) 0 .05882em .11765em .02941em inset;
	box-shadow:rgba(0,0,0,.3) 0 .05882em .11765em .02941em inset
}
@media only screen and (max-width:300px) {
	body {
	font-size:8.33333px
}
.viewport {
	max-width:300px
}
}@media only screen and (max-width:310px) and (min-width:300px) {
	body {
	font-size:8.33333px
}
.viewport {
	max-width:300px
}
}@media only screen and (max-width:320px) and (min-width:310px) {
	body {
	font-size:8.88889px
}
.viewport {
	max-width:320px
}
}@media only screen and (max-width:360px) and (min-width:320px) {
	body {
	font-size:8.88889px
}
.viewport {
	max-width:360px
}
}@media only screen and (max-width:360px) and (min-width:350px) {
	body {
	font-size:10px
}
.viewport {
	max-width:360px
}
}@media only screen and (max-width:480px) and (min-width:360px) {
	body {
	font-size:10px
}
.viewport {
	max-width:480px
}
}@media only screen and (max-width:480px) and (min-width:470px) {
	body {
	font-size:13.33333px
}
.viewport {
	max-width:480px
}
}@media only screen and (max-width:560px) and (min-width:480px) {
	body {
	font-size:13.33333px
}
.viewport {
	max-width:560px
}
}@media only screen and (max-width:570px) and (min-width:560px) {
	body {
	font-size:15.83333px
}
.viewport {
	max-width:570px
}
}@media only screen and (max-width:640px) and (min-width:570px) {
	body {
	font-size:15.83333px
}
.viewport {
	max-width:640px
}
}@media only screen and (max-width:640px) and (min-width:630px) {
	body {
	font-size:17.77778px
}
.viewport {
	max-width:640px
}
}@media only screen and (max-width:710px) and (min-width:640px) {
	body {
	font-size:17.77778px
}
.viewport {
	max-width:710px
}
}

.header-search{position:relative;background-color:#fff;padding:1.5em 1.4em}
.header-search .form{display:block;border:.15em solid #ccc;overflow:hidden;vertical-align:middle;-webkit-border-radius:.4em;-moz-border-radius:.4em;-ms-border-radius:.4em;-o-border-radius:.4em;border-radius:.4em;position:relative;background-color:#fff;padding-right:5.4em}
.header-search .form .search-word{padding:.9em 1.4em 1.2em;height:1.8em}
.header-search .form .search-word .input{font-size:1.7em;width:100%;border:0 none;color:#666}
.header-search .form .search-word .input::-webkit-input-placeholder{color:#ccc}
.header-search .form .submit{position:absolute;right:0;top:0;border-left:.15em solid #ccc;width:5.4em;height:3.9em;background-color:#f4f4f4}
.header-search .form .submit .ico-search{margin:.75em auto 0;display:block;width:2.5em;height:2.5em;background:url(../images/ico-search.png) no-repeat 0 0;-webkit-background-size:2.5em 2.5em;-moz-background-size:2.5em 2.5em;-ms-background-size:2.5em 2.5em;-o-background-size:2.5em 2.5em;background-size:2.5em 2.5em}
