<ul class="nav nav-tabs">
    
    {ifp 'commission.cover'}<li {if $_GPC['method']=='cover'}class="active"{/if}><a href="{php echo $this->createPluginWebUrl('commission/cover')}">分销中心入口设置</a></li>{/if}
    {ifp 'commission.agent'}<li {if $_GPC['method']=='agent'}class="active"{/if}><a href="{php echo $this->createPluginWebUrl('commission/agent')}">分销商管理</a></li>{/if}
   {if false} {ifp 'commission.level'}<li {if $_GPC['method']=='level'}class="active"{/if}><a href="{php echo $this->createPluginWebUrl('commission/level')}">分销商等级</a></li>{/if}
    {ifp 'commission.apply.view1'}<li {if $_GPC['method']=='apply' && ($_GPC['status']==1 || $apply['status']==1)}class="active"{/if}><a href="{php echo $this->createPluginWebUrl('commission/apply',array('status'=>1))}">待审核提现申请</a></li>{/if}
    {ifp 'commission.apply.view2'}<li {if $_GPC['method']=='apply' && ($_GPC['status']==2 || $apply['status']==2)}class="active"{/if}><a href="{php echo $this->createPluginWebUrl('commission/apply',array('status'=>2))}">待打款提现申请</a></li>{/if}
    {ifp 'commission.apply.view3'}<li {if $_GPC['method']=='apply' && ($_GPC['status']==3 || $apply['status']==3)}class="active"{/if}><a href="{php echo $this->createPluginWebUrl('commission/apply',array('status'=>3))}">已打款提现申请</a></li>{/if}
    {ifp 'commission.apply.view_1'}<li {if $_GPC['method']=='apply' && ($_GPC['status']==-1 || $apply['status']==-1)}class="active"{/if}><a href="{php echo $this->createPluginWebUrl('commission/apply',array('status'=>-1))}">无效提现申请</a></li>{/if}
   {/if}
   {ifp 'commission.notice'}<li  {if $_GPC['method']=='notice'}class="active"{/if}><a href="{php echo $this->createPluginWebUrl('commission/notice')}">通知设置</a></li>{/if}
    {ifp 'commission.set'}<li {if $_GPC['method']=='set'}class="active"{/if}><a href="{php echo $this->createPluginWebUrl('commission/set')}">基础设置</a></li>{/if}
    
</ul>
