{template '../style75/site/header'}
	<section class="linee"></section>
{template 'slide'}
<style>
body{
font:{$_W['styles']['fontsize']} {$_W['styles']['fontfamily']};
color:{$_W['styles']['fontcolor']};
padding:0;
margin:0;
background-image:url('{if !empty($_W['styles']['indexbgimg'])}{$_W['styles']['indexbgimg']}{/if}');
background-size:cover;
background-color:{if empty($_W['styles']['indexbgcolor'])}#F9F9F9{else}{$_W['styles']['indexbgcolor']}{/if};
{$_W['styles']['indexbgextra']}
}
a{color:{$_W['styles']['linkcolor']}; text-decoration:none;}
{$_W['styles']['css']}
.box{width:100%;overflow:hidden;margin-top:10px;}
.box .box-item{float:left;text-align:center;display:block;text-decoration:none;outline:none;width:25%;height:90px;margin-bottom:8px;position:relative; color:#333;}
.box .box-item i{
display:inline-block;
width:60px;
height:60px;
line-height:60px;
font-size:35px;
color:#e4c393;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
background-color: #9e0b36;
background-image: -moz-linear-gradient(top,#b61345,#8c052e);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#b61345),to(#8c052e));
background-image: -webkit-linear-gradient(top,#b61345,#8c052e);
background-image: -o-linear-gradient(top,#b61345,#8c052e);
background-image: linear-gradient(to bottom,#b61345,#8c052e);
background-repeat: repeat-x;
overflow:hidden;
border:2px #FFF solid;
}
.box .box-item span{color:{$_W['styles']['fontnavcolor']};display:block;font-size:14px; margin-top:-5px; position:absolute; bottom:0; width:100%;}
</style>
	<section class="linee"></section>
	<nav class="navs">
		<ul>
{php $navNum = 1;}        
	{loop $navs $nav}
        <li class="n0{$navNum}"><a href="{$nav['url']}">{$nav['name']}</a></li>
        {php $navNum++;}
	{/loop}        
		</ul>
	</nav>

<section class="body_main">
{if !empty($newssmenu)}
		<div class="news">
			<div class="tt_all"><a href="{$productsmenu['url']}" class="more"><dd class="tt01">{$newssmenu['name']}</dd></a></div>
{loop $newss $row}            
			<div class="pro">
				<a href="{$_W['siteroot']}mobile.php?act=module&id={$row['id']}&weid={$row['weid']}&name=site&do=detail">
					{if !empty($row['thumb'])}<div class="pimg"><img src="{$_W[attachurl]}{$row['thumb']}"></div>{/if}
					<div class="pfont">
						<h3>{$row['title']}</h3>
						<?PHP echo mb_substr(strip_tags($row['content']),0,24,'utf-8');?>...
					</div>
				</a>
			</div>
{/loop}            
		</div>
{/if} 
{if !empty($productsmenu)}       
		<div class="news" style="margin-top:2%;">
			<div class="tt_all"><a href="{$productsmenu['url']}" class="more"><dd class="tt02">{$productsmenu['name']}</dd></a></div>           
{loop $products $row}            
			<div class="pro">
				<a href="{$_W['siteroot']}mobile.php?act=module&id={$row['id']}&weid={$row['weid']}&name=site&do=detail">
					{if !empty($row['thumb'])}<div class="pimg"><img src="{$_W[attachurl]}{$row['thumb']}"></div>{/if}
					<div class="pfont">
						<h3>{$row['title']}</h3>
						<?PHP echo mb_substr(strip_tags($row['content']),0,18,'utf-8');?>...
                        <div class="diear"><img src="{$_W['siteroot']}themes/mobile/style75/images/icon.png"></div>
					</div>
				</a>
			</div>
{/loop}
		</div>
{/if}         
	</section>

  <!-- 微站应用-->
	<section class="trip">
 {if $site['mapzt'] == 1}     
		<div class="heihei bobo"><a href="{$_W['siteroot']}weisite.php?do=map&sid={$siteid}#mp.weixin.qq.com"><img src="{$_W['siteroot']}themes/mobile/style75/images/m03.png">{$site['name']}地址</a></div>
 {/if}
 {if $site['telephonezt'] == 1}          
		<div class="heihei vovo"><a href="tel:{$site['telephone']}"><img src="{$_W['siteroot']}themes/mobile/style75/images/m04.png">联系电话：{$site['telephone']}</a></div>
 {/if}        
	</section>
	<section class="trip">
		<div style="text-align:center;">技术支持：学晟惠微营销</div>
	</section>
{template '../style75/site/footer'}