{template 'common/header'}
{template 'common'}

<div class='alert alert-warning' style='font-size:14px'>
        合体红包配置说明： <a href='http://mallgxxsh/forum.php?mod=forumdisplay&fid=50' target='_blank'>http://mallgxxsh/forum.php?mod=forumdisplay&fid=50</a>
    </div>
<div class="main"> <form action="" method="post" class="form-horizontal form">
        <div class="panel panel-default">
    <div class="panel-heading">
       <h4>资源目录设置</h4>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">资源链接</label>
            <div class="col-sm-9 col-xs-12">
               <input type="text" name="resroot" class="form-control" value="{$set['resroot']}" />
               <span class='help-block'>例如: http://res.xxxx.com/ 您可以将所有模块使用的资源放到外部服务器，增强服务器访问能力. <a href="../addons/ewei_bonus/stye/style.zip" target="_blank">【资源包下载】</a></span>
               <span class='help-block'>如果未填写，则默认使用自己服务器上的资源</span>
               
        </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
       <h4>借用高级认证设置<small>如果你的公众号没有oauth2接口权限。</small></h4>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">AppId</label>
            <div class="col-sm-9 col-xs-12">
               <input type="text" name="appid" class="form-control" value="{$set['appid']}" />
        </div>
        </div>
 <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">AppSecret</label>
            <div class="col-sm-9 col-xs-12">
               	 <input type="text" name="appsecret" class="form-control" value="{$set['appsecret']}" />
            </div>
        </div>
     
            
                  
         <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
            <div class="col-sm-9 col-xs-12">
               	借用说明：必需设置借用高级认证号的OAuth2.0网页授权的回调域名为你公众号第三方平台的全域名。
                如：你的系统域名为：www.xxxx.com ，你必需让借用高级认证号设置OAuth2.0网页授权的回调域名为:www.xxxx.com
                <br />
                <img src="../addons/ewei_bonus/style/appid.jpg">
                
            </div>
        </div>
            
            
    </div>
    
        
</div>
    
            
        <div class="panel panel-default">
    <div class="panel-heading">
       <h4>分享借用高级认证设置<small>如果你的公众号未认证，则需要借用其他认证订阅号，或认证服务号。</small></h4>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">AppId</label>
            <div class="col-sm-9 col-xs-12">
               <input type="text" name="appid_share" class="form-control" value="{$set['appid_share']}" />
        </div>
        </div>
 <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">AppSecret</label>
            <div class="col-sm-9 col-xs-12">
               	 <input type="text" name="appsecret_share" class="form-control" value="{$set['appsecret_share']}" />
            </div>
        </div>
     
            
                  
         <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
            <div class="col-sm-9 col-xs-12">
               借用说明：必需设置借用认证号的JS接口安全域名。在公众号设置-功能设置中，可以找到。
                <br />
                <img src="../addons/ewei_bonus/style/jssdk.png">
                
            </div>
        </div>
            
            
    </div>
    
        
</div>
        
        <div class="form-group col-sm-12">
			<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
        
    </form>
    </div>
 
{template 'common/footer'}