{template 'common/header'}
<div class="main">


	<form action="" method="post" class="form-horizontal form">

	<div class="panel panel-default">
		<div class="panel-heading">
			助力参数配置
		</div>
		<div class="panel-body">

			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label">AppId：</label>
				<div class="col-sm-9 col-xs-12">
					<input type="text" name="appid" class="form-control" value="{$zlsetting['appid']}" />
				</div>
			</div>

			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label">AppSecret:</label>
				<div class="col-sm-9 col-xs-12">
					<input type="text" name="apps" class="form-control" value="{$zlsetting['apps']}" />
					<div class="help-block">
						一、此处配置的appid和appsert一定要是认证的服务号的appid和appsert。<p/>
						二、并且需要把该appid和appsert所在的公众号的网页授权域名改为你学晟惠的域名。
						<img src="../addons/mon_zl/images/setting.jpg">

					</div>
				</div>
			</div>

			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
				<div class="col-sm-9 col-xs-12">
					<p/>
					<input name="submit" type="submit" value="提交" class="btn btn-primary span3" />
					<input type="hidden" name="token" value="{$_W['token']}" />
				</div>
			</div>

			</div>

		</div>




{template 'common/footer'}