{template 'common/header'}
	<ul class="nav nav-tabs">
		<li class="active"><a href="#">小区商家</a></li>
		</li>
	</ul>
	<div>
		<li class="dropdown" style='list-style-type:none;margin-top:10px;margin-left:20px;'>
			<a href="javascript:void(0)" class="myfont text-muted" id="get_sjurl"> <i class="fa fa-user m-r-xs"></i>
				获取商家登录地址
			</a>
			<div class="dropdown-menu animated fadeInLeft text-xs xqshopLogin" id="pop" style='padding-left:5px;'>
				<a href="{$_W[siteroot]}app/index.php?i={$_W['uniacid']}&c=entry&op=login&do=business&m=xfeng_community" id='' target='_blank'>打开页面</a>
				<hr />		
				<p>
					说明：小区商家可通过此链接实现自助注册、自助入驻、自助发布优惠等操作<!-- ，同时可直接通过微小区提供的网银支付接口向物业企业缴费 -->。
				</p>
			</div>
		</li>
	</div>
	<div style="padding:15px;">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th style="width:25%;">商家名称</th>
					<th style="width:25%;">商家电话</th>
					<th style="width:15%;">创建时间</th>
					<th style="width:15%;">操作</th>
				</tr>
			</thead>
			<tbody>
				{loop $list $item}
				<tr>
					<th style="width:25%;">{$item['username']}</th>
					<th style="width:25%;">{$item['mobile']}</th>
					<th style="width:15%;">{php echo date('Y-m-d H:i',$item['createtime'])}</th>
					<th style="width:15%;">
					{if empty($item['status'])}
						<a href="{php echo $this->createWebUrl('business',array('op' => 'change','status' =>1,'id' => $item['id']))}">未审核</a>
					{else}
						<a href="{php echo $this->createWebUrl('business',array('op' => 'change','status' =>0,'id' => $item['id']))}">已审核</a>

					{/if}
					</th>
				</tr>

				{/loop}
			</tbody>
		</table>
		{$pager}
	</div>
<script type="text/javascript">
		$(function(){
			$('#get_sjurl').click(function(e) {
				$("#pop").show();
			});
		});
	require(['jquery', 'util'], function($, util){
		$(function(){
			util.clip($('#copyurl')[0], $('#copyurl').text());

		});
	});
</script>
{template 'common/footer'}