{template 'common/header'}
{php load()->func('tpl')}
 <ul class="nav nav-tabs">
    <li {if $op == 'display'}class="active"{/if}><a href="{php echo $this->createWebUrl('propertyfree', array('op' => 'display'))}">费用列表</a></li>
    <li {if $op == 'add'}class="active"{/if}><a href="{php echo $this->createWebUrl('propertyfree', array('op' => 'add'))}">费用导入</a></li>
</ul>

<body style="">
    <section id="content">
        <section class="vbox">
            <section class="scrollable wrapper">
                <section class="panel">
                    <header class="panel-heading font-bold mypanelhead">
                        <a href="{php echo $this->createWebUrl('propertyfree',array('op' => 'display'))}" class="btn btn-s-sm text-sm btn-info navbar-right">
                            查询费用数据
                        </a>
                        导入费用数据
                    </header>
                    <div class="panel-body">
                        <div class="alert alert-danger">默认导入格式:手机号码/业主姓名/业主房号/物业费/停车费/公摊水费/公摊电费/是否缴费,用1代表缴费，0或者默认空代表未缴费。查询已手机号码为准。
                        注意：没有其中的费用，请上传的表格留空。
                        <p>（<a href="{MODULE_URL}template/upFile/weixiaoqu.wang.xlsx.zip" target="_blank" style="font-size:16px;color:red">点击下载物业费用Excel上传格式示例</a>）</p>
                        </div>
                        <form action="" method="post" id="uploadForm" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-sm-6">
                                    请选择数据月份
                                    {php echo tpl_form_field_calendar_new('protime', array('year'=>2015, 'month'=>2))}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6" style="padding-top:20px">
                                    请选择excel文件
                                    <input style="margin-top:-20px;margin-left:100px" type="file" name="uploadExcel" id="uploadExcel" class="uploadExcel111">
                                </div>
                                <!-- <div class="col-sm-6 text-right">
                                    <button class="btn btn-success btn-sm selectExcel1 none">
                                        <i class="fa fa-table text-lg"></i> 点击上传
                                    </button>
                                </div> -->
                            </div>
                        </form>
                        <hr>
                        
                    </div>
                    <footer class="panel-footer no-border"></footer>
                </section>
            </section>
        </section>
    </section>
    <script type="text/javascript">
   
    $(".selectExcel").click(function() {
        $("#uploadExcel").click();
    });

    $("#uploadExcel").change(function() {
        //alert($(this).val());
        $("#uploadForm").submit();
    });

    $("#month_select").change(function() {
        var the_value = $(this).val();
        $("#insert_month").val(the_value);
        $("#hide_month").val(the_value);
    });

    $("#insert_excel").click(function() {
        $("#exc_form").submit();
    });

    $(".deleteInfo").click(function() {
        $(this).parents("tr").css('display', 'none');
        var data_value = $(this).attr('data-s');
        var test_val = $("#test_id").val();
        if (test_val == '') {
            $("#test_id").val(data_value);
        } else {
            $("#test_id").val(test_val + ',' + data_value);
        }
    });

    $("#exc_form table tbody tr:gt(99)").css("display", "none");
    $(".btn-all").click(function() {
        $("#exc_form table tbody tr").show();
        $(this).hide();
    });



    </script>
{template 'common/footer'}