
<ul class="nav nav-tabs">
	<li {if $op == 'order'}class="active"{/if}><a href="{php echo $this->createWebUrl('shopping', array('op' => 'order'));}">订单管理</a></li>
	<li {if $op == 'goods'}class="active"{/if}><a href="{php echo $this->createWebUrl('shopping', array('op' => 'goods'));}">商品管理</a></li>
	<li {if $op == 'category'}class="active"{/if}><a href="{php echo $this->createWebUrl('shopping', array('op' => 'category'))}">商品分类</a></li>
	<li {if $op == 'express'}class="active"{/if}><a href="{php echo $this->createWebUrl('shopping', array('op' => 'express'));}">物流管理</a></li>
	<li {if $op == 'dispatch'}class="active"{/if}><a href="{php echo $this->createWebUrl('shopping', array('op' => 'dispatch'));}">配送方式</a></li>
	<li {if $op == 'slide'}class="active"{/if}><a href="{php echo $this->createWebUrl('shopping', array('op' => 'slide'));}">幻灯管理</a></li>
	<li {if $op == 'notice'}class="active"{/if}><a href="{php echo $this->createWebUrl('shopping', array('op' => 'notice'));}">维权与告警</a></li>
</ul>
