{template 'common/header'}
{template 'common'}
{template 'shopping_nav'}
<ul class="nav nav-tabs">
	<li {if $operation == 'display'} class="active" {/if}><a href="{php echo $this->createWebUrl('shopping',array('op' =>'dispatch','operation' => 'display'))}">配送方式</a></li>
	<li{if empty($dispatch['id']) && $operation == 'post'} class="active" {/if}><a href="{php echo $this->createWebUrl('shopping',array('op' =>'dispatch','operation' => 'post'))}">添加配送方式</a></li>
	{if !empty($dispatch['id']) && $operation== 'post'} <li class="active"><a href="{php echo $this->createWebUrl('shopping',array('op' =>'dispatch','operation' => 'post','id'=>$dispatch['id']))}">编辑配送方式</a></li> {/if}
</ul>

{if $operation == 'display'}
<div class="main panel panel-default">
	<div class="panel-body table-responsive">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th style="width:50px;">ID</th>
					<th style="width:100px;">显示顺序</th>
					<th style="width:150px;">配送方式</th>
					<th style="width:150px;">配送类型</th>
					<th style="width:120px;">首重价格</th>
					<th style="width:120px;">续重价格</th>
					<th style="width:100px;">操作</th>
				</tr>
			</thead>
			<tbody>
				{loop $list $item}
				<tr>
					<td>{$item['id']}</td>
					<td>{$item['displayorder']}</td>
					<td>{$item['dispatchname']}</td>
					<td>{if $item['dispatchtype']==0}
					先付款后发货
					{elseif $item['dispatchtype']==1} 货到付款
					{else}
					自提
					{/if}</td>
					<td>{$item['firstprice']}</td>
					<td>{$item['secondprice']}</td>
					<td style="text-align:left;">
						<a href="{php echo $this->createWebUrl('shopping', array('op' => 'dispatch', 'operation' => 'post','id' => $item['id']))}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="修改"><i class="fa fa-pencil"></i></a>
						<a href="{php echo $this->createWebUrl('shopping', array('op' => 'dispatch', 'operation' => 'delete','id' => $item['id']))}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="删除"><i class="fa fa-times"></i></a>
					</td>
				</tr>
				{/loop}
			</tbody>
		</table>
		{$pager}
	</div>
</div>

<script>
	require(['bootstrap'],function($){
		$('.btn').hover(function(){
			$(this).tooltip('show');
		},function(){
			$(this).tooltip('hide');
		});
	});
</script>

{elseif $operation == 'post'}
<div class="main">
	<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" onsubmit='return formcheck()'>
		<input type="hidden" name="id" value="{$dispatch['id']}" />
		<div class="panel panel-default">
			<div class="panel-heading">
				配送方式设置
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">排序</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="displayorder" class="form-control" value="{$dispatch['displayorder']}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>配送名称</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" id='dispatchname' name="dispatchname" class="form-control" value="{$dispatch['dispatchname']}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">配送类型</label>
					<div class="col-sm-9 col-xs-12">
							<label class='radio-inline'>
							<input type='radio' name='dispatchtype' value='0' {if $dispatch['dispatchtype']==0}checked{/if} /> 先付款后发货
						</label>
						<label class='radio-inline'>
							<input type='radio' name='dispatchtype' value='1' {if $dispatch['dispatchtype']==1}checked{/if} /> 货到付款
						</label>
						<label class='radio-inline'>
							<input type='radio' name='dispatchtype' value='2' {if $dispatch['dispatchtype']==2}checked{/if} /> 自提
						</label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">重量设置</label>
					<div class="col-sm-9 col-xs-12">
						<div class="input-group input-medium">
							<span class="input-group-addon">首重重量</span>
							<select name="firstweight" id="firstweight" class='form-control input-medium'>
								<option value="500" {if $dispatch['firstweight']==500}selected{/if}>0.5</option>
								<option value="1000" {if $dispatch['firstweight']==1000 || empty($dispatch['firstweight'])}selected{/if}>1</option>
								<option value="1200" {if $dispatch['firstweight']==1200}selected{/if}>1.2</option>
								<option value="2000" {if $dispatch['firstweight']==2000}selected{/if}>2</option>
								<option value="5000" {if $dispatch['firstweight']==5000}selected{/if}>5</option>
								<option value="10000" {if $dispatch['firstweight']==10000}selected{/if}>10</option>
								<option value="20000" {if $dispatch['firstweight']==20000}selected{/if}>20</option>
								<option value="50000" {if $dispatch['firstweight']==50000}selected{/if}>50</option>
							</select>
							<span class="input-group-addon">KG</span>
						</div>
						<br>
						<div class="input-group  input-medium">
							<span class="input-group-addon">续重重量</span>
							<select name="secondweight" id="secondweight" class='form-control input-medium'>
								<option value="500" {if $dispatch['secondweight']==500}selected{/if}>0.5</option>
								<option value="1000" {if $dispatch['secondweight']==1000 || empty($dispatch['secondweight'])}selected{/if}>1</option>
								<option value="1200" {if $dispatch['secondweight']==1200}selected{/if}>1.2</option>
								<option value="2000" {if $dispatch['secondweight']==2000}selected{/if}>2</option>
								<option value="5000" {if $dispatch['secondweight']==5000}selected{/if}>5</option>
								<option value="10000" {if $dispatch['secondweight']==10000}selected{/if}>10</option>
								<option value="20000" {if $dispatch['secondweight']==20000}selected{/if}>20</option>
								<option value="50000" {if $dispatch['secondweight']==50000}selected{/if}>50</option>
							</select> <span class="input-group-addon">KG</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">价格设置</label>
					<div class="col-sm-9 col-xs-12">
						<div class="input-group  input-medium">
							<span class="input-group-addon">首重价格</span>
							<input type="text" name="firstprice" id='firstprice' class="form-control input-medium" value="{$dispatch['firstprice']}" />
							<span class="input-group-addon">元</span>
						</div>
						<br>
						<div class="input-group  input-medium">
							<span class="input-group-addon">续重价格</span>
							<input type="text" name="secondprice" id='secondprice' class="form-control input-medium" value="{$dispatch['secondprice']}" />
							<span class="input-group-addon">元</span>
						</div>
						<span class='help-block'>根据重量来计算运费，当物品不足《首重重量》时，按照《首重费用》计算，超过部分按照《续重重量》和《续重费用》乘积来计算</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">是否显示</label>
					<div class="col-sm-9 col-xs-12">
						<label class='radio-inline'>
						 	<input type='radio' name='enabled' value=1' {if $dispatch['enabled']==1}checked{/if} /> 是
						</label>
						<label class='radio-inline'>
							<input type='radio' name='enabled' value=0' {if $dispatch['enabled']==0}checked{/if} /> 否
						</label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">物流公司</label>
					<div class="col-sm-9 col-xs-12">
						<select name='express' class='form-control'>
							<option value="" {if empty($dispatch['express'])}selected{/if}>{$express['express_name']}</option>
							{loop $express $ex}
							<option value="{$ex['id']}" {if $dispatch['express']==$ex['id']}selected{/if}>{$ex['express_name']}</option>
							{/loop}
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">介绍</label>
					<div class="col-sm-9 col-xs-12">
						<textarea name="description" class="form-control" cols="70">{$dispatch['description']}</textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">所属小区</label>
					<div class="col-sm-9 col-xs-12">
						 <label class="checkbox-inline">  
		                    <input type="checkbox" id="checkAll" name="checkAll">全部
		                </label>
		                {loop $regions $region}
		                    <label class="checkbox-inline">
		                      <input type="checkbox" id="" value="{$region['id']}" name='regionid[]' {if @in_array($region['id'], $regs)}checked='checked' {/if}> {$region['title']}
		                    </label>
		                {/loop}
					</div>
				</div>
		</div>
	</div>
	<div class="form-group col-sm-12">
		<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" onclick="return formcheck()" />
		<input type="hidden" name="token" value="{$_W['token']}" />
	</div>
	</form>
</div>

<script language='javascript'>
	function formcheck() {
		if ($("#dispatchname").isEmpty()) {
			Tip.focus("dispatchname", "请填写配送方式名称!", "top");
			return false;
		}
		if($(':radio[name=dispatchtype]:checked').val()!='2'){
				if (!$("#firstprice").isNumber()) {
					Tip.select("firstprice", "请填写数字首重价格!", "top");
					return false;
				}
				if (!$("#secondprice").isNumber()) {
					Tip.select("secondprice", "请填写数字续重价格!", "top");
					return false;
				}
		}
		return true;
	}
	$(function() {
		$("#common_corp").change(function() {
			var obj = $(this);
			var sel = obj.find("option:selected");
			$("#dispatch_name").val(sel.attr("data-name"));
			$("#dispatch_url").val(sel.attr("data-url"));
		});
	})
	$(function() {
	     $("#checkAll").click(function() {
	         $('input[name="regionid[]"]').attr("checked",this.checked); 
	     });
	});
</script>

{/if}

{template 'common/footer'}