<ul class="nav nav-tabs">
	{if $operation == 'detail'}
	<li class="active">
        <a href="#">订单详情</a>
    </li>
	{else}
      {ifp 'order.view.status0|order.view.status1|order.view.status2|order.view.status3|order.view.status4|order.view.status_1'}
    <li {if $operation == 'display' && $status == '' && $_GPC['refund']!='1'}class="active"{/if}>
        <a href="{php echo $this->createWebUrl('order', array('op' => 'display'))}">全部订单({$totals['all']})</a>
    </li>
    {/if}
    
    {ifp 'order.view.status0'}
    <li {if $operation == 'display' && $status == '0'}class="active"{/if}>
        <a href="{php echo $this->createWebUrl('order', array('op' => 'display', 'status' => 0))}">待付款({$totals['status0']})</a>
    </li>
    {/if}
    
    {ifp 'order.view.status1'}
    <li {if $operation == 'display' && $status == '1'} class="active"{/if}>
        <a href="{php echo $this->createWebUrl('order', array('op' => 'display', 'status' => 1))}">待发货({$totals['status1']})</a>
    </li>
    {/if}
    
    {ifp 'order.view.status2'}
    <li {if $operation == 'display' && $status == '2'}class="active"{/if}>
        <a href="{php echo $this->createWebUrl('order', array('op' => 'display', 'status' => 2))}">待收货({$totals['status2']})</a>
    </li>
    {/if}
    
    {ifp 'order.view.status3'}
    <li {if $operation == 'display' && $status == '3'}class="active"{/if}>
        <a href="{php echo $this->createWebUrl('order', array('op' => 'display', 'status' => 3))}">已完成({$totals['status3']})</a>
    </li>
    {/if}
    
     {ifp 'order.view.status_1'}
    <li {if $operation == 'display' && $status == '-1'}class="active"{/if}>
        <a href="{php echo $this->createWebUrl('order', array('op' => 'display', 'status' => -1))}">已关闭({$totals['status_1']})</a>
    </li>
    {/if}
      
    
    {ifp 'order.view.status4'}
     <li {if $operation == 'display' && $status== '4'}class="active"{/if}>
        <a href="{php echo $this->createWebUrl('order', array('op' => 'display', 'status' => 4))}">退款申请({$totals['status4']})</a>
    </li>
    {/if}
     
    {ifp 'order.view.status5'}
    <li {if $operation == 'display' && $status == '5'}class="active"{/if}>
        <a href="{php echo $this->createWebUrl('order', array('op' => 'display', 'status' => 5))}">已退款({$totals['status5']})</a>
    </li>
    {/if}
	  <li {if $operation == 'display' && $afsale == '1'}class="active"{/if}>
        <a href="{php echo $this->createWebUrl('order', array('op' => 'display', 'afsale' => 1))}">售后申请({$totals['afsale1']})</a>
    </li>
	  <li {if $operation == 'display' && $afsale == '3'}class="active"{/if}>
        <a href="{php echo $this->createWebUrl('order', array('op' => 'display', 'afsale' => 3))}">已处理售后({$totals['afsale3']})</a>
    </li>

    {/if}
</ul>
